force-app/main/default/flows/ALP_Crea_Registros_para_saldos_LP.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Asigna_campos_a_registros_CV</name>
        <label>Asigna campos a registros CV</label>
        <locationX>309</locationX>
        <locationY>464</locationY>
        <assignmentItems>
            <assignToReference>registroCV.Comprobante_Venta__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterar_CV.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>registroCV.Liquido_Producto__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterar_CV.ERPvs__Liquido_producto__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>registroCV.Fecha_Liquido_Producto__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterar_CV.ERPvs__Liquido_producto__r.ERPvs__Fecha__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>registroCV.Tipo_Comprobante_Liquido_Producto__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterar_CV.ERPvs__Liquido_producto__r.ERPvs__Tipo_comprobante__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>registroCV.Nro_de_Liquido_Producto__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterar_CV.ERPvs__Liquido_producto__r.Nro_Comprobante__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>registroCV.Divisa_Liquido_Producto__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterar_CV.ERPvs__Liquido_producto__r.ERPvs__Moneda__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>registroCV.Tipo_de_Cambio_Liquido_Producto__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterar_CV.ERPvs__Liquido_producto__r.ERPvs__Tc__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>registroCV.Cuenta__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterar_CV.ERPvs__A_cuenta_y_orden_de__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asigna_registros_CV_a_nueva_coleccion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asigna_registros_CV_a_nueva_coleccion</name>
        <label>Asigna registros CV a nueva coleccion</label>
        <locationX>520</locationX>
        <locationY>464</locationY>
        <assignmentItems>
            <assignToReference>coleccionRegistrosCV</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>registroCV</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterar_CV</targetReference>
        </connector>
    </assignments>
    <description>V1: Crea registros para ser explotados en el objeto Movimientos_LP para obtener los saldos de LP  (Prueba con SYNGENTA 23)</description>
    <interviewLabel>ALP.Crea Registros para saldos LP {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ALP.Crea Registros para saldos LP</label>
    <loops>
        <name>Iterar_CV</name>
        <label>Iterar CV</label>
        <locationX>417</locationX>
        <locationY>302</locationY>
        <collectionReference>Obtiene_Datos_CV_CYO</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Asigna_campos_a_registros_CV</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Crea_registros_CV_en_Movimientos_LP</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Crea_registros_CV_en_Movimientos_LP</name>
        <label>Crea registros CV en Movimientos LP</label>
        <locationX>666</locationX>
        <locationY>300</locationY>
        <inputReference>coleccionRegistrosCV</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Obtiene_Datos_CV_CYO</name>
        <label>Obtiene Datos CV CYO</label>
        <locationX>194</locationX>
        <locationY>302</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterar_CV</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND (4 OR 5)</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Comprobante_Venta__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ERPvs__A_cuenta_y_orden_de__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ObtentorSyngenta23</elementReference>
            </value>
        </filters>
        <filters>
            <field>ERPvs__Estado__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CONTABILIZADO</stringValue>
            </value>
        </filters>
        <filters>
            <field>Nro_Comprobante__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>A-0004-00031582</stringValue>
            </value>
        </filters>
        <filters>
            <field>Nro_Comprobante__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>A-0004-00031583</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ERPvs__Comprobante_Venta__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>68</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Obtiene_Datos_CV_CYO</targetReference>
        </connector>
        <object>Movimientos_LP__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2020-11-09</startDate>
            <startTime>19:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>coleccionRegistrosCV</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Movimientos_LP__c</objectType>
    </variables>
    <variables>
        <name>ObtentorSyngenta23</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>001G000001XYbl4</stringValue>
        </value>
    </variables>
    <variables>
        <name>registroAplicacion</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Movimientos_LP__c</objectType>
    </variables>
    <variables>
        <name>registroCV</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Movimientos_LP__c</objectType>
    </variables>
</Flow>
