force-app/main/default/flows/APL_Actualiza_Liquido_Producto_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <interviewLabel>APL.Actualiza Liquido Producto (Flow) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>APL.Actualiza Liquido Producto (Flow)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Obtiene_datos_CV</name>
        <label>Obtiene datos CV</label>
        <locationX>176</locationX>
        <locationY>416</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Actualiza_Liquido_Producto_en_APL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ERPvs__Tipo_comp__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Factura</stringValue>
            </value>
        </filters>
        <filters>
            <field>ERPvs__Liquido_producto__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Numero_de_Comprobante__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>nroCompCV</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ERPvs__Comprobante_Venta__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtiene_datos_de_aplicacion</name>
        <label>Obtiene datos de aplicación</label>
        <locationX>176</locationX>
        <locationY>228</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtiene_datos_CV</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>idAPL</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Aplicacion__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualiza_Liquido_Producto_en_APL</name>
        <label>Actualiza Liquido Producto en APL</label>
        <locationX>177</locationX>
        <locationY>578</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>idAPL</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Liquido_Producto__c</field>
            <value>
                <elementReference>Obtiene_datos_CV.ERPvs__Liquido_producto__c</elementReference>
            </value>
        </inputAssignments>
        <object>Aplicacion__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Obtiene_datos_de_aplicacion</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>idAPL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>nroCompCV</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
