force-app/main/default/flows/APL_Actualiza_Liquido_Producto_DC_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <interviewLabel>APL.Actualiza Liquido Producto DC (Flow) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>APL.Actualiza Liquido Producto DC (Flow)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Obtiene_registros_de_Documento_Afectado</name>
        <label>Obtiene registros de Documento Afectado</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtiene_registros_de_VENC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Comprobante_de_Pago_CRM__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Comprobante_de_Pago__r.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>ERPvs__Tipo__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Factura</stringValue>
            </value>
        </filters>
        <filters>
            <field>Moneda__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ARS</stringValue>
            </value>
        </filters>
        <filters>
            <field>Oportunidad_CRM__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Factura__r.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ERPvs__Documento_Afectado__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtiene_registros_de_VENC</name>
        <label>Obtiene registros de VENC</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Actualiza_Liquido_Producto_DC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtiene_registros_de_Documento_Afectado.ERPvs__Vencimientos__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ERPvs__Vencimientos__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualiza_Liquido_Producto_DC</name>
        <label>Actualiza Liquido Producto DC</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Liquido_Producto_DC__c</field>
            <value>
                <elementReference>Obtiene_registros_de_VENC.ERPvs__Comprobante_Venta__r.ERPvs__Liquido_producto__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obtiene_registros_de_Documento_Afectado</targetReference>
        </connector>
        <object>Aplicacion__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Filtra_Diferencia_de_Cambio</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ERPvs__Documento_Afectado__c</objectType>
    </variables>
</Flow>
