force-app/main/default/flows/Aplicacion_Actualiza_TC_Vigente.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>V5: Se cambia la búsqueda del nombre de la moneda por el símbolo</description>
    <environments>Default</environments>
    <formulas>
        <name>frmMoneda</name>
        <dataType>String</dataType>
        <expression>IF( {!varMoneda} = &quot;ARS&quot;, &quot;USD&quot;, {!varMoneda} )</expression>
    </formulas>
    <interviewLabel>Aplicacion. Actualiza TC Vigente {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Aplicacion. Actualiza TC Vigente</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Busca_TC</name>
        <label>Busca TC</label>
        <locationX>396</locationX>
        <locationY>188</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>actualizaAplicacion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Fecha__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varFechaRecibo</elementReference>
            </value>
        </filters>
        <filters>
            <field>Moneda_Texto__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varMoneda</elementReference>
            </value>
        </filters>
        <object>Tipo_de_Cambio__c</object>
        <outputAssignments>
            <assignToReference>varCotizacion</assignToReference>
            <field>Cotizacion__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>actualizaAplicacion</name>
        <label>actualizaAplicacion</label>
        <locationX>397</locationX>
        <locationY>335</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAplicacionId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Tipo_de_Cambio_Vigente__c</field>
            <value>
                <elementReference>varCotizacion</elementReference>
            </value>
        </inputAssignments>
        <object>Aplicacion__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Busca_TC</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varAplicacionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCotizacion</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>4</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varFechaRecibo</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>varMoneda</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
