force-app/main/default/flows/Asignar_Campania.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Obtener_ID_de_Campa_a_Action_1</name>
        <label>Obtener ID de Campaña Action 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>ObtenerCampana</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Vincular_Campania</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>cultivoId</name>
            <value>
                <elementReference>$Record.Cultivo__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fechaCreacion</name>
            <value>
                <elementReference>fechaCreacion</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>nombreCultivo</name>
            <value>
                <elementReference>$Record.Cultivo__r.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>origenCampana</name>
            <value>
                <elementReference>$Record.Origen__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tipoCompra</name>
            <value>
                <stringValue>Ninguna</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ObtenerCampana</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>anoCampana</assignToReference>
            <name>anoCampana</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>campanaId</assignToReference>
            <name>campanaId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>errorMessage</assignToReference>
            <name>mensajeError</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>Relaciona la campaña correspondiente.</description>
    <environments>Default</environments>
    <formulas>
        <name>fechaCreacion</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.CreatedDate}), '', TEXT(DATEVALUE({!$Record.CreatedDate})))</expression>
    </formulas>
    <interviewLabel>Asignar Campaña {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Asignar Campaña</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Vincular_Campania</name>
        <label>Vincular Campaña</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Campania__c</field>
            <value>
                <elementReference>campanaId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obtener_ID_de_Campa_a_Action_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Origen__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BolsaTech</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>TN-0571992</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>TN-0581608</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>TN-0605219</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>TN-0615063</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>TN-0617194</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>TN-0623767</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>TN-0629353</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>TN-0021167</stringValue>
            </value>
        </filters>
        <filters>
            <field>No_asignar_campa_a__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Tonelada__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>anoCampana</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>campanaId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tipoCompra</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
