force-app/main/default/flows/Cesion_Proceso_Diario_Actualizar_Variedades.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Asignar_la_variedad_de_cada_linea</name>
        <label>Asignar la variedad de cada línea</label>
        <locationX>314</locationX>
        <locationY>900</locationY>
        <assignmentItems>
            <assignToReference>varVariedades</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Recorrer_las_lineas.Variedad__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varVariedades</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>; </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignar_variedad_anterior</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_variedad_anterior</name>
        <label>Asignar variedad anterior</label>
        <locationX>226</locationX>
        <locationY>1092</locationY>
        <assignmentItems>
            <assignToReference>varVariedadAnterior</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_las_lineas.Variedad__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorrer_las_lineas</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Contar_las_lineas</name>
        <label>Contar las líneas</label>
        <locationX>182</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>varCantidadDeLineas</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Buscar_las_lineas_de_Cesion</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Hay_lineas_en_la_Cesion</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Hay_lineas_en_la_Cesion</name>
        <label>Hay líneas en la Cesión?</label>
        <locationX>182</locationX>
        <locationY>576</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Hay</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCantidadDeLineas</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recorrer_las_lineas</targetReference>
            </connector>
            <label>Hay</label>
        </rules>
    </decisions>
    <decisions>
        <name>Matchea_Variedad</name>
        <label>Matchea Variedad?</label>
        <locationX>226</locationX>
        <locationY>792</locationY>
        <defaultConnector>
            <targetReference>Asignar_la_variedad_de_cada_linea</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Matchea</defaultConnectorLabel>
        <rules>
            <name>Matchea</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recorrer_las_lineas.Variedad__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varVariedadAnterior</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_variedad_anterior</targetReference>
            </connector>
            <label>Matchea</label>
        </rules>
    </decisions>
    <decisions>
        <name>Variedades_esta_vacio</name>
        <label>Variedades está vacío?</label>
        <locationX>380</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>No vacío</defaultConnectorLabel>
        <rules>
            <name>Vacio</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Variedades__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Buscar_las_lineas_de_Cesion</targetReference>
            </connector>
            <label>Vacío</label>
        </rules>
    </decisions>
    <description>Diariamente, para las cesiones con variedades en blanco, se recorren las líneas de cesión para actualizar el campo Variedad con la concatenación de las variedades de las líneas.
Se deben extraer las variedades repetidas.
Se agrega que se procesen las cesiones con 1 destinatario o más.</description>
    <environments>Default</environments>
    <formulas>
        <name>forIdCesion</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.Id}, LEN({!$Record.Id})-3)</expression>
    </formulas>
    <formulas>
        <name>forVariedades</name>
        <dataType>String</dataType>
        <expression>LEFT({!varVariedades}, LEN({!varVariedades})-2)</expression>
    </formulas>
    <interviewLabel>Cesión - Proceso Diario - Actualizar Variedades {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cesión - Proceso Diario - Actualizar Variedades</label>
    <loops>
        <name>Recorrer_las_lineas</name>
        <label>Recorrer las líneas</label>
        <locationX>50</locationX>
        <locationY>684</locationY>
        <collectionReference>Buscar_las_lineas_de_Cesion</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Matchea_Variedad</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ActualizarVariedadesenlaCesion</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Buscar_las_lineas_de_Cesion</name>
        <label>Buscar las líneas de Cesión</label>
        <locationX>182</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contar_las_lineas</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cesion_HT__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>forIdCesion</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Linea_Cesion_HT__c</object>
        <sortField>Variedad__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>ActualizarVariedadesenlaCesion</name>
        <label>Actualizar Variedades en la Cesión</label>
        <locationX>50</locationX>
        <locationY>1284</locationY>
        <inputAssignments>
            <field>Variedades__c</field>
            <value>
                <elementReference>forVariedades</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Variedades_esta_vacio</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>destinatarios__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>Cesion_HT__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-05-17</startDate>
            <startTime>19:45:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varCantidadDeLineas</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varVariedadAnterior</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varVariedades</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
