force-app/main/default/flows/Chat_Rutear_al_Operador_SE.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Rutear_a_la_cola_Operaciones_Chat_Portal_SE</name>
        <label>Rutear a la cola Operaciones - Chat Portal SE</label>
        <locationX>50</locationX>
        <locationY>950</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <stringValue>00G4R000006L2z1UAC</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
            <value>
                <stringValue>Operaciones - Chat Portal SE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>QueueBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Chat</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_liveagent</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N94R000000XikOSAS</stringValue>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Rutear_Chat_a_Cola_Cobranzas_SE</name>
        <label>Rutear Chat a Cola Cobranzas SE</label>
        <locationX>314</locationX>
        <locationY>1070</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <stringValue>00G4R000006L2z6UAC</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
            <value>
                <stringValue>Operaciones Cobranzas - Chat SE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>QueueBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Chat</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_liveagent</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N94R000000XikOSAS</stringValue>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Rutear_el_chat_a_Cola_SE</name>
        <label>Rutear el chat a Cola SE</label>
        <locationX>842</locationX>
        <locationY>1310</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <stringValue>00G4R000006L2z1UAC</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
            <value>
                <stringValue>Operaciones - Chat Portal SE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>QueueBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Chat</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_liveagent</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N94R000000XikOSAS</stringValue>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Rutear_el_chat_al_Operador_SE</name>
        <label>Rutear el chat al Operador SE</label>
        <locationX>578</locationX>
        <locationY>1310</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>agentId</name>
            <value>
                <elementReference>varOperador</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>isAgentVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <stringValue>00G4R000006L2z1UAC</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
            <value>
                <stringValue>Operaciones - Chat Portal SE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>Agent</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Chat</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_liveagent</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N94R000000XikOSAS</stringValue>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Asignar_al_Operador_SE_de_la_cuenta</name>
        <label>Asignar al Operador SE de la cuenta</label>
        <locationX>710</locationX>
        <locationY>1070</locationY>
        <assignmentItems>
            <assignToReference>varOperador</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtener_Cuenta_del_PreChat.Operador_SE__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Hay_Operador</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Cuit_del_PreChat</name>
        <label>Asignar Cuit del PreChat</label>
        <locationX>633</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>varCuit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_sobre_Entradas_PreChat.CustomDetailContextValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_sobre_Entradas_PreChat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Motivo_del_PreChat</name>
        <label>Asignar Motivo del PreChat</label>
        <locationX>369</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>varMotivo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_sobre_Entradas_PreChat.CustomDetailContextValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_sobre_Entradas_PreChat</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Es_un_Motivo_de_Cobranzas</name>
        <label>Es un Motivo de Cobranzas?</label>
        <locationX>512</locationX>
        <locationY>950</locationY>
        <defaultConnector>
            <targetReference>Asignar_al_Operador_SE_de_la_cuenta</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No es motivo de Cobranzas</defaultConnectorLabel>
        <rules>
            <name>Es_Motivo_de_Cobranzas</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varMotivo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Informar Pago</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varMotivo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Solicitud de Nota de Crédito</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rutear_Chat_a_Cola_Cobranzas_SE</targetReference>
            </connector>
            <label>Es Motivo de Cobranzas</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_Cuenta</name>
        <label>Existe Cuenta?</label>
        <locationX>281</locationX>
        <locationY>830</locationY>
        <defaultConnector>
            <targetReference>Es_un_Motivo_de_Cobranzas</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Cuenta Existe</defaultConnectorLabel>
        <rules>
            <name>Cuenta_No_Existe</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Cuenta_del_PreChat.Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rutear_a_la_cola_Operaciones_Chat_Portal_SE</targetReference>
            </connector>
            <label>Cuenta No Existe</label>
        </rules>
    </decisions>
    <decisions>
        <name>Hay_Operador</name>
        <label>Hay Operador?</label>
        <locationX>710</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>Rutear_el_chat_a_Cola_SE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No existe Op.</defaultConnectorLabel>
        <rules>
            <name>Existe_Op</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOperador</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rutear_el_chat_al_Operador_SE</targetReference>
            </connector>
            <label>Existe Op.</label>
        </rules>
    </decisions>
    <decisions>
        <name>La_entrada_de_PreChat_es_el_Motivo</name>
        <label>La entrada de PreChat es el Motivo?</label>
        <locationX>633</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Loop_sobre_Entradas_PreChat</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Es otra</defaultConnectorLabel>
        <rules>
            <name>Es_el_Motivo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_sobre_Entradas_PreChat.CustomDetailContextKey</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Motivo Portal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Motivo_del_PreChat</targetReference>
            </connector>
            <label>Es el Motivo</label>
        </rules>
        <rules>
            <name>Es_el_Cuit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_sobre_Entradas_PreChat.CustomDetailContextKey</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>N° CUIT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Cuit_del_PreChat</targetReference>
            </connector>
            <label>Es el Cuit</label>
        </rules>
    </decisions>
    <description>Rutea cada chat al operador SE de la cuenta (cuit ingresado en el PreChat) o a la cola de cobranzas SE si tiene motivo &quot;Informar Pago&quot; o &quot;Solicitar Nota de Crédito&quot;.</description>
    <environments>Default</environments>
    <interviewLabel>Chat - Rutear al Operador SE {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Chat - Rutear al Operador SE</label>
    <loops>
        <name>Loop_sobre_Entradas_PreChat</name>
        <label>Loop sobre Entradas PreChat</label>
        <locationX>281</locationX>
        <locationY>158</locationY>
        <collectionReference>prechatInfo</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>La_entrada_de_PreChat_es_el_Motivo</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Obtener_Cuenta_del_PreChat</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>RoutingFlow</processType>
    <recordLookups>
        <name>Obtener_Cuenta_del_PreChat</name>
        <label>Obtener Cuenta del PreChat</label>
        <locationX>281</locationX>
        <locationY>710</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_Cuenta</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>N_CUIT__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCuit</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>155</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_sobre_Entradas_PreChat</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>prechatInfo</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ConversationContextEntry</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCuit</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varMotivo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varOperador</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
