force-app/main/default/flows/Cierre_de_Expedientes_CLA_Y_SEC.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Obtener_Campa_a</name>
        <label>Obtener Campaña</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>ObtenerCampana</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Expediente_Abierto_CLA</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>cultivoId</name>
            <value>
                <elementReference>Buscar_Cultivo.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fechaCreacion</name>
            <value>
                <elementReference>CreatedDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>nombreCultivo</name>
            <value>
                <elementReference>Buscar_Cultivo.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>origenCampana</name>
            <value>
                <stringValue>BolsaTech</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tipoCompra</name>
            <value>
                <stringValue>Ninguna</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ObtenerCampana</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Asignacion_de_loop_CLA</name>
        <label>Asignacion de loop CLA</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ListaMBTCLALOOP</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MovimientoBT</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>MBT_CLA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignacion_Loop_CLA</name>
        <label>Asignacion Loop CLA</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ListaMBTCLALOOP</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_Movimientos_BT_Relacionados</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Expediente_SEC_Abierto</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignacion_Loop_SEC</name>
        <label>Asignacion Loop SEC</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>LoopMBTSEC</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MovimientoBT</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>MBT_SEC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Loop_SEC_asignacion</name>
        <label>Loop SEC asignacion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>LoopMBTSEC</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_Movimientos_BT_Relacionados_sec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Tiene_Movimientos_BT_CLA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MBT_ID_CLA</name>
        <label>MBT_ID</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>MBT</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MBT_CLA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>MBT_CLA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MBT_ID_SEC</name>
        <label>MBT_ID</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>MBT</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MBT_SEC</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>MBT_SEC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>TotalSaldoTN_CLA</name>
        <label>TotalSaldoTN_CLA</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CLATotalSaldoTN</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopMBTCLA.Tonelada_MBT__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Origen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>TotalSaldoTN_SEC</name>
        <label>TotalSaldoTN_SEC</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>SECTotalSaldoTN</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopMBT_SEC.Tonelada_MBT__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Origen_evaluacion</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Expediente_Abierto_CLA</name>
        <label>Expediente Abierto CLA</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Expediente_SEC_Abierto</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CLA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_Expedientes_Abiertos_CLA.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Se_Recibe_MBT</targetReference>
            </connector>
            <label>CLA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Expediente_SEC_Abierto</name>
        <label>Expediente Abierto SEC</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Tiene_Movimientos_BT_CLA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SEC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_Expedientes_Abiertos_SEC.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Se_recibe_MBT_Actualizado</targetReference>
            </connector>
            <label>SEC</label>
        </rules>
    </decisions>
    <decisions>
        <name>Origen</name>
        <label>Origen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Crear_TN_CLA_remitente</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update Account</defaultConnectorLabel>
        <rules>
            <name>Update_BT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OrigenBolsaTech</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crear_TN_CLA_Titular</targetReference>
            </connector>
            <label>Update BT</label>
        </rules>
    </decisions>
    <decisions>
        <name>Origen_evaluacion</name>
        <label>Origen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Crear_TN_SEC_remitente</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Modificacion Account</defaultConnectorLabel>
        <rules>
            <name>ModificaciondeBT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OrigenBolsaTech</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crear_TN_SEC_Titular</targetReference>
            </connector>
            <label>Update BT</label>
        </rules>
    </decisions>
    <decisions>
        <name>Se_Recibe_MBT</name>
        <label>Se Recibe MBT</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Buscar_Movimientos_BT_Relacionados</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MBT_Recibido</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MovimientoBT</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignacion_de_loop_CLA</targetReference>
            </connector>
            <label>MBT Recibido</label>
        </rules>
    </decisions>
    <decisions>
        <name>Se_recibe_MBT_Actualizado</name>
        <label>Se recibe MBT</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Buscar_Movimientos_BT_Relacionados_sec</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Recibido_MBT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MovimientoBT</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignacion_Loop_SEC</targetReference>
            </connector>
            <label>Recibido MBT</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tiene_Movimientos_BT_CLA</name>
        <label>Tiene Movimientos BT CLA</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Tiene_Movimientos_BT_SEC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Tiene_Movimientos_CLA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ListaMBTCLALOOP</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopMBTCLA</targetReference>
            </connector>
            <label>Tiene Movimientos CLA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tiene_Movimientos_BT_SEC</name>
        <label>Tiene Movimientos BT SEC</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Tiene_Movimientos_SEC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopMBTSEC</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopMBT_SEC</targetReference>
            </connector>
            <label>Tiene Movimientos SEC</label>
        </rules>
    </decisions>
    <description>Proceso que cierra los expedientes abiertos CLA Y SEC una vez el usuario es Enlist</description>
    <environments>Default</environments>
    <formulas>
        <name>CreatedDate</name>
        <dataType>String</dataType>
        <expression>TEXT(DATEVALUE(NOW()))</expression>
    </formulas>
    <formulas>
        <name>forFechaFin</name>
        <dataType>Date</dataType>
        <expression>IF((DATE(YEAR(TODAY()), 01, 01) &lt;= TODAY() ) &amp;&amp; (TODAY() &lt; {!forFechaVtoTN} ), 
     {!forFechaVtoTN}, DATE(YEAR(TODAY()) + 1, MONTH({!forFechaVtoTN}), DAY({!forFechaVtoTN}) ))</expression>
    </formulas>
    <formulas>
        <name>forFechaVtoTN</name>
        <dataType>Date</dataType>
        <expression>{!Buscar_Cultivo.Fecha_Vencimiento_de_Tonelada__c}</expression>
    </formulas>
    <formulas>
        <name>SaldoExpedienteCLAActualizado</name>
        <dataType>Number</dataType>
        <expression>{!Buscar_Expedientes_Abiertos_CLA.Saldo_Expediente__c} - {!CLATotalSaldoTN}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>SaldoTotalSECActualizado</name>
        <dataType>Number</dataType>
        <expression>{!Buscar_Expedientes_Abiertos_SEC.Saldo_Expediente__c} - {!SECTotalSaldoTN}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Cierre de Expedientes CLA Y SEC {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cierre de Expedientes CLA Y SEC</label>
    <loops>
        <name>LoopMBT_SEC</name>
        <label>LoopMBT_SEC</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>LoopMBTSEC</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>TotalSaldoTN_SEC</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Actualizar_Expediente_SEC</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopMBTCLA</name>
        <label>LoopMBT_CLA</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>ListaMBTCLALOOP</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>TotalSaldoTN_CLA</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateExpedienteCLA</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>MBT_CLA</name>
        <label>MBT</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>MovimientoBT</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>MBT_ID_CLA</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Expediente_SEC_Abierto</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>MBT_SEC</name>
        <label>MBT</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>MovimientoBT</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>MBT_ID_SEC</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Tiene_Movimientos_BT_CLA</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Crear_TN_CLA_remitente</name>
        <label>Crear TN CLA_remitente</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>LoopMBTCLA</targetReference>
        </connector>
        <inputAssignments>
            <field>Biotecnologia__c</field>
            <value>
                <stringValue>Enlist E3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campania__c</field>
            <value>
                <elementReference>Obtener_Campa_a.campanaId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cantidad__c</field>
            <value>
                <elementReference>LoopMBTCLA.Tonelada_MBT__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cultivo__c</field>
            <value>
                <elementReference>Buscar_Cultivo.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Etapa__c</field>
            <value>
                <stringValue>Debitada</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expediente_de_Origen__c</field>
            <value>
                <elementReference>Buscar_Expedientes_Abiertos_CLA.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_Fin_Original__c</field>
            <value>
                <elementReference>forFechaFin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_Fin__c</field>
            <value>
                <elementReference>forFechaFin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_Inicio__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mov_BolsaTech__c</field>
            <value>
                <elementReference>LoopMBTCLA.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>N_CUIT__c</field>
            <value>
                <elementReference>AccountRemitenteComercial.N_CUIT__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origen__c</field>
            <value>
                <stringValue>BolsaTech</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Productor__c</field>
            <value>
                <elementReference>AccountRemitenteComercial.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Signo__c</field>
            <value>
                <numberValue>-1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_Movimiento__c</field>
            <value>
                <stringValue>D</stringValue>
            </value>
        </inputAssignments>
        <object>Tonelada__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Crear_TN_CLA_Titular</name>
        <label>Crear TN CLA Titular</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>LoopMBTCLA</targetReference>
        </connector>
        <inputAssignments>
            <field>Biotecnologia__c</field>
            <value>
                <stringValue>Enlist E3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campania__c</field>
            <value>
                <elementReference>Obtener_Campa_a.campanaId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cantidad__c</field>
            <value>
                <elementReference>LoopMBTCLA.Tonelada_MBT__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cultivo__c</field>
            <value>
                <elementReference>Buscar_Cultivo.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Etapa__c</field>
            <value>
                <stringValue>Debitada</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expediente_de_Origen__c</field>
            <value>
                <elementReference>Buscar_Expedientes_Abiertos_CLA.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_Fin_Original__c</field>
            <value>
                <elementReference>forFechaFin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_Fin__c</field>
            <value>
                <elementReference>forFechaFin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_Inicio__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mov_BolsaTech__c</field>
            <value>
                <elementReference>LoopMBTCLA.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>N_CUIT__c</field>
            <value>
                <elementReference>AccountTitular.N_CUIT__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origen__c</field>
            <value>
                <stringValue>BolsaTech</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Productor__c</field>
            <value>
                <elementReference>AccountTitular.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Signo__c</field>
            <value>
                <numberValue>-1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_Movimiento__c</field>
            <value>
                <stringValue>D</stringValue>
            </value>
        </inputAssignments>
        <object>Tonelada__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Crear_TN_SEC_remitente</name>
        <label>Crear TN SEC_remitente</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>LoopMBT_SEC</targetReference>
        </connector>
        <inputAssignments>
            <field>Biotecnologia__c</field>
            <value>
                <stringValue>Enlist E3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campania__c</field>
            <value>
                <elementReference>Obtener_Campa_a.campanaId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cantidad__c</field>
            <value>
                <elementReference>LoopMBT_SEC.Tonelada_MBT__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cultivo__c</field>
            <value>
                <elementReference>Buscar_Cultivo.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Etapa__c</field>
            <value>
                <stringValue>Debitada</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expediente_de_Origen__c</field>
            <value>
                <elementReference>Buscar_Expedientes_Abiertos_SEC.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_Fin_Original__c</field>
            <value>
                <elementReference>forFechaFin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_Fin__c</field>
            <value>
                <elementReference>forFechaFin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_Inicio__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mov_BolsaTech__c</field>
            <value>
                <elementReference>LoopMBT_SEC.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>N_CUIT__c</field>
            <value>
                <elementReference>AccountRemitenteComercial.N_CUIT__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origen__c</field>
            <value>
                <stringValue>BolsaTech</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Productor__c</field>
            <value>
                <elementReference>AccountRemitenteComercial.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Signo__c</field>
            <value>
                <numberValue>-1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_Movimiento__c</field>
            <value>
                <stringValue>D</stringValue>
            </value>
        </inputAssignments>
        <object>Tonelada__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Crear_TN_SEC_Titular</name>
        <label>Crear TN SEC Titular</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>LoopMBT_SEC</targetReference>
        </connector>
        <inputAssignments>
            <field>Biotecnologia__c</field>
            <value>
                <stringValue>Enlist E3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campania__c</field>
            <value>
                <elementReference>Obtener_Campa_a.campanaId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cantidad__c</field>
            <value>
                <elementReference>LoopMBT_SEC.Tonelada_MBT__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cultivo__c</field>
            <value>
                <elementReference>Buscar_Cultivo.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Etapa__c</field>
            <value>
                <stringValue>Debitada</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expediente_de_Origen__c</field>
            <value>
                <elementReference>Buscar_Expedientes_Abiertos_SEC.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_Fin_Original__c</field>
            <value>
                <elementReference>forFechaFin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_Fin__c</field>
            <value>
                <elementReference>forFechaFin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_Inicio__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mov_BolsaTech__c</field>
            <value>
                <elementReference>LoopMBT_SEC.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>N_CUIT__c</field>
            <value>
                <elementReference>AccountTitular.N_CUIT__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origen__c</field>
            <value>
                <stringValue>BolsaTech</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Productor__c</field>
            <value>
                <elementReference>AccountTitular.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Signo__c</field>
            <value>
                <numberValue>-1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_Movimiento__c</field>
            <value>
                <stringValue>D</stringValue>
            </value>
        </inputAssignments>
        <object>Tonelada__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Buscar_Cultivo</name>
        <label>Buscar Cultivo</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_Campa_a</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SOJA</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cultivo__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Buscar_Expedientes_Abiertos_CLA</name>
        <label>Buscar Expedientes Abiertos CLA</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Buscar_Expedientes_Abiertos_SEC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cuenta__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountRemitenteComercial.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tipo_expendiente__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PRI</stringValue>
            </value>
        </filters>
        <filters>
            <field>Estado_de_la_Etapa__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Finalizado</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Expediente_de_Negativos__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Buscar_Expedientes_Abiertos_SEC</name>
        <label>Buscar Expedientes Abiertos SEC</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Buscar_Cultivo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cuenta__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountRemitenteComercial.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tipo_expendiente__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SEC</stringValue>
            </value>
        </filters>
        <filters>
            <field>Estado_de_la_Etapa__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Finalizado</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Expediente_de_Negativos__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Buscar_Movimientos_BT_Relacionados</name>
        <label>Buscar Movimientos BT Relacionados CLA</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asignacion_Loop_CLA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Expediente_de_Negativos__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Buscar_Expedientes_Abiertos_CLA.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Movimiento_BolsaTech__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Buscar_Movimientos_BT_Relacionados_sec</name>
        <label>Buscar Movimientos BT Relacionados SEC</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_SEC_asignacion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Expediente_de_Negativos__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Buscar_Expedientes_Abiertos_SEC.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Movimiento_BolsaTech__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_Expediente_SEC</name>
        <label>Actualizar Expediente SEC</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Tipo_expendiente__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SEC</stringValue>
            </value>
        </filters>
        <filters>
            <field>Estado_de_la_Etapa__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Finalizado</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Buscar_Expedientes_Abiertos_SEC.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Saldo_Expediente__c</field>
            <value>
                <elementReference>SaldoTotalSECActualizado</elementReference>
            </value>
        </inputAssignments>
        <object>Expediente_de_Negativos__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateExpedienteCLA</name>
        <label>UpdateExpedienteCLA</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Tiene_Movimientos_BT_SEC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Tipo_expendiente__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PRI</stringValue>
            </value>
        </filters>
        <filters>
            <field>Estado_de_la_Etapa__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Finalizado</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Buscar_Expedientes_Abiertos_CLA.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Saldo_Expediente__c</field>
            <value>
                <elementReference>SaldoExpedienteCLAActualizado</elementReference>
            </value>
        </inputAssignments>
        <object>Expediente_de_Negativos__c</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Buscar_Expedientes_Abiertos_CLA</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountRemitenteComercial</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>AccountTitular</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>CLATotalSaldoTN</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>ListaMBTCLALOOP</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Movimiento_BolsaTech__c</objectType>
    </variables>
    <variables>
        <name>LoopMBTSEC</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Movimiento_BolsaTech__c</objectType>
    </variables>
    <variables>
        <name>MBT</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Movimiento_BolsaTech__c</objectType>
    </variables>
    <variables>
        <name>MovimientoBT</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Movimiento_BolsaTech__c</objectType>
    </variables>
    <variables>
        <name>OrigenBolsaTech</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SECTotalSaldoTN</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>TotalSaldoTN</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
