force-app/main/default/flows/Compra_HT_Crear_NC.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Asignar_linea_corriente_a_coleccion</name>
        <label>Asignar línea corriente a colección</label>
        <locationX>1282</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>varLineasCompraHTaCrear</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varLineaCompraHT</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorrer_las_lineas</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_linea_corriente_a_variable</name>
        <label>Asignar línea corriente a variable</label>
        <locationX>1282</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>varLineaCompraHT.Cantidad__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_las_lineas.Cantidad__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLineaCompraHT.Compra_HT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Crear_encabezado_NC</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLineaCompraHT.Id_Producto_de_Lista_de_Precio__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_las_lineas.Id_Producto_de_Lista_de_Precio__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLineaCompraHT.Licencia__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_las_lineas.Licencia__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLineaCompraHT.Precio__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_las_lineas.Precio__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLineaCompraHT.Precio_de_Lista__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_las_lineas.Precio_de_Lista__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLineaCompraHT.Producto__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_las_lineas.Producto__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLineaCompraHT.Tipo_de_cambio__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_las_lineas.Tipo_de_cambio__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLineaCompraHT.Tipo_de_Compra__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_las_lineas.Tipo_de_Compra__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLineaCompraHT.Variedad__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_las_lineas.Variedad__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLineaCompraHT.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNombreLinea</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLineaCompraHT.Estado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Facturable</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLineaCompraHT.Fecha_de_Activacion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_las_lineas.Fecha_de_Activacion__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignar_linea_corriente_a_coleccion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Definir_Nombre_Linea</name>
        <label>Definir Nombre Línea</label>
        <locationX>1282</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>varNombreLinea</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_las_lineas.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNombreLinea</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>-NC</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignar_linea_corriente_a_variable</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Es_NC_o_tiene_Venta_HT_asociada</name>
        <label>Es NC o tiene Venta HT asociada?</label>
        <locationX>534</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Buscar_si_ya_existe_NC_para_esta_compra_HT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Es_NC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_Compra_HT_asociada.Es_NC__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pantalla_Es_NC</targetReference>
            </connector>
            <label>Es NC</label>
        </rules>
        <rules>
            <name>Tiene_Venta_HT_asociada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_Compra_HT_asociada.Venta_HT__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Buscar_Compra_HT_asociada.Es_NC__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Buscar_Compra_HT_asociada.Estado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Facturada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pantalla_Venta_HT_Asociada</targetReference>
            </connector>
            <label>Tiene Venta HT asociada</label>
        </rules>
        <rules>
            <name>Estado_No_Facturada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_Compra_HT_asociada.Estado__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Facturada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pantalla_No_Es_Facturada</targetReference>
            </connector>
            <label>Estado No Facturada</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ya_existe_NC_para_esta_Compra_HT</name>
        <label>Ya existe NC para esta Compra HT?</label>
        <locationX>1018</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Buscar_Lineas_de_la_Compra_HT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No existe</defaultConnectorLabel>
        <rules>
            <name>Existe_NC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_si_ya_existe_NC_para_esta_compra_HT.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pantalla_Ya_existe_NC</targetReference>
            </connector>
            <label>Existe NC</label>
        </rules>
    </decisions>
    <description>Se crea una NC asociada a la compra HT mediante el botón Crear NC.
Se pasa la marca de Punto de Venta.
Se agrega cultivo al encabezado de Compra HT - NC</description>
    <environments>Default</environments>
    <formulas>
        <name>varNombreNC</name>
        <dataType>String</dataType>
        <expression>{!Buscar_Compra_HT_asociada.Name} &amp; &quot;-NC&quot;</expression>
    </formulas>
    <interviewLabel>Compra HT {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Compra HT - Crear NC</label>
    <loops>
        <name>Recorrer_las_lineas</name>
        <label>Recorrer las líneas</label>
        <locationX>1194</locationX>
        <locationY>782</locationY>
        <collectionReference>Buscar_Lineas_de_la_Compra_HT</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Definir_Nombre_Linea</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Crear_lineas_de_NC</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Crear_encabezado_NC</name>
        <label>Crear encabezado NC</label>
        <locationX>1194</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Recorrer_las_lineas</targetReference>
        </connector>
        <inputAssignments>
            <field>Comercio__c</field>
            <value>
                <elementReference>Buscar_Compra_HT_asociada.Comercio__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Compra_Original__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cuenta_Productor__c</field>
            <value>
                <elementReference>Buscar_Compra_HT_asociada.Cuenta_Productor__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cultivo__c</field>
            <value>
                <elementReference>Buscar_Compra_HT_asociada.Cultivo__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Es_NC__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estado__c</field>
            <value>
                <stringValue>Pendiente de Facturación</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lista_de_Precios__c</field>
            <value>
                <elementReference>Buscar_Compra_HT_asociada.Lista_de_Precios__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>varNombreNC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Obtentor__c</field>
            <value>
                <elementReference>Buscar_Compra_HT_asociada.Obtentor__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Punto_de_Venta__c</field>
            <value>
                <elementReference>Buscar_Compra_HT_asociada.Punto_de_Venta__c</elementReference>
            </value>
        </inputAssignments>
        <object>Compra_HT__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Crear_lineas_de_NC</name>
        <label>Crear líneas de NC</label>
        <locationX>1194</locationX>
        <locationY>1298</locationY>
        <connector>
            <targetReference>Pantalla_NC_creada</targetReference>
        </connector>
        <inputReference>varLineasCompraHTaCrear</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Buscar_Compra_HT_asociada</name>
        <label>Buscar Compra HT asociada</label>
        <locationX>534</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Es_NC_o_tiene_Venta_HT_asociada</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Compra_HT__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Buscar_Lineas_de_la_Compra_HT</name>
        <label>Buscar Líneas de la Compra HT</label>
        <locationX>1194</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Crear_encabezado_NC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Compra_HT__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Linea_de_Compra_HT__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Buscar_si_ya_existe_NC_para_esta_compra_HT</name>
        <label>Buscar si ya existe NC para esta compra HT</label>
        <locationX>1018</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Ya_existe_NC_para_esta_Compra_HT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Compra_Original__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Buscar_Compra_HT_asociada.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Compra_HT__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Pantalla_Es_NC</name>
        <label>Pantalla Es NC</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MensajeEsNC</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;La compra HT {!Buscar_Compra_HT_asociada.Name} ya es una Nota de Crédito.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Pantalla_NC_creada</name>
        <label>Pantalla NC creada</label>
        <locationX>1194</locationX>
        <locationY>1406</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MensajeNCcreada</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Se creó la NC para la compra HT {!Buscar_Compra_HT_asociada.Name}.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Pantalla_No_Es_Facturada</name>
        <label>Pantalla No Es Facturada</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MensajeNoEsFacturada</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;La compra HT {!Buscar_Compra_HT_asociada.Name} no está en estado Facturada.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Pantalla_Venta_HT_Asociada</name>
        <label>Pantalla Venta HT Asociada</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MensajeVentaHTAsociada</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;La compra HT {!Buscar_Compra_HT_asociada.Name} tiene una Venta HT asociada {!Buscar_Compra_HT_asociada.Venta_HT__r.Name}.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Por favor, cree la NC en la Venta HT.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Pantalla_Ya_existe_NC</name>
        <label>Pantalla Ya existe NC</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MensajeYaExisteNC</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;La compra HT {!Buscar_Compra_HT_asociada.Name} ya tiene una Nota de Crédito {!Buscar_si_ya_existe_NC_para_esta_compra_HT.Name}.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>408</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Buscar_Compra_HT_asociada</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLineaCompraHT</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Linea_de_Compra_HT__c</objectType>
    </variables>
    <variables>
        <name>varLineasCompraHTaCrear</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Linea_de_Compra_HT__c</objectType>
    </variables>
    <variables>
        <name>varNombreLinea</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
