force-app/main/default/flows/CV_Crea_MOV_y_Actualiza_Opp_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <constants>
        <name>NotadeCredito</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Nota de Crédito</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Actualizar_Oportunidad_por_NC</name>
        <label>Actualizar Oportunidad por NC</label>
        <locationX>974</locationX>
        <locationY>426</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Actualiza_Oportunidad_por_NC</name>
            <conditionLogic>(2 AND 3 AND 4) OR 1</conditionLogic>
            <conditions>
                <leftValueReference>Obtiene_Datos_CV.Codigo_Moneda__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Obtiene_Datos_CV.Oportunidad__r.Divisa_Comprobante__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Datos_CV.Codigo_Moneda__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ARS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Datos_CV.ERPvs__Comprobante_Relacionado__r.Codigo_Moneda__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>ARS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Datos_CV.Oportunidad__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Obtiene_Datos_CV.ERPvs__Comprobante_Relacionado__r.Oportunidad__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualiza_Oportunidad_por_NC_todas_las_monedas</targetReference>
            </connector>
            <label>Actualiza Oportunidad por NC</label>
        </rules>
    </decisions>
    <decisions>
        <name>Es_Diferencia_de_Cambio</name>
        <label>Es Diferencia de Cambio?</label>
        <locationX>459</locationX>
        <locationY>221</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>SI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtiene_Datos_CV.Tipo_Movimiento__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Diferencia de cambio</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crea_MOV_por_Diferencia_de_Cambio</targetReference>
            </connector>
            <label>SI</label>
        </rules>
        <rules>
            <name>NO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtiene_Datos_CV.Tipo_Movimiento__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Diferencia de cambio</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tipo_Comp</targetReference>
            </connector>
            <label>NO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Moneda_CV_vs_OPP</name>
        <label>Moneda CV vs OPP</label>
        <locationX>975</locationX>
        <locationY>224</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>CVNOARS_VS_OPPNOARS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtiene_Datos_CV.Codigo_Moneda__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Obtiene_Datos_CV.Oportunidad__r.Moneda__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crea_MOV_por_FC_o_ND</targetReference>
            </connector>
            <label>CVNOARS VS OPPNOARS</label>
        </rules>
        <rules>
            <name>CVARS_VS_OPPNOARS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtiene_Datos_CV.Codigo_Moneda__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Obtiene_Datos_CV.Oportunidad__r.Moneda__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crea_MOV_por_ND_o_NDA</targetReference>
            </connector>
            <label>CVARS VS OPPNOARS</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tipo_Comp</name>
        <label>Tipo_Comp</label>
        <locationX>693</locationX>
        <locationY>221</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Es_Nota_de_Cr_dito</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtiene_Datos_CV.ERPvs__Tipo_comp__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NotadeCredito</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crea_MOV_por_Nota_de_Credito</targetReference>
            </connector>
            <label>Es Nota de Crédito</label>
        </rules>
        <rules>
            <name>No_Es_Nota_de_Cr_dito</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtiene_Datos_CV.ERPvs__Tipo_comp__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>NotadeCredito</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Moneda_CV_vs_OPP</targetReference>
            </connector>
            <label>No Es Nota de Crédito</label>
        </rules>
    </decisions>
    <description>V4: se agrega la generación de MOV para las ND o NDA dónde la moneda del CV es distinta a la moneda de la Oportunidad</description>
    <formulas>
        <name>NC_IMPORTE_APLICAR_MONEDA_COMPROBANTE</name>
        <dataType>Number</dataType>
        <expression>IF({!Obtiene_Datos_CV.Codigo_Moneda__c} = {!Obtiene_Datos_CV.ERPvs__Comprobante_Relacionado__r.Codigo_Moneda__c}, {!Obtiene_Datos_CV.Total2__c}, {!Obtiene_Datos_CV.Total2__c}/{!Obtiene_Datos_CV.ERPvs__Comprobante_Relacionado__r.ERPvs__Tc__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>NC_TC</name>
        <dataType>Number</dataType>
        <expression>IF({!Obtiene_Datos_CV.Codigo_Moneda__c} = {!Obtiene_Datos_CV.ERPvs__Comprobante_Relacionado__r.Codigo_Moneda__c}, {!Obtiene_Datos_CV.ERPvs__Tc__c}, {!Obtiene_Datos_CV.ERPvs__Comprobante_Relacionado__r.ERPvs__Tc__c})</expression>
        <scale>4</scale>
    </formulas>
    <formulas>
        <name>NuevoSaldoaCobrarComprobante</name>
        <dataType>Number</dataType>
        <expression>IF({!Obtiene_Datos_CV.Codigo_Moneda__c} = TEXT({!Obtiene_Datos_CV.Oportunidad__r.Divisa_Comprobante__c}), {!SaldoaCobrarComprobante} + {!Obtiene_Datos_CV.Total2__c}, {!SaldoaCobrarComprobante} + ({!Obtiene_Datos_CV.Total2__c}/{!Obtiene_Datos_CV.ERPvs__Comprobante_Relacionado__r.ERPvs__Tc__c}))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>Saldo a Cobrar Comprobante en moneda de origen de la Oportunidad previo a actualizar</description>
        <name>SaldoaCobrarComprobante</name>
        <dataType>Number</dataType>
        <expression>{!Obtiene_Datos_CV.Oportunidad__r.Saldo_a_Cobrar_Comprobante__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>CV.Crea MOV y Actualiza Opp (Flow) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CV.Crea MOV y Actualiza Opp (Flow)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Crea_MOV_por_Diferencia_de_Cambio</name>
        <label>Crea MOV por Diferencia de Cambio</label>
        <locationX>256</locationX>
        <locationY>220</locationY>
        <inputAssignments>
            <field>Comprobante_Venta__c</field>
            <value>
                <elementReference>idCV</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comprobante__c</field>
            <value>
                <elementReference>Obtiene_Datos_CV.Numero_de_Comprobante__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cuenta__c</field>
            <value>
                <elementReference>Obtiene_Datos_CV.ERPvs__Cliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha__c</field>
            <value>
                <elementReference>Obtiene_Datos_CV.ERPvs__Fecha__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Importe_Moneda_Comprobante__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Importe__c</field>
            <value>
                <elementReference>Obtiene_Datos_CV.ERPvs__Total__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Moneda__c</field>
            <value>
                <elementReference>Obtiene_Datos_CV.Codigo_Moneda__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Observaciones_PB_y_Flows__c</field>
            <value>
                <stringValue>CV.Crea MOV y Actualiza Opp (Flow) - Paso: Crea MOV por Diferencia de Cambio</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Oportunidad__c</field>
            <value>
                <elementReference>Obtiene_Datos_CV.Oportunidad__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_Cambio__c</field>
            <value>
                <elementReference>Obtiene_Datos_CV.ERPvs__Tc__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_Movimiento__c</field>
            <value>
                <elementReference>Obtiene_Datos_CV.Tipo_de_Movimiento__c</elementReference>
            </value>
        </inputAssignments>
        <object>Movimientos__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Crea_MOV_por_FC_o_ND</name>
        <label>Crea MOV por FC o ND</label>
        <locationX>1198</locationX>
        <locationY>314</locationY>
        <connector>
            <targetReference>Actualiza_Oportunidad_por_FC_o_ND_moneda_comp_igual_moneda_opp</targetReference>
        </connector>
        <inputAssignments>
            <field>Comprobante_Venta__c</field>
            <value>
                <elementReference>idCV</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comprobante__c</field>
            <value>
                <elementReference>Obtiene_Datos_CV.Numero_de_Comprobante__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cuenta__c</field>
            <value>
                <elementReference>Obtiene_Datos_CV.ERPvs__Cliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha__c</field>
            <value>
                <elementReference>Obtiene_Datos_CV.ERPvs__Fecha__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Importe_Moneda_Comprobante__c</field>
            <value>
                <elementReference>Obtiene_Datos_CV.Total2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Importe__c</field>
            <value>
                <elementReference>Obtiene_Datos_CV.ERPvs__Total__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Moneda__c</field>
            <value>
                <elementReference>Obtiene_Datos_CV.Codigo_Moneda__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Observaciones_PB_y_Flows__c</field>
            <value>
                <stringValue>CV.Crea MOV y Actualiza Opp (Flow) - Paso: Crea MOV por FC o ND</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Oportunidad__c</field>
            <value>
                <elementReference>Obtiene_Datos_CV.Oportunidad__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_Cambio__c</field>
            <value>
                <elementReference>Obtiene_Datos_CV.ERPvs__Tc__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_Movimiento__c</field>
            <value>
                <elementReference>Obtiene_Datos_CV.Tipo_de_Movimiento__c</elementReference>
            </value>
        </inputAssignments>
        <object>Movimientos__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Crea MOV por ND o NDA donde la moneda del CV es distinta a la moneda de la Oportunidad. Generalmente son casos de ajuste de NC viejas que no pueden realizarse en la moneda original del comprobante y deben ajustarse en ARS por limitaciones impuestos por AFIP.</description>
        <name>Crea_MOV_por_ND_o_NDA</name>
        <label>Crea MOV por ND o NDA</label>
        <locationX>1196</locationX>
        <locationY>126</locationY>
        <inputAssignments>
            <field>Comprobante_Venta__c</field>
            <value>
                <elementReference>idCV</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comprobante__c</field>
            <value>
                <elementReference>Obtiene_Datos_CV.Numero_de_Comprobante__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cuenta__c</field>
            <value>
                <elementReference>Obtiene_Datos_CV.ERPvs__Cliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha__c</field>
            <value>
                <elementReference>Obtiene_Datos_CV.ERPvs__Fecha__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Importe_Moneda_Comprobante__c</field>
            <value>
                <elementReference>Obtiene_Datos_CV.Total2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Importe__c</field>
            <value>
                <elementReference>Obtiene_Datos_CV.ERPvs__Total__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Moneda__c</field>
            <value>
                <elementReference>Obtiene_Datos_CV.Codigo_Moneda__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Observaciones_PB_y_Flows__c</field>
            <value>
                <stringValue>CV.Crea MOV y Actualiza Opp (Flow) - Paso: Crea MOV por FC o ND</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Oportunidad__c</field>
            <value>
                <elementReference>Obtiene_Datos_CV.Oportunidad__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_Cambio__c</field>
            <value>
                <elementReference>Obtiene_Datos_CV.ERPvs__Comprobante_Relacionado__r.ERPvs__Tc__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_Movimiento__c</field>
            <value>
                <elementReference>Obtiene_Datos_CV.Tipo_de_Movimiento__c</elementReference>
            </value>
        </inputAssignments>
        <object>Movimientos__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Crea_MOV_por_Nota_de_Credito</name>
        <label>Crea MOV por Nota de Crédito</label>
        <locationX>701</locationX>
        <locationY>424</locationY>
        <connector>
            <targetReference>Actualizar_Oportunidad_por_NC</targetReference>
        </connector>
        <inputAssignments>
            <field>Comprobante_Venta__c</field>
            <value>
                <elementReference>idCV</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comprobante__c</field>
            <value>
                <elementReference>Obtiene_Datos_CV.Numero_de_Comprobante__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cuenta__c</field>
            <value>
                <elementReference>Obtiene_Datos_CV.ERPvs__Cliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha__c</field>
            <value>
                <elementReference>Obtiene_Datos_CV.ERPvs__Fecha__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Importe_Moneda_Comprobante__c</field>
            <value>
                <elementReference>NC_IMPORTE_APLICAR_MONEDA_COMPROBANTE</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Importe__c</field>
            <value>
                <elementReference>Obtiene_Datos_CV.ERPvs__Total__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Moneda__c</field>
            <value>
                <elementReference>Obtiene_Datos_CV.Codigo_Moneda__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Observaciones_PB_y_Flows__c</field>
            <value>
                <stringValue>CV.Crea MOV y Actualiza Opp (Flow) - Paso: Crea MOV por Nota de Crédito</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Oportunidad__c</field>
            <value>
                <elementReference>Obtiene_Datos_CV.Oportunidad__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_Cambio__c</field>
            <value>
                <elementReference>NC_TC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_Movimiento__c</field>
            <value>
                <elementReference>Obtiene_Datos_CV.Tipo_de_Movimiento__c</elementReference>
            </value>
        </inputAssignments>
        <object>Movimientos__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Obtiene_Datos_CV</name>
        <label>Obtiene Datos CV</label>
        <locationX>467</locationX>
        <locationY>68</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Es_Diferencia_de_Cambio</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>idCV</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ERPvs__Comprobante_Venta__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualiza_Oportunidad_por_FC_o_ND_moneda_comp_igual_moneda_opp</name>
        <label>Actualiza Oportunidad por FC o ND (moneda comp igual moneda opp)</label>
        <locationX>1386</locationX>
        <locationY>314</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtiene_Datos_CV.Oportunidad__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Saldo_a_Cobrar_Comprobante__c</field>
            <value>
                <elementReference>NuevoSaldoaCobrarComprobante</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Saldo_a_Gestionar__c</field>
            <value>
                <elementReference>NuevoSaldoaCobrarComprobante</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualiza_Oportunidad_por_NC_todas_las_monedas</name>
        <label>Actualiza Oportunidad por NC (todas las monedas)</label>
        <locationX>983</locationX>
        <locationY>657</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtiene_Datos_CV.Oportunidad__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Saldo_a_Cobrar_Comprobante__c</field>
            <value>
                <elementReference>NuevoSaldoaCobrarComprobante</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Saldo_a_Gestionar__c</field>
            <value>
                <elementReference>NuevoSaldoaCobrarComprobante</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Obtiene_Datos_CV</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>idCV</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
