force-app/main/default/flows/CV_Calcula_comisiones_SE_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Suma_variables_BI_Comision_Canal_y_HTs</name>
        <label>Suma variables BI, Comision Canal y HTs</label>
        <locationX>138</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>biComisionCanal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Para_cada_MOV_SE.BI_Comision__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>comisionCanal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Para_cada_MOV_SE.Comision_ArPOV__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HTsCanal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Para_cada_MOV_SE.Total_HTs__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Para_cada_MOV_SE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Suma_variables_BI_y_Comision_Directa</name>
        <label>Suma variables BI y Comision Directa</label>
        <locationX>402</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>biComisionDirecta</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Para_cada_MOV_SE.BI_Comision__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>comisionDirecta</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Para_cada_MOV_SE.Comision_ArPOV__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HTsDirecta</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Para_cada_MOV_SE.Total_HTs__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Para_cada_MOV_SE</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Esta_completo_el_CV</name>
        <label>Esta completo el CV</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>SI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_CV_Comisiones_SE.ERPvs__Estado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NO CONTABILIZADO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Buscar_CV_Comisiones_SE.ERPvs__Tipo_de_comprobante__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FC Comisiones SE ARS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>fechaDesdeCVComSE</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>fechaHastaCVComSE</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Buscar_CV_Comisiones_SE.ERPvs__Cliente__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Buscar_MOV_APSE</targetReference>
            </connector>
            <label>SI</label>
        </rules>
    </decisions>
    <decisions>
        <name>Porcentaje_Comision</name>
        <label>Tipo Porcentaje Comision</label>
        <locationX>270</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Suma_variables_BI_y_Comision_Directa</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Directa</defaultConnectorLabel>
        <rules>
            <name>Canal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Para_cada_MOV_SE.Porcentaje_Comision_ArPOV__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>4.25</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Suma_variables_BI_Comision_Canal_y_HTs</targetReference>
            </connector>
            <label>Canal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tipo_de_Producto_SE</name>
        <label>Tipo de Producto SE</label>
        <locationX>270</locationX>
        <locationY>1310</locationY>
        <defaultConnector>
            <targetReference>Crear_PCV_HT_Directa</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>HT Directa</defaultConnectorLabel>
        <rules>
            <name>HT_Canal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Por_cada_producto_SE.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>HT Canal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crea_PCV_HT_Canal</targetReference>
            </connector>
            <label>HT Canal</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>fechaDesdeCVComSE</name>
        <dataType>Date</dataType>
        <expression>{!Buscar_CV_Comisiones_SE.Fecha_Desde_CV_Comisiones_SE__c}</expression>
    </formulas>
    <formulas>
        <name>fechaHastaCVComSE</name>
        <dataType>Date</dataType>
        <expression>{!Buscar_CV_Comisiones_SE.Fecha_Hasta_CV_Comisiones_SE__c}</expression>
    </formulas>
    <formulas>
        <name>porcComisionCanalIVA</name>
        <dataType>Number</dataType>
        <expression>0.04250 * 1.21</expression>
        <scale>5</scale>
    </formulas>
    <formulas>
        <name>porcComisionDirectaIVA</name>
        <dataType>Number</dataType>
        <expression>0.08500 * 1.21</expression>
        <scale>5</scale>
    </formulas>
    <interviewLabel>CV.Calcula comisiones SE {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CV.Calcula comisiones SE (Flow)</label>
    <loops>
        <name>Para_cada_MOV_SE</name>
        <label>Para cada MOV SE</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <collectionReference>Buscar_MOV_APSE</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Porcentaje_Comision</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Buscar_Productos_SE</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Por_cada_producto_SE</name>
        <label>Por cada producto SE</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <collectionReference>Buscar_Productos_SE</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Tipo_de_Producto_SE</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Call_CV_Asigna_CV_Comisiones_SE_a_MOV_SE_Flow</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Crea_PCV_HT_Canal</name>
        <label>Crea PCV HT Canal</label>
        <locationX>138</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>Por_cada_producto_SE</targetReference>
        </connector>
        <inputAssignments>
            <field>Cantidad_HTs_Presupuesto__c</field>
            <value>
                <elementReference>HTsCanal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ERPvs__Cantidad_1__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ERPvs__Cantidad_2__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ERPvs__Cantidad__c</field>
            <value>
                <elementReference>biComisionCanal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ERPvs__Comprobante__c</field>
            <value>
                <elementReference>idCV</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ERPvs__Descuento__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ERPvs__Importe_Descuento__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ERPvs__Impuesto_Interno__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ERPvs__Porc_Impuesto_Interno__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ERPvs__Precio_unitario__c</field>
            <value>
                <elementReference>porcComisionCanalIVA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ERPvs__Producto__c</field>
            <value>
                <elementReference>Por_cada_producto_SE.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ERPvs__Productos_Comprobante_de_Venta__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Crear_PCV_HT_Directa</name>
        <label>Crear PCV HT Directa</label>
        <locationX>402</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>Por_cada_producto_SE</targetReference>
        </connector>
        <inputAssignments>
            <field>Cantidad_HTs_Presupuesto__c</field>
            <value>
                <elementReference>HTsDirecta</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ERPvs__Cantidad_1__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ERPvs__Cantidad_2__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ERPvs__Cantidad__c</field>
            <value>
                <elementReference>biComisionDirecta</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ERPvs__Comprobante__c</field>
            <value>
                <elementReference>idCV</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ERPvs__Descuento__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ERPvs__Importe_Descuento__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ERPvs__Impuesto_Interno__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ERPvs__Porc_Impuesto_Interno__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ERPvs__Precio_unitario__c</field>
            <value>
                <elementReference>porcComisionDirectaIVA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ERPvs__Producto__c</field>
            <value>
                <elementReference>Por_cada_producto_SE.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ERPvs__Productos_Comprobante_de_Venta__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Buscar_CV_Comisiones_SE</name>
        <label>Buscar CV Comisiones SE</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Esta_completo_el_CV</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>idCV</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ERPvs__Comprobante_Venta__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Buscar_MOV_APSE</name>
        <label>Buscar MOV APSE</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Para_cada_MOV_SE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Tipo_de_Movimiento__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>APSE</stringValue>
            </value>
        </filters>
        <filters>
            <field>Obtentor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Buscar_CV_Comisiones_SE.ERPvs__Cliente__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CV_Comisiones_SE__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Fecha__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>fechaDesdeCVComSE</elementReference>
            </value>
        </filters>
        <filters>
            <field>Fecha__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>fechaHastaCVComSE</elementReference>
            </value>
        </filters>
        <filters>
            <field>MOV_Remesa_SE__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Movimientos__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CV_Comisiones_SE__c</queriedFields>
        <queriedFields>BI_Comision__c</queriedFields>
        <queriedFields>Comision_ArPOV__c</queriedFields>
        <queriedFields>Porcentaje_Comision_ArPOV__c</queriedFields>
        <queriedFields>Total_HTs__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Buscar_Productos_SE</name>
        <label>Buscar Productos SE</label>
        <locationX>50</locationX>
        <locationY>1070</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Por_cada_producto_SE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>SE</stringValue>
            </value>
        </filters>
        <filters>
            <field>ERPvs__Familia__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a244R000003LtXt</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ERPvs__Producto__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Buscar_CV_Comisiones_SE</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Call_CV_Asigna_CV_Comisiones_SE_a_MOV_SE_Flow</name>
        <label>Call CV.Asigna CV Comisiones SE a MOV SE (Flow)</label>
        <locationX>50</locationX>
        <locationY>1742</locationY>
        <flowName>CV_Asigna_CV_Comisiones_SE_a_MOV_SE_Flow</flowName>
        <inputAssignments>
            <name>idCV</name>
            <value>
                <elementReference>idCV</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>biComisionCanal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>biComisionDirecta</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>comisionCanal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>comisionDirecta</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>HTsCanal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>HTsDirecta</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>idCV</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>porcComisionCanal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>5</scale>
        <value>
            <numberValue>0.0425</numberValue>
        </value>
    </variables>
    <variables>
        <name>porcComisionDirecta</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>5</scale>
        <value>
            <numberValue>0.085</numberValue>
        </value>
    </variables>
</Flow>
