force-app/main/default/flows/DestinatarioCesionTN_Cambiar_Tiene_TNs_Pendientes_a_False.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Asignar_la_variedad_a_la_lista</name>
        <label>Asignar la variedad a la lista</label>
        <locationX>336</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>varListaVariedades</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Recorrer_las_lineas_de_cesion_TN.Variedad__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorrer_las_lineas_de_cesion_TN</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Contar_las_TNs_pendientes</name>
        <label>Contar las TNs pendientes</label>
        <locationX>50</locationX>
        <locationY>984</locationY>
        <assignmentItems>
            <assignToReference>varCantidadTNsPendientes</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Buscar_TNs_pendientes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Existen_TNs_Pendientes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Contar_las_variedades</name>
        <label>Contar las variedades</label>
        <locationX>248</locationX>
        <locationY>660</locationY>
        <assignmentItems>
            <assignToReference>varCantidadVariedad</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>varListaVariedades</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Hay_variedades</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Existen_TNs_Pendientes</name>
        <label>Existen TNs Pendientes?</label>
        <locationX>50</locationX>
        <locationY>1092</locationY>
        <defaultConnector>
            <targetReference>Actualizar_Tiene_TNs_Pendientes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Todas Cobradas</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCantidadTNsPendientes</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Hay_variedades</name>
        <label>Hay variedades?</label>
        <locationX>248</locationX>
        <locationY>768</locationY>
        <defaultConnectorLabel>No hay</defaultConnectorLabel>
        <rules>
            <name>Si_hay</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCantidadVariedad</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Buscar_TNs_pendientes</targetReference>
            </connector>
            <label>Si hay</label>
        </rules>
    </decisions>
    <description>Diariamente, para cada Destinatario Cesión TN con TIene TNs Pendientes = True se buscan TNs Pendientes para la cuenta cedente y cultivo, para las variedades que se incluyen para el Destinatario.
Si no existen --&gt; se cambia a TIene TNs Pendientes = False.</description>
    <environments>Default</environments>
    <interviewLabel>DestinatarioCesionTN - Cambiar Tiene TNs Pendientes a False {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DestinatarioCesionTN - Cambiar Tiene TNs Pendientes a False</label>
    <loops>
        <name>Recorrer_las_lineas_de_cesion_TN</name>
        <label>Recorrer las líneas de cesión TN</label>
        <locationX>248</locationX>
        <locationY>360</locationY>
        <collectionReference>Buscar_Variedades_del_Destinatario_Cesion_TN</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Asignar_la_variedad_a_la_lista</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Contar_las_variedades</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Para la cuenta cedente y cultivo de la cesión TN.</description>
        <name>Buscar_TNs_pendientes</name>
        <label>Buscar TNs pendientes</label>
        <locationX>50</locationX>
        <locationY>876</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contar_las_TNs_pendientes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Etapa__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pendiente</stringValue>
            </value>
        </filters>
        <filters>
            <field>Productor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Cesion_HT__r.Cuenta_Cedente__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Cultivo__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Cesion_HT__r.Cultivo__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Variedad__c</field>
            <operator>In</operator>
            <value>
                <elementReference>varListaVariedades</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Tonelada__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Buscar_Variedades_del_Destinatario_Cesion_TN</name>
        <label>Buscar Variedades del Destinatario Cesion TN</label>
        <locationX>248</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recorrer_las_lineas_de_cesion_TN</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Destinatario_Cesion_HT__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Linea_Cesion_HT__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_Tiene_TNs_Pendientes</name>
        <label>Actualizar Tiene TNs Pendientes</label>
        <locationX>182</locationX>
        <locationY>1200</locationY>
        <inputAssignments>
            <field>Tiene_TNs_Pendientes__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Buscar_Variedades_del_Destinatario_Cesion_TN</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Tiene_TNs_Pendientes__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Destinatario_Cesion_HT__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-03-18</startDate>
            <startTime>23:45:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varCantidadTNsPendientes</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varCantidadVariedad</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varListaVariedades</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
