force-app/main/default/flows/Ensayo_Validar_Red_Propia_Licencia_de_red.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Agregar_productor_a_lista</name>
        <label>Agregar productor a lista</label>
        <locationX>440</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>varListaProdRedPropiaOK</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Sacar_los_productores_repetidos.Productor__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignar_Productor_Anterior</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Productor_Anterior</name>
        <label>Asignar Productor Anterior</label>
        <locationX>352</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>varProdAnterior</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sacar_los_productores_repetidos.Productor__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sacar_los_productores_repetidos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Inicializar_variables</name>
        <label>Inicializar variables</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>varListaProdRedPropiaOK</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varProdAnterior</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Buscar_Ensayos_de_Red_Propia</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Ordenar_los_ensayos_de_Red_Propia</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Ordenar los ensayos de Red Propia</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Buscar_Ensayos_de_Red_Propia</collectionReference>
        <connector>
            <targetReference>Sacar_los_productores_repetidos</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Productor__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>Matchea_Productor_Red_Propia</name>
        <label>Matchea Productor Red Propia?</label>
        <locationX>352</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Agregar_productor_a_lista</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Matchea</defaultConnectorLabel>
        <rules>
            <name>Matchea</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sacar_los_productores_repetidos.Productor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varProdAnterior</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Productor_Anterior</targetReference>
            </connector>
            <label>Matchea</label>
        </rules>
    </decisions>
    <description>Dada una lista de productores, valida si todos sus ensayos de Red Propia tienen licencia de red aprobada.
Devuelve una lista de productores OK.</description>
    <environments>Default</environments>
    <interviewLabel>Ensayo - Validar Red Propia - Licencia de red {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Ensayo - Validar Red Propia - Licencia de red</label>
    <loops>
        <name>Sacar_los_productores_repetidos</name>
        <label>Sacar los productores repetidos</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <collectionReference>Buscar_Ensayos_de_Red_Propia</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Matchea_Productor_Red_Propia</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Se buscan los ensayos del Param ensayos con tipo red = Propia, con Biotecnología = Enlist E3 o Conkesta E3 y con licencia de red aprobada.</description>
        <name>Buscar_Ensayos_de_Red_Propia</name>
        <label>Buscar Ensayos de Red Propia</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Ordenar_los_ensayos_de_Red_Propia</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4) AND 5 AND 6</filterLogic>
        <filters>
            <field>Parametro_Ensayos__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varIdParamEnsayo</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tipo_Red__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Propia</stringValue>
            </value>
        </filters>
        <filters>
            <field>Biotecnologia__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Enlist E3</stringValue>
            </value>
        </filters>
        <filters>
            <field>Biotecnologia__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Conkesta E3</stringValue>
            </value>
        </filters>
        <filters>
            <field>Estado_Licencia_Red__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Aprobada</stringValue>
            </value>
        </filters>
        <filters>
            <field>Productor__c</field>
            <operator>In</operator>
            <value>
                <elementReference>varProductoresRP</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Ensayo__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Inicializar_variables</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varIdParamEnsayo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Es la lista de productores con licencia aprobada de la red propia.</description>
        <name>varListaProdRedPropiaOK</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varProdAnterior</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Son los productores con ensayos de redes propias.</description>
        <name>varProductoresRP</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
