force-app/main/default/flows/Ensayo_Validar_Red_Propia_Ventas_CRM.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Como todas las ventas CRM tienen licencia aprobada --&gt; devuelve la lista de productores original</description>
        <name>Agregar_los_productores_con_Ventas_CRM</name>
        <label>Agregar los productores con Ventas CRM</label>
        <locationX>842</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>varListaProdRPOK</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varProductoresVta</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Agregar_Productor_Destinatario_a_lista</name>
        <label>Agregar Productor Destinatario a lista</label>
        <locationX>842</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>varListaProdDest</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Recorrer_las_Ventas_CRM_Destin.Destinatario__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignar_Prod_Destinatario_anterior</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Agregar_Productor_Originante_a_lista</name>
        <label>Agregar Productor Originante a lista</label>
        <locationX>314</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>varListaProdOrig</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Recorrer_las_Ventas_CRM_Orig.Originante__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignar_Prod_Originante_anterior</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Prod_Destinatario_anterior</name>
        <label>Asignar Prod Destinatario anterior</label>
        <locationX>754</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>varProdDestAnterior</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_las_Ventas_CRM_Destin.Destinatario__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorrer_las_Ventas_CRM_Destin</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Prod_Originante_anterior</name>
        <label>Asignar Prod Originante anterior</label>
        <locationX>226</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>varProdOrigAnterior</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_las_Ventas_CRM_Orig.Originante__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorrer_las_Ventas_CRM_Orig</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Ventas_CRM_sin_licencia_aprobada</name>
        <label>Asignar Ventas CRM sin licencia aprobada</label>
        <locationX>446</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>varVentasCRM</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_Ventas_CRM_sin_licencia_Originante</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contar_Ventas_CRM_encontradas</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Ventas_CRM_sin_licencia_aprobada1</name>
        <label>Asignar Ventas CRM sin licencia aprobada</label>
        <locationX>710</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>varVentasCRM</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_Ventas_CRM_sin_licencia_Destinatario</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contar_Ventas_CRM_encontradas</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Contar_Ventas_CRM_encontradas</name>
        <label>Contar Ventas CRM encontradas</label>
        <locationX>578</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>varCantidadVentasCRM</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>varVentasCRM</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Hay_Ventas_CRM_creadas_para_los_productores</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Inicializar_variables</name>
        <label>Inicializar variables</label>
        <locationX>578</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>varListaProdDest</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varListaProdOrig</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varListaProdRPOK</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varVentasCRM</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varProdDestAnterior</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varProdOrigAnterior</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Originante_o_Destinatario</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>De la lista de productores de ensayos de Red Propia con licencia red aprobada, sacar los productores de Ventas CRM que están como Destinatarios sin licencia aprobada.</description>
        <name>Sacar_los_productores_con_Ventas_CRM_Destin</name>
        <label>Sacar los productores con Ventas CRM Destin</label>
        <locationX>578</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>varListaProdRPOK</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>varListaProdDest</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>De la lista de productores de ensayos de Red Propia con licencia red aprobada, sacar los productores de Ventas CRM que están como Originantes sin licencia aprobada.</description>
        <name>Sacar_los_productores_con_Ventas_CRM_Orig</name>
        <label>Sacar los productores con Ventas CRM Orig</label>
        <locationX>50</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>varListaProdRPOK</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>varListaProdOrig</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Es_Originante_o_Destinatario</name>
        <label>Es Originante o Destinatario?</label>
        <locationX>314</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>Recorrer_las_Ventas_CRM_Destin</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Es Destinatario</defaultConnectorLabel>
        <rules>
            <name>Es_Originante</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRolVentaCRM</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Originante</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recorrer_las_Ventas_CRM_Orig</targetReference>
            </connector>
            <label>Es Originante</label>
        </rules>
    </decisions>
    <decisions>
        <name>Hay_Ventas_CRM_creadas_para_los_productores</name>
        <label>Hay Ventas CRM creadas para los productores?</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Agregar_los_productores_con_Ventas_CRM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No hay Ventas CRM</defaultConnectorLabel>
        <rules>
            <name>Hay_Ventas_CRM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCantidadVentasCRM</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Es_Originante_o_Destinatario</targetReference>
            </connector>
            <label>Hay Ventas CRM</label>
        </rules>
    </decisions>
    <decisions>
        <name>Matchea_Productor_Destinatario</name>
        <label>Matchea Productor Destinatario</label>
        <locationX>754</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>Agregar_Productor_Destinatario_a_lista</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Matchea</defaultConnectorLabel>
        <rules>
            <name>Matchea3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recorrer_las_Ventas_CRM_Destin.Destinatario__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varProdDestAnterior</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Prod_Destinatario_anterior</targetReference>
            </connector>
            <label>Matchea</label>
        </rules>
    </decisions>
    <decisions>
        <name>Matchea_Productor_Originante</name>
        <label>Matchea Productor Originante</label>
        <locationX>226</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>Agregar_Productor_Originante_a_lista</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Matchea</defaultConnectorLabel>
        <rules>
            <name>Matchea2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recorrer_las_Ventas_CRM_Orig.Originante__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varProdOrigAnterior</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Prod_Originante_anterior</targetReference>
            </connector>
            <label>Matchea</label>
        </rules>
    </decisions>
    <decisions>
        <name>Originante_o_Destinatario</name>
        <label>Originante o Destinatario?</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Buscar_Ventas_CRM_sin_licencia_Destinatario</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Destinatario</defaultConnectorLabel>
        <rules>
            <name>Originante</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRolVentaCRM</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Originante</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Buscar_Ventas_CRM_sin_licencia_Originante</targetReference>
            </connector>
            <label>Originante</label>
        </rules>
    </decisions>
    <description>Dada una lista de productores, valida si todas sus ventas CRM tienen licencia aprobada.
Devuelve una lista de productores OK.</description>
    <environments>Default</environments>
    <interviewLabel>Ensayo - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Ensayo - Validar Red Propia - Ventas CRM</label>
    <loops>
        <description>Se sacan los productores repetidos y se crea una lista de productores Red Propia</description>
        <name>Recorrer_las_Ventas_CRM_Destin</name>
        <label>Recorrer las Ventas CRM Destin</label>
        <locationX>578</locationX>
        <locationY>974</locationY>
        <collectionReference>varVentasCRM</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Matchea_Productor_Destinatario</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Sacar_los_productores_con_Ventas_CRM_Destin</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Se sacan los productores repetidos y se crea una lista de productores Red Propia</description>
        <name>Recorrer_las_Ventas_CRM_Orig</name>
        <label>Recorrer las Ventas CRM Orig</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <collectionReference>varVentasCRM</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Matchea_Productor_Originante</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Sacar_los_productores_con_Ventas_CRM_Orig</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Busca las ventas CRM de Sembrá Evolución sin licencia aprobada para los productores de la lista de Red Propia que son Destinatario.</description>
        <name>Buscar_Ventas_CRM_sin_licencia_Destinatario</name>
        <label>Buscar Ventas CRM sin licencia Destinatario</label>
        <locationX>710</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asignar_Ventas_CRM_sin_licencia_aprobada1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Semba_Evolucion__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Destinatario__c</field>
            <operator>In</operator>
            <value>
                <elementReference>varProductoresVta</elementReference>
            </value>
        </filters>
        <filters>
            <field>Estado_Licencia__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Aprobada</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Venta__c</object>
        <sortField>Destinatario__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Busca las ventas CRM de Sembrá Evolución sin licencia aprobada para los productores de la lista de Red Propia que son Originante.</description>
        <name>Buscar_Ventas_CRM_sin_licencia_Originante</name>
        <label>Buscar Ventas CRM sin licencia Originante</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asignar_Ventas_CRM_sin_licencia_aprobada</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Semba_Evolucion__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Originante__c</field>
            <operator>In</operator>
            <value>
                <elementReference>varProductoresVta</elementReference>
            </value>
        </filters>
        <filters>
            <field>Estado_Licencia__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Aprobada</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Venta__c</object>
        <sortField>Originante__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Inicializar_variables</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>varCantidadVentasCRM</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Es la lista de productores con licencia aprobada de la red propia y tienen alguna venta CRM sin licencia, en su rol de Destinatario.</description>
        <name>varListaProdDest</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Es la lista de productores con licencia aprobada de la red propia y tienen alguna venta CRM sin licencia, en su rol de Originante.</description>
        <name>varListaProdOrig</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Es la lista de productores de red propia con todas sus ventas CRM con licencia.</description>
        <name>varListaProdRPOK</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varProdDestAnterior</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>Se guarda el productor originante anterior.</description>
        <name>varProdOrigAnterior</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>Son los productores con ensayos de red propia con licencia de red aprobada.</description>
        <name>varProductoresVta</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Viene como parámetro si es Originante o Destinatario.</description>
        <name>varRolVentaCRM</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varVentasCRM</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Venta__c</objectType>
    </variables>
</Flow>
