force-app/main/default/flows/Ensayo_Validar_Red_de_Terceros.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Act_Ensayo_Anterior</name>
        <label>Act Ensayo Anterior</label>
        <locationX>1546</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>varEnsayoAnterior</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_los_ensayos</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorrer_los_ensayos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Actualizar_Ensayo_Anterior</name>
        <label>Actualizar Ensayo Anterior</label>
        <locationX>402</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>varEnsayoAnterior</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_los_ensayos</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Licencia_del_Ensayo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Actualizar_Ensayo_Previo</name>
        <label>Actualizar Ensayo Previo</label>
        <locationX>1062</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>varEnsayoAnterior</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_los_ensayos</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorrer_los_ensayos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Agregar_a_la_coleccion</name>
        <label>Agregar a la colección</label>
        <locationX>1414</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>varProductoresOK</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varEnsayoAnterior.Productor__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lic_Ensayo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>varProductor tiene la lista de productores con todas las licencias aprobadas con red de Terceros.</description>
        <name>Agregar_ultimo_productor_a_coleccion</name>
        <label>Agregar último productor a colección</label>
        <locationX>50</locationX>
        <locationY>1658</locationY>
        <assignmentItems>
            <assignToReference>varProductoresOK</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varEnsayoAnterior.Productor__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Asignar_Lic_No_Aprob</name>
        <label>Asignar Lic No Aprob</label>
        <locationX>974</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>varLicenciaAprobada</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_Ensayo_Previo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Licencia_No_Aprob</name>
        <label>Asignar Licencia No Aprob</label>
        <locationX>534</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>varLicenciaAprobada</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorrer_los_ensayos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_varLicenciaAprobada</name>
        <label>Asignar varLicenciaAprobada</label>
        <locationX>270</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>varLicenciaAprobada</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorrer_los_ensayos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Inicializar_variables</name>
        <label>Inicializar variables</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>varProductoresOK</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEnsayoAnterior</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLicenciaAprobada</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Buscar_Ensayos_de_Red_de_Terceros</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LicAprob</name>
        <label>LicAprob</label>
        <locationX>1414</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>varLicenciaAprobada</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Act_Ensayo_Anterior</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LicNoAprob</name>
        <label>LicNoAprob</label>
        <locationX>1678</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>varLicenciaAprobada</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Act_Ensayo_Anterior</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Ordenar_los_ensayos_de_Red_de_Terceros</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Ordenar los ensayos de Red de Terceros</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Buscar_Ensayos_de_Red_de_Terceros</collectionReference>
        <connector>
            <targetReference>Recorrer_los_ensayos</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Productor__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>Lic_del_Ensayo</name>
        <label>Lic del Ensayo?</label>
        <locationX>886</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Asignar_Lic_No_Aprob</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Licenc No Aprob</defaultConnectorLabel>
        <rules>
            <name>Licenc_Aprobada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recorrer_los_ensayos.Estado_Licencia__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aprobada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_Ensayo_Previo</targetReference>
            </connector>
            <label>Licenc Aprobada</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lic_Ensayo</name>
        <label>Lic Ensayo?</label>
        <locationX>1546</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>LicNoAprob</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Aprob</defaultConnectorLabel>
        <rules>
            <name>Aprob</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recorrer_los_ensayos.Estado_Licencia__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aprobada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LicAprob</targetReference>
            </connector>
            <label>Aprob</label>
        </rules>
    </decisions>
    <decisions>
        <name>Licencia_del_Ensayo</name>
        <label>Licencia del Ensayo?</label>
        <locationX>402</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Asignar_Licencia_No_Aprob</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Lic No Aprob</defaultConnectorLabel>
        <rules>
            <name>Lic_Aprob</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recorrer_los_ensayos.Estado_Licencia__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aprobada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_varLicenciaAprobada</targetReference>
            </connector>
            <label>Lic Aprob</label>
        </rules>
    </decisions>
    <decisions>
        <name>Matchea_productor</name>
        <label>Matchea productor?</label>
        <locationX>974</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Todas_las_licencias_aprobadas</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Matchea</defaultConnectorLabel>
        <rules>
            <name>Primero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEnsayoAnterior</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Actualizar_Ensayo_Anterior</targetReference>
            </connector>
            <label>Primero</label>
        </rules>
        <rules>
            <name>Matchea</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recorrer_los_ensayos.Productor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varEnsayoAnterior.Productor__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>varLicenciaAprobada_es_True</targetReference>
            </connector>
            <label>Matchea</label>
        </rules>
    </decisions>
    <decisions>
        <description>Al finalizar el loop, hay que procesar el último ensayo.</description>
        <name>Todas_aprobadas</name>
        <label>Todas aprobadas?</label>
        <locationX>182</locationX>
        <locationY>1550</locationY>
        <defaultConnectorLabel>No aprob</defaultConnectorLabel>
        <rules>
            <name>Si_aprob</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varLicenciaAprobada</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Agregar_ultimo_productor_a_coleccion</targetReference>
            </connector>
            <label>Si aprob</label>
        </rules>
    </decisions>
    <decisions>
        <name>Todas_las_licencias_aprobadas</name>
        <label>Todas las licencias aprobadas?</label>
        <locationX>1546</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Lic_Ensayo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varLicenciaAprobada</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Agregar_a_la_coleccion</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>varLicenciaAprobada_es_True</name>
        <label>varLicenciaAprobada es True?</label>
        <locationX>1062</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Actualizar_Ensayo_Previo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Es False</defaultConnectorLabel>
        <rules>
            <name>Es_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varLicenciaAprobada</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lic_del_Ensayo</targetReference>
            </connector>
            <label>Es True</label>
        </rules>
    </decisions>
    <description>Dada una lista de productores, valida si tiene todas las licencias aprobadas.
Devuelve una lista de productores OK.</description>
    <environments>Default</environments>
    <interviewLabel>Ensayo - Validar Red de Terceros {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Ensayo - Validar Red de Terceros</label>
    <loops>
        <name>Recorrer_los_ensayos</name>
        <label>Recorrer los ensayos</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <collectionReference>Buscar_Ensayos_de_Red_de_Terceros</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Matchea_productor</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Todas_aprobadas</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Se buscan los ensayos del Param ensayos con tipo red = De Terceros y con Biotecnología = Enlist E3 o Conkesta E3.</description>
        <name>Buscar_Ensayos_de_Red_de_Terceros</name>
        <label>Buscar Ensayos de Red de Terceros</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Ordenar_los_ensayos_de_Red_de_Terceros</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4) AND 5</filterLogic>
        <filters>
            <field>Parametro_Ensayos__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varIdParamEnsayo</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tipo_Red__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>De Terceros</stringValue>
            </value>
        </filters>
        <filters>
            <field>Biotecnologia__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Enlist E3</stringValue>
            </value>
        </filters>
        <filters>
            <field>Biotecnologia__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Conkesta E3</stringValue>
            </value>
        </filters>
        <filters>
            <field>Productor__c</field>
            <operator>In</operator>
            <value>
                <elementReference>varProductores</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Ensayo__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Inicializar_variables</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varEnsayoAnterior</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Ensayo__c</objectType>
    </variables>
    <variables>
        <name>varIdParamEnsayo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLicenciaAprobada</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Son los productores con ensayos de redes de terceros que tienen todas las licencias aprobadas de sus ensayos.</description>
        <name>varProductores</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Esta es la lista que devuelve con todos los productores con licencias aprobadas.</description>
        <name>varProductoresOK</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
