force-app/main/default/flows/Ensayo_Buscar_licencia.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Asignar_Nombre_Obtentor_Principal</name>
        <label>Asignar Nombre Obtentor Principal</label>
        <locationX>512</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>varNombrePrincipal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Obtentor__r.Parent.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Buscar_Licencia_del_ensayo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Nombre_Obtentor_Red_Principal</name>
        <label>Asignar Nombre Obtentor Red Principal</label>
        <locationX>314</locationX>
        <locationY>1355</locationY>
        <assignmentItems>
            <assignToReference>varNombrePrincipalObtentorRed</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_Obtentor_Red.Parent.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Buscar_Licencia_de_la_red_propia</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Nombre_Principal</name>
        <label>Asignar Nombre Principal</label>
        <locationX>248</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>varNombrePrincipal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Obtentor__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Buscar_Licencia_del_ensayo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Nombre_Principal_Obtentor_Red</name>
        <label>Asignar Nombre Principal Obtentor Red</label>
        <locationX>50</locationX>
        <locationY>1355</locationY>
        <assignmentItems>
            <assignToReference>varNombrePrincipalObtentorRed</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_Obtentor_Red.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Buscar_Licencia_de_la_red_propia</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Cuenta_Principal_del_Obtentor_es_Null</name>
        <label>Cuenta Principal del Obtentor es Null?</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Asignar_Nombre_Obtentor_Principal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No es Null</defaultConnectorLabel>
        <rules>
            <name>Es_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Obtentor__r.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Nombre_Principal</targetReference>
            </connector>
            <label>Es Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cuenta_Principal_del_Obtentor_Red_es_Null</name>
        <label>Cuenta Principal del Obtentor Red es Null?</label>
        <locationX>182</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>Asignar_Nombre_Obtentor_Red_Principal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No es Null</defaultConnectorLabel>
        <rules>
            <name>Es_Null1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_Obtentor_Red.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Nombre_Principal_Obtentor_Red</targetReference>
            </connector>
            <label>Es Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Es_Red_Propia</name>
        <label>Es Red Propia?</label>
        <locationX>380</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>Actualizar_licencia_Red</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>De Terceros</defaultConnectorLabel>
        <rules>
            <name>Propia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tipo_Red__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Propia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Buscar_Obtentor_Red</targetReference>
            </connector>
            <label>Propia</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_Licencia</name>
        <label>Existe Licencia?</label>
        <locationX>380</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>Actualizar_licencia</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No hay Licencia</defaultConnectorLabel>
        <rules>
            <name>Hay_Licencia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_Licencia_del_ensayo.varLicenciaId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_ensayo</targetReference>
            </connector>
            <label>Hay Licencia</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_Licencia_de_red_propia</name>
        <label>Existe Licencia de red propia?</label>
        <locationX>182</locationX>
        <locationY>1655</locationY>
        <defaultConnector>
            <targetReference>Actualizar_licencia_Red</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No hay Licencia de red</defaultConnectorLabel>
        <rules>
            <name>Hay_Licencia_de_red</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_Licencia_de_la_red_propia.varLicenciaId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_ensayo_Licencia_red</targetReference>
            </connector>
            <label>Hay Licencia de red</label>
        </rules>
    </decisions>
    <description>Se elimina el cultivo en el chequeo de existencia de licencia.
Se agrega el chequeo de licencia para la red de ensayo propia.</description>
    <environments>Default</environments>
    <interviewLabel>Ensayo - Buscar licencia {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Ensayo - Buscar licencia</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Buscar_Obtentor_Red</name>
        <label>Buscar Obtentor Red</label>
        <locationX>182</locationX>
        <locationY>1139</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cuenta_Principal_del_Obtentor_Red_es_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Obtentor_Red_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_ensayo</name>
        <label>Actualizar ensayo</label>
        <locationX>248</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>Es_Red_Propia</targetReference>
        </connector>
        <inputAssignments>
            <field>Licencia__c</field>
            <value>
                <elementReference>Buscar_Licencia_del_ensayo.varLicenciaId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_ensayo_Licencia_red</name>
        <label>Actualizar ensayo - Licencia red</label>
        <locationX>50</locationX>
        <locationY>1763</locationY>
        <inputAssignments>
            <field>Licencia_Red__c</field>
            <value>
                <elementReference>Buscar_Licencia_de_la_red_propia.varLicenciaId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_licencia</name>
        <label>Actualizar licencia</label>
        <locationX>512</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>Es_Red_Propia</targetReference>
        </connector>
        <inputAssignments>
            <field>Licencia__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_licencia_Red</name>
        <label>Actualizar licencia Red</label>
        <locationX>380</locationX>
        <locationY>2147</locationY>
        <inputAssignments>
            <field>Licencia_Red__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Cuenta_Principal_del_Obtentor_es_Null</targetReference>
        </connector>
        <object>Ensayo__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Buscar_Licencia_de_la_red_propia</name>
        <label>Buscar Licencia de la red propia</label>
        <locationX>182</locationX>
        <locationY>1547</locationY>
        <connector>
            <targetReference>Existe_Licencia_de_red_propia</targetReference>
        </connector>
        <flowName>Licencia_Validar_que_esta_aprobada</flowName>
        <inputAssignments>
            <name>varCuentaPrincipal</name>
            <value>
                <elementReference>Buscar_Obtentor_Red.ParentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varMarcaObtentorComercializa</name>
            <value>
                <elementReference>Buscar_Obtentor_Red.Nombre_Obtentor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varNombreObtentorPrincipal</name>
            <value>
                <elementReference>varNombrePrincipalObtentorRed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varObtentorComercializa</name>
            <value>
                <elementReference>Buscar_Obtentor_Red.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varProductor</name>
            <value>
                <elementReference>$Record.Productor__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varTecnologia</name>
            <value>
                <elementReference>$Record.Biotecnologia__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varTipoLicencia</name>
            <value>
                <stringValue>Productor</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Buscar_Licencia_del_ensayo</name>
        <label>Buscar Licencia del ensayo</label>
        <locationX>380</locationX>
        <locationY>623</locationY>
        <connector>
            <targetReference>Existe_Licencia</targetReference>
        </connector>
        <flowName>Licencia_Validar_que_esta_aprobada</flowName>
        <inputAssignments>
            <name>varCuentaPrincipal</name>
            <value>
                <elementReference>$Record.Obtentor__r.ParentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varMarcaObtentorComercializa</name>
            <value>
                <elementReference>$Record.Obtentor__r.Nombre_Obtentor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varNombreObtentorPrincipal</name>
            <value>
                <elementReference>varNombrePrincipal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varObtentorComercializa</name>
            <value>
                <elementReference>$Record.Obtentor__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varProductor</name>
            <value>
                <elementReference>$Record.Productor__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varTecnologia</name>
            <value>
                <elementReference>$Record.Biotecnologia__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varTipoLicencia</name>
            <value>
                <stringValue>Productor</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>varNombrePrincipal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varNombrePrincipalObtentorRed</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
