force-app/main/default/flows/Ensayo_Validar_Red_Propia_si_tienen_Ventas_CRM.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Agregar_Productor_Destinatario_a_lista</name>
        <label>Agregar Productor Destinatario a lista</label>
        <locationX>710</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>varListaProdDestinatario</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Recorrer_las_Ventas_CRM_Destin.Destinatario__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignar_Prod_Destinatario_anterior</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Agregar_Productor_Originante_a_lista</name>
        <label>Agregar Productor Originante a lista</label>
        <locationX>710</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varListaProdOriginante</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Recorrer_las_Ventas_CRM_Orig.Originante__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignar_Prod_Originante_anterior</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Ningún productor tiene Ventas CRM como originante o destinatario.</description>
        <name>Asignar_lista_de_productores_sin_ventas_CRM</name>
        <label>Asignar lista de productores sin ventas CRM</label>
        <locationX>50</locationX>
        <locationY>1874</locationY>
        <assignmentItems>
            <assignToReference>varListaProdSinVentasCRM</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varProdVentasCRM</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Si los productores tienen ventas CRM como originante o como destinatario --&gt; se asignan a varListaProdConVentasCRMOrig y varListaProdConVentasCRMDest.</description>
        <name>Asignar_lista_productores_con_Ventas_CRM</name>
        <label>Asignar lista productores con Ventas CRM</label>
        <locationX>842</locationX>
        <locationY>1874</locationY>
        <assignmentItems>
            <assignToReference>varListaProdConVentasCRMOrig</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varListaProdOriginante</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varListaProdConVentasCRMDest</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varListaProdDestinatario</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Asignar_Prod_Destinatario_anterior</name>
        <label>Asignar Prod Destinatario anterior</label>
        <locationX>622</locationX>
        <locationY>1466</locationY>
        <assignmentItems>
            <assignToReference>varProdDestAnt</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_las_Ventas_CRM_Destin.Destinatario__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorrer_las_Ventas_CRM_Destin</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Prod_Originante_anterior</name>
        <label>Asignar Prod Originante anterior</label>
        <locationX>622</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>varProdOrigAnt</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_las_Ventas_CRM_Orig.Originante__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorrer_las_Ventas_CRM_Orig</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Contar_productores_de_las_listas</name>
        <label>Contar productores de las listas</label>
        <locationX>446</locationX>
        <locationY>1658</locationY>
        <assignmentItems>
            <assignToReference>varCantidadProdOriginante</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>varListaProdOriginante</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCantidadProdDestinatario</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>varListaProdDestinatario</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Hay_Ventas_CRM_creadas_para_los_productores</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Inicializar_variables</name>
        <label>Inicializar variables</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>varListaProdConVentasCRMDest</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varListaProdConVentasCRMOrig</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varListaProdDestinatario</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varListaProdOriginante</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varListaProdSinVentasCRM</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varProdDestAnt</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varProdOrigAnt</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Buscar_Ventas_CRM_Originante</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>De la lista de productores de ensayos de Red Propia con licencia red aprobada, sacar los productores de Ventas CRM que están como Destinatarios --&gt; son los productores de Red Propia con licencia red aprobada sin Ventas CRM varListaProdSinVentasCRM.
varListaProdConVentasCRMDest --&gt; son los productores con ventas CRM como destinatario.</description>
        <name>Sacar_los_productores_con_Ventas_CRM_Destin</name>
        <label>Sacar los productores con Ventas CRM Destin</label>
        <locationX>578</locationX>
        <locationY>1874</locationY>
        <assignmentItems>
            <assignToReference>varListaProdSinVentasCRM</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varProdVentasCRM</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varListaProdSinVentasCRM</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>varListaProdDestinatario</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varListaProdConVentasCRMDest</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varListaProdDestinatario</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>De la lista de productores de ensayos de Red Propia con licencia red aprobada, sacar los productores de Ventas CRM que están como Originantes --&gt; son los productores de Red Propia con licencia red aprobada sin Ventas CRM varListaProdSinVentasCRM.
varListaProdConVentasCRMOrig --&gt; son los productores con ventas CRM como originante.</description>
        <name>Sacar_los_productores_con_Ventas_CRM_Orig</name>
        <label>Sacar los productores con Ventas CRM Orig</label>
        <locationX>314</locationX>
        <locationY>1874</locationY>
        <assignmentItems>
            <assignToReference>varListaProdSinVentasCRM</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varProdVentasCRM</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varListaProdSinVentasCRM</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>varListaProdOriginante</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varListaProdConVentasCRMOrig</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varListaProdOriginante</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Hay_Ventas_CRM_creadas_para_los_productores</name>
        <label>Hay Ventas CRM creadas para los productores?</label>
        <locationX>446</locationX>
        <locationY>1766</locationY>
        <defaultConnector>
            <targetReference>Asignar_lista_productores_con_Ventas_CRM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Hay Ventas CRM Orig y Dest</defaultConnectorLabel>
        <rules>
            <name>No_hay_ventas_CRM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCantidadProdOriginante</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCantidadProdDestinatario</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_lista_de_productores_sin_ventas_CRM</targetReference>
            </connector>
            <label>No hay ventas CRM</label>
        </rules>
        <rules>
            <name>Hay_Ventas_CRM_Orig</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCantidadProdOriginante</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCantidadProdDestinatario</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sacar_los_productores_con_Ventas_CRM_Orig</targetReference>
            </connector>
            <label>Hay Ventas CRM Orig</label>
        </rules>
        <rules>
            <name>Hay_Ventas_CRM_Dest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCantidadProdDestinatario</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCantidadProdOriginante</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sacar_los_productores_con_Ventas_CRM_Destin</targetReference>
            </connector>
            <label>Hay Ventas CRM Dest</label>
        </rules>
    </decisions>
    <decisions>
        <name>Matchea_Productor_Destinatario</name>
        <label>Matchea Productor Destinatario</label>
        <locationX>622</locationX>
        <locationY>1166</locationY>
        <defaultConnector>
            <targetReference>Agregar_Productor_Destinatario_a_lista</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Matchea</defaultConnectorLabel>
        <rules>
            <name>Matchea3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recorrer_las_Ventas_CRM_Destin.Destinatario__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varProdDestAnt</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Prod_Destinatario_anterior</targetReference>
            </connector>
            <label>Matchea</label>
        </rules>
    </decisions>
    <decisions>
        <name>Matchea_Productor_Originante</name>
        <label>Matchea Productor Originante</label>
        <locationX>622</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Agregar_Productor_Originante_a_lista</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Matchea</defaultConnectorLabel>
        <rules>
            <name>Matchea2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recorrer_las_Ventas_CRM_Orig.Originante__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varProdOrigAnt</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Prod_Originante_anterior</targetReference>
            </connector>
            <label>Matchea</label>
        </rules>
    </decisions>
    <description>Dada una lista de productores, verifica si tienen ventas CRM.
Devuelve una lista de productores con Ventas CRM y una lista de productores sin Ventas CRM.</description>
    <environments>Default</environments>
    <interviewLabel>Ensayo - Validar Red Propia si tienen Ventas CRM {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Ensayo - Validar Red Propia si tienen Ventas CRM</label>
    <loops>
        <description>Se sacan los productores repetidos y se crea una lista de productores Red Propia</description>
        <name>Recorrer_las_Ventas_CRM_Destin</name>
        <label>Recorrer las Ventas CRM Destin</label>
        <locationX>446</locationX>
        <locationY>1058</locationY>
        <collectionReference>Buscar_Ventas_CRM_Destinatario</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Matchea_Productor_Destinatario</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Contar_productores_de_las_listas</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Se sacan los productores repetidos y se crea una lista de productores Red Propia con role Originante.</description>
        <name>Recorrer_las_Ventas_CRM_Orig</name>
        <label>Recorrer las Ventas CRM Orig</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <collectionReference>Buscar_Ventas_CRM_Originante</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Matchea_Productor_Originante</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Buscar_Ventas_CRM_Destinatario</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Busca las ventas CRM de Sembrá Evolución para los productores de la lista de Red Propia que son Destinatario.</description>
        <name>Buscar_Ventas_CRM_Destinatario</name>
        <label>Buscar Ventas CRM Destinatario</label>
        <locationX>446</locationX>
        <locationY>950</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recorrer_las_Ventas_CRM_Destin</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Semba_Evolucion__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Destinatario__c</field>
            <operator>In</operator>
            <value>
                <elementReference>varProdVentasCRM</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Venta__c</object>
        <sortField>Destinatario__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Busca las ventas CRM de Sembrá Evolución para los productores de la lista de Red Propia que son Originante.</description>
        <name>Buscar_Ventas_CRM_Originante</name>
        <label>Buscar Ventas CRM Originante</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recorrer_las_Ventas_CRM_Orig</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Semba_Evolucion__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Originante__c</field>
            <operator>In</operator>
            <value>
                <elementReference>varProdVentasCRM</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Venta__c</object>
        <sortField>Originante__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Inicializar_variables</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>varCantidadProdDestinatario</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varCantidadProdOriginante</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Es la lista de productores de red propia con ventas CRM Destinatario.</description>
        <name>varListaProdConVentasCRMDest</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Es la lista de productores de red propia con ventas CRM Originante.</description>
        <name>varListaProdConVentasCRMOrig</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Es la lista de productores con licencia aprobada de la red propia y tienen alguna venta CRM sin licencia, en su rol de Destinatario.</description>
        <name>varListaProdDestinatario</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Es la lista de productores con licencia aprobada de la red propia y tienen alguna venta CRM sin licencia, en su rol de Originante.</description>
        <name>varListaProdOriginante</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varListaProdSinVentasCRM</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varProdDestAnt</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>Se guarda el productor originante anterior.</description>
        <name>varProdOrigAnt</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>Son los productores con ensayos de red propia con licencia de red aprobada.</description>
        <name>varProdVentasCRM</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
