force-app/main/default/flows/ERPMovFondo_Cambiar_estado_de_lineas_de_oportunidad_a_Pagada.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Asignar_el_ID_de_la_linea_de_opp_del_producto_CV</name>
        <label>Asignar el ID de la línea de opp del producto CV</label>
        <locationX>138</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>varLineaOpp.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_los_producto_CV_asociados.OpportunityLineItem__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignar_el_registro_a_la_variable_coleccion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_el_registro_a_la_variable_coleccion</name>
        <label>Asignar el registro a la variable colección</label>
        <locationX>138</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>varIDsLineasOpp</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varLineaOpp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorrer_los_producto_CV_asociados</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_la_linea_de_opp_a_la_variable_de_coleccion_0</name>
        <label>Asignar la línea de opp a la variable de colección</label>
        <locationX>138</locationX>
        <locationY>1679</locationY>
        <assignmentItems>
            <assignToReference>varLineasOportunidad</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Recorrer_las_lineas_de_oportunidad_encontradas</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorrer_las_lineas_de_oportunidad_encontradas</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_la_opp_SE_a_la_coleccion</name>
        <label>Asignar la opp SE a la colección</label>
        <locationX>138</locationX>
        <locationY>2303</locationY>
        <assignmentItems>
            <assignToReference>varOppsSE</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Recorrer_las_Opps</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorrer_las_Opps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Cambiar_estado_a_la_Opp</name>
        <label>Cambiar estado a la Opp</label>
        <locationX>138</locationX>
        <locationY>2195</locationY>
        <assignmentItems>
            <assignToReference>Recorrer_las_Opps.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pagada</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignar_la_opp_SE_a_la_coleccion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Cambiar_estado_a_Pagada_a_la_linea_de_oportunidad</name>
        <label>Cambiar estado a Pagada a la línea de oportunidad</label>
        <locationX>138</locationX>
        <locationY>1571</locationY>
        <assignmentItems>
            <assignToReference>Recorrer_las_lineas_de_oportunidad_encontradas.Estado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pagada</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignar_la_linea_de_opp_a_la_variable_de_coleccion_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Guardar_las_Opps</name>
        <label>Guardar las Opps</label>
        <locationX>270</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varOpps</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Recorrer_los_documentos_afectados.ERPvs__Vencimientos__r.ERPvs__Comprobante_Venta__r.Oportunidad__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorrer_los_documentos_afectados</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Guardar_los_CVs</name>
        <label>Guardar los CVs</label>
        <locationX>270</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>varCVs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Recorrer_los_documentos_afectados.ERPvs__Vencimientos__r.ERPvs__Comprobante_Venta__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Guardar_las_Opps</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Hay_producto_CV_asociados</name>
        <label>Hay producto CV asociados?</label>
        <locationX>182</locationX>
        <locationY>947</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_los_producto_CV_con_CV_asociado_al_vencimiento</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recorrer_los_producto_CV_asociados</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <description>Cada vez que un movimiento de fondo se crea o modifica y cumple estas condiciones: 
1) Forzar_HTs__c = True
2) ERPvs__Estado__c = &quot;NO CONTABILIZADO&quot;
se cambia a pagada las líneas de oportunidad asociadas. 
El Stage de la oportunidad se cambia a Pagada.</description>
    <environments>Default</environments>
    <interviewLabel>ERPMovFondo - Cambiar estado de líneas de oportunidad a Pagada {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ERPMovFondo - Cambiar estado de líneas de oportunidad a Pagada</label>
    <loops>
        <name>Recorrer_las_lineas_de_oportunidad_encontradas</name>
        <label>Recorrer las líneas de oportunidad encontradas</label>
        <locationX>50</locationX>
        <locationY>1463</locationY>
        <collectionReference>varIDsLineasOpp</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Cambiar_estado_a_Pagada_a_la_linea_de_oportunidad</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Actualizar_estado_a_Pagada_de_las_lineas_de_oportunidad_asociadas</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Recorrer_las_Opps</name>
        <label>Recorrer las Opps</label>
        <locationX>50</locationX>
        <locationY>2087</locationY>
        <collectionReference>Buscar_las_Opps</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Cambiar_estado_a_la_Opp</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Actualizar_a_Pagada_las_oportunidades</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Recorrer_los_documentos_afectados</name>
        <label>Recorrer los documentos afectados</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <collectionReference>Buscar_Documentos_afectados</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Guardar_los_CVs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Buscar_los_producto_CV_con_CV_asociado_al_vencimiento</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Recorrer_los_producto_CV_asociados</name>
        <label>Recorrer los producto CV asociados</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <collectionReference>Buscar_los_producto_CV_con_CV_asociado_al_vencimiento</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Asignar_el_ID_de_la_linea_de_opp_del_producto_CV</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Recorrer_las_lineas_de_oportunidad_encontradas</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Buscar_Documentos_afectados</name>
        <label>Buscar Documentos afectados</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recorrer_los_documentos_afectados</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ERPvs__Movimiento_de_Fondo__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Moneda__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>ARS</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ERPvs__Documento_Afectado__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Buscar_las_Opps</name>
        <label>Buscar las Opps</label>
        <locationX>50</locationX>
        <locationY>1979</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recorrer_las_Opps</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>varOpps</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>StageName</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Buscar_los_producto_CV_con_CV_asociado_al_vencimiento</name>
        <label>Buscar los producto CV  con CV asociado al vencimiento</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Hay_producto_CV_asociados</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ERPvs__Comprobante__c</field>
            <operator>In</operator>
            <value>
                <elementReference>varCVs</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ERPvs__Productos_Comprobante_de_Venta__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_a_Pagada_las_oportunidades</name>
        <label>Actualizar a Pagada las oportunidades</label>
        <locationX>50</locationX>
        <locationY>2495</locationY>
        <inputReference>varOppsSE</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_estado_a_Pagada_de_las_lineas_de_oportunidad_asociadas</name>
        <label>Actualizar estado a Pagada de las líneas de oportunidad asociadas</label>
        <locationX>50</locationX>
        <locationY>1871</locationY>
        <connector>
            <targetReference>Buscar_las_Opps</targetReference>
        </connector>
        <inputReference>varLineasOportunidad</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Buscar_Documentos_afectados</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Forzar_HTs__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ERPvs__Estado__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NO CONTABILIZADO</stringValue>
            </value>
        </filters>
        <object>ERPvs__Movimiento_Fondo__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varCVs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEstadoOpp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varIdCV</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varIDOpp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varIDsLineasOpp</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>varLineaOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>varLineasOportunidad</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>varOpps</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOppsSE</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
