force-app/main/default/flows/Es_Feriado.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Es_un_Feriado</name>
        <label>Es un Feriado</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>varFeriado</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Es_Feriado</name>
        <label>Es Feriado?</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_Feriado.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Es_un_Feriado</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <description>Dada una fecha, se verifica si es feriado. Devuelve True o False</description>
    <environments>Default</environments>
    <formulas>
        <name>forDiaFecha</name>
        <dataType>Number</dataType>
        <expression>DAY({!varFecha})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>forMesFecha</name>
        <dataType>String</dataType>
        <expression>CASE(MONTH({!varFecha}), 1, &apos;January&apos;, 2, &apos;February&apos;, 3, &apos;March&apos;, 4, &apos;April&apos;, 5, &apos;May&apos;, 6, &apos;June&apos;, 7, &apos;July&apos;, 8, &apos;August&apos;,
9, &apos;September&apos;, 10, &apos;October&apos;, 11, &apos;November&apos;, &apos;December&apos;)</expression>
    </formulas>
    <interviewLabel>Es Feriado? {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Es Feriado?</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Buscar_Feriado</name>
        <label>Buscar Feriado</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Es_Feriado</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR (3 AND 4 AND 5)</filterLogic>
        <filters>
            <field>ActivityDate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varFecha</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsRecurrence</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsRecurrence</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecurrenceDayOfMonth</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>forDiaFecha</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecurrenceMonthOfYear</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>forMesFecha</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Holiday</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Buscar_Feriado</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varFecha</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFeriado</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
