force-app/main/default/flows/Evaluar_Usuario_Enlist.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Titular_Original_Asignacion</name>
        <label>Titular_Original</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Titular_Original</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CUIT</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Evaluar_Usuario</name>
        <label>Evaluar Usuario</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Usuario_Enlist_Remitente</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Remitente</defaultConnectorLabel>
        <rules>
            <name>Titular</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MovimientoBT.CUIT_Titular__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Usuario_Enlist</targetReference>
            </connector>
            <label>Titular</label>
        </rules>
    </decisions>
    <description>Flow que recibe MBT y retorna si el usuario es usuario Enlist</description>
    <environments>Default</environments>
    <interviewLabel>Evaluar Usuario Enlist {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Evaluar Usuario Enlist</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Usuario_Enlist</name>
        <label>Usuario Enlist</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Titular_Original_Asignacion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>N_CUIT__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MovimientoBT.CUIT_Titular__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>CUIT</assignToReference>
            <field>N_CUIT__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>UsuarioEnlist</assignToReference>
            <field>Usuario_Enlist__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Usuario_Enlist_Remitente</name>
        <label>Usuario Enlist Remitente</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>N_CUIT__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MovimientoBT.Cuit_Remitente_Comercial__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>CUIT</assignToReference>
            <field>N_CUIT__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>UsuarioEnlist</assignToReference>
            <field>Usuario_Enlist__c</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Evaluar_Usuario</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CUIT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MovimientoBT</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Movimiento_BolsaTech__c</objectType>
    </variables>
    <variables>
        <name>Titular_Original</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UsuarioEnlist</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
