force-app/main/default/flows/ExpDeNeg_Facturar_Regal_a_Enlist.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Asignar_FC_RE3</name>
        <label>Asignar FC RE3</label>
        <locationX>50</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>varFCRE3</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_FC_RE3.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_expediente</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_FC_Reg_E3</name>
        <label>Asignar FC Reg E3</label>
        <locationX>314</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>varFCRE3</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Crear_FC_RE3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_expediente</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_TN_Reg_Enlist</name>
        <label>Asignar TN Reg Enlist</label>
        <locationX>314</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>varTNRegaliaEnlist</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Crear_TNs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Buscar_FC_RE3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_TN_Regalia_Enlist</name>
        <label>Asignar TN Regalía Enlist</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>varTNRegaliaEnlist</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_TN_para_el_expediente.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Buscar_FC_RE3</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Es_Continuar</name>
        <label>Es Continuar?</label>
        <locationX>1056</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Cancelar</defaultConnectorLabel>
        <rules>
            <name>Continuar</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varBotonContinuar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Expediente_ya_esta_facturado</targetReference>
            </connector>
            <label>Continuar</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_FC_RE3</name>
        <label>Existe FC RE3?</label>
        <locationX>182</locationX>
        <locationY>1406</locationY>
        <defaultConnector>
            <targetReference>Crear_FC_RE3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No hay FC RE3</defaultConnectorLabel>
        <rules>
            <name>Hay_FC_RE3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_FC_RE3.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_FC_RE3</targetReference>
            </connector>
            <label>Hay FC RE3</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_TN</name>
        <label>Existe TN?</label>
        <locationX>182</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Crear_TNs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No hay TN</defaultConnectorLabel>
        <rules>
            <name>Hay_TN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_TN_para_el_expediente.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_TN_Regalia_Enlist</targetReference>
            </connector>
            <label>Hay TN</label>
        </rules>
    </decisions>
    <decisions>
        <name>Expediente_ya_esta_facturado</name>
        <label>Expediente ya está facturado?</label>
        <locationX>743</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Otro</defaultConnectorLabel>
        <rules>
            <name>No_esta_Facturado_ni_Cerrado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_Expediente.Etapa__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Facturar Regalía E3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Buscar_Expediente.TNRE3_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Buscar_Cultivo_SOJA</targetReference>
            </connector>
            <label>No está Facturado ni Cerrado</label>
        </rules>
        <rules>
            <name>Facturado_RE3</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_Expediente.Etapa__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Facturar Regalía E3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Buscar_Expediente.TNRE3_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>YaFacturado</targetReference>
            </connector>
            <label>Facturado RE3</label>
        </rules>
    </decisions>
    <decisions>
        <name>Saldo_de_la_cuenta_es_Negativo</name>
        <label>Saldo de la cuenta es Negativo?</label>
        <locationX>380</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>EsPositivo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No es Negativo</defaultConnectorLabel>
        <rules>
            <name>Es_Negativo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_Expediente.Saldo_CG__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Buscar_TN_para_el_expediente</targetReference>
            </connector>
            <label>Es Negativo</label>
        </rules>
    </decisions>
    <description>La etapa cambia a Facturar Regalía E3 --&gt; se crea la TN asociada y la TN RE3 para el expediente de Negativos, si no existen.
Se cambia a: la acción cambia a Facturar Regalía E3 --&gt; se crea la TN asociada con origen = Regalía Enlist y la FC RE3 para el expediente de Negativos, si no existen. Se cambia el estado a Finalizado.
Se agrega pop-up para ver si está seguro de facturar.
Cuando se crea la factura RE3, se crea con etapa = A Facturar.
Se agrega el Id de la FC RE3 a la TN de origen = Regalía Enlist, de tipo movim = C para el expediente de negativos del productor
Se agrega que al crear la TN con origen = Regalía Enlist --&gt; Etapa = Facturada (en lugar de Cobrada)</description>
    <environments>Default</environments>
    <formulas>
        <name>forCantidadTN</name>
        <dataType>Number</dataType>
        <expression>{!Buscar_Expediente.Saldo_CG__c} * (-1)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>Fecha Vto TN con año actual + 1, si Fecha Vto TN &lt;= HOY &lt;= 31/12/año_actual, o bien
Fecha Vto TN, si 01/01/año_actual &lt;= HOY &lt; Fecha Vto TN</description>
        <name>forFechaFin</name>
        <dataType>Date</dataType>
        <expression>IF((DATE(YEAR(TODAY()), 01, 01) &lt;= TODAY() ) &amp;&amp; (TODAY() &lt; {!forFechaVtoTN} ), 
     {!forFechaVtoTN}, DATE(YEAR(TODAY()) + 1, MONTH({!forFechaVtoTN}), DAY({!forFechaVtoTN}) ))</expression>
    </formulas>
    <formulas>
        <name>forFechaVtoTN</name>
        <dataType>Date</dataType>
        <expression>{!Buscar_Cultivo_SOJA.Fecha_Vencimiento_de_Tonelada__c}</expression>
    </formulas>
    <interviewLabel>ExpDeNeg - Facturar Regalía Enlist {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ExpDeNeg - Facturar Regalía Enlist</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Crear_FC_RE3</name>
        <label>Crear FC RE3</label>
        <locationX>314</locationX>
        <locationY>1514</locationY>
        <connector>
            <targetReference>Asignar_FC_Reg_E3</targetReference>
        </connector>
        <inputAssignments>
            <field>Biotecnologia__c</field>
            <value>
                <stringValue>Enlist</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cantidad__c</field>
            <value>
                <elementReference>forCantidadTN</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cultivo__c</field>
            <value>
                <elementReference>Buscar_Cultivo_SOJA.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Etapa__c</field>
            <value>
                <stringValue>A Facturar</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expediente_de_Negativos__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>N_CUIT__c</field>
            <value>
                <elementReference>Buscar_Expediente.Cuenta__r.N_CUIT__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Obtentor__c</field>
            <value>
                <elementReference>$Setup.Sembra_Evolucion__c.Corteva_30_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Productor__c</field>
            <value>
                <elementReference>Buscar_Expediente.Cuenta__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>TN_Regalia_Enlist__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Crear_TNs</name>
        <label>Crear TNs</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Asignar_TN_Reg_Enlist</targetReference>
        </connector>
        <inputAssignments>
            <field>Biotecnologia__c</field>
            <value>
                <stringValue>Enlist E3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campania__c</field>
            <value>
                <elementReference>Buscar_Expediente.Campania__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cantidad__c</field>
            <value>
                <elementReference>forCantidadTN</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cultivo__c</field>
            <value>
                <elementReference>Buscar_Cultivo_SOJA.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Etapa__c</field>
            <value>
                <stringValue>Facturada</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expediente_de_Negativos__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_Fin_Original__c</field>
            <value>
                <elementReference>forFechaFin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_Fin__c</field>
            <value>
                <elementReference>forFechaFin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_Inicio__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>N_CUIT__c</field>
            <value>
                <elementReference>Buscar_Expediente.Cuenta__r.N_CUIT__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origen__c</field>
            <value>
                <stringValue>Regalía Enlist</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Productor__c</field>
            <value>
                <elementReference>Buscar_Expediente.Cuenta__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Signo__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_Movimiento__c</field>
            <value>
                <stringValue>C</stringValue>
            </value>
        </inputAssignments>
        <object>Tonelada__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Buscar_Cultivo_SOJA</name>
        <label>Buscar Cultivo SOJA</label>
        <locationX>380</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Saldo_de_la_cuenta_es_Negativo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SOJA</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cultivo__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Buscar_Expediente</name>
        <label>Buscar Expediente</label>
        <locationX>1056</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EstaSeguro</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Expediente_de_Negativos__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Se busca si ya existe la Factura Regalía Enlist para este expediente, para el productor del expediente.</description>
        <name>Buscar_FC_RE3</name>
        <label>Buscar FC RE3</label>
        <locationX>182</locationX>
        <locationY>1298</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_FC_RE3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Expediente_de_Negativos__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Buscar_Expediente.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Productor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Buscar_Expediente.Cuenta__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TN_Regalia_Enlist__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Se busca si ya existe la TN con origen Regalía Enlist para este expediente para el productor del expediente.</description>
        <name>Buscar_TN_para_el_expediente</name>
        <label>Buscar TN para el expediente</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_TN</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Expediente_de_Negativos__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Buscar_Expediente.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Origen__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Regalía Enlist</stringValue>
            </value>
        </filters>
        <filters>
            <field>Productor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Buscar_Expediente.Cuenta__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tipo_de_Movimiento__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>C</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Tonelada__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_expediente</name>
        <label>Actualizar expediente</label>
        <locationX>182</locationX>
        <locationY>1814</locationY>
        <connector>
            <targetReference>Actualizar_TN_Regalia_Enlist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Estado_de_la_Etapa__c</field>
            <value>
                <stringValue>Finalizado</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Etapa__c</field>
            <value>
                <stringValue>Facturar Regalía E3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_Cambio_Etapa__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Saldo_del_Expediente_al_Cierre__c</field>
            <value>
                <elementReference>Buscar_Expediente.Saldo_CG__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TNRE3_Id__c</field>
            <value>
                <elementReference>Crear_FC_RE3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ValidationBypassDateTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Expediente_de_Negativos__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_TN_Regalia_Enlist</name>
        <label>Actualizar TN Regalía Enlist</label>
        <locationX>182</locationX>
        <locationY>1922</locationY>
        <connector>
            <targetReference>Facturado</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTNRegaliaEnlist</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FT_RE3_Id__c</field>
            <value>
                <elementReference>varFCRE3</elementReference>
            </value>
        </inputAssignments>
        <object>Tonelada__c</object>
    </recordUpdates>
    <screens>
        <name>EsPositivo</name>
        <label>EsPositivo</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MsgEsPositivo</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;El expediente {!Buscar_Expediente.Name} tiene la cuenta granaria &amp;gt;= 0.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>EstaSeguro</name>
        <label>EstáSeguro</label>
        <locationX>1056</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancelar</backButtonLabel>
        <connector>
            <targetReference>Es_Continuar</targetReference>
        </connector>
        <fields>
            <name>MsgEstaSeguro</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Está seguro que desea continuar con la facturación de la Regalía Enlist? &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Esta acción no puede deshacerse.﻿&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>BotoneraCancelarContinuar</name>
            <extensionName>c:botoneraScreenFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varBotonContinuar</assignToReference>
                <name>continue</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Continuar</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Facturado</name>
        <label>Facturado</label>
        <locationX>182</locationX>
        <locationY>2030</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MsgFacturado</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Se facturaron las regalías Enlist para el expediente {!Buscar_Expediente.Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>YaFacturado</name>
        <label>YaFacturado</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MsgYaFacturado</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;El expediente {!Buscar_Expediente.Name}  ya facturó Regalía Enlist.﻿&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>930</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Buscar_Expediente</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBotonContinuar</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varFCRE3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varTNRegaliaEnlist</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
