force-app/main/default/flows/ExpDeNeg_Facturar_SEC.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Agrupar_facturas_a_crear</name>
        <label>Agrupar facturas a crear</label>
        <locationX>50</locationX>
        <locationY>2456</locationY>
        <actionName>AgruparRegaliasPorCobrador</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Crear_Facturas</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>registros</name>
            <value>
                <elementReference>FacturaInsertar</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AgruparRegaliasPorCobrador</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Asignacion_de_la_Cuenta_Cobrador</name>
        <label>Asignacion de la Cuenta Cobrador</label>
        <locationX>270</locationX>
        <locationY>1856</locationY>
        <assignmentItems>
            <assignToReference>Cobrador</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetAccounts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Titular</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AsignacionFactura</name>
        <label>AsignacionFactura</label>
        <locationX>270</locationX>
        <locationY>2264</locationY>
        <assignmentItems>
            <assignToReference>FacturaInsertar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FacturaTemp</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FacturaTemp</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>LoopMBT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Completar_Titular_Asignado</name>
        <label>Completar Titular Asignado</label>
        <locationX>138</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>TitularAsignado</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CuitTitular</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_MBT.Titular_asignado__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>LoopMBT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Completar_Titular_Original</name>
        <label>Completar Titular Original</label>
        <locationX>402</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>TitularAsignado</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CuitTitular</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_MBT.Titular_original__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorrer_MBT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Cuit_a_Evaluar</name>
        <label>Cuit a Evaluar</label>
        <locationX>402</locationX>
        <locationY>1556</locationY>
        <assignmentItems>
            <assignToReference>CuitCobrador</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopMBT.Destinatario__r.N_CUIT__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetAccounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Factura</name>
        <label>Factura</label>
        <locationX>138</locationX>
        <locationY>2072</locationY>
        <assignmentItems>
            <assignToReference>FacturaTemp.Biotecnologia__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Enlist</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FacturaTemp.Cantidad__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopMBT.Tonelada_MBT__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FacturaTemp.Cultivo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_Cultivo_SOJA.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FacturaTemp.Etapa__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>A Facturar</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FacturaTemp.Expediente_de_Negativos__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_Expediente.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FacturaTemp.N_CUIT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_Expediente.Cuenta__r.N_CUIT__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FacturaTemp.Obtentor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.Sembra_Evolucion__c.Corteva_30_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FacturaTemp.Productor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_Expediente.Cuenta__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FacturaTemp.Cobrador__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cobrador.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FacturaTemp.CTGs_Involucrados__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CTGs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FacturaTemp.Titular_asignado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CuitTitular</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FacturaTemp.CTGs_Involucrados__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopMBT.CTG__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AsignacionFactura</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Crear_Factura</name>
        <label>Factura</label>
        <locationX>402</locationX>
        <locationY>2072</locationY>
        <assignmentItems>
            <assignToReference>FacturaTemp.Biotecnologia__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Enlist</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FacturaTemp.Cantidad__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopMBT.Tonelada_MBT__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FacturaTemp.Cultivo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_Cultivo_SOJA.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FacturaTemp.Etapa__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>A Facturar</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FacturaTemp.Expediente_de_Negativos__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_Expediente.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FacturaTemp.N_CUIT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_Expediente.Cuenta__r.N_CUIT__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FacturaTemp.Obtentor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.Sembra_Evolucion__c.Corteva_30_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FacturaTemp.Productor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_Expediente.Cuenta__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FacturaTemp.Cobrador__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cobrador.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FacturaTemp.CTGs_Involucrados__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CTGs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FacturaTemp.Titular_original__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CuitTitular</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FacturaTemp.CTGs_Involucrados__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopMBT.CTG__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AsignacionFactura</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Cuit_a_Evaluar</name>
        <label>Cuit a Evaluar</label>
        <locationX>138</locationX>
        <locationY>1556</locationY>
        <assignmentItems>
            <assignToReference>CuitCobrador</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopMBT.Cuit_Remitente_Comercial__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetAccounts</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Es_Continuar</name>
        <label>Es Continuar?</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Cancelar</defaultConnectorLabel>
        <rules>
            <name>Continuar</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varBotonContinuar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Expediente_ya_esta_facturado</targetReference>
            </connector>
            <label>Continuar</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluar_Titular</name>
        <label>Evaluar Titular</label>
        <locationX>270</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Completar_Titular_Original</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Original</defaultConnectorLabel>
        <rules>
            <name>Titular_Asignado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recorrer_MBT.Titular_asignado__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Completar_Titular_Asignado</targetReference>
            </connector>
            <label>Titular Asignado</label>
        </rules>
    </decisions>
    <decisions>
        <name>Expediente_ya_esta_facturado</name>
        <label>Expediente ya está facturado?</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Otro</defaultConnectorLabel>
        <rules>
            <name>No_esta_Facturado_ni_Cerrado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_Expediente.Etapa__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Facturar Regalía E3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Buscar_Cultivo_SOJA</targetReference>
            </connector>
            <label>No está Facturado ni Cerrado</label>
        </rules>
        <rules>
            <name>Facturado_RE3</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_Expediente.Etapa__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Facturar Regalía E3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>YaFacturado</targetReference>
            </connector>
            <label>Facturado RE3</label>
        </rules>
    </decisions>
    <decisions>
        <name>Regla</name>
        <label>Regla</label>
        <locationX>270</locationX>
        <locationY>1448</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Cuit_a_Evaluar</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Tiene Titular O Remitente</defaultConnectorLabel>
        <rules>
            <name>Tiene_Titular_y_Remitente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopMBT.CUIT_Titular__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopMBT.Cuit_Remitente_Comercial__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cuit_a_Evaluar</targetReference>
            </connector>
            <label>Tiene Titular y Remitente</label>
        </rules>
    </decisions>
    <decisions>
        <name>Titular</name>
        <label>Titular</label>
        <locationX>270</locationX>
        <locationY>1964</locationY>
        <defaultConnector>
            <targetReference>Crear_Factura</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Asignado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TitularAsignado</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Factura</targetReference>
            </connector>
            <label>Asignado</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CTGs</name>
        <dataType>String</dataType>
        <expression>{!CTGsInvolucrados}</expression>
    </formulas>
    <formulas>
        <name>forCantidadTN</name>
        <dataType>Number</dataType>
        <expression>{!Buscar_Expediente.Saldo_Cuenta__c} * (-1)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>Fecha Vto TN con año actual + 1, si Fecha Vto TN &lt;= HOY &lt;= 31/12/año_actual, o bien
Fecha Vto TN, si 01/01/año_actual &lt;= HOY &lt; Fecha Vto TN</description>
        <name>forFechaFin</name>
        <dataType>Date</dataType>
        <expression>IF((DATE(YEAR(TODAY()), 01, 01) &lt;= TODAY() ) &amp;&amp; (TODAY() &lt; {!forFechaVtoTN} ), 
     {!forFechaVtoTN}, DATE(YEAR(TODAY()) + 1, MONTH({!forFechaVtoTN}), DAY({!forFechaVtoTN}) ))</expression>
    </formulas>
    <formulas>
        <name>forFechaVtoTN</name>
        <dataType>Date</dataType>
        <expression>{!Buscar_Cultivo_SOJA.Fecha_Vencimiento_de_Tonelada__c}</expression>
    </formulas>
    <interviewLabel>ExpDeNeg - Facturar SEC {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ExpDeNeg - Facturar SEC</label>
    <loops>
        <name>LoopMBT</name>
        <label>LoopMBT</label>
        <locationX>50</locationX>
        <locationY>1340</locationY>
        <collectionReference>GetMBT</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Regla</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Agrupar_facturas_a_crear</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Recorrer_MBT</name>
        <label>Recorrer MBT</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <collectionReference>GetMBT</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Evaluar_Titular</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>LoopMBT</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Crear_Facturas</name>
        <label>Crear Facturas</label>
        <locationX>50</locationX>
        <locationY>2564</locationY>
        <connector>
            <targetReference>Actualizar_expediente</targetReference>
        </connector>
        <inputReference>Agrupar_facturas_a_crear.registrosAgrupados</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Buscar_Cultivo_SOJA</name>
        <label>Buscar Cultivo SOJA</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetMBT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SOJA</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cultivo__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Buscar_Expediente</name>
        <label>Buscar Expediente</label>
        <locationX>578</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EstaSeguro</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tipo_expendiente__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SEC</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Expediente_de_Negativos__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetAccounts</name>
        <label>GetAccounts</label>
        <locationX>270</locationX>
        <locationY>1748</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asignacion_de_la_Cuenta_Cobrador</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
        </filters>
        <filters>
            <field>N_CUIT__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CuitCobrador</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetMBT</name>
        <label>GetMBT</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recorrer_MBT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Expediente_de_Negativos__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Movimiento_BolsaTech__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_expediente</name>
        <label>Actualizar expediente</label>
        <locationX>50</locationX>
        <locationY>2672</locationY>
        <connector>
            <targetReference>Facturado</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Estado_de_la_Etapa__c</field>
            <value>
                <stringValue>Finalizado</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Etapa__c</field>
            <value>
                <stringValue>Facturar Regalía E3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_Cambio_Etapa__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ValidationBypassDateTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Expediente_de_Negativos__c</object>
    </recordUpdates>
    <screens>
        <name>EstaSeguro</name>
        <label>EstáSeguro</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancelar</backButtonLabel>
        <connector>
            <targetReference>Es_Continuar</targetReference>
        </connector>
        <fields>
            <name>MsgEstaSeguro</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Está seguro que desea continuar con la facturación del expediente SEC&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Esta acción no puede deshacerse.﻿&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>BotoneraCancelarContinuar</name>
            <extensionName>c:botoneraScreenFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varBotonContinuar</assignToReference>
                <name>continue</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Continuar</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Facturado</name>
        <label>Facturado</label>
        <locationX>50</locationX>
        <locationY>2780</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MsgFacturado</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Se facturo el expediente SEC {!Buscar_Expediente.Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>YaFacturado</name>
        <label>YaFacturado</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MsgYaFacturado</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;El expediente {!Buscar_Expediente.Name}  ya esta facturado.﻿&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Buscar_Expediente</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Cobrador</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>CTGsInvolucrados</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CuitCobrador</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CuitTitular</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_Elementos_sin_ajustes</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TN_Regalia_Enlist__c</objectType>
    </variables>
    <variables>
        <name>Factura</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TN_Regalia_Enlist__c</objectType>
    </variables>
    <variables>
        <name>FacturaInsertar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TN_Regalia_Enlist__c</objectType>
    </variables>
    <variables>
        <name>FacturasACrearFinal</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TN_Regalia_Enlist__c</objectType>
    </variables>
    <variables>
        <name>FacturaTemp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TN_Regalia_Enlist__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TitularAsignado</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBotonContinuar</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varExiste</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varFacturaTemp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TN_Regalia_Enlist__c</objectType>
    </variables>
    <variables>
        <name>varFCRE3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varTNRegaliaEnlist</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
