force-app/main/default/flows/Facturas_Recordatorio_para_Pardot.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Asignar_Registro_de_Loop_a_Variable_de_Coleccion</name>
        <label>Asignar Registro de Loop a Variable de Colección</label>
        <locationX>138</locationX>
        <locationY>1548</locationY>
        <assignmentItems>
            <assignToReference>ContactosaActualizar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Bucle_Contactos</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Bucle_Contactos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Cambiar_Enviar_recordatorio</name>
        <label>Cambiar Enviar recordatorio</label>
        <locationX>270</locationX>
        <locationY>756</locationY>
        <assignmentItems>
            <assignToReference>mandarRecordatorio</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Bucle_Facturas</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Marcar_Check_Pardot</name>
        <label>Marcar Check Pardot</label>
        <locationX>138</locationX>
        <locationY>1428</locationY>
        <assignmentItems>
            <assignToReference>Bucle_Contactos.Emitir_recordatorio_de_Factura__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignar_Registro_de_Loop_a_Variable_de_Coleccion</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>diasAEsperar</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>30.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Enviar_recordatorio</name>
        <label>¿Enviar recordatorio?</label>
        <locationX>182</locationX>
        <locationY>1068</locationY>
        <defaultConnectorLabel>No, no enviar</defaultConnectorLabel>
        <rules>
            <name>Si_enviar_recordatorio</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>mandarRecordatorio</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contactos</targetReference>
            </connector>
            <label>Si, enviar recordatorio</label>
        </rules>
    </decisions>
    <decisions>
        <name>Es_en_esta_semana</name>
        <label>¿Es en esta semana?</label>
        <locationX>402</locationX>
        <locationY>636</locationY>
        <defaultConnector>
            <targetReference>Bucle_Facturas</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_es_en_esta_semana</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Bucle_Facturas.Fecha_Vencimiento_Comprobante__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Today</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Bucle_Facturas.Fecha_Vencimiento_Comprobante__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>ultimos_5_dias</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Bucle_Facturas.Total_Comprobante__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Bucle_Facturas.Saldo_a_Cobrar_Comprobante__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cambiar_Enviar_recordatorio</targetReference>
            </connector>
            <label>Si, es en esta semana</label>
        </rules>
    </decisions>
    <decisions>
        <name>Habilitado_para_recibir_nuevo_recordatorio</name>
        <label>¿Habilitado para recibir nuevo recordatorio?</label>
        <locationX>380</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>No, último hace menos de 30 días</defaultConnectorLabel>
        <rules>
            <name>Si_ya_puede_recibir_recordatorios</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>disponibleRecordatorio</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetFacturas</targetReference>
            </connector>
            <label>Si, ya puede recibir recordatorios</label>
        </rules>
    </decisions>
    <description>Flow Programado de envío de recordatorio de vencimiento de facturas a los productores. La lógica para poder manejar las fechas y diferenciales que tenemos que hacer para no insistir demasiado si ya se le mandó un recordatorio se hace con recursos Formula.</description>
    <formulas>
        <name>disponibleRecordatorio</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Fecha_ultimo_recordatorio__c} + {!diasAEsperar}</expression>
    </formulas>
    <formulas>
        <name>ultimos_5_dias</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} - 5</expression>
    </formulas>
    <interviewLabel>Facturas | Recordatorio para Pardot {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Facturas | Recordatorio para Pardot</label>
    <loops>
        <name>Bucle_Contactos</name>
        <label>Bucle Contactos</label>
        <locationX>50</locationX>
        <locationY>1308</locationY>
        <collectionReference>Get_Contactos</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Marcar_Check_Pardot</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Actualizar_Contactos</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Bucle_Facturas</name>
        <label>Bucle Facturas</label>
        <locationX>182</locationX>
        <locationY>516</locationY>
        <collectionReference>GetFacturas</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Es_en_esta_semana</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Enviar_recordatorio</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contactos</name>
        <label>Get Contactos</label>
        <locationX>50</locationX>
        <locationY>1188</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Bucle_Contactos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Activo__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetFacturas</name>
        <label>GetFacturas</label>
        <locationX>182</locationX>
        <locationY>396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Bucle_Facturas</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Facturada</stringValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Actualizar_Contactos</name>
        <label>Update Actualizar Contactos</label>
        <locationX>50</locationX>
        <locationY>1764</locationY>
        <inputReference>ContactosaActualizar</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Habilitado_para_recibir_nuevo_recordatorio</targetReference>
        </connector>
        <object>Account</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2021-08-20</startDate>
            <startTime>06:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Contacto_Sec1_Todos</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Contactos_Sec1_Todos</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ContactosaActualizar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>mandarRecordatorio</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Today</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
</Flow>
