force-app/main/default/flows/Generar_Nota_de_Credito.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Asignar_FC_RE3</name>
        <label>Asignar FC RE3</label>
        <locationX>50</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>facturaRegaliaEnlist</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_FC_RE3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>facturaRegaliaEnlist.Cantidad__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RESignoContrario</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>facturaRegaliaEnlist.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>facturaRegaliaEnlist.Etapa__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Refacturada</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Crear_Factura_Cancelatoria</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_TN_Regalia_Enlist</name>
        <label>Asignar TN Regalía Enlist</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>TNRegaliaEnlist</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_TN_para_el_expediente</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TNRegaliaEnlist.Signo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>signoContrario</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TNRegaliaEnlist.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TNRegaliaEnlist.Etapa__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Aplicada</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TNRegaliaEnlist.Campania__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_Expediente.Campania__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Crear_Tonelada_Cancelatoria</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Es_Continuar</name>
        <label>Es Continuar?</label>
        <locationX>545</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Cancelar</defaultConnectorLabel>
        <rules>
            <name>Continuar</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varBotonContinuar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Expediente_ya_genero_nota_de_credito</targetReference>
            </connector>
            <label>Continuar</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_FC_RE3</name>
        <label>Existe FC RE3?</label>
        <locationX>182</locationX>
        <locationY>1298</locationY>
        <defaultConnector>
            <targetReference>Actualizar_expediente</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No hay FC RE3</defaultConnectorLabel>
        <rules>
            <name>Hay_FC_RE3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_FC_RE3.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_FC_RE3</targetReference>
            </connector>
            <label>Hay FC RE3</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_TN</name>
        <label>Existe TN?</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Buscar_FC_RE3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No hay TN</defaultConnectorLabel>
        <rules>
            <name>Hay_TN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_TN_para_el_expediente.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_TN_Regalia_Enlist</targetReference>
            </connector>
            <label>Hay TN</label>
        </rules>
    </decisions>
    <decisions>
        <name>Expediente_ya_genero_nota_de_credito</name>
        <label>Expediente ya genero nota de credito?</label>
        <locationX>336</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Ya_genero_NC_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Tiene nota de credito</defaultConnectorLabel>
        <rules>
            <name>No_tiene_nota_de_credito</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_Expediente.Genero_NC_FCRE3__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Buscar_Cultivo_SOJA</targetReference>
            </connector>
            <label>No tiene nota de credito</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>forCantidadTN</name>
        <dataType>Number</dataType>
        <expression>{!forSaldoSegunTipoExpediente} * (-1)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>Fecha Vto TN con año actual + 1, si Fecha Vto TN &lt;= HOY &lt;= 31/12/año_actual, o bien
Fecha Vto TN, si 01/01/año_actual &lt;= HOY &lt; Fecha Vto TN</description>
        <name>forFechaFin</name>
        <dataType>Date</dataType>
        <expression>IF((DATE(YEAR(TODAY()), 01, 01) &lt;= TODAY() ) &amp;&amp; (TODAY() &lt; {!forFechaVtoTN} ), 
     {!forFechaVtoTN}, DATE(YEAR(TODAY()) + 1, MONTH({!forFechaVtoTN}), DAY({!forFechaVtoTN}) ))</expression>
    </formulas>
    <formulas>
        <name>forFechaVtoTN</name>
        <dataType>Date</dataType>
        <expression>{!Buscar_Cultivo_SOJA.Fecha_Vencimiento_de_Tonelada__c}</expression>
    </formulas>
    <formulas>
        <name>forSaldoSegunTipoExpediente</name>
        <dataType>Number</dataType>
        <expression>IF(
    OR(
        ISPICKVAL({!Buscar_Expediente.Tipo_expendiente__c}, &quot;SEC&quot;),
        ISPICKVAL({!Buscar_Expediente.Tipo_expendiente__c}, &quot;CLA&quot;)
    ),
    {!Buscar_Expediente.Saldo_Cuenta__c},
    {!Buscar_Expediente.Saldo_CG__c}
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>RESignoContrario</name>
        <dataType>Number</dataType>
        <expression>{!Buscar_FC_RE3.Cantidad__c} * (-1)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>signoContrario</name>
        <dataType>Number</dataType>
        <expression>{!Buscar_TN_para_el_expediente.Signo__c} * (-1)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Generar Nota de Credito {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Generar NC FCRE3</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Crear_Factura_Cancelatoria</name>
        <label>Crear Factura Cancelatoria</label>
        <locationX>50</locationX>
        <locationY>1514</locationY>
        <connector>
            <targetReference>Actualizar_expediente</targetReference>
        </connector>
        <inputReference>facturaRegaliaEnlist</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Crear_Tonelada_Cancelatoria</name>
        <label>Crear Tonelada Cancelatoria</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Buscar_FC_RE3</targetReference>
        </connector>
        <inputReference>TNRegaliaEnlist</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Buscar_Cultivo_SOJA</name>
        <label>Buscar Cultivo SOJA</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Buscar_TN_para_el_expediente</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SOJA</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cultivo__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Buscar_Expediente</name>
        <label>Buscar Expediente</label>
        <locationX>545</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EstaSeguro</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Expediente_de_Negativos__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Se busca si ya existe la Factura Regalía Enlist para este expediente, para el productor del expediente.</description>
        <name>Buscar_FC_RE3</name>
        <label>Buscar FC RE3</label>
        <locationX>182</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_FC_RE3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Expediente_de_Negativos__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Buscar_Expediente.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Productor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Buscar_Expediente.Cuenta__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TN_Regalia_Enlist__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Se busca si ya existe la TN con origen Regalía Enlist para este expediente para el productor del expediente.</description>
        <name>Buscar_TN_para_el_expediente</name>
        <label>Buscar TN para el expediente</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_TN</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Expediente_de_Negativos__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Buscar_Expediente.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Origen__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Regalía Enlist</stringValue>
            </value>
        </filters>
        <filters>
            <field>Productor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Buscar_Expediente.Cuenta__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tipo_de_Movimiento__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>C</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Tonelada__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_expediente</name>
        <label>Actualizar expediente</label>
        <locationX>182</locationX>
        <locationY>1706</locationY>
        <connector>
            <targetReference>Actualizar_TN_Regalia_Enlist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Genero_NC_FCRE3__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Saldo_del_Expediente_al_Cierre__c</field>
            <value>
                <elementReference>forSaldoSegunTipoExpediente</elementReference>
            </value>
        </inputAssignments>
        <object>Expediente_de_Negativos__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Factura_Regalia_Enlist</name>
        <label>Actualizar Factura Regalia Enlist</label>
        <locationX>182</locationX>
        <locationY>1922</locationY>
        <connector>
            <targetReference>Facturado</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Buscar_FC_RE3.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Etapa__c</field>
            <value>
                <stringValue>Anulada</stringValue>
            </value>
        </inputAssignments>
        <object>TN_Regalia_Enlist__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_TN_Regalia_Enlist</name>
        <label>Actualizar TN Regalía Enlist</label>
        <locationX>182</locationX>
        <locationY>1814</locationY>
        <connector>
            <targetReference>Actualizar_Factura_Regalia_Enlist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Buscar_TN_para_el_expediente.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Etapa__c</field>
            <value>
                <stringValue>Cancelada por NC</stringValue>
            </value>
        </inputAssignments>
        <object>Tonelada__c</object>
    </recordUpdates>
    <screens>
        <name>EstaSeguro</name>
        <label>EstáSeguro</label>
        <locationX>545</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancelar</backButtonLabel>
        <connector>
            <targetReference>Es_Continuar</targetReference>
        </connector>
        <fields>
            <name>MsgEstaSeguro</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;¿Está seguro que desea continuar con la generación de nota de crédito? &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Esta acción no puede deshacerse.﻿&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>BotoneraCancelarContinuar</name>
            <extensionName>c:botoneraScreenFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varBotonContinuar</assignToReference>
                <name>continue</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Continuar</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Facturado</name>
        <label>Facturado</label>
        <locationX>182</locationX>
        <locationY>2030</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MsgFacturado</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;genero la nota de credito para el expediente {!Buscar_Expediente.Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Ya_genero_NC_screen</name>
        <label>Ya genero NC screen</label>
        <locationX>490</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_text</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 24px;&quot;&gt;El expediente {!Buscar_Expediente.Name} ya generó una nota de cre&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;dito para Factura de Regalia Enlist&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>419</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Buscar_Expediente</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>facturaRegaliaEnlist</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TN_Regalia_Enlist__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TNRegaliaEnlist</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Tonelada__c</objectType>
    </variables>
    <variables>
        <name>varBotonContinuar</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varFCRE3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varTNRegaliaEnlist</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
