force-app/main/default/flows/HT_Crear_HT_positiva_para_Devoluciones_SOJA_2021.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Es_Tipo_DPD_DPO_y_campa_a_Soja_2021</name>
        <label>Es Tipo DPD / DPO y campaña Soja 2021?</label>
        <locationX>380</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Otra</defaultConnectorLabel>
        <rules>
            <name>Devolucion_SOJA_2021</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Venta__r.Tipo_de_Venta__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DPD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Venta__r.Tipo_de_Venta__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DPO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Cultivo__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SOJA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>forYear</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2021.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Buscar_HT_Positiva</targetReference>
            </connector>
            <label>Devolución SOJA 2021</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_HT_positiva</name>
        <label>Existe HT positiva?</label>
        <locationX>182</locationX>
        <locationY>516</locationY>
        <defaultConnectorLabel>Ya existe HT positiva</defaultConnectorLabel>
        <rules>
            <name>No_existe</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_HT_Positiva.Etapa__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crear_HT_que_anula_la_HT_de_la_DPD_o_DPO</targetReference>
            </connector>
            <label>No existe</label>
        </rules>
    </decisions>
    <description>Para cada HT negativa con venta CRM DPD o DPO de SOJA 2021, crea la HT positiva para anularla.</description>
    <environments>Default</environments>
    <formulas>
        <name>forYear</name>
        <dataType>Number</dataType>
        <expression>VALUE({!$Record.Venta__r.Campana_Agricola__r.Ano__c})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>HT - Crear HT positiva para Devoluciones SOJA 2021 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HT - Crear HT positiva para Devoluciones SOJA 2021</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Crear_HT_que_anula_la_HT_de_la_DPD_o_DPO</name>
        <label>Crear HT que anula la HT de la DPD o DPO</label>
        <locationX>50</locationX>
        <locationY>636</locationY>
        <inputAssignments>
            <field>Biotecnologia__c</field>
            <value>
                <elementReference>$Record.Biotecnologia__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Canal_de_Venta__c</field>
            <value>
                <elementReference>$Record.Canal_de_Venta__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cantidad__c</field>
            <value>
                <elementReference>$Record.Cantidad__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cultivo__c</field>
            <value>
                <elementReference>$Record.Cultivo__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Etapa__c</field>
            <value>
                <stringValue>Anulada</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_Fin__c</field>
            <value>
                <elementReference>$Record.Fecha_Fin__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_Inicio__c</field>
            <value>
                <elementReference>$Record.Fecha_Inicio__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_de_Aprobacion__c</field>
            <value>
                <elementReference>$Record.Fecha_de_Aprobacion__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_de_Facturacion__c</field>
            <value>
                <elementReference>$Record.Fecha_de_Facturacion__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HT_Original__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Licencia__c</field>
            <value>
                <elementReference>$Record.Licencia__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>N_CUIT__c</field>
            <value>
                <elementReference>$Record.N_CUIT__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Numero_de_Comprobante__c</field>
            <value>
                <elementReference>$Record.Numero_de_Comprobante__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origen__c</field>
            <value>
                <stringValue>Compra SF</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Productor__c</field>
            <value>
                <elementReference>$Record.Productor__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Signo__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_Movimiento__c</field>
            <value>
                <stringValue>C</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Valor_Conversion__c</field>
            <value>
                <elementReference>$Record.Valor_Conversion__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Variedad__c</field>
            <value>
                <elementReference>$Record.Variedad__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Venta__c</field>
            <value>
                <elementReference>$Record.Venta__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Hectareas_Tecnologicas__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Buscar_HT_Positiva</name>
        <label>Buscar HT Positiva</label>
        <locationX>182</locationX>
        <locationY>396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_HT_positiva</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Tipo_de_Movimiento__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>C</stringValue>
            </value>
        </filters>
        <filters>
            <field>HT_Original__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Hectareas_Tecnologicas__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Es_Tipo_DPD_DPO_y_campa_a_Soja_2021</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Origen__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Compra SF</stringValue>
            </value>
        </filters>
        <filters>
            <field>Etapa__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Aplicada</stringValue>
            </value>
        </filters>
        <filters>
            <field>HT_Original__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Tipo_de_Movimiento__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>D</stringValue>
            </value>
        </filters>
        <object>Hectareas_Tecnologicas__c</object>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2023-03-19</startDate>
            <startTime>12:15:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
