force-app/main/default/flows/Item_de_DUP_Asigna_Tipo_de_Cambio.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Alerta_Falta_Tipo_de_Cambio</name>
        <label>Alerta Falta Tipo de Cambio</label>
        <locationX>930</locationX>
        <locationY>392</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Error_Actualizacion_TC</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>SFDC Flow: Alerta Falta Tipo de Cambio</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>joseluis.iudica@arpov.org.ar</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <constants>
        <name>CEBCER</name>
        <dataType>String</dataType>
        <value>
            <stringValue>CEBCER</stringValue>
        </value>
    </constants>
    <constants>
        <name>nulo</name>
        <dataType>String</dataType>
    </constants>
    <constants>
        <name>TRIGOF</name>
        <dataType>String</dataType>
        <value>
            <stringValue>TRIGO FAS</stringValue>
        </value>
    </constants>
    <constants>
        <name>TRIGOM</name>
        <dataType>String</dataType>
        <value>
            <stringValue>TRIGO MATBA</stringValue>
        </value>
    </constants>
    <constants>
        <name>USD</name>
        <dataType>String</dataType>
        <value>
            <stringValue>USD</stringValue>
        </value>
    </constants>
    <decisions>
        <name>seleccionMoneda</name>
        <label>seleccionMoneda</label>
        <locationX>506</locationX>
        <locationY>39</locationY>
        <defaultConnectorLabel>[Resultado predeterminado]</defaultConnectorLabel>
        <rules>
            <name>opcionUSD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Item_Transaccion.Conversion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>USD</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>buscaTipoCambioUSD</targetReference>
            </connector>
            <label>USD</label>
        </rules>
        <rules>
            <name>opcionTRIGO_MATBA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Item_Transaccion.Conversion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TRIGOM</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>buscaTipoCambioTRIGOM</targetReference>
            </connector>
            <label>TRIGO MATBA</label>
        </rules>
        <rules>
            <name>opcionTRIGO_FAS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Item_Transaccion.Conversion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TRIGOF</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>buscaTipoCambioTRIGOF</targetReference>
            </connector>
            <label>TRIGO FAS</label>
        </rules>
        <rules>
            <name>opcionCEBADA_CERVECERA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Item_Transaccion.Conversion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CEBCER</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>buscaTipoCambioCEBCER</targetReference>
            </connector>
            <label>CEBADA CERVECERA</label>
        </rules>
    </decisions>
    <decisions>
        <name>validaTC</name>
        <label>validaTC</label>
        <locationX>518</locationX>
        <locationY>396</locationY>
        <defaultConnector>
            <targetReference>actualizaTCItemTransaccion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Resultado predeterminado]</defaultConnectorLabel>
        <rules>
            <name>noEncontrado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TipoDeCambio_SO.Cotizacion__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alerta_Falta_Tipo_de_Cambio</targetReference>
            </connector>
            <label>noEncontrado</label>
        </rules>
    </decisions>
    <description>Asigna el Tipo de Cambio al Item de la DUP de acuerdo a la fecha de Respuesta
20/10/2015: Cambia la fecha de busqueda del TC</description>
    <interviewLabel>Item de DUP - Asigna Tipo de Cambio {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Item de DUP - Asigna Tipo de Cambio</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>buscaTipoCambioCEBCER</name>
        <label>buscaTipoCambioCEBCER</label>
        <locationX>933</locationX>
        <locationY>221</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>validaTC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Fecha__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Moneda__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a0FG000000aGyBf</stringValue>
            </value>
        </filters>
        <object>Tipo_de_Cambio__c</object>
        <outputReference>TipoDeCambio_SO</outputReference>
        <queriedFields>Cotizacion__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>buscaTipoCambioTRIGOF</name>
        <label>buscaTipoCambioTRIGOF</label>
        <locationX>658</locationX>
        <locationY>217</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>validaTC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Fecha__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Moneda__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a0FG000000XjUMo</stringValue>
            </value>
        </filters>
        <object>Tipo_de_Cambio__c</object>
        <outputReference>TipoDeCambio_SO</outputReference>
        <queriedFields>Cotizacion__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>buscaTipoCambioTRIGOM</name>
        <label>buscaTipoCambioTRIGOM</label>
        <locationX>372</locationX>
        <locationY>225</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>validaTC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Fecha__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Moneda__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a0FG000000XjUMy</stringValue>
            </value>
        </filters>
        <object>Tipo_de_Cambio__c</object>
        <outputReference>TipoDeCambio_SO</outputReference>
        <queriedFields>Cotizacion__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>buscaTipoCambioUSD</name>
        <label>buscaTipoCambioUSD</label>
        <locationX>91</locationX>
        <locationY>227</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>validaTC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Fecha__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Moneda__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a0FG000000XjUMZ</stringValue>
            </value>
        </filters>
        <object>Tipo_de_Cambio__c</object>
        <outputReference>TipoDeCambio_SO</outputReference>
        <queriedFields>Cotizacion__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>actualizaTCItemTransaccion</name>
        <label>actualizaTCItemTransaccion</label>
        <locationX>521</locationX>
        <locationY>543</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Item_Transaccion.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Tipo_de_Cambio__c</field>
            <value>
                <elementReference>TipoDeCambio_SO.Cotizacion__c</elementReference>
            </value>
        </inputAssignments>
        <object>Item_de_DUP__c</object>
    </recordUpdates>
    <startElementReference>seleccionMoneda</startElementReference>
    <status>Obsolete</status>
    <textTemplates>
        <name>Error_Actualizacion_TC</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Fecha: {!$Flow.CurrentDateTime}

No se pudo actualizar el Tipo de Cambio en el Item de DUP con Id: {!Item_Transaccion.Id}

Transacción: {!Item_Transaccion.Transaccion__r.Name}.

Moneda: {!Item_Transaccion.Conversion__c}

Error: {!$Flow.FaultMessage}</text>
    </textTemplates>
    <variables>
        <name>Fecha_Respuesta</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Item_Transaccion</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Item_de_DUP__c</objectType>
    </variables>
    <variables>
        <name>TipoDeCambio_SO</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Tipo_de_Cambio__c</objectType>
    </variables>
</Flow>
