force-app/main/default/flows/Licencia_Validar_Licencia.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Desmarca las licencias que fueron aprobadas anteriormente.</description>
        <name>Desmarcar_ultima_aprbacion</name>
        <label>Desmarcar última aprbación.</label>
        <locationX>754</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>Loop_Licencias.Ultima_aprobada__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Licencias</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Encontro_licencias</name>
        <label>Encontró licencias?</label>
        <locationX>798</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Actualizar_Primer_licencia_a_Aprobada</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_existe</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Licencias</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Licencias</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Estado_es_A_Validar_y_con_Origen_Portal</name>
        <label>Estado es A Validar y con Origen Portal?</label>
        <locationX>1040</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Pantalla_Licencia_No_A_Validar</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Otro</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_Licencia.Estado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>A validar</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Buscar_Licencia.Origen__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Portal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Metodo_de_Firma</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Hay_carta_de_aceptacion</name>
        <label>Hay carta de aceptación?</label>
        <locationX>556</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Get_Licencias</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No hay carta</defaultConnectorLabel>
        <rules>
            <name>Hay_carta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_Licencia.Emite_Carta_de_Aceptacion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_a_Licencia_Firmada</targetReference>
            </connector>
            <label>Hay carta</label>
        </rules>
    </decisions>
    <decisions>
        <name>Metodo_de_Firma</name>
        <label>Metodo de Firma?</label>
        <locationX>622</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Otro</defaultConnectorLabel>
        <rules>
            <name>Electronica</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_Licencia.Metodo_firma__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Electronica</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_a_Validada</targetReference>
            </connector>
            <label>Electrónica</label>
        </rules>
        <rules>
            <name>Holografica</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_Licencia.Metodo_firma__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Holografica</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Hay_carta_de_aceptacion</targetReference>
            </connector>
            <label>Holográfica</label>
        </rules>
    </decisions>
    <description>Si la licencia es electrónica, se cambia el estado a Validada.
Si la licencia es holográfica, se cambia el estado a Licencia Firmada si Emite Carta de Aceptación = T. De lo contrario, se cambia el estado a Aprobada.</description>
    <environments>Default</environments>
    <interviewLabel>Licencia - Validar Licencia {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Licencia - Validar Licencia</label>
    <loops>
        <description>Recorre las licencias obtenidas para actualizar el campo.</description>
        <name>Loop_Licencias</name>
        <label>Loop Licencias</label>
        <locationX>666</locationX>
        <locationY>782</locationY>
        <collectionReference>varR_licencias</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Desmarcar_ultima_aprbacion</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Actualizar_a_Aprobada</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Buscar_Licencia</name>
        <label>Buscar Licencia</label>
        <locationX>1040</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Estado_es_A_Validar_y_con_Origen_Portal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Licencia__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Obtiene las licencias del mismo CUIT.</description>
        <name>Get_Licencias</name>
        <label>Get Licencias</label>
        <locationX>798</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Encontro_licencias</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>N_CUIT__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Buscar_Licencia.N_CUIT__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Estado__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Aprobada</stringValue>
            </value>
        </filters>
        <object>Licencia__c</object>
        <outputReference>varR_licencias</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Ultima_aprobada__c</queriedFields>
        <sortField>Fecha_de_Aprobacion__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_a_Aprobada</name>
        <label>Actualizar a Aprobada</label>
        <locationX>666</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>Actualizar_licencias</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Estado__c</field>
            <value>
                <stringValue>Aprobada</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_Validacion__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_de_Aprobacion__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ultima_aprobada__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Licencia__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_a_Licencia_Firmada</name>
        <label>Actualizar a Licencia Firmada</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Pantalla_Licencia_Firmada</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Estado__c</field>
            <value>
                <stringValue>Licencia Firmada</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_Licencia_Firmada__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_Validacion__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Licencia__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_a_Validada</name>
        <label>Actualizar a Validada</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Pantalla_Licencia_Validada</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Estado__c</field>
            <value>
                <stringValue>Validada</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_Validacion__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Licencia__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_licencias</name>
        <label>Actualizar licencias</label>
        <locationX>666</locationX>
        <locationY>1190</locationY>
        <connector>
            <targetReference>Pantalla_Licencia_Aprobada</targetReference>
        </connector>
        <inputReference>varR_licencias</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Primer_licencia_a_Aprobada</name>
        <label>Actualizar Primer licencia a Aprobada</label>
        <locationX>930</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Pantalla_Licencia_Aprobada</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Estado__c</field>
            <value>
                <stringValue>Aprobada</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_Validacion__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_de_Aprobacion__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primera_aprobada__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ultima_aprobada__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Licencia__c</object>
    </recordUpdates>
    <screens>
        <name>Pantalla_Licencia_Aprobada</name>
        <label>Pantalla Licencia Aprobada</label>
        <locationX>798</locationX>
        <locationY>1382</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Copy_1_of_Copy_1_of_MsgLicenciaNoAValidar</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;La licencia {!Buscar_Licencia.Name} fue Aprobada.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Pantalla_Licencia_Firmada</name>
        <label>Pantalla Licencia Firmada</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Copy_1_of_MsgLicenciaNoAValidar</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;La licencia {!Buscar_Licencia.Name} fue Firmada.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Pantalla_Licencia_No_A_Validar</name>
        <label>Pantalla Licencia No A Validar</label>
        <locationX>1458</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MsgLicenciaNoAValidar</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;La licencia {!Buscar_Licencia.Name} debe estar con estado &lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;A Validar&lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; para ser Validada.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Pantalla_Licencia_Validada</name>
        <label>Pantalla Licencia Validada</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MsgLicenciaValidada</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;La licencia {!Buscar_Licencia.Name} fue Validada.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>914</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Buscar_Licencia</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>rec_Licencia</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Licencia__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Almacena las licencias obtenidas</description>
        <name>varR_licencias</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Licencia__c</objectType>
    </variables>
</Flow>
