force-app/main/default/flows/Licencia_Actualizar_Cuenta_Enlist.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Asignar_Cantidad_Licencias</name>
        <label>Asignar Cantidad Licencias</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>cantidadLicencias</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Obtener_Licencias_Cuenta</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignar_Formula_Enlist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Formula_Enlist</name>
        <label>Asignar Formula Enlist</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>EsEnlist</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TieneLicenciasEnlist</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_Cuenta</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Valor_Enlist</name>
        <label>Asignar Valor Enlist</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>EsEnlist</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_Cuenta</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Tipo_de_Licencia</name>
        <label>Tipo de Licencia</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Obtener_Licencias_Cuenta</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Enlist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tipo_de_Licencia__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Productor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tecnologia__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Enlist</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Estado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aprobada</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Fecha_de_Vencimiento__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>TODAY</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Valor_Enlist</targetReference>
            </connector>
            <label>Enlist</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>TieneLicenciasEnlist</name>
        <dataType>Boolean</dataType>
        <expression>{!cantidadLicencias} &gt; 0</expression>
    </formulas>
    <formulas>
        <name>TODAY</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>[Licencia] Actualizar Cuenta Enlist {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Licencia] Actualizar Cuenta Enlist</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Obtener_Licencias_Cuenta</name>
        <label>Obtener Licencias Cuenta</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asignar_Cantidad_Licencias</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cuenta_Productor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Cuenta_Productor__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tipo_de_Licencia__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Productor</stringValue>
            </value>
        </filters>
        <filters>
            <field>Tecnologia__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Enlist</stringValue>
            </value>
        </filters>
        <filters>
            <field>Estado__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Aprobada</stringValue>
            </value>
        </filters>
        <filters>
            <field>Fecha_de_Vencimiento__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Licencia__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_Cuenta</name>
        <label>Actualizar Cuenta</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Cuenta_Productor__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Usuario_Enlist__c</field>
            <value>
                <elementReference>EsEnlist</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Tipo_de_Licencia</targetReference>
        </connector>
        <object>Licencia__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>cantidadLicencias</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>EsEnlist</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
