force-app/main/default/flows/Licencia_Asignar_Productor_y_Obtentor.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Se asigna el ID SGL de la cuenta Sembrá Evolución.
Se guarda en Sembra Evolucion.Sembra_Evolucion_Id_SGL__c</description>
        <name>Asignar_595</name>
        <label>Asignar 595</label>
        <locationX>413</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>varIdSGL</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.Sembra_Evolucion__c.Sembra_Evolucion_Id_SGL__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Buscar_Distribuidor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_CommerceId</name>
        <label>Asignar CommerceId</label>
        <locationX>677</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>varIdSGL</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CommerceId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Buscar_Distribuidor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_cuenta_M_S_Technologies</name>
        <label>Asignar cuenta M.S. Technologies</label>
        <locationX>50</locationX>
        <locationY>1487</locationY>
        <assignmentItems>
            <assignToReference>varCuentaProductor</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_cuenta_M_S_Technologies.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_Productor_Obtentor_Distribuidor_y_Estado</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_cuenta_Pioneer</name>
        <label>Asignar cuenta Pioneer</label>
        <locationX>314</locationX>
        <locationY>1595</locationY>
        <assignmentItems>
            <assignToReference>varCuentaProductor</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_cuenta_Pioneer.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCuentaDistribuidor</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_cuenta_Pioneer.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_Productor_Obtentor_Distribuidor_y_Estado</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_cuenta_productor</name>
        <label>Asignar cuenta productor</label>
        <locationX>578</locationX>
        <locationY>1487</locationY>
        <assignmentItems>
            <assignToReference>varCuentaProductor</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Crear_Cuenta</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_Productor_Obtentor_Distribuidor_y_Estado</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Distribuidor</name>
        <label>Asignar Distribuidor</label>
        <locationX>545</locationX>
        <locationY>839</locationY>
        <assignmentItems>
            <assignToReference>varCuentaDistribuidor</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_Distribuidor.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Buscar_Productor</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CommerceId_is_Null</name>
        <label>CommerceId is Null?</label>
        <locationX>545</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Asignar_CommerceId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CommerceId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_595</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Cuit = 30715468294
Se guarda en Sembra Evolucion.MS_Technologies_Cuit</description>
        <name>El_cuit_es_de_M_S_Technologies</name>
        <label>El cuit es de M.S. Technologies?</label>
        <locationX>248</locationX>
        <locationY>1163</locationY>
        <defaultConnector>
            <targetReference>El_cuit_es_de_Pioneer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Otro cuit</defaultConnectorLabel>
        <rules>
            <name>Es_M_S_Technologies</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Cuit_Productor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.Sembra_Evolucion__c.MS_Technologies_Cuit__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Buscar_Cuenta_Stine</targetReference>
            </connector>
            <label>Es M.S. Technologies</label>
        </rules>
    </decisions>
    <decisions>
        <description>Cuit = 30569723023.
Se guarda en Sembra Evolucion.Pioneer_Cuit__c</description>
        <name>El_cuit_es_de_Pioneer</name>
        <label>El cuit es de Pioneer?</label>
        <locationX>446</locationX>
        <locationY>1271</locationY>
        <defaultConnector>
            <targetReference>Crear_Cuenta</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Otro cuit</defaultConnectorLabel>
        <rules>
            <name>Es_Pioneer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Cuit_Productor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.Sembra_Evolucion__c.Pioneer_Cuit__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Buscar_Cuenta_Corteva</targetReference>
            </connector>
            <label>Es Pioneer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_Cuenta_Productor</name>
        <label>Existe Cuenta Productor?</label>
        <locationX>545</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Actualizar_Cuentas_Productor_Obtentor_y_Distribuidor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existe Productor</defaultConnectorLabel>
        <rules>
            <name>No_existe_cuenta_Productor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_Productor.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>El_cuit_es_de_M_S_Technologies</targetReference>
            </connector>
            <label>No existe cuenta Productor</label>
        </rules>
    </decisions>
    <description>Asigna el nombre de la cuenta cuyo cuit es el Cuit Productor de la licencia en Cuenta Productor. Si no existe la cuenta productor: se crea una cuenta con cuit de la licencia, Razón Social &quot;A Gestionar&quot; y mail de la licencia. También se asigna el nombre de la cuenta con Id_SGL__c = Obtentor de la licencia en Cuenta Obtentor. Asigna el nombre de la cuenta con Id_SGL__c = CommerceId de la licencia en Cuenta Distribuidor.
Si el cuit Productor = 30715468294, se asigna la cuenta de M.S. TECHNOLOGIES ARGENTINA S.R.L. que tiene este cuit y parent Id = STINE SEED ARGENTINA S.R.L.
Si el cuit Productor = 30569723023, se asigna la cuenta de PIONEER ARGENTINA SRL (13) que tiene este cuit y parent Id = CORTEVA AGRISCIENCE ARGENTINA SRL (30)
Se cambia la fecha de vencimiento a la fecha de creación + 10 años.
Se cambia la fecha de vencimiento a 26/07/2032.
Se agregan custom settings para: Name de la cuenta de Corteva (30), ID SGL de la cuenta Sembrá Evolución, cuit de la cuenta MS Technologies, Name de la cuenta Stine Seed, cuit de la cuenta de Pioneer (13) y Fecha de vto de Licencia SGL.
Se agrega una condición al buscar el Productor --&gt; codigo postal envio not null</description>
    <environments>Default</environments>
    <formulas>
        <name>varLicenciaNueva</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Licencia - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Licencia - Asignar Productor, Obtentor y Distribuidor</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Crear_Cuenta</name>
        <label>Crear Cuenta</label>
        <locationX>578</locationX>
        <locationY>1379</locationY>
        <connector>
            <targetReference>Asignar_cuenta_productor</targetReference>
        </connector>
        <inputAssignments>
            <field>Direccion_de_Correo_electronico_del_CUIT__c</field>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>N_CUIT__c</field>
            <value>
                <elementReference>$Record.Cuit_Productor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>A Gestionar</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Se guarda en Sembra Evolucion.Corteva_30_Name__c</description>
        <name>Buscar_Cuenta_Corteva</name>
        <label>Buscar Cuenta Corteva</label>
        <locationX>314</locationX>
        <locationY>1379</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Buscar_cuenta_Pioneer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Setup.Sembra_Evolucion__c.Corteva_30_Name__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varIdCuentaCorteva</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Buscar_cuenta_M_S_Technologies</name>
        <label>Buscar cuenta M.S. Technologies</label>
        <locationX>50</locationX>
        <locationY>1379</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asignar_cuenta_M_S_Technologies</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>N_CUIT__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Cuit_Productor__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varIdCuentaStine</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Buscar_cuenta_Pioneer</name>
        <label>Buscar cuenta Pioneer</label>
        <locationX>314</locationX>
        <locationY>1487</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asignar_cuenta_Pioneer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>N_CUIT__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Cuit_Productor__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varIdCuentaCorteva</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Se guarda el Name en Sembra Evolucion.Stine_Seed_Name__c</description>
        <name>Buscar_Cuenta_Stine</name>
        <label>Buscar Cuenta Stine</label>
        <locationX>50</locationX>
        <locationY>1271</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Buscar_cuenta_M_S_Technologies</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Setup.Sembra_Evolucion__c.Stine_Seed_Name__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varIdCuentaStine</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Buscar_Distribuidor</name>
        <label>Buscar Distribuidor</label>
        <locationX>545</locationX>
        <locationY>731</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asignar_Distribuidor</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id_SGL__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varIdSGL</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Buscar_Obtentor</name>
        <label>Buscar Obtentor</label>
        <locationX>545</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CommerceId_is_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SGL_BrandId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Obtentor__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Obtentor</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Buscar_Productor</name>
        <label>Buscar Productor</label>
        <locationX>545</locationX>
        <locationY>947</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_Cuenta_Productor</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>N_CUIT__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Cuit_Productor__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Codigo_Postal_Envio__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Actualiza los campos Cuenta Productor, Cuenta Obtentor y Cuenta Distribuidor.
La fecha de Vencimiento = 26/07/2032.
Se guarda la fecha de vto en Sembra Evolucion.Fecha_Vto_Licencia_SGL__c</description>
        <name>Actualizar_Cuentas_Productor_Obtentor_y_Distribuidor</name>
        <label>Actualizar Cuentas Productor, Obtentor y Distribuidor</label>
        <locationX>842</locationX>
        <locationY>1163</locationY>
        <inputAssignments>
            <field>Cuenta_Distribuidor__c</field>
            <value>
                <elementReference>varCuentaDistribuidor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cuenta_Obtentor__c</field>
            <value>
                <elementReference>Buscar_Obtentor.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cuenta_Productor__c</field>
            <value>
                <elementReference>Buscar_Productor.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_de_Vencimiento__c</field>
            <value>
                <elementReference>$Setup.Sembra_Evolucion__c.Fecha_Vto_Licencia_SGL__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Actualiza los campos Cuenta Productor, Cuenta Obtentor y Cuenta Distribuidor.
La fecha de Vencimiento = 26/07/2032.
La fecha de vto se guarda en Sembra Evolucion.Fecha_Vto_Licencia_SGL__c</description>
        <name>Actualizar_Productor_Obtentor_Distribuidor_y_Estado</name>
        <label>Actualizar Productor, Obtentor, Distribuidor y Estado</label>
        <locationX>248</locationX>
        <locationY>1871</locationY>
        <inputAssignments>
            <field>Cuenta_Distribuidor__c</field>
            <value>
                <elementReference>varCuentaDistribuidor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cuenta_Obtentor__c</field>
            <value>
                <elementReference>Buscar_Obtentor.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cuenta_Productor__c</field>
            <value>
                <elementReference>varCuentaProductor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_de_Vencimiento__c</field>
            <value>
                <elementReference>$Setup.Sembra_Evolucion__c.Fecha_Vto_Licencia_SGL__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>419</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Buscar_Obtentor</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Origen_SGL__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Licencia__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varCuentaDistribuidor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCuentaProductor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varIdCuentaCorteva</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varIdCuentaStine</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varIdSGL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
