force-app/main/default/flows/Licencia_Validar_que_esta_aprobada.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Asignar_cuenta_corteva</name>
        <label>Asignar cuenta corteva</label>
        <locationX>2294</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>varCortevaId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_BREVANT.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Buscar_Licencia_BREVANT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_cuenta_corteva_13</name>
        <label>Asignar cuenta corteva 13</label>
        <locationX>2426</locationX>
        <locationY>1922</locationY>
        <assignmentItems>
            <assignToReference>varCortevaId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_BREVANT_13.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Buscar_Licencia_BREVANT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Cuenta_Principal</name>
        <label>Asignar Cuenta Principal</label>
        <locationX>1581</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>varCuentaPadre</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCuentaPrincipal</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Buscar_Licencia_Cuenta_Principal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Id_Licencia</name>
        <label>Asignar Id Licencia</label>
        <locationX>2426</locationX>
        <locationY>2138</locationY>
        <assignmentItems>
            <assignToReference>licenciaID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Buscar_Licencia_BREVANT.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLicenciaId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>licenciaID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEstadoLicencia</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Buscar_Licencia_BREVANT.Estado__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFechaVto</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Buscar_Licencia_BREVANT.Fecha_de_Vencimiento__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Encontro_licencia</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Id_Liciencia1</name>
        <label>Asignar Id Liciencia</label>
        <locationX>2294</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>licenciaID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_Licencia_BREVANT.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLicenciaId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>licenciaID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFechaVto</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_Licencia_BREVANT.Fecha_de_Vencimiento__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEstadoLicencia</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_Licencia_BREVANT.Estado__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Encontr</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Licencia_con_BREVANT</name>
        <label>Asignar Licencia con BREVANT</label>
        <locationX>2162</locationX>
        <locationY>2846</locationY>
        <assignmentItems>
            <assignToReference>varLicenciaId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varLicenciaId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEstadoLicencia</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varEstadoLicencia</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFechaVto</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varFechaVto</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Asignar_Licencia_con_Cuenta_Principal</name>
        <label>Asignar Licencia con Cuenta Principal</label>
        <locationX>314</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>varLicenciaId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_Licencia_Cuenta_Principal.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEstadoLicencia</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_Licencia_Cuenta_Principal.Estado__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFechaVto</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_Licencia_Cuenta_Principal.Fecha_de_Vencimiento__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Asignar_Licencia_con_GDM_14</name>
        <label>Asignar Licencia con GDM (14)</label>
        <locationX>578</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>varLicenciaId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_Licencia_ILLINOIS.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEstadoLicencia</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_Licencia_ILLINOIS.Estado__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFechaVto</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_Licencia_ILLINOIS.Fecha_de_Vencimiento__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Asignar_Licencia_con_GDM_85</name>
        <label>Asignar Licencia con GDM (85)</label>
        <locationX>1370</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>varLicenciaId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_Licencia_NEOGEN.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEstadoLicencia</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_Licencia_NEOGEN.Estado__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFechaVto</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_Licencia_NEOGEN.Fecha_de_Vencimiento__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Asignar_Licencia_con_Neogen</name>
        <label>Asignar Licencia con Neogen</label>
        <locationX>842</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>varLicenciaId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BuscarLicenciaconNEOGEN.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEstadoLicencia</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BuscarLicenciaconNEOGEN.Estado__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFechaVto</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BuscarLicenciaconNEOGEN.Fecha_de_Vencimiento__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Asignar_Licencia_con_NIDERA</name>
        <label>Asignar Licencia con NIDERA</label>
        <locationX>2778</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>varLicenciaId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_Licencia_NIDERA.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEstadoLicencia</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_Licencia_NIDERA.Estado__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFechaVto</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_Licencia_NIDERA.Fecha_de_Vencimiento__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Asignar_Licencia_con_NK</name>
        <label>Asignar Licencia con NK</label>
        <locationX>3306</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>varLicenciaId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_Licencia_NK.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEstadoLicencia</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_Licencia_NK.Estado__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFechaVto</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_Licencia_NK.Fecha_de_Vencimiento__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Asignar_Licencia_con_Obtentor_Comercializa</name>
        <label>Asignar Licencia con Obtentor Comercializa</label>
        <locationX>50</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>varLicenciaId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_Licencia_Obtentor_Comercializa.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEstadoLicencia</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_Licencia_Obtentor_Comercializa.Estado__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFechaVto</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_Licencia_Obtentor_Comercializa.Fecha_de_Vencimiento__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Asignar_Obtentor_Comercializa</name>
        <label>Asignar Obtentor Comercializa</label>
        <locationX>1317</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>varCuentaPadre</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varObtentorComercializa</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Buscar_Licencia_Cuenta_Principal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Otra_Tecnologia</name>
        <label>Asignar Otra Tecnología</label>
        <locationX>1013</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>varTecno</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTecnologia</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Buscar_Licencia_Obtentor_Comercializa</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Tecnolog_a_RR</name>
        <label>Asignar Tecnología RR</label>
        <locationX>749</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>varTecno</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>RR</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Buscar_Licencia_Obtentor_Comercializa</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Tecnologia</name>
        <label>Asignar Tecnología</label>
        <locationX>485</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>varTecno</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Enlist</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Buscar_Licencia_Obtentor_Comercializa</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Asignar_Id_Licencia</name>
        <label>Copy 1 of Asignar Id Licencia</label>
        <locationX>2514</locationX>
        <locationY>2462</locationY>
        <assignmentItems>
            <assignToReference>licenciaID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_Licencia_Capsula.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLicenciaId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>licenciaID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEstadoLicencia</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_Licencia_Capsula.Estado__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFechaVto</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_Licencia_Capsula.Fecha_de_Vencimiento__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Existe_Licencia_con_BREVANT</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Cuenta_Principal_es_Null</name>
        <label>Cuenta Principal es Null?</label>
        <locationX>1449</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>Asignar_Cuenta_Principal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No es Null</defaultConnectorLabel>
        <rules>
            <name>Cuenta_Principal_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCuentaPrincipal</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Obtentor_Comercializa</targetReference>
            </connector>
            <label>Cuenta Principal Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Encontr</name>
        <label>Encontró?</label>
        <locationX>2294</locationX>
        <locationY>1706</locationY>
        <defaultConnector>
            <targetReference>Buscar_BREVANT_13</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_Licencia_BREVANT.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Existe_Licencia_con_BREVANT</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Encontro_licencia</name>
        <label>Encontro licencia?</label>
        <locationX>2426</locationX>
        <locationY>2246</locationY>
        <defaultConnector>
            <targetReference>Buscar_Licencia_Capsula</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Encontro_licencia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Buscar_Licencia_BREVANT.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Existe_Licencia_con_BREVANT</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Es_Tecnolog_a_Enlist</name>
        <label>Es Tecnología Enlist?</label>
        <locationX>749</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Asignar_Otra_Tecnologia</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Otra</defaultConnectorLabel>
        <rules>
            <name>Enlist</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varTecnologia</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Enlist E3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTecnologia</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Conkesta E3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Tecnologia</targetReference>
            </connector>
            <label>Enlist</label>
        </rules>
        <rules>
            <name>RR</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varTecnologia</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>RR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTecnologia</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Convencional</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Tecnolog_a_RR</targetReference>
            </connector>
            <label>RR</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_Licencia_con_BREVANT</name>
        <label>Existe Licencia con BREVANT</label>
        <locationX>2294</locationX>
        <locationY>2738</locationY>
        <defaultConnectorLabel>No hay con BREVANT</defaultConnectorLabel>
        <rules>
            <name>Licencia_con_BREVANT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>licenciaID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Licencia_con_BREVANT</targetReference>
            </connector>
            <label>Licencia con BREVANT</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_Licencia_con_Cuenta_Principal</name>
        <label>Existe Licencia con Cuenta Principal?</label>
        <locationX>1449</locationX>
        <locationY>1058</locationY>
        <defaultConnector>
            <targetReference>Que_cuenta_principal_es</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Licencia_con_Cuenta_Principal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_Licencia_Cuenta_Principal.Estado__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Licencia_con_Cuenta_Principal</targetReference>
            </connector>
            <label>Licencia con Cuenta Principal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_Licencia_con_GDM_14</name>
        <label>Existe Licencia con GDM (14)</label>
        <locationX>776</locationX>
        <locationY>1598</locationY>
        <defaultConnector>
            <targetReference>Buscar_GDM_85_Neogen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No hay con GDM (14)</defaultConnectorLabel>
        <rules>
            <name>Licencia_con_GDM_14</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_Licencia_ILLINOIS.Estado__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Licencia_con_GDM_14</targetReference>
            </connector>
            <label>Licencia con GDM (14)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_Licencia_con_GDM_85</name>
        <label>Existe Licencia con GDM (85)</label>
        <locationX>1502</locationX>
        <locationY>1598</locationY>
        <defaultConnectorLabel>No hay con GDM (85)</defaultConnectorLabel>
        <rules>
            <name>Licencia_con_GDM_85</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_Licencia_NEOGEN.Estado__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Licencia_con_GDM_85</targetReference>
            </connector>
            <label>Licencia con GDM (85)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_Licencia_con_Neogen</name>
        <label>Existe Licencia con Neogen</label>
        <locationX>974</locationX>
        <locationY>1922</locationY>
        <defaultConnectorLabel>No hay con Neogen</defaultConnectorLabel>
        <rules>
            <name>LicenciaconNeogen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BuscarLicenciaconNEOGEN.Estado__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Licencia_con_Neogen</targetReference>
            </connector>
            <label>Licencia con Neogen</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_Licencia_con_NIDERA</name>
        <label>Existe Licencia con NIDERA</label>
        <locationX>2910</locationX>
        <locationY>1598</locationY>
        <defaultConnectorLabel>No hay con NIDERA</defaultConnectorLabel>
        <rules>
            <name>Licencia_con_NIDERA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_Licencia_NIDERA.Estado__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Licencia_con_NIDERA</targetReference>
            </connector>
            <label>Licencia con NIDERA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_Licencia_con_NK</name>
        <label>Existe Licencia con NK</label>
        <locationX>3438</locationX>
        <locationY>1598</locationY>
        <defaultConnectorLabel>No hay con NK</defaultConnectorLabel>
        <rules>
            <name>Licencia_con_NK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_Licencia_NK.Estado__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Licencia_con_NK</targetReference>
            </connector>
            <label>Licencia con NK</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_Licencia_con_Obtentor_Comercializa</name>
        <label>Existe Licencia con Obtentor Comercializa?</label>
        <locationX>749</locationX>
        <locationY>542</locationY>
        <defaultConnector>
            <targetReference>Cuenta_Principal_es_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Sin Licencia</defaultConnectorLabel>
        <rules>
            <name>Licencia_con_Obtentor_Comercializa</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_Licencia_Obtentor_Comercializa.Estado__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Licencia_con_Obtentor_Comercializa</targetReference>
            </connector>
            <label>Licencia con Obtentor Comercializa</label>
        </rules>
    </decisions>
    <decisions>
        <name>Que_cuenta_principal_es</name>
        <label>Qué cuenta principal es?</label>
        <locationX>2585</locationX>
        <locationY>1166</locationY>
        <defaultConnectorLabel>Otro</defaultConnectorLabel>
        <rules>
            <name>GDM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNombreObtentorPrincipal</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>GDM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Que_marca_es</targetReference>
            </connector>
            <label>GDM</label>
        </rules>
        <rules>
            <name>CORTEVA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNombreObtentorPrincipal</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>CORTEVA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Buscar_BREVANT</targetReference>
            </connector>
            <label>CORTEVA</label>
        </rules>
        <rules>
            <name>SYNGENTA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNombreObtentorPrincipal</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>SYNGENTA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Que_marca_es2</targetReference>
            </connector>
            <label>SYNGENTA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Que_marca_es</name>
        <label>Qué marca es?</label>
        <locationX>1337</locationX>
        <locationY>1274</locationY>
        <defaultConnectorLabel>Otra</defaultConnectorLabel>
        <rules>
            <name>ILLINOIS</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varMarcaObtentorComercializa</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NEOGEN</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varMarcaObtentorComercializa</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DONMARIO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Buscar_GDM_14</targetReference>
            </connector>
            <label>ILLINOIS</label>
        </rules>
        <rules>
            <name>NEOGEN</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varMarcaObtentorComercializa</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ILLINOIS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varMarcaObtentorComercializa</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DONMARIO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Buscar_GDM_85</targetReference>
            </connector>
            <label>NEOGEN</label>
        </rules>
    </decisions>
    <decisions>
        <name>Que_marca_es2</name>
        <label>Qué marca es?</label>
        <locationX>3174</locationX>
        <locationY>1274</locationY>
        <defaultConnector>
            <targetReference>Buscar_NK</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NK</defaultConnectorLabel>
        <rules>
            <name>NIDERA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varMarcaObtentorComercializa</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Buscar_NIDERA</targetReference>
            </connector>
            <label>NIDERA</label>
        </rules>
    </decisions>
    <description>Dado un productor, un obtentor comercializa y la cuenta principal del obtentor comercializa,  valida que exista la licencia aprobada, en este caso, devuelve el Id de la licencia.
No se considera el cultivo para validar que exista la licencia.
Si la biotecnología = Convencional o RR1 o RR2 --&gt; se busca licencia con tecnología = RR.
Se agrega SYNGENTA: si tiene SYN 04 o SYN 23 --&gt; entonces tiene licencia.
Se agrega: al buscar licencia que no sea Inactiva (ni Rechazada).
Se agregan custom settings para los nombres de cuenta de las marcas de licencas: Pioneer (13), Brevant, Illinois, Neogen, Nidera y NK.
Se agrega: al buscar licencia que no sea Eliminada JN 21012026
Se agrega: al buscar licencia que no sea Eliminada para cuenat principal y sie s de una marca JN 04022026</description>
    <environments>Default</environments>
    <interviewLabel>Licencia - Validar que está aprobada {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Licencia - Validar que existe</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Se guarda en Sembra Evolucion.Brevant_Name__c</description>
        <name>Buscar_BREVANT</name>
        <label>Buscar BREVANT</label>
        <locationX>2294</locationX>
        <locationY>1274</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asignar_cuenta_corteva</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Setup.Sembra_Evolucion__c.Brevant_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Nombre_Obtentor__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Se guarda en Sembra Evolucion.Brevant_Name__c</description>
        <name>Buscar_BREVANT_13</name>
        <label>Buscar BREVANT 13</label>
        <locationX>2426</locationX>
        <locationY>1814</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asignar_cuenta_corteva_13</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Setup.Sembra_Evolucion__c.Corteva_13_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Nombre_Obtentor__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Se guarda en Sembra Evolucion.Illinois_Name</description>
        <name>Buscar_GDM_14</name>
        <label>Buscar GDM (14)</label>
        <locationX>776</locationX>
        <locationY>1382</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Buscar_Licencia_ILLINOIS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Setup.Sembra_Evolucion__c.Illinois_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Nombre_Obtentor__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Se guarda en Sembra Evolucion.Neogen_Name__c</description>
        <name>Buscar_GDM_85</name>
        <label>Buscar GDM (85)</label>
        <locationX>1502</locationX>
        <locationY>1382</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Buscar_Licencia_NEOGEN</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Setup.Sembra_Evolucion__c.Neogen_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Nombre_Obtentor__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Se guarda en Sembra Evolucion.Neogen_Name__c</description>
        <name>Buscar_GDM_85_Neogen</name>
        <label>Buscar GDM (85) Neogen</label>
        <locationX>974</locationX>
        <locationY>1706</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>BuscarLicenciaconNEOGEN</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Setup.Sembra_Evolucion__c.Neogen_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Nombre_Obtentor__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Busca licencia con la cuenta BREVANT</description>
        <name>Buscar_Licencia_BREVANT</name>
        <label>Buscar Licencia - BREVANT</label>
        <locationX>2294</locationX>
        <locationY>1490</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asignar_Id_Liciencia1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cuenta_Productor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProductor</elementReference>
            </value>
        </filters>
        <filters>
            <field>Cuenta_Obtentor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCortevaId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tipo_de_Licencia__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTipoLicencia</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tecnologia__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTecno</elementReference>
            </value>
        </filters>
        <filters>
            <field>Estado__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Rechazada</stringValue>
            </value>
        </filters>
        <filters>
            <field>Estado__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Inactiva</stringValue>
            </value>
        </filters>
        <filters>
            <field>Estado__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Eliminada</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Licencia__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Busca licencia con la cuenta BREVANT</description>
        <name>Buscar_Licencia_Capsula</name>
        <label>Buscar Licencia - Capsula</label>
        <locationX>2514</locationX>
        <locationY>2354</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Asignar_Id_Licencia</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cuenta_Productor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProductor</elementReference>
            </value>
        </filters>
        <filters>
            <field>Capsula__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCapsula</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tipo_de_Licencia__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTipoLicencia</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tecnologia__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTecno</elementReference>
            </value>
        </filters>
        <filters>
            <field>Estado__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Rechazada</stringValue>
            </value>
        </filters>
        <filters>
            <field>Estado__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Inactiva</stringValue>
            </value>
        </filters>
        <filters>
            <field>Estado__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Eliminada</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Licencia__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Busca licencia con la cuenta principal del Obtentor Comercializa</description>
        <name>Buscar_Licencia_Cuenta_Principal</name>
        <label>Buscar Licencia - Cuenta Principal</label>
        <locationX>1449</locationX>
        <locationY>950</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_Licencia_con_Cuenta_Principal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cuenta_Productor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProductor</elementReference>
            </value>
        </filters>
        <filters>
            <field>Cuenta_Obtentor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCuentaPadre</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tipo_de_Licencia__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTipoLicencia</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tecnologia__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTecno</elementReference>
            </value>
        </filters>
        <filters>
            <field>Estado__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Rechazada</stringValue>
            </value>
        </filters>
        <filters>
            <field>Estado__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Inactiva</stringValue>
            </value>
        </filters>
        <filters>
            <field>Estado__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Eliminada</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Licencia__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Busca licencia con la cuenta ILLINOIS</description>
        <name>Buscar_Licencia_ILLINOIS</name>
        <label>Buscar Licencia - ILLINOIS</label>
        <locationX>776</locationX>
        <locationY>1490</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_Licencia_con_GDM_14</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cuenta_Productor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProductor</elementReference>
            </value>
        </filters>
        <filters>
            <field>Cuenta_Obtentor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Buscar_GDM_14.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tipo_de_Licencia__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTipoLicencia</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tecnologia__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTecno</elementReference>
            </value>
        </filters>
        <filters>
            <field>Estado__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Rechazada</stringValue>
            </value>
        </filters>
        <filters>
            <field>Estado__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Inactiva</stringValue>
            </value>
        </filters>
        <filters>
            <field>Estado__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Eliminada</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Licencia__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Busca licencia con la cuenta NEOGEN</description>
        <name>Buscar_Licencia_NEOGEN</name>
        <label>Buscar Licencia - NEOGEN</label>
        <locationX>1502</locationX>
        <locationY>1490</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_Licencia_con_GDM_85</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cuenta_Productor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProductor</elementReference>
            </value>
        </filters>
        <filters>
            <field>Cuenta_Obtentor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Buscar_GDM_85.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tipo_de_Licencia__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTipoLicencia</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tecnologia__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTecno</elementReference>
            </value>
        </filters>
        <filters>
            <field>Estado__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Rechazada</stringValue>
            </value>
        </filters>
        <filters>
            <field>Estado__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Inactiva</stringValue>
            </value>
        </filters>
        <filters>
            <field>Estado__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Eliminada</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Licencia__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Busca licencia con la cuenta NIDERA</description>
        <name>Buscar_Licencia_NIDERA</name>
        <label>Buscar Licencia - NIDERA</label>
        <locationX>2910</locationX>
        <locationY>1490</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_Licencia_con_NIDERA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cuenta_Productor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProductor</elementReference>
            </value>
        </filters>
        <filters>
            <field>Cuenta_Obtentor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Buscar_NIDERA.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tipo_de_Licencia__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTipoLicencia</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tecnologia__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTecno</elementReference>
            </value>
        </filters>
        <filters>
            <field>Estado__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Rechazada</stringValue>
            </value>
        </filters>
        <filters>
            <field>Estado__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Inactiva</stringValue>
            </value>
        </filters>
        <filters>
            <field>Estado__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Eliminada</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Licencia__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Busca licencia con la cuenta NK</description>
        <name>Buscar_Licencia_NK</name>
        <label>Buscar Licencia - NK</label>
        <locationX>3438</locationX>
        <locationY>1490</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_Licencia_con_NK</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cuenta_Productor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProductor</elementReference>
            </value>
        </filters>
        <filters>
            <field>Cuenta_Obtentor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Buscar_NK.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tipo_de_Licencia__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTipoLicencia</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tecnologia__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTecno</elementReference>
            </value>
        </filters>
        <filters>
            <field>Estado__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Rechazada</stringValue>
            </value>
        </filters>
        <filters>
            <field>Estado__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Inactiva</stringValue>
            </value>
        </filters>
        <filters>
            <field>Estado__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Eliminada</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Licencia__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Buscar_Licencia_Obtentor_Comercializa</name>
        <label>Buscar Licencia - Obtentor Comercializa</label>
        <locationX>749</locationX>
        <locationY>434</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_Licencia_con_Obtentor_Comercializa</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cuenta_Productor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProductor</elementReference>
            </value>
        </filters>
        <filters>
            <field>Cuenta_Obtentor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varObtentorComercializa</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tipo_de_Licencia__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTipoLicencia</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tecnologia__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTecno</elementReference>
            </value>
        </filters>
        <filters>
            <field>Estado__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Rechazada</stringValue>
            </value>
        </filters>
        <filters>
            <field>Estado__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Inactiva</stringValue>
            </value>
        </filters>
        <filters>
            <field>Estado__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Eliminada</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Licencia__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Se guarda en Sembra Evolucion.Nidera_Name__c</description>
        <name>Buscar_NIDERA</name>
        <label>Buscar NIDERA</label>
        <locationX>2910</locationX>
        <locationY>1382</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Buscar_Licencia_NIDERA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Setup.Sembra_Evolucion__c.Nidera_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Nombre_Obtentor__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Se guarda en Sembra Evolucion.NK_Name__c</description>
        <name>Buscar_NK</name>
        <label>Buscar NK</label>
        <locationX>3438</locationX>
        <locationY>1382</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Buscar_Licencia_NK</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Setup.Sembra_Evolucion__c.NK_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Nombre_Obtentor__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Busca licencia con la cuenta NEOGEN</description>
        <name>BuscarLicenciaconNEOGEN</name>
        <label>Buscar Licencia con NEOGEN</label>
        <locationX>974</locationX>
        <locationY>1814</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_Licencia_con_Neogen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cuenta_Productor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProductor</elementReference>
            </value>
        </filters>
        <filters>
            <field>Cuenta_Obtentor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Buscar_GDM_85_Neogen.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tipo_de_Licencia__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTipoLicencia</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tecnologia__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTecno</elementReference>
            </value>
        </filters>
        <filters>
            <field>Estado__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Rechazada</stringValue>
            </value>
        </filters>
        <filters>
            <field>Estado__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Inactiva</stringValue>
            </value>
        </filters>
        <filters>
            <field>Estado__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Eliminada</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Licencia__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Busca licencia con la cuenta BREVANT</description>
        <name>Copy_1_of_Buscar_Licencia_BREVANT</name>
        <label>Copy 1 of Buscar Licencia - BREVANT</label>
        <locationX>2426</locationX>
        <locationY>2030</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asignar_Id_Licencia</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cuenta_Productor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProductor</elementReference>
            </value>
        </filters>
        <filters>
            <field>Cuenta_Obtentor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCortevaId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tipo_de_Licencia__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTipoLicencia</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tecnologia__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTecno</elementReference>
            </value>
        </filters>
        <filters>
            <field>Estado__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Rechazada</stringValue>
            </value>
        </filters>
        <filters>
            <field>Estado__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Inactiva</stringValue>
            </value>
        </filters>
        <filters>
            <field>Estado__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Eliminada</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Licencia__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>623</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Es_Tecnolog_a_Enlist</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>licenciaID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCapsula</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCortevaId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCuentaPadre</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varCuentaPrincipal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEstadoLicencia</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varFechaVto</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varLicenciaId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varMarcaObtentorComercializa</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNombreObtentorPrincipal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varObtentorComercializa</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProductor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTecno</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varTecnologia</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTipoLicencia</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
