force-app/main/default/flows/LineaVentaHT_Borrar_Linea_de_Compra_HT_Asociada.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Asignar_la_variedad_de_cada_linea</name>
        <label>Asignar la variedad de cada línea</label>
        <locationX>710</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>varVariedad</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Recorrer_las_lineas_de_venta_HT.Variedad__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varVariedad</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>; </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorrer_las_lineas_de_venta_HT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_variedades_en_blanco</name>
        <label>Asignar variedades en blanco</label>
        <locationX>710</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>varVariedad</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_Variedades_en_la_Venta_HT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>HT_Facturadas_a_restar</name>
        <label>HT Facturadas a restar</label>
        <locationX>842</locationX>
        <locationY>1511</locationY>
        <assignmentItems>
            <assignToReference>varHTFacturadas</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>$Record.Cantidad__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_HT_Facturadas</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>HT_Facturadas_a_Sumar</name>
        <label>HT Facturadas a Sumar</label>
        <locationX>578</locationX>
        <locationY>1511</locationY>
        <assignmentItems>
            <assignToReference>varHTFacturadas</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Cantidad__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_HT_Facturadas</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>HT_Vendidas_a_restar</name>
        <label>HT Vendidas a restar</label>
        <locationX>50</locationX>
        <locationY>1511</locationY>
        <assignmentItems>
            <assignToReference>varHTVendidas</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>$Record.Cantidad__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Actualizar_HT_Vendidas</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>HT_Vendidas_a_sumar</name>
        <label>HT Vendidas a sumar</label>
        <locationX>314</locationX>
        <locationY>1511</locationY>
        <assignmentItems>
            <assignToReference>varHTVendidas</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Cantidad__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_HT_Vendidas</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Cuantas_lineas_hay_en_la_venta_HT</name>
        <label>Cuántas líneas hay en la venta HT?</label>
        <locationX>578</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Asignar_variedades_en_blanco</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Hay 1</defaultConnectorLabel>
        <rules>
            <name>Mas_de_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Venta_HT__r.Cantidad_de_lineas_de_venta_HT__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Buscar_lineas_de_la_venta_HT</targetReference>
            </connector>
            <label>Más de 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Es_la_linea_que_se_borra</name>
        <label>Es la línea que se borra?</label>
        <locationX>622</locationX>
        <locationY>719</locationY>
        <defaultConnector>
            <targetReference>Asignar_la_variedad_de_cada_linea</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recorrer_las_lineas_de_venta_HT.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recorrer_las_lineas_de_venta_HT</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Estado_de_la_Linea_de_Venta_HT</name>
        <label>Estado de la Línea de Venta HT</label>
        <locationX>578</locationX>
        <locationY>1403</locationY>
        <defaultConnectorLabel>Otro</defaultConnectorLabel>
        <rules>
            <name>Para_HT_Vendidas_a_Restar</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Estado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Facturable</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HT_Vendidas_a_restar</targetReference>
            </connector>
            <label>Para HT Vendidas a Restar</label>
        </rules>
        <rules>
            <name>Para_HT_Vendidas_a_Sumar</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Estado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HT_Vendidas_a_sumar</targetReference>
            </connector>
            <label>Para HT Vendidas a Sumar</label>
        </rules>
        <rules>
            <name>Para_HT_Facturadas_a_Sumar</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Estado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelada por NC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HT_Facturadas_a_Sumar</targetReference>
            </connector>
            <label>Para HT Facturadas a Sumar</label>
        </rules>
        <rules>
            <name>Para_HT_Facturadas_a_Restar</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Estado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Facturada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HT_Facturadas_a_restar</targetReference>
            </connector>
            <label>Para HT Facturadas a Restar</label>
        </rules>
    </decisions>
    <description>Cada vez que se borra una línea de Venta HT, se borra la línea de Compra HT asociada. Se actualizan los campos HT Vendidas (si la línea tiene estado facturable / cancelada) y HT Facturadas (si la línea tiene estado Facturada / Cancelada por NC) de la cuenta comercio de la venta HT asociada.</description>
    <environments>Default</environments>
    <formulas>
        <name>varVariedades</name>
        <dataType>String</dataType>
        <expression>LEFT({!varVariedad}, LEN({!varVariedad})-2)</expression>
    </formulas>
    <interviewLabel>LineaVentaHT - Borrar Línea de Compra HT Asociada {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LineaVentaHT - Borrar Línea de Compra HT Asociada</label>
    <loops>
        <name>Recorrer_las_lineas_de_venta_HT</name>
        <label>Recorrer las líneas de venta HT</label>
        <locationX>446</locationX>
        <locationY>611</locationY>
        <collectionReference>Buscar_lineas_de_la_venta_HT</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Es_la_linea_que_se_borra</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Actualizar_Variedades_en_la_Venta_HT</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Borra_Linea_de_Compra_HT_Asociada</name>
        <label>Borra Línea de Compra HT Asociada</label>
        <locationX>578</locationX>
        <locationY>287</locationY>
        <connector>
            <targetReference>Cuantas_lineas_hay_en_la_venta_HT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Linea_de_Compra_HT__r.Id</elementReference>
            </value>
        </filters>
        <object>Linea_de_Compra_HT__c</object>
    </recordDeletes>
    <recordLookups>
        <name>Buscar_HT_Vendidas_y_HT_Facturadas</name>
        <label>Buscar HT Vendidas y HT Facturadas</label>
        <locationX>578</locationX>
        <locationY>1295</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Estado_de_la_Linea_de_Venta_HT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Venta_HT__r.Comercio__r.Id</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varHTFacturadas</assignToReference>
            <field>HT_Facturadas__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varHTVendidas</assignToReference>
            <field>HT_Vendidas__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Buscar_lineas_de_la_venta_HT</name>
        <label>Buscar líneas de la venta HT</label>
        <locationX>446</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recorrer_las_lineas_de_venta_HT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Venta_HT__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Venta_HT__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Linea_de_Venta_HT__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_HT_Facturadas</name>
        <label>Actualizar HT Facturadas</label>
        <locationX>578</locationX>
        <locationY>1919</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Venta_HT__r.Comercio__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HT_Facturadas__c</field>
            <value>
                <elementReference>varHTFacturadas</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_HT_Vendidas</name>
        <label>Actualizar HT Vendidas</label>
        <locationX>314</locationX>
        <locationY>1619</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Venta_HT__r.Comercio__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HT_Vendidas__c</field>
            <value>
                <elementReference>varHTVendidas</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Variedades_en_la_Venta_HT</name>
        <label>Actualizar Variedades en la Venta HT</label>
        <locationX>578</locationX>
        <locationY>1187</locationY>
        <connector>
            <targetReference>Buscar_HT_Vendidas_y_HT_Facturadas</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Venta_HT__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Variedades__c</field>
            <value>
                <elementReference>varVariedades</elementReference>
            </value>
        </inputAssignments>
        <object>Venta_HT__c</object>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Borra_Linea_de_Compra_HT_Asociada</targetReference>
        </connector>
        <object>Linea_de_Venta_HT__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varHTFacturadas</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varHTVendidas</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varVariedad</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
