force-app/main/default/flows/LineaOportunidad_Crear_Hect_rea_Tecnol_gica_negativa.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Estado_cambio_a_Cancelada_por_NC</name>
        <label>Estado cambió a Cancelada por NC?</label>
        <locationX>545</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>No cambió</defaultConnectorLabel>
        <rules>
            <name>Si_cambio</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Estado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelada por NC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Estado__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cancelada por NC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity.Sembra_Evolucion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Buscar_HT_asociada_a_la_linea_de_compra_HT</targetReference>
            </connector>
            <label>Si, cambió</label>
        </rules>
    </decisions>
    <decisions>
        <name>Hay_HT_positiva_creada</name>
        <label>Hay HT positiva creada?</label>
        <locationX>336</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_HT_asociada_a_la_linea_de_compra_HT</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crear_HT_con_cantidad_negativa</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Hay_TN_asociada</name>
        <label>Hay TN asociada?</label>
        <locationX>182</locationX>
        <locationY>863</locationY>
        <defaultConnectorLabel>No hay TN</defaultConnectorLabel>
        <rules>
            <name>Hay_TN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_HT_asociada_a_la_linea_de_compra_HT.TN_Id__r.Etapa__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_TN</targetReference>
            </connector>
            <label>Hay TN</label>
        </rules>
    </decisions>
    <description>Cada vez que una línea de oportunidad pasa a estado &quot;Cancelada por NC&quot;, si existe la HT asociada a la línea de Compra HT asociada a esta línea de oportunidad, se crea la HT con cantidad negativa.
Se cambia la fecha de facturación y el Número de Comprobante --&gt; se toman de la oportunidad.
Se cambia la etapa de la HT a Cancelada por NC.
La HT negativa hereda la Campaña de la HT original.</description>
    <environments>Default</environments>
    <interviewLabel>LineaOportunidad - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LineaOportunidad - Crear Hectárea Tecnológica negativa</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Crear_HT_con_cantidad_negativa</name>
        <label>Crear HT con cantidad negativa</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Actualizar_HT_Debito_en_HT_Original</targetReference>
        </connector>
        <inputAssignments>
            <field>Biotecnologia__c</field>
            <value>
                <elementReference>Buscar_HT_asociada_a_la_linea_de_compra_HT.Biotecnologia__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campania__c</field>
            <value>
                <elementReference>Buscar_HT_asociada_a_la_linea_de_compra_HT.Campania__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Canal_de_Venta__c</field>
            <value>
                <elementReference>Buscar_HT_asociada_a_la_linea_de_compra_HT.Canal_de_Venta__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cantidad__c</field>
            <value>
                <elementReference>Buscar_HT_asociada_a_la_linea_de_compra_HT.Cantidad__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cultivo__c</field>
            <value>
                <elementReference>Buscar_HT_asociada_a_la_linea_de_compra_HT.Cultivo__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Etapa__c</field>
            <value>
                <stringValue>Aplicada</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_Fin__c</field>
            <value>
                <elementReference>Buscar_HT_asociada_a_la_linea_de_compra_HT.Fecha_Fin__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_Inicio__c</field>
            <value>
                <elementReference>Buscar_HT_asociada_a_la_linea_de_compra_HT.Fecha_Inicio__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_de_Facturacion__c</field>
            <value>
                <elementReference>$Record.Opportunity.Fecha_Emision_Comprobante__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HT_Original__c</field>
            <value>
                <elementReference>Buscar_HT_asociada_a_la_linea_de_compra_HT.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Licencia__c</field>
            <value>
                <elementReference>Buscar_HT_asociada_a_la_linea_de_compra_HT.Licencia__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Linea_de_Compra_HT__c</field>
            <value>
                <elementReference>Buscar_HT_asociada_a_la_linea_de_compra_HT.Linea_de_Compra_HT__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>N_CUIT__c</field>
            <value>
                <elementReference>Buscar_HT_asociada_a_la_linea_de_compra_HT.Productor__r.N_CUIT__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>No_asignar_campa_a__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Numero_de_Comprobante__c</field>
            <value>
                <elementReference>$Record.Opportunity.N_de_Comprobante__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Oportunidad__c</field>
            <value>
                <elementReference>$Record.Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origen__c</field>
            <value>
                <elementReference>Buscar_HT_asociada_a_la_linea_de_compra_HT.Origen__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Productor__c</field>
            <value>
                <elementReference>Buscar_HT_asociada_a_la_linea_de_compra_HT.Productor__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Signo__c</field>
            <value>
                <numberValue>-1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_Movimiento__c</field>
            <value>
                <stringValue>D</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Valor_Conversion__c</field>
            <value>
                <elementReference>Buscar_HT_asociada_a_la_linea_de_compra_HT.Cultivo__r.HT2Kilos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Variedad__c</field>
            <value>
                <elementReference>Buscar_HT_asociada_a_la_linea_de_compra_HT.Variedad__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Hectareas_Tecnologicas__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Buscar_HT_asociada_a_la_linea_de_compra_HT</name>
        <label>Buscar HT asociada a la línea de compra HT</label>
        <locationX>336</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Hay_HT_positiva_creada</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Linea_de_Compra_HT__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Linea_de_Compra_HT__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Hectareas_Tecnologicas__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_HT_Debito_en_HT_Original</name>
        <label>Actualizar HT Débito en HT Original</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Hay_TN_asociada</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Buscar_HT_asociada_a_la_linea_de_compra_HT.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Etapa__c</field>
            <value>
                <stringValue>Cancelada por NC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HT_Debito__c</field>
            <value>
                <elementReference>Crear_HT_con_cantidad_negativa</elementReference>
            </value>
        </inputAssignments>
        <object>Hectareas_Tecnologicas__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_TN</name>
        <label>Actualizar TN</label>
        <locationX>50</locationX>
        <locationY>971</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Buscar_HT_asociada_a_la_linea_de_compra_HT.TN_Id__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Etapa__c</field>
            <value>
                <stringValue>Cancelada por NC</stringValue>
            </value>
        </inputAssignments>
        <object>Tonelada__c</object>
    </recordUpdates>
    <start>
        <locationX>419</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Estado_cambio_a_Cancelada_por_NC</targetReference>
        </connector>
        <object>OpportunityLineItem</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
