force-app/main/default/flows/LogGeneracionDUP.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Tipo_de_Objeto_Origen</name>
        <label>Tipo de Objeto Origen</label>
        <locationX>393</locationX>
        <locationY>54</locationY>
        <defaultConnector>
            <targetReference>error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ORIGEN INVALIDO</defaultConnectorLabel>
        <rules>
            <name>VENTA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>tipoObjeto</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a0I</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>buscaVENTA</targetReference>
            </connector>
            <label>VENTA</label>
        </rules>
        <rules>
            <name>DUP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>tipoObjeto</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a0L</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>buscaDUP</targetReference>
            </connector>
            <label>DUP</label>
        </rules>
        <rules>
            <name>AUD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>tipoObjeto</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>A0K</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>buscaAUD</targetReference>
            </connector>
            <label>AUD</label>
        </rules>
    </decisions>
    <description>Genera información del productos de origen de las DUP durante la generacion de un lote.</description>
    <formulas>
        <name>tipoObjeto</name>
        <dataType>String</dataType>
        <expression>LEFT ( {!IdObjeto}, 3 )</expression>
    </formulas>
    <label>LogGeneracionDUP</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>buscaAUD</name>
        <label>buscaAUD</label>
        <locationX>630</locationX>
        <locationY>180</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>buscaProductoAUD</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdObjeto</elementReference>
            </value>
        </filters>
        <object>Item_Auditoria__c</object>
        <outputReference>itemAudOrigen</outputReference>
        <queriedFields>Producto__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>buscaDUP</name>
        <label>buscaDUP</label>
        <locationX>398</locationX>
        <locationY>186</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>buscaProductoDUP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdObjeto</elementReference>
            </value>
        </filters>
        <object>Item_de_DUP__c</object>
        <outputReference>itemDupOrigen</outputReference>
        <queriedFields>Producto__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>buscaProductoAUD</name>
        <label>buscaProductoAUD</label>
        <locationX>627</locationX>
        <locationY>310</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>actualizaLogOrigen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>itemAudOrigen.Producto__c</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputReference>productoOrigen</outputReference>
        <queriedFields>Variedad__c</queriedFields>
        <queriedFields>Family</queriedFields>
        <queriedFields>Categoria__c</queriedFields>
        <queriedFields>Unidad_de_Medida__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>buscaProductoDUP</name>
        <label>buscaProductoDUP</label>
        <locationX>399</locationX>
        <locationY>309</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>actualizaLogOrigen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>itemDupOrigen.Producto__c</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputReference>productoOrigen</outputReference>
        <queriedFields>Variedad__c</queriedFields>
        <queriedFields>Family</queriedFields>
        <queriedFields>Categoria__c</queriedFields>
        <queriedFields>Unidad_de_Medida__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>buscaProductoVENTA</name>
        <label>buscaProductoVENTA</label>
        <locationX>149</locationX>
        <locationY>308</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>actualizaLogOrigen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ventaOrigen.Producto__c</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputReference>productoOrigen</outputReference>
        <queriedFields>Categoria__c</queriedFields>
        <queriedFields>Family</queriedFields>
        <queriedFields>Unidad_de_Medida__c</queriedFields>
        <queriedFields>Variedad__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>buscaVENTA</name>
        <label>buscaVENTA</label>
        <locationX>146</locationX>
        <locationY>186</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>buscaProductoVENTA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdObjeto</elementReference>
            </value>
        </filters>
        <object>Venta__c</object>
        <outputReference>ventaOrigen</outputReference>
        <queriedFields>Producto__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>actualizaLogOrigen</name>
        <label>actualizaLogOrigen</label>
        <locationX>399</locationX>
        <locationY>460</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Log.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Categoria__c</field>
            <value>
                <elementReference>productoOrigen.Categoria__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_Producto__c</field>
            <value>
                <elementReference>productoOrigen.Family</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unidad_de_Medida__c</field>
            <value>
                <elementReference>productoOrigen.Unidad_de_Medida__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Variedad__c</field>
            <value>
                <elementReference>productoOrigen.Variedad__c</elementReference>
            </value>
        </inputAssignments>
        <object>Log__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>error</name>
        <label>error</label>
        <locationX>806</locationX>
        <locationY>54</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Log.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Errores__c</field>
            <value>
                <stringValue>SE RECIBIO UN ORIGEN INVALIDO</stringValue>
            </value>
        </inputAssignments>
        <object>Log__c</object>
    </recordUpdates>
    <startElementReference>Tipo_de_Objeto_Origen</startElementReference>
    <status>Active</status>
    <variables>
        <description>Id del Objeto Origen</description>
        <name>IdObjeto</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>itemAudOrigen</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Item_Auditoria__c</objectType>
    </variables>
    <variables>
        <name>itemDupOrigen</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Item_de_DUP__c</objectType>
    </variables>
    <variables>
        <description>Objeto Log a actualizar</description>
        <name>Log</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Log__c</objectType>
    </variables>
    <variables>
        <description>Objeto Lote que se está procesando</description>
        <name>Lote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lote__c</objectType>
    </variables>
    <variables>
        <name>productoOrigen</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>productoOrigenDUP</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>ventaOrigen</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Venta__c</objectType>
    </variables>
</Flow>
