force-app/main/default/flows/Mensaje_Rutear_al_propietario_de_la_cuenta.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Es la primera vez que el contacto escribe un Whatsapp / Facebook, no tiene Usuario de Mensajería asociado.</description>
        <name>Rutear_a_la_cola_Operaciones_Mensajeria</name>
        <label>Rutear a la cola Operaciones - Mensajería</label>
        <locationX>176</locationX>
        <locationY>950</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <stringValue>00G4R0000068arEUAQ</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
            <value>
                <stringValue>Operaciones - Mensajeria</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>QueueBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Mensajería</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_livemessage</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N94R000000fxV0SAI</stringValue>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>El contacto ya tiene Usuario de mensajería, se rutea al propietario de la Cuenta.</description>
        <name>Rutear_al_operador_propietario_de_la_Cuenta</name>
        <label>Rutear al operador propietario de la Cuenta</label>
        <locationX>396</locationX>
        <locationY>566</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
            <value>
                <elementReference>varOperador</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>isAgentVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isQueueVariable</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <stringValue>00G4R0000068arEUAQ</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
            <value>
                <stringValue>Operaciones - Mensajeria</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>Agent</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Mensajería</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_livemessage</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N94R000000fxV0SAI</stringValue>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Se asigna el propietario de la cuenta del contacto como operador a rutear</description>
        <name>Asignar_el_Operador</name>
        <label>Asignar el Operador</label>
        <locationX>308</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>varOperador</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtener_contacto_de_la_Sesion_de_Mensajeria.Account.Operador__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Hay_Operador</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Hay_Operador</name>
        <label>Hay Operador?</label>
        <locationX>308</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Rutear_al_operador_propietario_de_la_Cuenta</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Hay Operador</defaultConnectorLabel>
        <rules>
            <name>No_hay_Operador</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOperador</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rutear_a_la_cola_Operaciones_Mensajeria</targetReference>
            </connector>
            <label>No hay Operador</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tiene_Contacto</name>
        <label>Tiene Contacto?</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Asignar_el_Operador</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Tiene Contacto asociado</defaultConnectorLabel>
        <rules>
            <name>Es_la_primera_vez</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_contacto_de_la_Sesion_de_Mensajeria.LastName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rutear_a_la_cola_Operaciones_Mensajeria</targetReference>
            </connector>
            <label>Es la primera vez</label>
        </rules>
    </decisions>
    <description>Rutea cada mensaje a la cola Operaciones - Mensajería si es la primera vez, o al propietario de la cuenta del contacto asociado al usuario de mensajería.</description>
    <environments>Default</environments>
    <interviewLabel>Mensaje - Rutear al propietario de la cuenta {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Mensaje - Rutear al propietario de la cuenta</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>RoutingFlow</processType>
    <recordLookups>
        <name>Obtener_contacto_de_la_Sesion_de_Mensajeria</name>
        <label>Obtener contacto de la Sesión de Mensajería</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Tiene_Contacto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>input_record.MessagingEndUser.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <sourceTemplate>omnichannel_messaging__MsgRouting</sourceTemplate>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obtener_contacto_de_la_Sesion_de_Mensajeria</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>The messaging session record that is being inputted into the flow. Necessary for the flow to run.</description>
        <name>input_record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>MessagingSession</objectType>
    </variables>
    <variables>
        <description>The ID of the record being inputted into the flow. Necessary for the flow to run.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOperador</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
