force-app/main/default/flows/MF_Asigna_MOV_Remesa_SE_a_MOV_SE_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Agrega_registro_a_nueva_coleccion</name>
        <label>Agrega registro a nueva coleccion</label>
        <locationX>490</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>ColeccionMOVSEparaactualizar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Por_cada_MOV_SE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Por_cada_MOV_SE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Agrega_registro_a_nueva_coleccion_2</name>
        <label>Agrega registro a nueva coleccion 2</label>
        <locationX>138</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>ColeccionMOVSEPVCYOparaactualizar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Por_cada_MOV_SE_PV_o_CYO</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Por_cada_MOV_SE_PV_o_CYO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asigna_idMF_a_MOV_SE</name>
        <label>Asigna idMF a MOV SE</label>
        <locationX>490</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Por_cada_MOV_SE.MOV_Remesa_SE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>idMF</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Agrega_registro_a_nueva_coleccion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asigna_idMF_a_MOV_SE_PV_o_CYO</name>
        <label>Asigna idMF a MOV SE PV o CYO</label>
        <locationX>138</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Por_cada_MOV_SE_PV_o_CYO.MOV_Remesa_SE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>idMF</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Agrega_registro_a_nueva_coleccion_2</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Est_completo_el_MF</name>
        <label>Está completo el MF</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>SI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Busca_MF.ERPvs__Cuenta__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Busca_MF.Fecha_Desde_MOV_SE__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Busca_MF.Fecha_Hasta_MOV_SE__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Busca_MF.ERPvs__Estado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NO CONTABILIZADO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PV_o_CYO</targetReference>
            </connector>
            <label>SI</label>
        </rules>
    </decisions>
    <decisions>
        <name>PV_o_CYO</name>
        <label>PV o CYO</label>
        <locationX>226</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Buscar_MOV_APSE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>PV+CYO</defaultConnectorLabel>
        <rules>
            <name>PV_o_CYO2</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Busca_MF.Modelo_Facturacion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PV</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Busca_MF.Modelo_Facturacion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CYO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Buscar_MOV_APSE_PV_o_CYO</targetReference>
            </connector>
            <label>PV o CYO</label>
        </rules>
    </decisions>
    <description>V1: Asigna el MOV Remesa SE a los registros del tipo APSE a los MOV del objeto Movimientos__c
V2: Se agrega el estado NO CONTABILIZADO del MF
V3: Se agrega el split PV, CYO y PV+CYO
V4: Se modifica el paso Asigna idMF a MOV SE PV o CYO porque asignaba null el idMF a la colección</description>
    <environments>Default</environments>
    <formulas>
        <name>cuentaMF</name>
        <dataType>String</dataType>
        <expression>{!Busca_MF.ERPvs__Cuenta__c}</expression>
    </formulas>
    <formulas>
        <name>fechaDesdeMOVSE</name>
        <dataType>Date</dataType>
        <expression>{!Busca_MF.Fecha_Desde_MOV_SE__c}</expression>
    </formulas>
    <formulas>
        <name>fechaHastaMOVSE</name>
        <dataType>Date</dataType>
        <expression>{!Busca_MF.Fecha_Hasta_MOV_SE__c}</expression>
    </formulas>
    <formulas>
        <name>modeloFacturacion</name>
        <dataType>Boolean</dataType>
        <expression>IF(ISPICKVAL({!Busca_MF.Modelo_Facturacion__c}, &apos;PV&apos;),TRUE, FALSE)</expression>
    </formulas>
    <interviewLabel>MF.Asigna MOV Remesa SE a MOV SE {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MF.Asigna MOV Remesa SE a MOV SE (Flow)</label>
    <loops>
        <name>Por_cada_MOV_SE</name>
        <label>Por cada MOV SE</label>
        <locationX>402</locationX>
        <locationY>566</locationY>
        <collectionReference>Buscar_MOV_APSE</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Asigna_idMF_a_MOV_SE</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Actualiza_MOV_SE</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Por_cada_MOV_SE_PV_o_CYO</name>
        <label>Por cada MOV SE PV o CYO</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <collectionReference>Buscar_MOV_APSE_PV_o_CYO</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Asigna_idMF_a_MOV_SE_PV_o_CYO</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Actualiza_MOV_SE_PV_CYO</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Busca_MF</name>
        <label>Busca MF</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Est_completo_el_MF</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>idMF</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ERPvs__Movimiento_Fondo__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Buscar_MOV_APSE</name>
        <label>Buscar MOV APSE</label>
        <locationX>402</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Por_cada_MOV_SE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Tipo_de_Movimiento__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>APSE</stringValue>
            </value>
        </filters>
        <filters>
            <field>Fecha__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>fechaDesdeMOVSE</elementReference>
            </value>
        </filters>
        <filters>
            <field>Fecha__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>fechaHastaMOVSE</elementReference>
            </value>
        </filters>
        <filters>
            <field>MOV_Remesa_SE__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Obtentor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>cuentaMF</elementReference>
            </value>
        </filters>
        <filters>
            <field>CV_Comisiones_SE__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Movimientos__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>MOV_Remesa_SE__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Buscar_MOV_APSE_PV_o_CYO</name>
        <label>Buscar MOV APSE PV o CYO</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Por_cada_MOV_SE_PV_o_CYO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Tipo_de_Movimiento__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>APSE</stringValue>
            </value>
        </filters>
        <filters>
            <field>Fecha__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>fechaDesdeMOVSE</elementReference>
            </value>
        </filters>
        <filters>
            <field>Fecha__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>fechaHastaMOVSE</elementReference>
            </value>
        </filters>
        <filters>
            <field>MOV_Remesa_SE__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Obtentor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>cuentaMF</elementReference>
            </value>
        </filters>
        <filters>
            <field>CV_Comisiones_SE__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Punto_de_Venta__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>modeloFacturacion</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Movimientos__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>MOV_Remesa_SE__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualiza_MOV_SE</name>
        <label>Actualiza MOV SE</label>
        <locationX>402</locationX>
        <locationY>974</locationY>
        <inputReference>ColeccionMOVSEparaactualizar</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualiza_MOV_SE_PV_CYO</name>
        <label>Actualiza MOV SE PV CYO</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <inputReference>ColeccionMOVSEPVCYOparaactualizar</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Busca_MF</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ColeccionMOVSEparaactualizar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Movimientos__c</objectType>
    </variables>
    <variables>
        <name>ColeccionMOVSEPVCYOparaactualizar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Movimientos__c</objectType>
    </variables>
    <variables>
        <name>idMF</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
