force-app/main/default/flows/MF_Crea_registros_MOV_SE_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Existe_el_MOV</name>
        <label>Existe el MOV?</label>
        <locationX>396</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Recorre_los_DDA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SI Existe</defaultConnectorLabel>
        <rules>
            <name>NO_Existe</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_MOV</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Buscar_OPP</targetReference>
            </connector>
            <label>NO Existe</label>
        </rules>
    </decisions>
    <description>V1: Crea registros MOV SE
V2: Se agrega actualización oportunidad
V3: Se cambia fórmula de actualización de OPP
V4: Se agrega dato en el campo Confirmación de Pago</description>
    <environments>Default</environments>
    <formulas>
        <name>varComisionARPOV</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!Buscar_OPP.Compra_HT__r.Venta_HT__c}), {!Recorre_los_DDA.Importe_Afectado_ME__c} * {!Recorre_los_DDA.TC_Cobranza_SE__c} * {!Buscar_OPP.Percepciones__c} * {!$Setup.camposArpov__c.ComisionHTDirecto__c}/100, 
{!Recorre_los_DDA.Importe_Afectado_ME__c} * {!Recorre_los_DDA.TC_Cobranza_SE__c} * {!Buscar_OPP.Percepciones__c} * {!$Setup.camposArpov__c.ComisionHTporCanal__c}/100)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>varPorcComision</name>
        <dataType>Number</dataType>
        <expression>IF( ISBLANK({!Buscar_OPP.Compra_HT__r.Venta_HT__c}), {!$Setup.camposArpov__c.ComisionHTDirecto__c}, {!$Setup.camposArpov__c.ComisionHTporCanal__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>varSaldoComprobante</name>
        <dataType>Number</dataType>
        <expression>{!Buscar_OPP.Saldo_a_Cobrar_Comprobante__c} - {!Recorre_los_DDA.Importe_Afectado_ME__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>varSaldoGestionar</name>
        <dataType>Number</dataType>
        <expression>{!Buscar_OPP.Saldo_a_Gestionar__c} - {!Recorre_los_DDA.Importe_Afectado_ME__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>MF.Crea registros MOV SE (Flow) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MF.Crea registros MOV SE (Flow)</label>
    <loops>
        <name>Recorre_los_DDA</name>
        <label>Recorre los DDA</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>Busca_DDA</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Buscar_MOV</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Crear_MOV</name>
        <label>Crear MOV</label>
        <locationX>264</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Actualizar_OPP</targetReference>
        </connector>
        <inputAssignments>
            <field>Comision_ArPOV__c</field>
            <value>
                <elementReference>varComisionARPOV</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comprobante__c</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cuenta__c</field>
            <value>
                <elementReference>$Record.ERPvs__Cuenta__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Documento_Afectado__c</field>
            <value>
                <elementReference>Recorre_los_DDA.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha__c</field>
            <value>
                <elementReference>$Record.ERPvs__Fecha__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Importe__c</field>
            <value>
                <elementReference>Recorre_los_DDA.Importe_Afectado_ME__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Moneda__c</field>
            <value>
                <elementReference>Recorre_los_DDA.Moneda__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Observaciones_PB_y_Flows__c</field>
            <value>
                <stringValue>MF.Crea registros MOV SE - Step: Crea MOV</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Oportunidad__c</field>
            <value>
                <elementReference>Recorre_los_DDA.ERPvs__Vencimientos__r.ERPvs__Comprobante_Venta__r.Oportunidad__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Porcentaje_Comision_ArPOV__c</field>
            <value>
                <elementReference>varPorcComision</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_Cambio__c</field>
            <value>
                <elementReference>Recorre_los_DDA.TC_Cobranza_SE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_Movimiento__c</field>
            <value>
                <stringValue>APSE</stringValue>
            </value>
        </inputAssignments>
        <object>Movimientos__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Busca_DDA</name>
        <label>Busca DDA</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recorre_los_DDA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ERPvs__Movimiento_de_Fondo__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Moneda__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>ARS</stringValue>
            </value>
        </filters>
        <filters>
            <field>ERPvs__Signo__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ERPvs__Documento_Afectado__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Buscar_MOV</name>
        <label>Buscar MOV</label>
        <locationX>396</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_el_MOV</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Documento_Afectado__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recorre_los_DDA.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Movimientos__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Buscar_OPP</name>
        <label>Buscar OPP</label>
        <locationX>264</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Crear_MOV</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recorre_los_DDA.ERPvs__Vencimientos__r.ERPvs__Comprobante_Venta__r.Oportunidad__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_OPP</name>
        <label>Actualizar OPP</label>
        <locationX>264</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Recorre_los_DDA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recorre_los_DDA.ERPvs__Vencimientos__r.ERPvs__Comprobante_Venta__r.Oportunidad__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Confirmacion_de_Pago__c</field>
            <value>
                <elementReference>Recorre_los_DDA.ERPvs__Movimiento_de_Fondo__r.ERPvs__Fecha__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Saldo_a_Cobrar_Comprobante__c</field>
            <value>
                <elementReference>varSaldoComprobante</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Saldo_a_Gestionar__c</field>
            <value>
                <elementReference>varSaldoGestionar</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Busca_DDA</targetReference>
        </connector>
        <filterFormula>{!$Record.ERPvs__Tipo_Comprobante_Movimiento_Fondo__r.Name} = &quot;Cobranzas CYO SE (sin aplicar)&quot;  &amp;&amp; 
{!$Record.ERPvs__Contabilizar__c} = TRUE</filterFormula>
        <object>ERPvs__Movimiento_Fondo__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
