force-app/main/default/flows/MovBolsaTech_Calcular_feriados_cuando_se_crea.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Asignar_Fecha_de_reconsideracion</name>
        <label>Asignar Fecha de reconsideración</label>
        <locationX>380</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>varFechaDeReconsideracion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forFechaMasFeriados</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fecha_de_Reconsiderac_cae_Sabado_o_Domingo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Suma_1_dia</name>
        <label>Suma 1 día</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varFechaDeReconsideracion</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Fecha_de_Reconsiderac_cae_Sabado_o_Domingo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Suma_2_dias</name>
        <label>Suma 2 días</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varFechaDeReconsideracion</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Fecha_de_Reconsiderac_cae_Sabado_o_Domingo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sumar_1_dia</name>
        <label>Sumar 1 día</label>
        <locationX>842</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>varFechaDeReconsideracion</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCantidadFeriados</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Fecha_de_Reconsiderac_cae_Sabado_o_Domingo</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Fecha_de_Reconsiderac_cae_Sabado_o_Domingo</name>
        <label>Fecha de Reconsiderac cae Sábado o Domingo?</label>
        <locationX>380</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Verificar_si_es_Feriado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Otro</defaultConnectorLabel>
        <rules>
            <name>Sabado</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>forDiaDeLaSemanaFechaReconsid</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>7.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Suma_2_dias</targetReference>
            </connector>
            <label>Sábado</label>
        </rules>
        <rules>
            <name>Domingo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>forDiaDeLaSemanaFechaReconsid</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Suma_1_dia</targetReference>
            </connector>
            <label>Domingo</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fecha_Reconsiderac_es_Feriado</name>
        <label>Fecha Reconsiderac es Feriado?</label>
        <locationX>710</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Sumar_1_dia</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Si</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEsFeriado</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_Fecha_Reconsideracion</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>Cada vez que se crea un movimiento Bolsa Tech, se calcula la cantidad de feriados entre la fecha de análisis y la fecha sin sábados ni domingos.
Se cambia la fecha inicio = Fecha Análisis y fecha fin = Fecha sin Sábados ni Domingos.
Se verifica si la fecha más feriados es un feriado. Si cae en feriado --&gt; se suma 1 feriado.</description>
    <environments>Default</environments>
    <formulas>
        <name>forDiaDeLaSemanaFechaReconsid</name>
        <dataType>Number</dataType>
        <expression>WEEKDAY({!varFechaDeReconsideracion})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>forFechaMasFeriados</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Fecha_sin_Sab_Dom__c} + {!varCantidadFeriados}</expression>
    </formulas>
    <interviewLabel>MovBolsaTech - Calcular feriados cuando se crea {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MovBolsaTech - Calcular feriados cuando se crea</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Actualizar_Fecha_Reconsideracion</name>
        <label>Actualizar Fecha Reconsideración</label>
        <locationX>578</locationX>
        <locationY>863</locationY>
        <inputAssignments>
            <field>Fecha_de_Reconsideracion__c</field>
            <value>
                <elementReference>varFechaDeReconsideracion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Feriados__c</field>
            <value>
                <elementReference>varCantidadFeriados</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Calcular_feriados</targetReference>
        </connector>
        <object>Movimiento_BolsaTech__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <description>Entre la fecha de análisis y la fecha sin sábados ni domingos.</description>
        <name>Calcular_feriados</name>
        <label>Calcular feriados</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Asignar_Fecha_de_reconsideracion</targetReference>
        </connector>
        <flowName>Calcular_cantidad_de_feriados</flowName>
        <inputAssignments>
            <name>varFechaFin</name>
            <value>
                <elementReference>$Record.Fecha_sin_Sab_Dom__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFechaInicio</name>
            <value>
                <elementReference>$Record.Fecha_Analisis__c</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varCantidadFeriados</assignToReference>
            <name>varCantidadFeriados</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>Verifica si la Fecha Más Feriados es feriado</description>
        <name>Verificar_si_es_Feriado</name>
        <label>Verificar si es Feriado</label>
        <locationX>710</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Fecha_Reconsiderac_es_Feriado</targetReference>
        </connector>
        <flowName>Es_Feriado</flowName>
        <inputAssignments>
            <name>varFecha</name>
            <value>
                <elementReference>varFechaDeReconsideracion</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varEsFeriado</assignToReference>
            <name>varFeriado</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>varCantidadFeriados</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varEsFeriado</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varFechaDeReconsideracion</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
