force-app/main/default/flows/MovBolsaTech_Proceso_Diario_para_crear_Debitos.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Hay_Movimientos_similares</name>
        <label>Hay Movimientos similares?</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <defaultConnector>
            <targetReference>Debitar_TNs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No hay</defaultConnectorLabel>
        <rules>
            <name>Hay</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_Movimientos_similares</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Hay</label>
        </rules>
    </decisions>
    <description>Si ya pasaron 8 días hábiles desde la fecha de análisis, No debitar = F y no se debitaron las TNs y estado = a procesar --&gt; se debitan las TNs, si corresponde.
Si el productor precertificó, no se debitan TNs.
Si existen movimientos similares con TNs ya debitadas, no se debitan TNs.</description>
    <environments>Default</environments>
    <interviewLabel>MovBolsaTech - Proceso Diario para crear Débitos {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MovBolsaTech - Proceso Diario para crear Débitos</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Se buscan los movimientos con igual cuit titular, carta de porte, cultivo, tecnología, peso neto, con TNs ya creadas y con Id distinto al del movimiento.</description>
        <name>Buscar_Movimientos_similares</name>
        <label>Buscar Movimientos similares</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Hay_Movimientos_similares</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CUIT_Titular__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CUIT_Titular__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CTG__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CTG__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Cultivo__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Cultivo__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tecnologia__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Tecnologia__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Peso_Neto__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Peso_Neto__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>TN_Id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Movimiento_BolsaTech__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Buscar_Movimientos_similares</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Procesar__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>No_Debitar__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>TN_Id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Estado__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>A procesar</stringValue>
            </value>
        </filters>
        <object>Movimiento_BolsaTech__c</object>
        <schedule>
            <dayOfMonthToRun>0</dayOfMonthToRun>
            <frequency>Daily</frequency>
            <frequencyNumber>0</frequencyNumber>
            <startDate>2023-05-04</startDate>
            <startTime>14:31:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Debitar_TNs</name>
        <label>Debitar TNs</label>
        <locationX>308</locationX>
        <locationY>468</locationY>
        <flowName>MovBolsaTech_Crear_Debito_de_TNs</flowName>
        <inputAssignments>
            <name>varMovBolsaTechId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
</Flow>
