force-app/main/default/flows/MovBolsaTech_Boton_Debitar.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Hay_Movimientos_similares</name>
        <label>Hay Movimientos similares?</label>
        <locationX>248</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Crear_debito_para_el_mov_BolsaTech</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No hay</defaultConnectorLabel>
        <rules>
            <name>Hay</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_Movimientos_similares</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HayMovimSimilares</targetReference>
            </connector>
            <label>Hay</label>
        </rules>
    </decisions>
    <decisions>
        <name>Hay_que_hacer_el_debito</name>
        <label>Hay que hacer el débito?</label>
        <locationX>611</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Limpiar_No_debitar</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_Mov_BolsaTech.No_Debitar__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Buscar_Mov_BolsaTech.TN_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Buscar_Mov_BolsaTech.Estado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>A procesar</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Buscar_Movimientos_similares</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Se_crearon_las_TNs</name>
        <label>Se crearon las TNs?</label>
        <locationX>446</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>NoCrearDebito</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No se crearon</defaultConnectorLabel>
        <rules>
            <name>TNs_Creadas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTNsCreadas</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CrearDebito</targetReference>
            </connector>
            <label>TNs Creadas</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ya_tiene_TN_creada</name>
        <label>Ya tiene TN creada?</label>
        <locationX>974</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>EstadoConErrores</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No tiene TN</defaultConnectorLabel>
        <rules>
            <name>Existe_TN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_Mov_BolsaTech.TN_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ya_existe_TN</targetReference>
            </connector>
            <label>Existe TN</label>
        </rules>
    </decisions>
    <description>Se crean las TNs del movimiento BolsaTech, si corresponde.
Si el productor precertificó, no se debitan TNs.
Si existen movimientos similares con TNs ya debitadas, no se debitan TNs.
Si el estado = Con error, no se debitan TNs.</description>
    <environments>Default</environments>
    <formulas>
        <name>forCambiarPrevenirCambio</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Buscar_Mov_BolsaTech.Prevenir_Cambio__c} = TRUE, FALSE, TRUE)</expression>
    </formulas>
    <interviewLabel>MovBolsaTech - Botón Debitar {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MovBolsaTech - Botón Debitar</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Buscar_Mov_BolsaTech</name>
        <label>Buscar Mov BolsaTech</label>
        <locationX>611</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Hay_que_hacer_el_debito</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Movimiento_BolsaTech__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Se buscan los movimientos con igual cuit titular, carta de porte, cultivo, tecnología,  peso neto, con TNs ya creadas y con Id distinto al del movimiento.</description>
        <name>Buscar_Movimientos_similares</name>
        <label>Buscar Movimientos similares</label>
        <locationX>248</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Hay_Movimientos_similares</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CUIT_Titular__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Buscar_Mov_BolsaTech.CUIT_Titular__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CTG__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Buscar_Mov_BolsaTech.CTG__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Cultivo__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Buscar_Mov_BolsaTech.Cultivo__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tecnologia__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Buscar_Mov_BolsaTech.Tecnologia__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Peso_Neto__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Buscar_Mov_BolsaTech.Peso_Neto__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>TN_Id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Buscar_Mov_BolsaTech.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Movimiento_BolsaTech__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_No_debitar_a_false</name>
        <label>Actualizar No debitar a false</label>
        <locationX>446</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Se_crearon_las_TNs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>No_Debitar__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prevenir_Cambio__c</field>
            <value>
                <elementReference>forCambiarPrevenirCambio</elementReference>
            </value>
        </inputAssignments>
        <object>Movimiento_BolsaTech__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Limpiar_No_debitar</name>
        <label>Limpiar No debitar</label>
        <locationX>974</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Ya_tiene_TN_creada</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>No_Debitar__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prevenir_Cambio__c</field>
            <value>
                <elementReference>forCambiarPrevenirCambio</elementReference>
            </value>
        </inputAssignments>
        <object>Movimiento_BolsaTech__c</object>
    </recordUpdates>
    <screens>
        <name>CrearDebito</name>
        <label>CrearDébito</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MsgDebitoCreado</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Fue creado el débito de TNs.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>EstadoConErrores</name>
        <label>Estado Con Errores</label>
        <locationX>1106</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MsgEstadoNoAProcesar</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Este movimiento BolsaTech tiene errores.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>HayMovimSimilares</name>
        <label>HayMovimSimilares</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_MsgDebitoCreado</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Hay movimientos similares con el débito de TNs creado.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NoCrearDebito</name>
        <label>NoCrearDébito</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MsgDebitoNoCreado</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;No fue creado el débito de TNs porque el productor precertificó.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Ya_existe_TN</name>
        <label>Ya existe TN</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MsgYaExiste</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Este movimiento BolsaTech ya tiene creadas  las TNs&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Buscar_Mov_BolsaTech</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Crear_debito_para_el_mov_BolsaTech</name>
        <label>Crear débito para el mov BolsaTech</label>
        <locationX>446</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Actualizar_No_debitar_a_false</targetReference>
        </connector>
        <flowName>MovBolsaTech_Crear_Debito_de_TNs</flowName>
        <inputAssignments>
            <name>varMovBolsaTechId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varTNsCreadas</assignToReference>
            <name>varTNsCreadas</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTNsCreadas</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
