force-app/main/default/flows/MovimientoBT.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Es_RC_o_tiene_Mov_RC_asociada</name>
        <label>Es RC o tiene Mov RC  asociada?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Buscar_si_ya_existe_RC_para_este_MovimientoBT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>es_RC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_Movimiento_Bolsa_Tech_Asociada.RC__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MensajeEsRC</targetReference>
            </connector>
            <label>es RC</label>
        </rules>
    </decisions>
    <decisions>
        <name>Movimiento_Procesar</name>
        <label>Movimiento  Procesar</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Pantalla_No_Procesado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No procesado</defaultConnectorLabel>
        <rules>
            <name>pocesada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_Movimiento_Bolsa_Tech_Asociada.TN_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Buscar_Movimiento_Bolsa_Tech_Asociada.Estado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Procesado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>buscar_toneladas</targetReference>
            </connector>
            <label>Con tonelada</label>
        </rules>
        <rules>
            <name>sin_tonelada_a_procesar</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_Movimiento_Bolsa_Tech_Asociada.TN_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Buscar_Movimiento_Bolsa_Tech_Asociada.Estado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>A procesar</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crear_Movimiento_BT_tipo_RC_sin_TN</targetReference>
            </connector>
            <label>Sin tonelada</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ya_existe_RC_para_este_MovimientoBT</name>
        <label>Ya existe RC para este MovimientoBT?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Movimiento_Procesar</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Existe</defaultConnectorLabel>
        <rules>
            <name>Existe_RC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_si_ya_existe_RC_para_este_MovimientoBT.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pantalla_Ya_existe_RC</targetReference>
            </connector>
            <label>Existe RC</label>
        </rules>
    </decisions>
    <description>20261604 JN movimientos bolsa tech reconsideración</description>
    <environments>Default</environments>
    <formulas>
        <name>pesoNetoNegativo</name>
        <dataType>Number</dataType>
        <expression>{!Buscar_Movimiento_Bolsa_Tech_Asociada.Peso_Neto__c}*-1</expression>
        <scale>3</scale>
    </formulas>
    <formulas>
        <name>varCodigoMuestra</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Buscar_Movimiento_Bolsa_Tech_Asociada.Codigo_de_Muestra__c}), &quot;&quot;, {!Buscar_Movimiento_Bolsa_Tech_Asociada.Codigo_de_Muestra__c} &amp; &quot;R&quot;)</expression>
    </formulas>
    <interviewLabel>MovimientoBT {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Movimiento BT-Crear RC</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Crear_Movimiento_BT_tipo_RC</name>
        <label>Crear  Movimiento BT tipo RC</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>relacion_Mov_bt_con_Toneladas</targetReference>
        </connector>
        <inputAssignments>
            <field>CTG__c</field>
            <value>
                <elementReference>Buscar_Movimiento_Bolsa_Tech_Asociada.CTG__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CUIT_Titular__c</field>
            <value>
                <elementReference>Buscar_Movimiento_Bolsa_Tech_Asociada.CUIT_Titular__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Carta_de_Porte__c</field>
            <value>
                <elementReference>Buscar_Movimiento_Bolsa_Tech_Asociada.Carta_de_Porte__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Clausula_de_Biotecnologia__c</field>
            <value>
                <elementReference>Buscar_Movimiento_Bolsa_Tech_Asociada.Clausula_de_Biotecnologia__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Codigo_de_Muestra__c</field>
            <value>
                <elementReference>varCodigoMuestra</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cosecha__c</field>
            <value>
                <elementReference>Buscar_Movimiento_Bolsa_Tech_Asociada.Cosecha__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Crear_TN__c</field>
            <value>
                <elementReference>Buscar_Movimiento_Bolsa_Tech_Asociada.Crear_TN__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cuit_Corredor__c</field>
            <value>
                <elementReference>Buscar_Movimiento_Bolsa_Tech_Asociada.Cuit_Corredor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cuit_Destinatario__c</field>
            <value>
                <elementReference>Buscar_Movimiento_Bolsa_Tech_Asociada.Cuit_Destinatario__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cuit_Intermediario__c</field>
            <value>
                <elementReference>Buscar_Movimiento_Bolsa_Tech_Asociada.Cuit_Intermediario__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cuit_Remitente_Comercial__c</field>
            <value>
                <elementReference>Buscar_Movimiento_Bolsa_Tech_Asociada.Cuit_Remitente_Comercial__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cultivo__c</field>
            <value>
                <elementReference>Buscar_Movimiento_Bolsa_Tech_Asociada.Cultivo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Destinatario__c</field>
            <value>
                <elementReference>Buscar_Movimiento_Bolsa_Tech_Asociada.Destinatario__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Destino__c</field>
            <value>
                <elementReference>Buscar_Movimiento_Bolsa_Tech_Asociada.Destino__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dias_Transcurridos__c</field>
            <value>
                <elementReference>Buscar_Movimiento_Bolsa_Tech_Asociada.Dias_Transcurridos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estado__c</field>
            <value>
                <elementReference>Buscar_Movimiento_Bolsa_Tech_Asociada.Estado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expediente_de_Negativos__c</field>
            <value>
                <elementReference>Buscar_Movimiento_Bolsa_Tech_Asociada.Expediente_de_Negativos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_de_Analisis__c</field>
            <value>
                <elementReference>Buscar_Movimiento_Bolsa_Tech_Asociada.Fecha_de_Analisis__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_de_Entrega__c</field>
            <value>
                <elementReference>Buscar_Movimiento_Bolsa_Tech_Asociada.Fecha_de_Entrega__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Feriados__c</field>
            <value>
                <elementReference>Buscar_Movimiento_Bolsa_Tech_Asociada.Feriados__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Licencia_con_Semillero__c</field>
            <value>
                <elementReference>Buscar_Movimiento_Bolsa_Tech_Asociada.Licencia_con_Semillero__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Movimiento_BolsaTech_Original__c</field>
            <value>
                <elementReference>Buscar_Movimiento_Bolsa_Tech_Asociada.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>No_Debitar__c</field>
            <value>
                <elementReference>Buscar_Movimiento_Bolsa_Tech_Asociada.No_Debitar__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Observaciones__c</field>
            <value>
                <elementReference>Buscar_Movimiento_Bolsa_Tech_Asociada.Observaciones__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Obtentor__c</field>
            <value>
                <elementReference>Buscar_Movimiento_Bolsa_Tech_Asociada.Obtentor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Peso_Neto__c</field>
            <value>
                <elementReference>pesoNetoNegativo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RC__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Razon_Social_Corredor__c</field>
            <value>
                <elementReference>Buscar_Movimiento_Bolsa_Tech_Asociada.Razon_Social_Corredor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Razon_Social_Destinatario__c</field>
            <value>
                <elementReference>Buscar_Movimiento_Bolsa_Tech_Asociada.Razon_Social_Destinatario__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Razon_Social_Intermediario__c</field>
            <value>
                <elementReference>Buscar_Movimiento_Bolsa_Tech_Asociada.Razon_Social_Intermediario__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Razon_Social_Remitente_Comercial__c</field>
            <value>
                <elementReference>Buscar_Movimiento_Bolsa_Tech_Asociada.Razon_Social_Remitente_Comercial__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Razon_Social_Titular__c</field>
            <value>
                <elementReference>Buscar_Movimiento_Bolsa_Tech_Asociada.Razon_Social_Titular__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Resultado__c</field>
            <value>
                <elementReference>Buscar_Movimiento_Bolsa_Tech_Asociada.Resultado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TN_Id__c</field>
            <value>
                <elementReference>Crear_Toneladas_BT_tipo_RC.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tecnologia__c</field>
            <value>
                <elementReference>Buscar_Movimiento_Bolsa_Tech_Asociada.Tecnologia__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_entrega__c</field>
            <value>
                <elementReference>Buscar_Movimiento_Bolsa_Tech_Asociada.Tipo_de_entrega__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Titular__c</field>
            <value>
                <elementReference>Buscar_Movimiento_Bolsa_Tech_Asociada.Titular__c</elementReference>
            </value>
        </inputAssignments>
        <object>Movimiento_BolsaTech__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Crear_Movimiento_BT_tipo_RC_sin_TN</name>
        <label>Crear Movimiento BT tipo RC sin tonelada</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>realiconar_mov_original_sin_tn</targetReference>
        </connector>
        <inputAssignments>
            <field>CTG__c</field>
            <value>
                <elementReference>Buscar_Movimiento_Bolsa_Tech_Asociada.CTG__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CUIT_Titular__c</field>
            <value>
                <elementReference>Buscar_Movimiento_Bolsa_Tech_Asociada.CUIT_Titular__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Carta_de_Porte__c</field>
            <value>
                <elementReference>Buscar_Movimiento_Bolsa_Tech_Asociada.Carta_de_Porte__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Clausula_de_Biotecnologia__c</field>
            <value>
                <elementReference>Buscar_Movimiento_Bolsa_Tech_Asociada.Clausula_de_Biotecnologia__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Codigo_de_Muestra__c</field>
            <value>
                <elementReference>varCodigoMuestra</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cosecha__c</field>
            <value>
                <elementReference>Buscar_Movimiento_Bolsa_Tech_Asociada.Cosecha__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Crear_TN__c</field>
            <value>
                <elementReference>Buscar_Movimiento_Bolsa_Tech_Asociada.Crear_TN__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cuit_Corredor__c</field>
            <value>
                <elementReference>Buscar_Movimiento_Bolsa_Tech_Asociada.Cuit_Corredor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cuit_Destinatario__c</field>
            <value>
                <elementReference>Buscar_Movimiento_Bolsa_Tech_Asociada.Cuit_Destinatario__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cuit_Intermediario__c</field>
            <value>
                <elementReference>Buscar_Movimiento_Bolsa_Tech_Asociada.Cuit_Intermediario__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cuit_Remitente_Comercial__c</field>
            <value>
                <elementReference>Buscar_Movimiento_Bolsa_Tech_Asociada.Cuit_Remitente_Comercial__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cultivo__c</field>
            <value>
                <elementReference>Buscar_Movimiento_Bolsa_Tech_Asociada.Cultivo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Destinatario__c</field>
            <value>
                <elementReference>Buscar_Movimiento_Bolsa_Tech_Asociada.Destinatario__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Destino__c</field>
            <value>
                <elementReference>Buscar_Movimiento_Bolsa_Tech_Asociada.Destino__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dias_Transcurridos__c</field>
            <value>
                <elementReference>Buscar_Movimiento_Bolsa_Tech_Asociada.Dias_Transcurridos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estado__c</field>
            <value>
                <elementReference>Buscar_Movimiento_Bolsa_Tech_Asociada.Estado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expediente_de_Negativos__c</field>
            <value>
                <elementReference>Buscar_Movimiento_Bolsa_Tech_Asociada.Expediente_de_Negativos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_de_Analisis__c</field>
            <value>
                <elementReference>Buscar_Movimiento_Bolsa_Tech_Asociada.Fecha_de_Analisis__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_de_Entrega__c</field>
            <value>
                <elementReference>Buscar_Movimiento_Bolsa_Tech_Asociada.Fecha_de_Entrega__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Feriados__c</field>
            <value>
                <elementReference>Buscar_Movimiento_Bolsa_Tech_Asociada.Feriados__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Licencia_con_Semillero__c</field>
            <value>
                <elementReference>Buscar_Movimiento_Bolsa_Tech_Asociada.Licencia_con_Semillero__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Movimiento_BolsaTech_Original__c</field>
            <value>
                <elementReference>Buscar_Movimiento_Bolsa_Tech_Asociada.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>No_Debitar__c</field>
            <value>
                <elementReference>Buscar_Movimiento_Bolsa_Tech_Asociada.No_Debitar__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Observaciones__c</field>
            <value>
                <elementReference>Buscar_Movimiento_Bolsa_Tech_Asociada.Observaciones__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Obtentor__c</field>
            <value>
                <elementReference>Buscar_Movimiento_Bolsa_Tech_Asociada.Obtentor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Peso_Neto__c</field>
            <value>
                <elementReference>pesoNetoNegativo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RC__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Razon_Social_Corredor__c</field>
            <value>
                <elementReference>Buscar_Movimiento_Bolsa_Tech_Asociada.Razon_Social_Corredor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Razon_Social_Destinatario__c</field>
            <value>
                <elementReference>Buscar_Movimiento_Bolsa_Tech_Asociada.Razon_Social_Destinatario__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Razon_Social_Intermediario__c</field>
            <value>
                <elementReference>Buscar_Movimiento_Bolsa_Tech_Asociada.Razon_Social_Intermediario__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Razon_Social_Remitente_Comercial__c</field>
            <value>
                <elementReference>Buscar_Movimiento_Bolsa_Tech_Asociada.Razon_Social_Remitente_Comercial__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Razon_Social_Titular__c</field>
            <value>
                <elementReference>Buscar_Movimiento_Bolsa_Tech_Asociada.Razon_Social_Titular__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Resultado__c</field>
            <value>
                <elementReference>Buscar_Movimiento_Bolsa_Tech_Asociada.Resultado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tecnologia__c</field>
            <value>
                <elementReference>Buscar_Movimiento_Bolsa_Tech_Asociada.Tecnologia__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_entrega__c</field>
            <value>
                <elementReference>Buscar_Movimiento_Bolsa_Tech_Asociada.Tipo_de_entrega__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Titular__c</field>
            <value>
                <elementReference>Buscar_Movimiento_Bolsa_Tech_Asociada.Titular__c</elementReference>
            </value>
        </inputAssignments>
        <object>Movimiento_BolsaTech__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Crear_Toneladas_BT_tipo_RC</name>
        <label>Crear Toneladas BT tipo RC</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Crear_Movimiento_BT_tipo_RC</targetReference>
        </connector>
        <inputAssignments>
            <field>Biotecnologia__c</field>
            <value>
                <elementReference>buscar_toneladas.Biotecnologia__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campania__c</field>
            <value>
                <elementReference>buscar_toneladas.Campania__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cantidad__c</field>
            <value>
                <elementReference>buscar_toneladas.Cantidad__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cultivo__c</field>
            <value>
                <elementReference>buscar_toneladas.Cultivo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Etapa__c</field>
            <value>
                <stringValue>Reconsideración</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expediente_de_Negativos__c</field>
            <value>
                <elementReference>buscar_toneladas.Expediente_de_Negativos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_Fin_Original__c</field>
            <value>
                <elementReference>buscar_toneladas.Fecha_Fin_Original__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_Fin__c</field>
            <value>
                <elementReference>buscar_toneladas.Fecha_Fin__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_Inicio__c</field>
            <value>
                <elementReference>buscar_toneladas.Fecha_Inicio__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>N_CUIT__c</field>
            <value>
                <elementReference>buscar_toneladas.N_CUIT__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origen__c</field>
            <value>
                <elementReference>buscar_toneladas.Origen__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Productor__c</field>
            <value>
                <elementReference>buscar_toneladas.Productor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Signo__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_Movimiento__c</field>
            <value>
                <stringValue>C</stringValue>
            </value>
        </inputAssignments>
        <object>Tonelada__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Buscar_Movimiento_Bolsa_Tech_Asociada</name>
        <label>Buscar Movimiento Bolsa Tech Asociada</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Es_RC_o_tiene_Mov_RC_asociada</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Movimiento_BolsaTech__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Buscar_si_ya_existe_RC_para_este_MovimientoBT</name>
        <label>Buscar si ya existe RC para este MovimientoBT</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Ya_existe_RC_para_este_MovimientoBT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Movimiento_BolsaTech_Original__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Buscar_Movimiento_Bolsa_Tech_Asociada.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Movimiento_BolsaTech__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>buscar_toneladas</name>
        <label>buscar toneladas</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Crear_Toneladas_BT_tipo_RC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Buscar_Movimiento_Bolsa_Tech_Asociada.TN_Id__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Tonelada__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>realiconar_mov_origina</name>
        <label>realiconar mov original</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Pantalla_RC_creada</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Buscar_Movimiento_Bolsa_Tech_Asociada.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Movimiento_BolsaTech_Reconsiderada__c</field>
            <value>
                <elementReference>Crear_Movimiento_BT_tipo_RC.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Movimiento_BolsaTech__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>realiconar_mov_original_sin_tn</name>
        <label>realiconar mov original sin tn</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Pantalla_RC_creada_sin_tonelada</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Buscar_Movimiento_Bolsa_Tech_Asociada.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Movimiento_BolsaTech_Reconsiderada__c</field>
            <value>
                <elementReference>Crear_Movimiento_BT_tipo_RC_sin_TN.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Movimiento_BolsaTech__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>relacion_Mov_bt_con_Toneladas</name>
        <label>relacion Mov bt con Toneladas</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>realiconar_mov_origina</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Crear_Toneladas_BT_tipo_RC.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Mov_BolsaTech__c</field>
            <value>
                <elementReference>Crear_Movimiento_BT_tipo_RC.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Tonelada__c</object>
    </recordUpdates>
    <screens>
        <name>MensajeEsRC</name>
        <label>MensajeEsRC</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>msjEsRC</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;El Movimiento Bolsa Tech  {!Buscar_Movimiento_Bolsa_Tech_Asociada.Id} es de tipo Reconsiderada.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Pantalla_No_Procesado</name>
        <label>Pantalla No Procesado</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MensajeNoProcesado</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;El Movimiento Bolsa Tech {!Buscar_Movimiento_Bolsa_Tech_Asociada.Name} no cumple las condiciones para crear una reconsideración: si tiene tonelada debe estar en estado Procesado; si no tiene tonelada debe estar en estado A procesar.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Pantalla_RC_creada</name>
        <label>Pantalla RC creada</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MensajeRCcreada</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Se creó la reconsideración para  el Movimiento Bolsa Tech {!Crear_Movimiento_BT_tipo_RC.Name} con éxito&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Pantalla_RC_creada_sin_tonelada</name>
        <label>Pantalla RC creada sin tonelada</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MensajeRCcreadaSinTonelada</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Se creó la reconsideración para el Movimiento Bolsa Tech {!Crear_Movimiento_BT_tipo_RC_sin_TN.Name} con éxito. No se generó tonelada porque el movimiento original no tenía tonelada asociada.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Pantalla_Ya_existe_RC</name>
        <label>Pantalla Ya existe RC</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MensajeYaExisteRC</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;El Movimiento Bolsa Tech {!Buscar_Movimiento_Bolsa_Tech_Asociada.Id} ya tiene una reconsideracion {!Buscar_si_ya_existe_RC_para_este_MovimientoBT.Name}.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Buscar_Movimiento_Bolsa_Tech_Asociada</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
