force-app/main/default/flows/Mulesoft_Firmar_Licencia.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Firmar_Licencia</name>
        <label>Firmar Licencia</label>
        <locationX>1645</locationX>
        <locationY>2366</locationY>
        <actionName>MulesoftFirmaLicencias.getLicenciasCrearById</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>FirmarLicencia</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>id</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MulesoftFirmaLicencias.getLicenciasCrearById</nameSegment>
        <outputParameters>
            <assignToReference>varRespuesta</assignToReference>
            <name>201</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Asignar_valores_al_registro_Colaborador_para_Carta</name>
        <label>Asignar valores al registro Colaborador para Carta</label>
        <locationX>1810</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>varUsuarioInterface.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varIdDocCartaDeAceptacion</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUsuarioInterface.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_Usuario_Interface.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUsuarioInterface.ShareType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>C</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUsuarioInterface.Visibility</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AllUsers</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Crear_Colaborador_para_Carta</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_valores_al_registro_Colaborador_para_Licencia</name>
        <label>Asignar valores al registro Colaborador para Licencia</label>
        <locationX>930</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>varUsuarioInterface.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varIdDocLicencia</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUsuarioInterface.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_Usuario_Interface.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUsuarioInterface.ShareType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>C</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUsuarioInterface.Visibility</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AllUsers</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Crear_Colaborador_para_Licencia</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asigno_Documento_Carta_de_Aceptacion</name>
        <label>Asigno Documento Carta de Aceptacion</label>
        <locationX>1997</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>varIdDocCartaDeAceptacion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_los_documentos.ContentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOwnerCarta</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_los_documentos.ContentDocument.Owner.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorrer_los_documentos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asigno_Documento_Licencia</name>
        <label>Asigno Documento Licencia</label>
        <locationX>1733</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>varIdDocLicencia</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_los_documentos.ContentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOwnerLicencia</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_los_documentos.ContentDocument.Owner.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorrer_los_documentos</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Estado_valido</name>
        <label>Estado valido?</label>
        <locationX>514</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Licencia_no_Portal_ni_SGL</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Estado Válido</defaultConnectorLabel>
        <rules>
            <name>Licencia_Aprobada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getLicencia.Estado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aprobada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error2</targetReference>
            </connector>
            <label>Licencia Aprobada</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_Usuario_Interface</name>
        <label>Existe Usuario Interface?</label>
        <locationX>842</locationX>
        <locationY>1706</locationY>
        <defaultConnector>
            <targetReference>Asignar_valores_al_registro_Colaborador_para_Licencia</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No existe para Licencia</defaultConnectorLabel>
        <rules>
            <name>Es_Colab_para_Licencia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_Colab_o_Prop_para_Licencia.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Firmar_Licencia</targetReference>
            </connector>
            <label>Es Colab. para Licencia</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_Usuario_Interface_0</name>
        <label>Existe Usuario Interface?</label>
        <locationX>1722</locationX>
        <locationY>1706</locationY>
        <defaultConnector>
            <targetReference>Asignar_valores_al_registro_Colaborador_para_Carta</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No existe para Carta</defaultConnectorLabel>
        <rules>
            <name>Es_Colab_o_Prop_para_Carta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_Colab_o_Prop_para_Carta.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Firmar_Licencia</targetReference>
            </connector>
            <label>Es Colab. o Prop. para Carta</label>
        </rules>
    </decisions>
    <decisions>
        <name>Hay_Documento_Carta_de_Aceptacion</name>
        <label>Hay Documento Carta de Aceptacion?</label>
        <locationX>1832</locationX>
        <locationY>1274</locationY>
        <defaultConnector>
            <targetReference>NoExisteCartaDeAceptacion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No existe Carta de Aceptacion</defaultConnectorLabel>
        <rules>
            <name>Existe_Carta_de_Aceptacion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varIdDocCartaDeAceptacion</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_Carta_de_Aceptacion</targetReference>
            </connector>
            <label>Existe Carta de Aceptacion</label>
        </rules>
    </decisions>
    <decisions>
        <name>Hay_documento_Licencia</name>
        <label>Hay documento Licencia?</label>
        <locationX>952</locationX>
        <locationY>1274</locationY>
        <defaultConnector>
            <targetReference>NoExisteDocLicencia</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No existe Licencia</defaultConnectorLabel>
        <rules>
            <name>Existe_Licencia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varIdDocLicencia</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_Visibilidad_Licencia</targetReference>
            </connector>
            <label>Existe Licencia</label>
        </rules>
    </decisions>
    <decisions>
        <name>Licencia_no_Portal_ni_SGL</name>
        <label>Licencia no Portal ni SGL</label>
        <locationX>979</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Buscar_Usuario_Interface</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Otra</defaultConnectorLabel>
        <rules>
            <name>Portal_o_SGL</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>getLicencia.Origen__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Portal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getLicencia.Origen__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SGL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getLicencia.Origen_SGL__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErrorLicenciaPortalSGL</targetReference>
            </connector>
            <label>Portal o SGL</label>
        </rules>
    </decisions>
    <decisions>
        <name>Que_documento_es</name>
        <label>Qué documento es?</label>
        <locationX>1997</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Recorrer_los_documentos</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Otro documento</defaultConnectorLabel>
        <rules>
            <name>Licencia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recorrer_los_documentos.ContentDocument.Title</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varNombreDocLicencia</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asigno_Documento_Licencia</targetReference>
            </connector>
            <label>Licencia</label>
        </rules>
        <rules>
            <name>Carta_de_Aceptacion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recorrer_los_documentos.ContentDocument.Title</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varNombreDocCartaDeAceptacion</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asigno_Documento_Carta_de_Aceptacion</targetReference>
            </connector>
            <label>Carta de Aceptacion</label>
        </rules>
    </decisions>
    <decisions>
        <name>Usuario_Interface_es_el_Owner</name>
        <label>Usuario Interface es el Owner?</label>
        <locationX>710</locationX>
        <locationY>1490</locationY>
        <defaultConnector>
            <targetReference>Buscar_Colab_o_Prop_para_Licencia</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No es Owner</defaultConnectorLabel>
        <rules>
            <name>Es_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOwnerLicencia</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Buscar_Usuario_Interface.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Firmar_Licencia</targetReference>
            </connector>
            <label>Es Owner</label>
        </rules>
    </decisions>
    <decisions>
        <name>Usuario_Interface_es_Owner</name>
        <label>Usuario Interface es Owner?</label>
        <locationX>1590</locationX>
        <locationY>1490</locationY>
        <defaultConnector>
            <targetReference>Buscar_Colab_o_Prop_para_Carta</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No es Owner Carta</defaultConnectorLabel>
        <rules>
            <name>Es_Owner_carta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOwnerCarta</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Buscar_Usuario_Interface.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Firmar_Licencia</targetReference>
            </connector>
            <label>Es Owner carta</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verificar_estado_de_la_licencia</name>
        <label>Verificar estado de la licencia</label>
        <locationX>1645</locationX>
        <locationY>1166</locationY>
        <defaultConnector>
            <targetReference>Licencia_en_Proceso</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Licencia en proceso</defaultConnectorLabel>
        <rules>
            <name>Licencia_Creada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getLicencia.Estado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Creada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Hay_documento_Licencia</targetReference>
            </connector>
            <label>Licencia Creada</label>
        </rules>
        <rules>
            <name>Licencia_Firmada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getLicencia.Estado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Licencia Firmada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Hay_Documento_Carta_de_Aceptacion</targetReference>
            </connector>
            <label>Licencia Firmada</label>
        </rules>
    </decisions>
    <description>Botón para firmar la licencia que no sea Portal ni SGL.
Verificar si el pdf tiene como propietario al Usuario Interface.</description>
    <environments>Default</environments>
    <formulas>
        <name>varNombreDocCartaDeAceptacion</name>
        <dataType>String</dataType>
        <expression>{!getLicencia.Name} &amp; &quot;-Carta de Aceptacion&quot;</expression>
    </formulas>
    <formulas>
        <name>varNombreDocLicencia</name>
        <dataType>String</dataType>
        <expression>{!getLicencia.Name} &amp; &quot;-Licencia&quot;</expression>
    </formulas>
    <interviewLabel>Mulesoft - Firmar Licencia {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Mulesoft - Firmar Licencia</label>
    <loops>
        <name>Recorrer_los_documentos</name>
        <label>Recorrer los documentos</label>
        <locationX>1645</locationX>
        <locationY>674</locationY>
        <collectionReference>Buscar_Documentos</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Que_documento_es</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Verificar_estado_de_la_licencia</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Crear_Colaborador_para_Carta</name>
        <label>Crear Colaborador para Carta</label>
        <locationX>1810</locationX>
        <locationY>1922</locationY>
        <connector>
            <targetReference>Firmar_Licencia</targetReference>
        </connector>
        <inputReference>varUsuarioInterface</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Crear_Colaborador_para_Licencia</name>
        <label>Crear Colaborador para Licencia</label>
        <locationX>930</locationX>
        <locationY>1922</locationY>
        <connector>
            <targetReference>Firmar_Licencia</targetReference>
        </connector>
        <inputReference>varUsuarioInterface</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Se busca el usuario interface como colaborador o propietario para la carta de aceptación.</description>
        <name>Buscar_Colab_o_Prop_para_Carta</name>
        <label>Buscar Colab. o Prop. para Carta</label>
        <locationX>1722</locationX>
        <locationY>1598</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_Usuario_Interface_0</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>ContentDocumentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varIdDocCartaDeAceptacion</elementReference>
            </value>
        </filters>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Buscar_Usuario_Interface.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ShareType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>C</stringValue>
            </value>
        </filters>
        <filters>
            <field>ShareType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>I</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Se busca el usuario interface como colaborador o propietario para la licencia</description>
        <name>Buscar_Colab_o_Prop_para_Licencia</name>
        <label>Buscar Colab. o Prop. para Licencia</label>
        <locationX>842</locationX>
        <locationY>1598</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_Usuario_Interface</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>ContentDocumentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varIdDocLicencia</elementReference>
            </value>
        </filters>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Buscar_Usuario_Interface.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ShareType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>C</stringValue>
            </value>
        </filters>
        <filters>
            <field>ShareType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>I</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Buscar_Documentos</name>
        <label>Buscar Documentos</label>
        <locationX>1645</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recorrer_los_documentos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Buscar_Usuario_Interface</name>
        <label>Buscar Usuario Interface</label>
        <locationX>1645</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Buscar_Documentos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Usuario Interface</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getLicencia</name>
        <label>getLicencia</label>
        <locationX>514</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Estado_valido</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Licencia__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_Carta_de_Aceptacion</name>
        <label>Actualizar Carta de Aceptación</label>
        <locationX>1590</locationX>
        <locationY>1382</locationY>
        <connector>
            <targetReference>Usuario_Interface_es_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContentDocumentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varIdDocCartaDeAceptacion</elementReference>
            </value>
        </filters>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Visibility</field>
            <value>
                <stringValue>AllUsers</stringValue>
            </value>
        </inputAssignments>
        <object>ContentDocumentLink</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Visibilidad_Licencia</name>
        <label>Actualizar Visibilidad Licencia</label>
        <locationX>710</locationX>
        <locationY>1382</locationY>
        <connector>
            <targetReference>Usuario_Interface_es_el_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContentDocumentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varIdDocLicencia</elementReference>
            </value>
        </filters>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Visibility</field>
            <value>
                <stringValue>AllUsers</stringValue>
            </value>
        </inputAssignments>
        <object>ContentDocumentLink</object>
    </recordUpdates>
    <screens>
        <name>Error2</name>
        <label>Error</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error</name>
            <fieldText>&lt;p&gt;&lt;img src=&quot;https://arpov--test--c.documentforce.com/sfc/servlet.shepherd/version/download/0688K0000006ML7?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;ErrorChico.png&quot;&gt; &lt;strong style=&quot;font-size: 16px;&quot;&gt;No se puede enviar a firmar una licencia en estado Aprobada.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ErrorLicenciaPortalSGL</name>
        <label>ErrorLicenciaPortalSGL</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MsgErrorLicPortal_SGL</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&lt;img src=&quot;https://arpov--test--c.documentforce.com/sfc/servlet.shepherd/version/download/0688K0000006ML7?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;ErrorChico.png&quot;&gt; &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-size: 16px;&quot;&gt;No se puede enviar a firmar una licencia Portal o SGL.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>FirmarLicencia</name>
        <label>FirmarLicencia</label>
        <locationX>1645</locationX>
        <locationY>2474</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Mensaje</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-size: 18px;&quot;&gt;&lt;img src=&quot;https://arpov--test--c.documentforce.com/sfc/servlet.shepherd/version/download/0688K0000006MMe?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;mailsent.png&quot;&gt; El firmante recibirá un correo para completar el proceso de firma.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Licencia_en_Proceso</name>
        <label>Licencia en Proceso</label>
        <locationX>2338</locationX>
        <locationY>1274</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MensajeLicenciaEnProceso</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;&lt;img src=&quot;https://arpov--test--c.documentforce.com/sfc/servlet.shepherd/version/download/0688K0000006PMD?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;WarningChico.jpg&quot;&gt; La licencia está en proceso de firma.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NoExisteCartaDeAceptacion</name>
        <label>NoExisteCartaDeAceptacion</label>
        <locationX>2074</locationX>
        <locationY>1382</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MensajeNoExisteCartaDeAceptacion</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;&lt;img src=&quot;https://arpov--test--c.documentforce.com/sfc/servlet.shepherd/version/download/0688K0000006PM8?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;WarningChico.jpg&quot;&gt; Por favor, ingrese la Carta de Aceptación.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NoExisteDocLicencia</name>
        <label>NoExisteDocLicencia</label>
        <locationX>1194</locationX>
        <locationY>1382</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MensajeNoExisteDocLicencia</name>
            <fieldText>&lt;p&gt;&lt;img src=&quot;https://arpov--test--c.documentforce.com/sfc/servlet.shepherd/version/download/0688K0000006PM3?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;WarningChico.jpg&quot;&gt; &lt;strong style=&quot;font-size: 16px;&quot;&gt;Por favor, ingrese el documento de Licencia.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>388</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getLicencia</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Si es True, crea el registro en Content Document Link.</description>
        <name>varCrearRegistro</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varEstadoLicencia</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Licencia__c</objectType>
    </variables>
    <variables>
        <name>varIdDocCartaDeAceptacion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varIdDocLicencia</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOwnerCarta</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOwnerLicencia</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRespuesta</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varUsuarioInterface</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
</Flow>
