force-app/main/default/flows/OPP_Carga_Datos_Opp_para_Facturacion_Mixta.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>ARS</name>
        <choiceText>ARS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ARS</stringValue>
        </value>
    </choices>
    <choices>
        <name>EUR</name>
        <choiceText>EUR</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>EUR</stringValue>
        </value>
    </choices>
    <choices>
        <name>Factura</name>
        <choiceText>Factura</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Factura</stringValue>
        </value>
    </choices>
    <choices>
        <name>Recibo</name>
        <choiceText>Recibo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Recibo</stringValue>
        </value>
    </choices>
    <choices>
        <name>USD</name>
        <choiceText>USD</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>USD</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Facturacion_mixta</name>
        <label>Facturacion mixta?</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Screen_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>SI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_Oportunidad.Punto_de_Venta__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Buscar_Oportunidad.Obtentor__r.Factura_por_Cuenta_y_Orden_SE__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Carga</targetReference>
            </connector>
            <label>SI</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opcion_Seleccionada</name>
        <label>Opción Seleccionada</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Validacion_Datos_Recibo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Recibo</defaultConnectorLabel>
        <rules>
            <name>seleccion_factura</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Seleccione_una_opcion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Factura</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validacion_Datos_Factura</targetReference>
            </connector>
            <label>Factura</label>
        </rules>
    </decisions>
    <description>V1: Carga datos en Opp para modelo de Facturación Mixta (solo obtentores CYO con Opp PV)
V2: Se actualiza la fecha de pedido de facturación a &gt;= que la fecha de creación
V3: Se actualiza campo fecha facturacion en validacion fecha recibo
V4: Se agrega Confirmación de Pago
V5: Se agrega la etapa Cancelada para evitar carga de datos.
V6: Se Realizan Ajustes para precargar Datos</description>
    <environments>Default</environments>
    <formulas>
        <name>fechaHoy</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>nuevoSaldoACobrarOportunidad</name>
        <dataType>Number</dataType>
        <expression>{!Buscar_Oportunidad.Saldo_a_Cobrar_Comprobante__c} - {!Importe_Comprobante}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>Neto mas 21% de IVA</description>
        <name>PrecioTotal</name>
        <dataType>Number</dataType>
        <expression>{!Buscar_Oportunidad.Neto_Comprobante__c} * 1.21</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>regexNroComprobanteFx</name>
        <dataType>Boolean</dataType>
        <expression>REGEX(UPPER(TRIM({!N_de_Comprobante})), &quot;^(A|B|C)-\\d{4,5}-\\d{8}$&quot;)</expression>
    </formulas>
    <interviewLabel>OPP.Cargar Datos Opp para Facturacion Mixta {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OPP.Carga Datos Opp para Facturacion Mixta</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Crea_Registro_FC_Movimientos_c</name>
        <label>Crea Registro FC Movimientos__c</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Actualizar_Oportunidad_Factura</targetReference>
        </connector>
        <inputAssignments>
            <field>Comprobante__c</field>
            <value>
                <elementReference>N_de_Comprobante</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cuenta__c</field>
            <value>
                <elementReference>Buscar_Oportunidad.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha__c</field>
            <value>
                <elementReference>Fecha_Emision_Comprobante</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Importe__c</field>
            <value>
                <elementReference>Total_Comprobante</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Moneda__c</field>
            <value>
                <elementReference>Divisa_Comprobante</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Observaciones_PB_y_Flows__c</field>
            <value>
                <stringValue>OPP.Carga Datos Opp para Facturacion Mixta - Crear FC Registro Movimientos__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Oportunidad__c</field>
            <value>
                <elementReference>Buscar_Oportunidad.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_Cambio__c</field>
            <value>
                <elementReference>Tipo_de_Cambio_del_Comprobante</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_Movimiento__c</field>
            <value>
                <elementReference>Tipo_de_Comprobante</elementReference>
            </value>
        </inputAssignments>
        <object>Movimientos__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Crea_Registro_RC_Movimientos_c</name>
        <label>Crea Registro RC Movimientos__c</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Actualizar_Oportunidad_por_Pago</targetReference>
        </connector>
        <inputAssignments>
            <field>Comprobante__c</field>
            <value>
                <elementReference>Nro_Recibo_Comprobante</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cuenta__c</field>
            <value>
                <elementReference>Buscar_Oportunidad.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha__c</field>
            <value>
                <elementReference>Fecha_Recibo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Importe__c</field>
            <value>
                <elementReference>Importe_Comprobante</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Moneda__c</field>
            <value>
                <elementReference>Moneda</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Observaciones_PB_y_Flows__c</field>
            <value>
                <stringValue>OPP.Carga Datos Opp para Facturacion Mixta - Crear Registro RC Movimientos__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Oportunidad__c</field>
            <value>
                <elementReference>Buscar_Oportunidad.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_Cambio__c</field>
            <value>
                <elementReference>Tipo_de_Cambio_Cobranza</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_Movimiento__c</field>
            <value>
                <elementReference>Tipo_de_Movimiento</elementReference>
            </value>
        </inputAssignments>
        <object>Movimientos__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Buscar_Oportunidad</name>
        <label>Buscar Oportunidad</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Facturacion_mixta</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>idOpp</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_Oportunidad_Factura</name>
        <label>Actualizar Oportunidad Factura</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Screen_Success</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>idOpp</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Divisa_Comprobante__c</field>
            <value>
                <elementReference>Divisa_Comprobante</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_Emision_Comprobante__c</field>
            <value>
                <elementReference>Fecha_Emision_Comprobante</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_Facturacion__c</field>
            <value>
                <elementReference>Fecha_Emision_Comprobante</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_Pedido_Facturacion__c</field>
            <value>
                <elementReference>Fecha_Pedido_de_Facturacion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_de_Facturacion__c</field>
            <value>
                <elementReference>Fecha_Emision_Comprobante</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>N_de_Comprobante__c</field>
            <value>
                <elementReference>N_de_Comprobante</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Neto_Comprobante__c</field>
            <value>
                <elementReference>Neto_Comprobante</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Saldo_a_Cobrar_Comprobante__c</field>
            <value>
                <elementReference>Total_Comprobante</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Saldo_a_Gestionar__c</field>
            <value>
                <elementReference>Total_Comprobante</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Facturada</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_Cambio_del_Comprobante__c</field>
            <value>
                <elementReference>Tipo_de_Cambio_del_Comprobante</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_Comprobante__c</field>
            <value>
                <elementReference>Tipo_de_Comprobante</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Comprobante__c</field>
            <value>
                <elementReference>Total_Comprobante</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Oportunidad_por_Pago</name>
        <label>Actualizar Oportunidad por Pago</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Screen_Success</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>idOpp</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Confirmacion_de_Pago__c</field>
            <value>
                <elementReference>Fecha_Recibo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Resultado_Validacion_Analista__c</field>
            <value>
                <stringValue>Positiva</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Saldo_a_Cobrar_Comprobante__c</field>
            <value>
                <elementReference>nuevoSaldoACobrarOportunidad</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Saldo_a_Gestionar__c</field>
            <value>
                <elementReference>nuevoSaldoACobrarOportunidad</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Pagada</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>Screen_Carga</name>
        <label>Screen Carga</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Opcion_Seleccionada</targetReference>
        </connector>
        <fields>
            <name>iconoCarga</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>carga_en_la_nube</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>Left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>64px</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>64px</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageAlt</name>
                <value>
                    <stringValue>iconoCabecera</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Cabecera</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 24px;&quot;&gt;&lt;u&gt;Carga de Comprobantes de Facturación Mixta&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Seleccione_una_opcion</name>
            <choiceReferences>Factura</choiceReferences>
            <choiceReferences>Recibo</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Seleccione una opcion</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>iconoFactura</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>factura</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>Right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageAlt</name>
                <value>
                    <stringValue>iconoFactura</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>64px</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>64px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Seleccione_una_opcion</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Factura</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>errorFactura</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;No puede cargar datos en la oportunidad porque la misma se encuentra en estado Cancelada, Facturada o Pagada&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>1 AND (2 OR 3 OR 4 OR 5)</conditionLogic>
                <conditions>
                    <leftValueReference>Seleccione_una_opcion</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Factura</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Buscar_Oportunidad.StageName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Facturada</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Buscar_Oportunidad.StageName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Pagada</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Buscar_Oportunidad.Total_Comprobante__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Buscar_Oportunidad.StageName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Cancelada</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Carga_de_Factura</name>
            <fieldText>Carga de Factura</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Carga_de_Factura_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Cuenta_Factura</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Buscar_Oportunidad.Account.Name</elementReference>
                    </defaultValue>
                    <fieldText>Cuenta</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Fecha_Pedido_de_Facturacion</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Buscar_Oportunidad.CreatedDate</elementReference>
                    </defaultValue>
                    <fieldText>Fecha Pedido de Facturación</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;La fecha de pedido de facturación no puede ser menor a la fecha de creación de la oportunidad.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Fecha_Pedido_de_Facturacion} &gt;= {!Buscar_Oportunidad.CloseDate}</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Tipo_de_Comprobante</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>FC</stringValue>
                    </defaultValue>
                    <fieldText>Tipo de Comprobante</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>N_de_Comprobante</name>
                    <dataType>String</dataType>
                    <fieldText>N° de Comprobante</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Ingrese el número del comprobante. Se validará que el mismo contenga alguno de los siguientes formatos:&lt;/p&gt;&lt;p&gt;Letra (A, B o C)&lt;/p&gt;&lt;p&gt;Sucursal (4 o 5 dígitos)&lt;/p&gt;&lt;p&gt;Número (8 dígitos)&lt;/p&gt;&lt;p&gt;Ejemplos válidos:&lt;/p&gt;&lt;p&gt;A-0002-00000007&lt;/p&gt;&lt;p&gt;B-00005-00001234&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;El número de comprobante tiene que seguir el formato definido en la ayuda del campo&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!regexNroComprobanteFx}</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Fecha_Emision_Comprobante</name>
                    <dataType>Date</dataType>
                    <fieldText>Fecha Emision Comprobante</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Ingrese la fecha de emisión del comprobante&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;La fecha de emisión del comprobante no puede ser menor a la fecha de pedido de facturación.&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Fecha_Emision_Comprobante} &gt;= {!Fecha_Pedido_de_Facturacion}</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Total_Comprobante</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>PrecioTotal</elementReference>
                    </defaultValue>
                    <fieldText>Total Comprobante</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Ingrese el importe total del comprobante, impuestos incluídos.&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;﻿El Total Comprobante no puede ser menor o igual al Neto Comprobante&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Total_Comprobante} &gt; {!Neto_Comprobante}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Carga_de_Factura_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Oportunidad_Factura</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Buscar_Oportunidad.Name</elementReference>
                    </defaultValue>
                    <fieldText>Oportunidad</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>blanco</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>imagen_blanco</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageHeight</name>
                        <value>
                            <stringValue>60px</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Divisa_Comprobante</name>
                    <choiceReferences>USD</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>USD</defaultSelectedChoiceReference>
                    <fieldText>Divisa Comprobante</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;Ingrese la Divisa del Comprobante&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Tipo_de_Cambio_del_Comprobante</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Buscar_Oportunidad.Tipo_de_Cambio_del_Comprobante__c</elementReference>
                    </defaultValue>
                    <fieldText>Tipo de Cambio del Comprobante</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Ingrese el Tipo de Cambio que figura en el comprobante&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>4</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Si la divisa del comprobante es ARS, el tipo de cambio debe ser 1. Si la divisa del comprobante es USD o EUR, el tipo de cambio tiene que ser mayor a 1.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>OR(AND({!Divisa_Comprobante} = &quot;ARS&quot;, {!Tipo_de_Cambio_del_Comprobante} = 1), AND({!Divisa_Comprobante} &lt;&gt; &quot;ARS&quot;, {!Tipo_de_Cambio_del_Comprobante} &lt;&gt; 1))</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Neto_Comprobante</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Buscar_Oportunidad.Neto_Comprobante__c</elementReference>
                    </defaultValue>
                    <fieldText>Neto Comprobante</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Ingrese el importe neto gravado o subtotal del comprobante, antes de impuestos,&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;El neto comprobante no puede ser 0 o negativo.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Neto_Comprobante} &gt; 0</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Seleccione_una_opcion</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Factura</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Buscar_Oportunidad.Total_Comprobante__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Buscar_Oportunidad.StageName</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Facturada, Pagada, Cancelada</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>iconoRecibo</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>recibo64px</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>Right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageAlt</name>
                <value>
                    <stringValue>iconoRecibo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>64px</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>64px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Seleccione_una_opcion</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Recibo</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>errorRecibo</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;No puede cargar un recibo porque la oportunidad no se encuentra en estado Facturada o el saldo de la misma es parcial. &lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;Recuerde que debe cargar la factura previamente y, si lo hizo, Sembrá Evolución no admite la carga de recibos parciales&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
                <conditions>
                    <leftValueReference>Seleccione_una_opcion</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Recibo</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Buscar_Oportunidad.StageName</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Facturada</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Buscar_Oportunidad.Saldo_a_Cobrar_Comprobante__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Buscar_Oportunidad.Saldo_a_Cobrar_Comprobante__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>Buscar_Oportunidad.Total_Comprobante__c</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Carga_de_Recibo</name>
            <fieldText>Carga de Recibo</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Carga_de_Recibo_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Cuenta</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Buscar_Oportunidad.Account.Name</elementReference>
                    </defaultValue>
                    <fieldText>Cuenta</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Tipo_de_Movimiento</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>APSE</stringValue>
                    </defaultValue>
                    <fieldText>Tipo de Movimiento</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Nro_Recibo_Comprobante</name>
                    <dataType>String</dataType>
                    <fieldText>Nro Recibo / Comprobante</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Moneda</name>
                    <choiceReferences>USD</choiceReferences>
                    <choiceReferences>ARS</choiceReferences>
                    <choiceReferences>EUR</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Buscar_Oportunidad.Divisa_Comprobante__c</elementReference>
                    </defaultValue>
                    <fieldText>Moneda</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Importe_Comprobante</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Buscar_Oportunidad.Total_Comprobante__c</elementReference>
                    </defaultValue>
                    <fieldText>Importe Comprobante</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;El importe no puede ser menor que 0 o debe ser igual al total de la factura. No se admiten pagos parciales.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>OR({!Importe_Comprobante} &gt; 0, {!Importe_Comprobante} = {!Buscar_Oportunidad.Total_Comprobante__c})</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Carga_de_Recibo_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Oportunidad</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Buscar_Oportunidad.Name</elementReference>
                    </defaultValue>
                    <fieldText>Oportunidad</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Fecha_Recibo</name>
                    <dataType>Date</dataType>
                    <fieldText>Fecha Recibo</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;La fecha del recibo no puede ser anterior a la fecha de facturación.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Buscar_Oportunidad.Fecha_Facturacion__c} &lt;= {!Fecha_Recibo}</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>blanco_recibo</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageHeight</name>
                        <value>
                            <stringValue>60px</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>imagen_blanco</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Tipo_de_Cambio_Cobranza</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Buscar_Oportunidad.Tipo_de_Cambio_del_Comprobante__c</elementReference>
                    </defaultValue>
                    <fieldText>Tipo de Cambio Cobranza</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>4</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;El tipo de cambio no puede ser menor que 0&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Tipo_de_Cambio_Cobranza} &gt; 0</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Seleccione_una_opcion</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Recibo</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Buscar_Oportunidad.Saldo_a_Cobrar_Comprobante__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Buscar_Oportunidad.Total_Comprobante__c</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Buscar_Oportunidad.Total_Comprobante__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Buscar_Oportunidad.StageName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Facturada</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Siguiente</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Error</name>
        <label>Screen Error</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_mixta</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;&lt;img src=&quot;https://arpov.lightning.force.com/sfc/servlet.shepherd/version/download/068Qk00000Io5uz?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;image.png&quot;&gt;&lt;/strong&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;{!$Label.Flow_Error_Message}La oportunidad no cumple las condiciones de ser Punto de Venta para un Obtentor de CYO de SE&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Finalizar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Success</name>
        <label>Screen Success</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://arpov.lightning.force.com/sfc/servlet.shepherd/version/download/068Qk00000AdVHV?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;emblemok_103757 32px.png&quot;&gt; {!$Label.Flow_Success_Message} Se ha creado el registro de forma exitosa!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Finalizar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Validacion_Datos_Factura</name>
        <label>Validación Datos Factura</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Volver</backButtonLabel>
        <connector>
            <targetReference>Crea_Registro_FC_Movimientos_c</targetReference>
        </connector>
        <fields>
            <name>Confirmacion_Datos_Comprobante_de_Facturacion</name>
            <fieldText>Confirmación Datos Comprobante de Facturación</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Confirmacion_Datos_Comprobante_de_Facturacion_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Fecha_Pedido_de_Facturacion_c</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Fecha_Pedido_de_Facturacion</elementReference>
                    </defaultValue>
                    <fieldText>Fecha Pedido de Facturación</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Tipo_de_Comprobante_c</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Tipo_de_Comprobante</elementReference>
                    </defaultValue>
                    <fieldText>Tipo de Comprobante</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>N_de_Comprobante_c</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>N_de_Comprobante</elementReference>
                    </defaultValue>
                    <fieldText>N° de Comprobante</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Fecha_Emision_Comprobante_c</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Fecha_Emision_Comprobante</elementReference>
                    </defaultValue>
                    <fieldText>Fecha Emision Comprobante</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Total_Comprobante_c</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Total_Comprobante</elementReference>
                    </defaultValue>
                    <fieldText>Total Comprobante</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Confirmacion_Datos_Comprobante_de_Facturacion_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>blanco_c</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>imagen_blanco</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageHeight</name>
                        <value>
                            <stringValue>55px</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Divisa_Comprobante_c</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Divisa_Comprobante</elementReference>
                    </defaultValue>
                    <fieldText>Divisa Comprobante</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Tipo_de_Cambio_del_Comprobante_c</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Tipo_de_Cambio_del_Comprobante</elementReference>
                    </defaultValue>
                    <fieldText>Tipo de Cambio del Comprobante</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>4</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Neto_Comprobante_c</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Neto_Comprobante</elementReference>
                    </defaultValue>
                    <fieldText>Neto Comprobante</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Siguiente</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Validacion_Datos_Recibo</name>
        <label>Validación Datos Recibo</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Volver</backButtonLabel>
        <connector>
            <targetReference>Crea_Registro_RC_Movimientos_c</targetReference>
        </connector>
        <fields>
            <name>Confirmacion_Datos_Comprobante_de_Recibo</name>
            <fieldText>Confirmación Datos Comprobante de Recibo</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Confirmacion_Datos_Comprobante_de_Recibo_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Cuenta_c</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Cuenta</elementReference>
                    </defaultValue>
                    <fieldText>Cuenta</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Tipo_de_Movimiento_c</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Tipo_de_Movimiento</elementReference>
                    </defaultValue>
                    <fieldText>Tipo de Movimiento</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Nro_Recibo_Comprobante_c</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Nro_Recibo_Comprobante</elementReference>
                    </defaultValue>
                    <fieldText>Nro Recibo / Comprobante</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Moneda_c</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Moneda</elementReference>
                    </defaultValue>
                    <fieldText>Moneda</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Importe_Comprobante_c</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Importe_Comprobante</elementReference>
                    </defaultValue>
                    <fieldText>Importe Comprobante</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Confirmacion_Datos_Comprobante_de_Recibo_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Oportunidad_c</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Oportunidad</elementReference>
                    </defaultValue>
                    <fieldText>Oportunidad</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Fecha_Recibo_c</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Fecha_Recibo</elementReference>
                    </defaultValue>
                    <fieldText>Fecha Recibo</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>blanco_cr</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>imagen_blanco</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageHeight</name>
                        <value>
                            <stringValue>55px</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Tipo_de_Cambio_Cobranza_c</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Tipo_de_Cambio_Cobranza</elementReference>
                    </defaultValue>
                    <fieldText>Tipo de Cambio Cobranza</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>4</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Siguiente</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Buscar_Oportunidad</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>TextoCabecera</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 22px;&quot;&gt;Carga de comprobantes para oportunidades PV de obtentores de facturación mixta&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>idOpp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
