force-app/main/default/flows/OPP_Genera_MOV_NC.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>GDM</name>
        <label>GDM</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Abort_Flow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>SI</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_Oportunidad.Obtentor__r.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>GDM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Buscar_Oportunidad.Obtentor__r.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>KLEIN</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cargar_NC</targetReference>
            </connector>
            <label>SI</label>
        </rules>
    </decisions>
    <description>V1: Carga NC en el objeto Movimientos__c para aquellos registros que no vienen por interface (GDM)
V2: Se agrega KLEIN al listado de Obtentores para carga NC en el objeto Movimientos__c</description>
    <dynamicChoiceSets>
        <name>monedaOpp</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Divisa_Comprobante__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>fechaHoy</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>nvoSaldoACobrar</name>
        <dataType>Number</dataType>
        <expression>{!Buscar_Oportunidad.Saldo_a_Cobrar_Comprobante__c} - {!Importe}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>nvoSaldoAGestionar</name>
        <dataType>Number</dataType>
        <expression>{!Buscar_Oportunidad.Saldo_a_Gestionar__c} - {!Importe}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>tipoCambio</name>
        <dataType>Number</dataType>
        <expression>IF({!Moneda_Opp} = &quot;ARS&quot;,1, {!Buscar_Oportunidad.Tipo_de_Cambio_del_Comprobante__c})</expression>
        <scale>4</scale>
    </formulas>
    <interviewLabel>OPP.Cargar NC {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OPP.Genera MOV NC</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Crea_MOV</name>
        <label>Crea MOV</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Actualizar_Opp</targetReference>
        </connector>
        <inputAssignments>
            <field>Comprobante__c</field>
            <value>
                <elementReference>Comprobante</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cuenta__c</field>
            <value>
                <elementReference>Buscar_Oportunidad.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha__c</field>
            <value>
                <elementReference>Fecha</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Importe__c</field>
            <value>
                <elementReference>Importe</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Moneda__c</field>
            <value>
                <elementReference>Moneda_Opp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Oportunidad__c</field>
            <value>
                <elementReference>Buscar_Oportunidad.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_Cambio__c</field>
            <value>
                <elementReference>Tipo_de_Cambio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_Movimiento__c</field>
            <value>
                <stringValue>NC</stringValue>
            </value>
        </inputAssignments>
        <object>Movimientos__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Buscar_MOV</name>
        <label>Buscar MOV</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Success_Flow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Crea_MOV</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Movimientos__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Buscar_Oportunidad</name>
        <label>Buscar Oportunidad</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GDM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>idOpp</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_Opp</name>
        <label>Actualizar Opp</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Buscar_MOV</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>idOpp</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Saldo_a_Cobrar_Comprobante__c</field>
            <value>
                <elementReference>nvoSaldoACobrar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Saldo_a_Gestionar__c</field>
            <value>
                <elementReference>nvoSaldoAGestionar</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>Abort_Flow</name>
        <label>Abort Flow</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Abort_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://arpov.lightning.force.com/sfc/servlet.shepherd/version/download/068Qk00000AdR4H?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;Error_36910 32px.png&quot;&gt;&lt;/p&gt;&lt;p&gt;{!$Label.Flow_Error_Message}&lt;/p&gt;&lt;p&gt;La carga de Notas de Crédito está habilitada solo para el Obtentor GDM, KLEIN y sus marcas asociadas.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Terminar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Cargar_NC</name>
        <label>Cargar NC</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Crea_MOV</targetReference>
        </connector>
        <fields>
            <name>Header</name>
            <fieldText>&lt;p&gt;{!$Label.H1_Flow}&lt;/p&gt;&lt;p&gt;Carga de Notas de Crédito&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Cargar_NC_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Cargar_NC_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Cuenta</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Buscar_Oportunidad.Account.Name</elementReference>
                    </defaultValue>
                    <fieldText>Cuenta</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Cargar_NC_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Oportunidad</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Buscar_Oportunidad.Name</elementReference>
                    </defaultValue>
                    <fieldText>Oportunidad</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Cargar_NC_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Cargar_NC_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Fecha</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>fechaHoy</elementReference>
                    </defaultValue>
                    <fieldText>Fecha</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Moneda_Opp</name>
                    <choiceReferences>monedaOpp</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Buscar_Oportunidad.Divisa_Comprobante__c</elementReference>
                    </defaultValue>
                    <fieldText>Moneda</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Importe</name>
                    <dataType>Number</dataType>
                    <fieldText>Importe</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Importe correspondiente a la NC. El mismo no puede ser mayor al saldo del comprobante original&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;strong style=&quot;font-size: 10px; color: rgb(255, 0, 0);&quot;&gt;El importe de la NC no puede ser mayor o igual (no se aceptan NC totales) al saldo del comprobante original. Corrija el importe.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 10px; color: rgb(255, 0, 0);&quot;&gt;*Las NC Totales deben ir por la interfaz correspondiente&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Importe} &lt;= {!Buscar_Oportunidad.Saldo_a_Cobrar_Comprobante__c} &amp;&amp; {!Importe} &lt; {!Buscar_Oportunidad.Total_Comprobante__c}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Cargar_NC_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Comprobante</name>
                    <dataType>String</dataType>
                    <fieldText>Comprobante</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Ingrese el Nro. de Comprobante de la NC informado en el documento físico&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Tipo_de_Cambio</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>tipoCambio</elementReference>
                    </defaultValue>
                    <fieldText>Tipo de Cambio</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>4</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>1 AND 2</conditionLogic>
                        <conditions>
                            <leftValueReference>Moneda_Opp</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>ARS</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Moneda_Opp</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue></stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Siguiente</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Flow</name>
        <label>Success Flow</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://arpov.lightning.force.com/sfc/servlet.shepherd/version/download/068Qk00000AdVHV?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;emblemok_103757 32px.png&quot;&gt;&lt;/p&gt;&lt;p&gt;{!$Label.Flow_Success_Message}&lt;/p&gt;&lt;p&gt;Se ha creado el registro de forma exitosa!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>MOV_Cabecera</name>
            <fieldText>MOV Cabecera</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>MOV_Cabecera_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Nombre_Movimiento</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Buscar_MOV.Name</elementReference>
                    </defaultValue>
                    <fieldText>Nombre Movimiento</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>cuentaMOV</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Buscar_MOV.Cuenta__r.Name</elementReference>
                    </defaultValue>
                    <fieldText>Cuenta</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>oportunidadMOV</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Buscar_MOV.Oportunidad__r.Name</elementReference>
                    </defaultValue>
                    <fieldText>Oportunidad</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>MOV_Detalle</name>
            <fieldText>MOV Detalle</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>MOV_Detalle_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>fechaMOV</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Buscar_MOV.Fecha__c</elementReference>
                    </defaultValue>
                    <fieldText>Fecha</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>monedaMOV</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Buscar_MOV.Moneda__c</elementReference>
                    </defaultValue>
                    <fieldText>Moneda</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>MOV_Detalle_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>tipoMovimiento</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Buscar_MOV.Tipo_de_Movimiento__c</elementReference>
                    </defaultValue>
                    <fieldText>Tipo Movimiento</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>tcMOV</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Buscar_MOV.Tipo_de_Cambio__c</elementReference>
                    </defaultValue>
                    <fieldText>Tipo de Cambio</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                    <scale>4</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>MOV_Detalle_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>comprobanteMOV</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Buscar_MOV.Comprobante__c</elementReference>
                    </defaultValue>
                    <fieldText>Comprobante</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>importeMOV</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Buscar_MOV.Importe__c</elementReference>
                    </defaultValue>
                    <fieldText>Importe</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Terminar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Buscar_Oportunidad</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>CargaNC</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 36px;&quot;&gt;Carga NC&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>idOpp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
