force-app/main/default/flows/ParametroPPH_Enviar_Notificacion_y_mail.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Enviar_Notificacion</name>
        <label>Enviar Notificación</label>
        <locationX>176</locationX>
        <locationY>1428</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Actualizar_Enviar_Mail</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Buscar_Notificacion.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>Todavía tenés unos días para completar tu adhesión a PPH!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Continuá con tu adhesión a PPH!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>varDestinatarios</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetPageRef</name>
            <value>
                <stringValue>{&quot;type&quot;: &quot;comm__namedPage&quot;,&quot;attributes&quot;: {name: &quot;Home&quot;}}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Asignar_el_Plan_de_Siembra_a_variable_de_coleccion</name>
        <label>Asignar el Plan de Siembra a variable de colección</label>
        <locationX>264</locationX>
        <locationY>1092</locationY>
        <assignmentItems>
            <assignToReference>varPlanesDeSiembra</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Recorrer_los_Planes_de_Siembra_en_Preparacion</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Guardar_Destinatarios</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Cambiar_a_True_Enviar_Email</name>
        <label>Cambiar a True Enviar Email</label>
        <locationX>264</locationX>
        <locationY>972</locationY>
        <assignmentItems>
            <assignToReference>Recorrer_los_Planes_de_Siembra_en_Preparacion.Enviar_Mail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignar_el_Plan_de_Siembra_a_variable_de_coleccion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Guardar_Destinatarios</name>
        <label>Guardar Destinatarios</label>
        <locationX>264</locationX>
        <locationY>1212</locationY>
        <assignmentItems>
            <assignToReference>varDestinatarios</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Recorrer_los_Planes_de_Siembra_en_Preparacion.Owner:User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorrer_los_Planes_de_Siembra_en_Preparacion</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Notificar</name>
        <label>Notificar?</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>No notificar</defaultConnectorLabel>
        <rules>
            <name>X15_dias_antes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Fecha_Fin_Adhesion_PPH__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>var15DiasAntes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Buscar_Notificacion</targetReference>
            </connector>
            <label>15 días antes</label>
        </rules>
        <rules>
            <name>X3_dias_antes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Fecha_Fin_Adhesion_PPH__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>var3DiasAntes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Buscar_Notificacion</targetReference>
            </connector>
            <label>3 días antes</label>
        </rules>
    </decisions>
    <description>Se enviarán notificaciones y mail a las cuentas de los Planes de Siembra con estado &quot;En Preparación&quot; 15 días antes y 3 días antes de la Fecha Fin de Adhesión.</description>
    <environments>Default</environments>
    <formulas>
        <name>var15DiasAntes</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 15</expression>
    </formulas>
    <formulas>
        <name>var3DiasAntes</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 3</expression>
    </formulas>
    <interviewLabel>ParametroPPH - Enviar Notificacion y mail {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ParametroPPH - Enviar Notificacion y mail</label>
    <loops>
        <name>Recorrer_los_Planes_de_Siembra_en_Preparacion</name>
        <label>Recorrer los Planes de Siembra en Preparación</label>
        <locationX>176</locationX>
        <locationY>852</locationY>
        <collectionReference>Buscar_Planes_de_Siembra_En_Preparacion</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Cambiar_a_True_Enviar_Email</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Enviar_Notificacion</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Buscar_Notificacion</name>
        <label>Buscar Notificación</label>
        <locationX>176</locationX>
        <locationY>612</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Buscar_Planes_de_Siembra_En_Preparacion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Plan_de_Siembra_En_Preparacion</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Buscar_Planes_de_Siembra_En_Preparacion</name>
        <label>Buscar Planes de Siembra En Preparación</label>
        <locationX>176</locationX>
        <locationY>732</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recorrer_los_Planes_de_Siembra_en_Preparacion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Estado__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>En Preparación</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Plan_de_Siembra__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Enviar_Mail__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_Enviar_Mail</name>
        <label>Actualizar Enviar Mail</label>
        <locationX>176</locationX>
        <locationY>1548</locationY>
        <inputReference>varPlanesDeSiembra</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Notificar</targetReference>
        </connector>
        <object>Parametro_PPH__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-11-01</startDate>
            <startTime>18:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varDestinatario</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varDestinatarios</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPlanesDeSiembra</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Plan_de_Siembra__c</objectType>
    </variables>
</Flow>
