force-app/main/default/flows/ParamEnsayos_Crear_HTs_de_Ensayos.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Act_Ensayo_Anterior</name>
        <label>Act Ensayo Anterior</label>
        <locationX>1546</locationX>
        <locationY>1550</locationY>
        <assignmentItems>
            <assignToReference>varEnsayoAnterior</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_los_ensayos</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorrer_los_ensayos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Actualizar_Ensayo_Anterior</name>
        <label>Actualizar Ensayo Anterior</label>
        <locationX>402</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>varEnsayoAnterior</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_los_ensayos</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Licencia_del_Ensayo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Actualizar_Ensayo_Previo</name>
        <label>Actualizar Ensayo Previo</label>
        <locationX>1062</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>varEnsayoAnterior</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_los_ensayos</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorrer_los_ensayos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Agregar_a_la_coleccion</name>
        <label>Agregar a la colección</label>
        <locationX>1414</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>varProductor</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varEnsayoAnterior.Productor__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lic_Ensayo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Agregar_ltimo_productor_a_coleccion</name>
        <label>Agregar último productor a colección</label>
        <locationX>50</locationX>
        <locationY>1982</locationY>
        <assignmentItems>
            <assignToReference>varProductor</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varEnsayoAnterior.Productor__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Buscar_HTs_de_Param_Ensayos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_HT_a_coleccion</name>
        <label>Asignar HT a colección</label>
        <locationX>138</locationX>
        <locationY>3590</locationY>
        <assignmentItems>
            <assignToReference>varHTsAcrear</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varHTaCrear</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorrer_productores</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Lic_No_Aprob</name>
        <label>Asignar Lic No Aprob</label>
        <locationX>974</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>varLicenciaAprobada</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_Ensayo_Previo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Licencia_No_Aprob</name>
        <label>Asignar Licencia No Aprob</label>
        <locationX>534</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>varLicenciaAprobada</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorrer_los_ensayos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_productor_con_HT</name>
        <label>Asignar productor con HT</label>
        <locationX>138</locationX>
        <locationY>2558</locationY>
        <assignmentItems>
            <assignToReference>varProductorConHT</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Recorrer_HTs.Productor__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorrer_HTs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_valores_a_HT</name>
        <label>Asignar valores a HT</label>
        <locationX>138</locationX>
        <locationY>3470</locationY>
        <assignmentItems>
            <assignToReference>varHTaCrear.Cantidad__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_Parametro_Ensayos.HTs_a_Descontar__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHTaCrear.Cultivo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_Parametro_Ensayos.Cultivo__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHTaCrear.Etapa__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Acreditada</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHTaCrear.Fecha_de_la_Transaccion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHTaCrear.Origen__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ensayo</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHTaCrear.N_CUIT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_productores.N_CUIT__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHTaCrear.Parametro_Ensayos__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHTaCrear.Productor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_productores.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHTaCrear.Signo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHTaCrear.Tipo_de_Movimiento__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>C</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHTaCrear.Valor_Conversion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_Parametro_Ensayos.Cultivo__r.HT2Kilos__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignar_HT_a_coleccion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_varLicenciaAprobada</name>
        <label>Asignar varLicenciaAprobada</label>
        <locationX>270</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>varLicenciaAprobada</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorrer_los_ensayos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Contar_los_Productores</name>
        <label>Contar los Productores</label>
        <locationX>182</locationX>
        <locationY>2990</locationY>
        <assignmentItems>
            <assignToReference>varCantidadProductores</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>varProductor</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Hay_Productores</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Inicializar_variable</name>
        <label>Inicializar variable</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>varEnsayoAnterior</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Recorrer_los_ensayos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LicAprob</name>
        <label>LicAprob</label>
        <locationX>1414</locationX>
        <locationY>1334</locationY>
        <assignmentItems>
            <assignToReference>varLicenciaAprobada</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Act_Ensayo_Anterior</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LicNoAprob</name>
        <label>LicNoAprob</label>
        <locationX>1678</locationX>
        <locationY>1334</locationY>
        <assignmentItems>
            <assignToReference>varLicenciaAprobada</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Act_Ensayo_Anterior</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sacar_los_productores_con_HTs</name>
        <label>Sacar los productores con HTs</label>
        <locationX>50</locationX>
        <locationY>2774</locationY>
        <assignmentItems>
            <assignToReference>varProductoresABorrar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varProductor</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varProductoresABorrar</assignToReference>
            <operator>RemoveUncommon</operator>
            <value>
                <elementReference>varProductorConHT</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varProductor</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>varProductoresABorrar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contar_los_Productores</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Ordenar_los_ensayos</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Ordenar los ensayos</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Buscar_Ensayos</collectionReference>
        <connector>
            <targetReference>Inicializar_variable</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Productor__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>Hay_HTs_creadas_para_los_productores</name>
        <label>Hay HTs creadas para los productores?</label>
        <locationX>182</locationX>
        <locationY>2318</locationY>
        <defaultConnector>
            <targetReference>Contar_los_Productores</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No hay HTs</defaultConnectorLabel>
        <rules>
            <name>Hay_HTs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_HTs_de_Param_Ensayos</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recorrer_HTs</targetReference>
            </connector>
            <label>Hay HTs</label>
        </rules>
    </decisions>
    <decisions>
        <name>Hay_Productores</name>
        <label>Hay Productores?</label>
        <locationX>182</locationX>
        <locationY>3110</locationY>
        <defaultConnector>
            <targetReference>PantallaNoCrearHTs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No hay productores</defaultConnectorLabel>
        <rules>
            <name>Hay_Product</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varCantidadProductores</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Buscar_Productores_a_crear_HTs</targetReference>
            </connector>
            <label>Hay Productores</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lic_del_Ensayo</name>
        <label>Lic del Ensayo?</label>
        <locationX>886</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Asignar_Lic_No_Aprob</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Licenc No Aprob</defaultConnectorLabel>
        <rules>
            <name>Licenc_Aprobada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recorrer_los_ensayos.Estado_Licencia__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aprobada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_Ensayo_Previo</targetReference>
            </connector>
            <label>Licenc Aprobada</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lic_Ensayo</name>
        <label>Lic Ensayo?</label>
        <locationX>1546</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>LicNoAprob</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Aprob</defaultConnectorLabel>
        <rules>
            <name>Aprob</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recorrer_los_ensayos.Estado_Licencia__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aprobada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LicAprob</targetReference>
            </connector>
            <label>Aprob</label>
        </rules>
    </decisions>
    <decisions>
        <name>Licencia_del_Ensayo</name>
        <label>Licencia del Ensayo?</label>
        <locationX>402</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Asignar_Licencia_No_Aprob</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Lic No Aprob</defaultConnectorLabel>
        <rules>
            <name>Lic_Aprob</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recorrer_los_ensayos.Estado_Licencia__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aprobada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_varLicenciaAprobada</targetReference>
            </connector>
            <label>Lic Aprob</label>
        </rules>
    </decisions>
    <decisions>
        <name>Matchea_productor</name>
        <label>Matchea productor?</label>
        <locationX>974</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Todas_las_licencias_aprobadas</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Matchea</defaultConnectorLabel>
        <rules>
            <name>Primero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEnsayoAnterior</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Actualizar_Ensayo_Anterior</targetReference>
            </connector>
            <label>Primero</label>
        </rules>
        <rules>
            <name>Matchea</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recorrer_los_ensayos.Productor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varEnsayoAnterior.Productor__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>varLicenciaAprobada_es_True</targetReference>
            </connector>
            <label>Matchea</label>
        </rules>
    </decisions>
    <decisions>
        <description>Al finalizar el loop, hay que procesar el último ensayo.</description>
        <name>Todas_aprobadas</name>
        <label>Todas aprobadas?</label>
        <locationX>182</locationX>
        <locationY>1862</locationY>
        <defaultConnector>
            <targetReference>Buscar_HTs_de_Param_Ensayos</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No aprob</defaultConnectorLabel>
        <rules>
            <name>Si_aprob</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varLicenciaAprobada</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Agregar_ltimo_productor_a_coleccion</targetReference>
            </connector>
            <label>Si aprob</label>
        </rules>
    </decisions>
    <decisions>
        <name>Todas_las_licencias_aprobadas</name>
        <label>Todas las licencias aprobadas?</label>
        <locationX>1546</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>Lic_Ensayo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varLicenciaAprobada</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Agregar_a_la_coleccion</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>varLicenciaAprobada_es_True</name>
        <label>varLicenciaAprobada es True?</label>
        <locationX>1062</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>Actualizar_Ensayo_Previo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Es False</defaultConnectorLabel>
        <rules>
            <name>Es_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varLicenciaAprobada</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lic_del_Ensayo</targetReference>
            </connector>
            <label>Es True</label>
        </rules>
    </decisions>
    <description>Para cada productor asociado al Parámetro Ensayos se crearán las HTs para ese cultivo siempre que todas las licencias usadas por ese productor estén aprobadas. Es decir, existirá un único registro HT para un productor, cultivo, parámetro Ensayos con origen Ensayo independientemente que el productor esté ensayando con más de un obtentor.</description>
    <environments>Default</environments>
    <interviewLabel>ParamEnsayos - Crear HTs de Ensayos {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ParamEnsayos - Crear HTs de Ensayos</label>
    <loops>
        <description>Se agregan los productores con HT creada en la variable varProductorConHT</description>
        <name>Recorrer_HTs</name>
        <label>Recorrer HTs</label>
        <locationX>50</locationX>
        <locationY>2438</locationY>
        <collectionReference>Buscar_HTs_de_Param_Ensayos</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Asignar_productor_con_HT</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Sacar_los_productores_con_HTs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Recorrer_los_ensayos</name>
        <label>Recorrer los ensayos</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <collectionReference>Buscar_Ensayos</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Matchea_productor</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Todas_aprobadas</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Recorrer_productores</name>
        <label>Recorrer productores</label>
        <locationX>50</locationX>
        <locationY>3350</locationY>
        <collectionReference>Buscar_Productores_a_crear_HTs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Asignar_valores_a_HT</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Crear_HTs_de_ensayos</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Crear_HTs_de_ensayos</name>
        <label>Crear HTs de ensayos</label>
        <locationX>50</locationX>
        <locationY>3806</locationY>
        <connector>
            <targetReference>PantallaCrearHTs</targetReference>
        </connector>
        <inputReference>varHTsAcrear</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Buscar_Ensayos</name>
        <label>Buscar Ensayos</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Ordenar_los_ensayos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Parametro_Ensayos__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Ensayo__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Buscar_HTs_de_Param_Ensayos</name>
        <label>Buscar HTs de Param Ensayos</label>
        <locationX>182</locationX>
        <locationY>2198</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Hay_HTs_creadas_para_los_productores</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Parametro_Ensayos__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Productor__c</field>
            <operator>In</operator>
            <value>
                <elementReference>varProductor</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Hectareas_Tecnologicas__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Buscar_Parametro_Ensayos</name>
        <label>Buscar Parámetro Ensayos</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Buscar_Ensayos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Parametro_Ensayos__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Buscar_Productores_a_crear_HTs</name>
        <label>Buscar Productores a crear HTs</label>
        <locationX>50</locationX>
        <locationY>3230</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recorrer_productores</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>varProductor</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>N_CUIT__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>PantallaCrearHTs</name>
        <label>PantallaCrearHTs</label>
        <locationX>50</locationX>
        <locationY>3926</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MsgHTsCreadas</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Se crearon {!varCantidadProductores} HTs de ensayos de {!Buscar_Parametro_Ensayos.Name}.&lt;/strong&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;﻿&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PantallaNoCrearHTs</name>
        <label>PantallaNoCrearHTs</label>
        <locationX>314</locationX>
        <locationY>3230</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_MsgHTsCreadas</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;No se crearon HTs de los ensayos de {!Buscar_Parametro_Ensayos.Name}.&lt;/strong&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;﻿&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Buscar_Parametro_Ensayos</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Cuenta la cantidad de productores a los que se les crearán HTs</description>
        <name>varCantidadProductores</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varEnsayoAnterior</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Ensayo__c</objectType>
    </variables>
    <variables>
        <name>varHTaCrear</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Hectareas_Tecnologicas__c</objectType>
    </variables>
    <variables>
        <name>varHTsAcrear</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Hectareas_Tecnologicas__c</objectType>
    </variables>
    <variables>
        <name>varLicenciaAprobada</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varProductor</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProductorConHT</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProductoresABorrar</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
