force-app/main/default/flows/Plan_de_Siembra_Enviar_Email_Alert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Enviar_Email</name>
        <label>Enviar Email</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <actionName>Plan_de_Siembra__c.Plan_de_Siembra_En_Preparacion</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Cambiar_Enviar_Email_a_False</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Plan_de_Siembra__c.Plan_de_Siembra_En_Preparacion</nameSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>Luego de enviar el Email Alert, cambia Enviar Mail = False</description>
    <environments>Default</environments>
    <interviewLabel>Plan de Siembra - Enviar Email Alert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Plan de Siembra - Enviar Email Alert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Cambiar_Enviar_Email_a_False</name>
        <label>Cambiar Enviar Email a False</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Enviar_Mail__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Enviar_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Enviar_Mail__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Plan_de_Siembra__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
