force-app/main/default/flows/Plan_de_Siembra_Cancelar_PPH.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Actualizar_Fecha_Fin_de_la_TN</name>
        <label>Actualizar Fecha Fin de la TN</label>
        <locationX>292</locationX>
        <locationY>3122</locationY>
        <assignmentItems>
            <assignToReference>varTNaActualizar.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_las_TNs_Vigentes.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTNaActualizar.Fecha_Fin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_las_TNs_Vigentes.Fecha_Fin_Original__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignar_TN_a_actualizar_a_variable_de_coleccion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_HT_a_actualizar_a_variable_de_coleccion</name>
        <label>Asignar HT a actualizar a variable de colección</label>
        <locationX>292</locationX>
        <locationY>2414</locationY>
        <assignmentItems>
            <assignToReference>varActualizarHTs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varHTaActualizar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorrer_las_HTs_con_Plan_de_Siembra_sin_origen_PPH</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_HT_negativa_a_variable_coleccion</name>
        <label>Asignar HT negativa a variable colección</label>
        <locationX>138</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>varCrearHTsNegativas</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varHTnegACrear</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorrer_las_HTs_positivas_reacreditadas_a_revertir</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_HT_positiva_a_variable_coleccion</name>
        <label>Asignar HT positiva a variable colección</label>
        <locationX>270</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>varCrearHTsPositivas</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varHTpositACrear</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorrer_las_HTs_neg_a_revertir</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_TN_a_actualizar_a_variable_de_coleccion</name>
        <label>Asignar TN a actualizar a variable de colección</label>
        <locationX>292</locationX>
        <locationY>3230</locationY>
        <assignmentItems>
            <assignToReference>varActualizarTNs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTNaActualizar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorrer_las_TNs_Vigentes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Borrar_Plan_de_Siembra_de_la_HT</name>
        <label>Borrar Plan de Siembra de la HT</label>
        <locationX>292</locationX>
        <locationY>2306</locationY>
        <assignmentItems>
            <assignToReference>varHTaActualizar.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_las_HTs_con_Plan_de_Siembra_sin_origen_PPH.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHTaActualizar.Plan_de_Siembra__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Asignar_HT_a_actualizar_a_variable_de_coleccion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Crear_HT_negativa_a_revertir</name>
        <label>Crear HT negativa a revertir</label>
        <locationX>138</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>varHTnegACrear.Biotecnologia__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_las_HTs_positivas_reacreditadas_a_revertir.Biotecnologia__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHTnegACrear.Canal_de_Venta__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_las_HTs_positivas_reacreditadas_a_revertir.Canal_de_Venta__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHTnegACrear.Cantidad__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_las_HTs_positivas_reacreditadas_a_revertir.Cantidad__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHTnegACrear.Cultivo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_las_HTs_positivas_reacreditadas_a_revertir.Cultivo__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHTnegACrear.Etapa__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cancelada</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHTnegACrear.Fecha_de_Cancelacion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHTnegACrear.HT_Original__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_las_HTs_positivas_reacreditadas_a_revertir.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHTnegACrear.N_CUIT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_las_HTs_positivas_reacreditadas_a_revertir.N_CUIT__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHTnegACrear.Origen__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PPH</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHTnegACrear.Plan_de_Siembra__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHTnegACrear.Productor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_las_HTs_positivas_reacreditadas_a_revertir.Productor__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHTnegACrear.Signo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>-1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHTnegACrear.Tipo_de_Movimiento__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>D</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHTnegACrear.Variedad__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_las_HTs_positivas_reacreditadas_a_revertir.Variedad__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHTnegACrear.Valor_Conversion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_las_HTs_positivas_reacreditadas_a_revertir.Valor_Conversion__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHTnegACrear.Fecha_Inicio__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_las_HTs_positivas_reacreditadas_a_revertir.Fecha_Inicio__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHTnegACrear.Fecha_Fin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_las_HTs_positivas_reacreditadas_a_revertir.Fecha_Fin__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignar_HT_negativa_a_variable_coleccion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Crear_HT_positiva_a_revertir</name>
        <label>Crear HT positiva a revertir</label>
        <locationX>270</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>varHTpositACrear.Biotecnologia__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_las_HTs_neg_a_revertir.Biotecnologia__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHTpositACrear.Canal_de_Venta__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_las_HTs_neg_a_revertir.Canal_de_Venta__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHTpositACrear.Cantidad__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_las_HTs_neg_a_revertir.Cantidad__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHTpositACrear.Cultivo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_las_HTs_neg_a_revertir.Cultivo__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHTpositACrear.Etapa__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cancelada</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHTpositACrear.Fecha_de_Cancelacion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHTpositACrear.HT_Original__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_las_HTs_neg_a_revertir.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHTpositACrear.Linea_PPH__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_las_HTs_neg_a_revertir.Linea_PPH__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHTpositACrear.N_CUIT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_las_HTs_neg_a_revertir.N_CUIT__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHTpositACrear.Origen__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PPH</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHTpositACrear.Plan_de_Siembra__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHTpositACrear.Productor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_las_HTs_neg_a_revertir.Productor__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHTpositACrear.Signo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHTpositACrear.Tipo_de_Movimiento__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>C</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHTpositACrear.Variedad__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_las_HTs_neg_a_revertir.Variedad__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHTpositACrear.Establecimiento_PPH__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_las_HTs_neg_a_revertir.Establecimiento_PPH__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHTpositACrear.Valor_Conversion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_las_HTs_neg_a_revertir.Valor_Conversion__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHTpositACrear.Fecha_Inicio__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_las_HTs_neg_a_revertir.Fecha_Inicio__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHTpositACrear.Fecha_Fin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_las_HTs_neg_a_revertir.Fecha_Fin__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignar_HT_positiva_a_variable_coleccion</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Hay_HTs_con_Plan_de_Siembra_y_PPH</name>
        <label>Hay HTs con Plan de Siembra y PPH?</label>
        <locationX>336</locationX>
        <locationY>2090</locationY>
        <defaultConnector>
            <targetReference>Buscar_TNs_vigentes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No existen HTs</defaultConnectorLabel>
        <rules>
            <name>Existen_HTs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_HTs_con_Plan_de_Siembra_y_sin_origen_PPH</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recorrer_las_HTs_con_Plan_de_Siembra_sin_origen_PPH</targetReference>
            </connector>
            <label>Existen HTs</label>
        </rules>
    </decisions>
    <decisions>
        <name>Hay_HTs_neg_a_revertir</name>
        <label>Hay HTs neg a revertir?</label>
        <locationX>336</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Buscar_HTs_con_Plan_de_Siembra_y_sin_origen_PPH</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No existen HTs neg a revertir</defaultConnectorLabel>
        <rules>
            <name>Existen_HTs_neg_a_revertir</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_HTs_neg_a_revertir</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recorrer_las_HTs_neg_a_revertir</targetReference>
            </connector>
            <label>Existen HTs neg a revertir</label>
        </rules>
    </decisions>
    <decisions>
        <name>Hay_HTs_positivas_a_revertir</name>
        <label>Hay HTs positivas a revertir?</label>
        <locationX>182</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>Buscar_HTs_con_Plan_de_Siembra_y_sin_origen_PPH</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No existen Hts positivas a revertir</defaultConnectorLabel>
        <rules>
            <name>Existen_HTs_positivas_a_revertir</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_HTs_positivas_reacreditadas</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recorrer_las_HTs_positivas_reacreditadas_a_revertir</targetReference>
            </connector>
            <label>Existen HTs positivas a revertir</label>
        </rules>
    </decisions>
    <decisions>
        <name>Hay_TNs_vigentes</name>
        <label>Hay TNs vigentes?</label>
        <locationX>336</locationX>
        <locationY>2906</locationY>
        <defaultConnector>
            <targetReference>Actualizar_a_Cancelado_el_Plan_de_Siembra</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No hay TNs</defaultConnectorLabel>
        <rules>
            <name>Hay_TNs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_TNs_vigentes</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recorrer_las_TNs_Vigentes</targetReference>
            </connector>
            <label>Hay TNs</label>
        </rules>
    </decisions>
    <decisions>
        <name>Plan_de_Siembra_esta_Cancelado</name>
        <label>Plan de Siembra está Cancelado?</label>
        <locationX>501</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Pantalla_esta_Cancelado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Si</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_Plan_de_Siembra.Estado__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cancelado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Buscar_HTs_neg_a_revertir</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>Cuando se selecciona este botón, se cambia el estado del plan de Siembra a Cancelado y se revierten todas las HTs asociadas al plan de siembra tanto negativas como positivas (si fueron reacreditadas).
Se agrega la vigencia en las HTs y TNs.</description>
    <environments>Default</environments>
    <formulas>
        <name>nombre</name>
        <dataType>String</dataType>
        <expression>{!Buscar_Plan_de_Siembra.Name} + &quot; - Cancelado&quot;</expression>
    </formulas>
    <interviewLabel>Plan de Siembra - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Plan de Siembra - Cancelar PPH</label>
    <loops>
        <name>Recorrer_las_HTs_con_Plan_de_Siembra_sin_origen_PPH</name>
        <label>Recorrer las HTs con Plan de Siembra sin origen PPH</label>
        <locationX>204</locationX>
        <locationY>2198</locationY>
        <collectionReference>Buscar_HTs_con_Plan_de_Siembra_y_sin_origen_PPH</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Borrar_Plan_de_Siembra_de_la_HT</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Actualizar_Plan_de_Siembra_en_las_HTs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Recorrer_las_HTs_neg_a_revertir</name>
        <label>Recorrer las HTs neg a revertir</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <collectionReference>Buscar_HTs_neg_a_revertir</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Crear_HT_positiva_a_revertir</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Crear_HTs_positivas</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Recorrer_las_HTs_positivas_reacreditadas_a_revertir</name>
        <label>Recorrer las HTs positivas reacreditadas a revertir</label>
        <locationX>50</locationX>
        <locationY>1298</locationY>
        <collectionReference>Buscar_HTs_positivas_reacreditadas</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Crear_HT_negativa_a_revertir</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Crear_las_HTs_negativas</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Recorrer_las_TNs_Vigentes</name>
        <label>Recorrer las TNs Vigentes</label>
        <locationX>204</locationX>
        <locationY>3014</locationY>
        <collectionReference>Buscar_TNs_vigentes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Actualizar_Fecha_Fin_de_la_TN</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Actualizar_Fecha_Fin_en_lasTNs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Crear_HTs_positivas</name>
        <label>Crear HTs positivas</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Buscar_HTs_positivas_reacreditadas</targetReference>
        </connector>
        <inputReference>varCrearHTsPositivas</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Crear_las_HTs_negativas</name>
        <label>Crear las HTs negativas</label>
        <locationX>50</locationX>
        <locationY>1706</locationY>
        <connector>
            <targetReference>Buscar_HTs_con_Plan_de_Siembra_y_sin_origen_PPH</targetReference>
        </connector>
        <inputReference>varCrearHTsNegativas</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Buscar_HTs_con_Plan_de_Siembra_y_sin_origen_PPH</name>
        <label>Buscar HTs con Plan de Siembra y sin origen PPH</label>
        <locationX>336</locationX>
        <locationY>1982</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Hay_HTs_con_Plan_de_Siembra_y_PPH</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Plan_de_Siembra__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Origen__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>PPH</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Hectareas_Tecnologicas__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Buscar_HTs_neg_a_revertir</name>
        <label>Buscar HTs neg a revertir</label>
        <locationX>336</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Hay_HTs_neg_a_revertir</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Plan_de_Siembra__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Origen__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PPH</stringValue>
            </value>
        </filters>
        <filters>
            <field>Tipo_de_Movimiento__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>D</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Hectareas_Tecnologicas__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Buscar_HTs_positivas_reacreditadas</name>
        <label>Buscar HTs positivas reacreditadas</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Hay_HTs_positivas_a_revertir</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Plan_de_Siembra__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Origen__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PPH</stringValue>
            </value>
        </filters>
        <filters>
            <field>Tipo_de_Movimiento__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>C</stringValue>
            </value>
        </filters>
        <filters>
            <field>Etapa__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Reacreditada</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Hectareas_Tecnologicas__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Buscar_Plan_de_Siembra</name>
        <label>Buscar Plan de Siembra</label>
        <locationX>501</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Plan_de_Siembra_esta_Cancelado</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Plan_de_Siembra__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>TNs con fecha fin &gt;= HOY</description>
        <name>Buscar_TNs_vigentes</name>
        <label>Buscar TNs vigentes</label>
        <locationX>336</locationX>
        <locationY>2798</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Hay_TNs_vigentes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Fecha_Fin__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Productor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Buscar_Plan_de_Siembra.Productor__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Tonelada__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_a_Cancelado_el_Plan_de_Siembra</name>
        <label>Actualizar a Cancelado el Plan de Siembra</label>
        <locationX>336</locationX>
        <locationY>3614</locationY>
        <connector>
            <targetReference>CancelarPPH</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Estado__c</field>
            <value>
                <stringValue>Cancelado</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>nombre</elementReference>
            </value>
        </inputAssignments>
        <object>Plan_de_Siembra__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Fecha_Fin_en_lasTNs</name>
        <label>Actualizar Fecha Fin en lasTNs</label>
        <locationX>204</locationX>
        <locationY>3422</locationY>
        <connector>
            <targetReference>Actualizar_a_Cancelado_el_Plan_de_Siembra</targetReference>
        </connector>
        <inputReference>varActualizarTNs</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Plan_de_Siembra_en_las_HTs</name>
        <label>Actualizar Plan de Siembra en las HTs</label>
        <locationX>204</locationX>
        <locationY>2606</locationY>
        <connector>
            <targetReference>Buscar_TNs_vigentes</targetReference>
        </connector>
        <inputReference>varActualizarHTs</inputReference>
    </recordUpdates>
    <screens>
        <name>CancelarPPH</name>
        <label>Cancelar PPH</label>
        <locationX>336</locationX>
        <locationY>3722</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MensajeCancelado</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;El Plan de Siembra {!Buscar_Plan_de_Siembra.Name} fue cancelado&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Pantalla_esta_Cancelado</name>
        <label>Pantalla está Cancelado</label>
        <locationX>666</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MensajeEsCancelado</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;El Plan de Siembra {!Buscar_Plan_de_Siembra.Name}  ya está Cancelado.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>375</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Buscar_Plan_de_Siembra</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varActualizarHTs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Hectareas_Tecnologicas__c</objectType>
    </variables>
    <variables>
        <name>varActualizarTNs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Tonelada__c</objectType>
    </variables>
    <variables>
        <name>varCrearHTsNegativas</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Hectareas_Tecnologicas__c</objectType>
    </variables>
    <variables>
        <name>varCrearHTsPositivas</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Hectareas_Tecnologicas__c</objectType>
    </variables>
    <variables>
        <name>varHTaActualizar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Hectareas_Tecnologicas__c</objectType>
    </variables>
    <variables>
        <name>varHTnegACrear</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Hectareas_Tecnologicas__c</objectType>
    </variables>
    <variables>
        <name>varHTpositACrear</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Hectareas_Tecnologicas__c</objectType>
    </variables>
    <variables>
        <name>varTNaActualizar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Tonelada__c</objectType>
    </variables>
</Flow>
