force-app/main/default/flows/PrCRM_Crea_Producto_ERP_y_lo_asocia_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Existe_el_producto_en_el_ERP</name>
        <label>Existe el producto en el ERP?</label>
        <locationX>711</locationX>
        <locationY>240</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Existe</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>obtieneDatosProductoErp.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>actualizaProductoCrm</targetReference>
            </connector>
            <label>Existe</label>
        </rules>
        <rules>
            <name>No_existe</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>obtieneDatosProductoErp.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>creaProductoErp</targetReference>
            </connector>
            <label>No existe</label>
        </rules>
    </decisions>
    <decisions>
        <name>Producto_ERP_incompleto</name>
        <label>Producto ERP incompleto?</label>
        <locationX>371</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Completo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>obtieneDatosProductoCrm.ERPvs_Producto__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Completo</label>
        </rules>
        <rules>
            <name>Incompleto</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>obtieneDatosProductoCrm.ERPvs_Producto__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>obtieneDatosProductoErp</targetReference>
            </connector>
            <label>Incompleto</label>
        </rules>
    </decisions>
    <description>Verifica que el producto CRM esté asociado con el producto ERP. Si no está asociado, crea la vinculación. Si no existe el producto en el ERP, lo crea y luego lo vincula.</description>
    <interviewLabel>PrCRM.Crea {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PrCRM.Crea Producto ERP y lo asocia (Flow)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>creaProductoErp</name>
        <label>creaProductoErp</label>
        <locationX>997</locationX>
        <locationY>363</locationY>
        <connector>
            <targetReference>actualizaProductoCrm_0</targetReference>
        </connector>
        <inputAssignments>
            <field>CRM_Producto__c</field>
            <value>
                <elementReference>idProductoCrm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ERPvs__Activo__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ERPvs__Cuenta_Contable_Facturacion__c</field>
            <value>
                <stringValue>a1UG0000000Vu3E</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ERPvs__Descripcion__c</field>
            <value>
                <elementReference>obtieneDatosProductoCrm.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ERPvs__Descripcion_facturacion__c</field>
            <value>
                <elementReference>obtieneDatosProductoCrm.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ERPvs__Empresa__c</field>
            <value>
                <stringValue>a1wG00000036uC7</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ERPvs__Familia__c</field>
            <value>
                <stringValue>a24G0000001mzuj</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ERPvs__Tasa_de_Iva__c</field>
            <value>
                <stringValue>a3gG0000000Te72</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ERPvs__Tipo_de_Producto__c</field>
            <value>
                <stringValue>Individual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>obtieneDatosProductoCrm.Id_Externo__c</elementReference>
            </value>
        </inputAssignments>
        <object>ERPvs__Producto__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>obtieneDatosProductoCrm</name>
        <label>obtieneDatosProductoCrm</label>
        <locationX>176</locationX>
        <locationY>241</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Producto_ERP_incompleto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>idProductoCrm</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>obtieneDatosProductoErp</name>
        <label>obtieneDatosProductoErp</label>
        <locationX>564</locationX>
        <locationY>237</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_el_producto_en_el_ERP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>obtieneDatosProductoCrm.Id_Externo__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ERPvs__Producto__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>actualizaProductoCrm</name>
        <label>actualizaProductoCrm</label>
        <locationX>993</locationX>
        <locationY>101</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Variedad__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>obtieneDatosProductoErp.Variedad__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ERPvs_Producto__c</field>
            <value>
                <elementReference>obtieneDatosProductoErp.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Product2</object>
    </recordUpdates>
    <recordUpdates>
        <name>actualizaProductoCrm_0</name>
        <label>actualizaProductoCrm</label>
        <locationX>1157</locationX>
        <locationY>363</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>idProductoCrm</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ERPvs_Producto__c</field>
            <value>
                <elementReference>creaProductoErp</elementReference>
            </value>
        </inputAssignments>
        <object>Product2</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>obtieneDatosProductoCrm</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>idProductoCrm</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
