force-app/main/default/flows/PriceBookEntry_Crear_entrada_precio_obtentor_inicial.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Ya_existe_alguna_entrada</name>
        <label>Ya existe alguna entrada?</label>
        <locationX>182</locationX>
        <locationY>468</locationY>
        <defaultConnector>
            <targetReference>Crear_entrada_Precio_Obtentor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Si</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_entrada_precio_obtentor.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crear_entrada_Precio_Obtentor_nueva</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>Para cada entrada de la &quot;Lista de Precios Sembrá Evolución&quot; se crea la entrada precio obtentor inicial.</description>
    <environments>Default</environments>
    <formulas>
        <name>forFechaFin</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(DATEVALUE({!$Record.LastModifiedDate})),MONTH(DATEVALUE({!$Record.LastModifiedDate})),DAY(DATEVALUE({!$Record.LastModifiedDate}))-1)</expression>
    </formulas>
    <interviewLabel>PriceBookEntry - Crear entrada precio obtentor inicial {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PriceBookEntry - Crear entrada precio obtentor inicial</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Crear_entrada_Precio_Obtentor</name>
        <label>Crear entrada Precio Obtentor</label>
        <locationX>314</locationX>
        <locationY>576</locationY>
        <connector>
            <targetReference>Modificar_fecha_fin_de_entrada_anterior</targetReference>
        </connector>
        <inputAssignments>
            <field>Estado__c</field>
            <value>
                <stringValue>Procesada</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_Inicio__c</field>
            <value>
                <elementReference>$Record.LastModifiedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Precio_Unitario__c</field>
            <value>
                <elementReference>$Record.UnitPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Producto_Obtentor__c</field>
            <value>
                <elementReference>Buscar_Producto_Obtentor_asociado.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Entrada_Precio_Obtentor__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Crear_entrada_Precio_Obtentor_nueva</name>
        <label>Crear entrada Precio Obtentor nueva</label>
        <locationX>50</locationX>
        <locationY>576</locationY>
        <inputAssignments>
            <field>Estado__c</field>
            <value>
                <stringValue>Procesada</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_Inicio__c</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Precio_Unitario__c</field>
            <value>
                <elementReference>$Record.UnitPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Producto_Obtentor__c</field>
            <value>
                <elementReference>Buscar_Producto_Obtentor_asociado.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Entrada_Precio_Obtentor__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Buscar_entrada_precio_obtentor</name>
        <label>Buscar entrada precio obtentor</label>
        <locationX>182</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Ya_existe_alguna_entrada</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Producto_Obtentor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Buscar_Producto_Obtentor_asociado.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Entrada_Precio_Obtentor__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Buscar_Producto_Obtentor_asociado</name>
        <label>Buscar Producto Obtentor asociado</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Buscar_entrada_precio_obtentor</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProductoId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product2.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Producto_Obtentor__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Modificar_fecha_fin_de_entrada_anterior</name>
        <label>Modificar fecha fin de entrada anterior</label>
        <locationX>314</locationX>
        <locationY>684</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Buscar_entrada_precio_obtentor.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Fecha_Fin__c</field>
            <value>
                <elementReference>forFechaFin</elementReference>
            </value>
        </inputAssignments>
        <object>Entrada_Precio_Obtentor__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Buscar_Producto_Obtentor_asociado</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01s4R000002IRU0QAO</stringValue>
            </value>
        </filters>
        <object>PricebookEntry</object>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2023-11-13</startDate>
            <startTime>14:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
