force-app/main/default/flows/Producto_SE_Crear_Entrada_en_la_Lista_de_Precios.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>Se verificar si el record type id del producto creado es Germotec</description>
        <name>Es_producto_SE</name>
        <label>Es producto SE?</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varRecordTypeIdProductoSE</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Buscar_Lista_de_Precios_Sembra_Evolucion</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <description>Cada vez que se crea un Producto con tipo de registro Sembrá Evolución, se crea la entrada en Lista de Precios Sembrá Evolución.</description>
    <environments>Default</environments>
    <interviewLabel>Producto SE - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Producto SE - Crear Entrada en la Lista de Precios SE</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Crear_Entrada_en_la_Lista_de_Precios</name>
        <label>Crear Entrada en la Lista de Precios</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>Buscar_Lista_de_Precios_Sembra_Evolucion.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Buscar_Lista_de_Precios_Sembra_Evolucion</name>
        <label>Buscar Lista de Precios Sembrá Evolución</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Crear_entrada_en_la_lista_de_precios_Estandar</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lista de Precios Sembrá Evolución</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Buscar_Record_Type_Id_para_Product2_de_SE</name>
        <label>Buscar Record Type Id para Product2 de SE</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Es_producto_SE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Product2</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Germotec</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varRecordTypeIdProductoSE</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Buscar_Record_Type_Id_para_Product2_de_SE</targetReference>
        </connector>
        <filterFormula>{!$Setup.Testing__c.Deshabilitar_Flows__c} != TRUE</filterFormula>
        <object>Product2</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Crear_entrada_en_la_lista_de_precios_Estandar</name>
        <label>Crear entrada en la lista de precios Estándar</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Crear_Entrada_en_la_Lista_de_Precios</targetReference>
        </connector>
        <flowName>Producto_SE_Crear_entrada_en_la_lista_Estandar</flowName>
        <inputAssignments>
            <name>varProductId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>varRecordTypeIdProductoSE</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
