force-app/main/default/flows/Producto_Crear_producto_obtentor_asociado.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Ya_existe_el_producto_Obtentor_asociado</name>
        <label>Ya existe el producto Obtentor asociado?</label>
        <locationX>182</locationX>
        <locationY>360</locationY>
        <defaultConnectorLabel>Si</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_Producto_Obtentor.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crear_producto_Obtentor_asociado</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>Proceso por única vez para crear los productos obtentor asociado a cada producto con Familia = Sembra Evolucion.</description>
    <environments>Default</environments>
    <formulas>
        <name>forObtentor</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.Variedad2__r.Obtentor_Comercializa__r.ParentId}), {!$Record.Variedad2__r.Obtentor_Comercializa__r.Id}, {!$Record.Variedad2__r.Obtentor_Comercializa__r.Parent.Id})</expression>
    </formulas>
    <interviewLabel>Producto - Crear producto obtentor asociado {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Producto - Crear producto obtentor asociado</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Crear_producto_Obtentor_asociado</name>
        <label>Crear producto Obtentor asociado</label>
        <locationX>50</locationX>
        <locationY>468</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Obtentor__c</field>
            <value>
                <elementReference>forObtentor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductoId__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_Compra__c</field>
            <value>
                <elementReference>$Record.Tipo_de_Compra__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unidad_de_Medida__c</field>
            <value>
                <elementReference>$Record.Unidad_de_Medida__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Variedad__c</field>
            <value>
                <elementReference>$Record.Variedad2__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vigente__c</field>
            <value>
                <elementReference>$Record.Producto_Vigente__c</elementReference>
            </value>
        </inputAssignments>
        <object>Producto_Obtentor__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Buscar_Producto_Obtentor</name>
        <label>Buscar Producto Obtentor</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Ya_existe_el_producto_Obtentor_asociado</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProductoId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Producto_Obtentor__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Buscar_Producto_Obtentor</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Family</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sembra Evolucion</stringValue>
            </value>
        </filters>
        <object>Product2</object>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2023-11-13</startDate>
            <startTime>13:15:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
