force-app/main/default/flows/Respuesta_Consumo.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>Carga de Declaraciones de Uso Propio Con respuesta Consumo.
Asinga valor 0 a todas las líneas de variedad de la Declaración Informada</description>
    <interviewLabel>Carga de Declaraciones a Consumo {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Carga de Declaraciones a Consumo</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>buscaTransaccion</name>
        <label>buscaTransaccion</label>
        <locationX>283</locationX>
        <locationY>193</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>muestraCuenta</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Numero_de_Declaracion</elementReference>
            </value>
        </filters>
        <object>Transaccion__c</object>
        <outputAssignments>
            <assignToReference>RazonSocial</assignToReference>
            <field>Z9_Cuenta__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varTransaccion</assignToReference>
            <field>Z9_Transaccion__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Actualiza_Cantidad_Declarada</name>
        <label>Actualiza Cantidad Declarada</label>
        <locationX>643</locationX>
        <locationY>198</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Z9_Transaccion__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTransaccion</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cantidad_Declarada__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>Item_de_DUP__c</object>
    </recordUpdates>
    <screens>
        <name>muestraCuenta</name>
        <label>muestraCuenta</label>
        <locationX>446</locationX>
        <locationY>197</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Actualiza_Cantidad_Declarada</targetReference>
        </connector>
        <fields>
            <name>Transaccion</name>
            <fieldText>Transacción: {!Numero_de_Declaracion}  /  {!varTransaccion}</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Cuenta</name>
            <fieldText>Razón Social: {!RazonSocial}</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Numero_de_DUP</name>
        <label>Numero de DUP</label>
        <locationX>106</locationX>
        <locationY>192</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>buscaTransaccion</targetReference>
        </connector>
        <fields>
            <name>Titulo</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#003300&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Ingrese o Lea el Número de Declaración&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#003300&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#003300&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Numero_de_Declaracion</name>
            <dataType>String</dataType>
            <fieldText>Número de Declaración</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Blanco1</name>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Blanco2</name>
            <fieldText>Ingresar el número de Transacción sin guiones.</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Volver</name>
            <fieldText>&lt;SPAN ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;A HREF=&quot;https://arpov.my.salesforce.com&quot; TARGET=&quot;_blank&quot;&gt;Página de Inicio&lt;/A&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Numero_de_DUP</startElementReference>
    <status>Draft</status>
    <variables>
        <name>RazonSocial</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Item_de_DUP__c</objectType>
    </variables>
    <variables>
        <name>sItemDUP</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Item_de_DUP__c</objectType>
    </variables>
    <variables>
        <name>sVariedad</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTransaccion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
