force-app/main/default/flows/Sincroniza_Datos_Cuenta.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>asignacionCuentaInactiva</name>
        <label>asignacionCuentaInactiva</label>
        <locationX>1280</locationX>
        <locationY>57</locationY>
        <assignmentItems>
            <assignToReference>varEstadoERPBoolean</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEstadoERPText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NO</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>actualizaCuenta</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>condicionImpositivaNULL</name>
        <label>condicionImpositivaNULL</label>
        <locationX>228</locationX>
        <locationY>56</locationY>
        <assignmentItems>
            <assignToReference>varCondicionImpositiva</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>localidadFacturacionInformada</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>cuentaActiva</name>
        <label>cuentaActiva</label>
        <locationX>1287</locationX>
        <locationY>186</locationY>
        <assignmentItems>
            <assignToReference>varEstadoERPBoolean</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEstadoERPText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>YES</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>actualizaCuenta</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>cuentaActiva_0</name>
        <label>cuentaActiva</label>
        <locationX>1088</locationX>
        <locationY>193</locationY>
        <assignmentItems>
            <assignToReference>varEstadoERPBoolean</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEstadoERPText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>YES</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Buscar_RecordType_Proveedor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>localidadEnvioNULL</name>
        <label>localidadEnvioNULL</label>
        <locationX>917</locationX>
        <locationY>54</locationY>
        <assignmentItems>
            <assignToReference>varLocalidadEnvio</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCPEnvio</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varProvinciaEnvio</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>estaActivo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>localidadNULL</name>
        <label>localidadFacturacionNULL</label>
        <locationX>579</locationX>
        <locationY>58</locationY>
        <assignmentItems>
            <assignToReference>varLocalidadFacturacion</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCPFacturacion</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varProvinciaFacturacion</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>localidadEnvioInformada</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>CONST_Activo</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Activo</stringValue>
        </value>
    </constants>
    <constants>
        <name>estaActiva</name>
        <dataType>String</dataType>
        <value>
            <stringValue>YES</stringValue>
        </value>
    </constants>
    <decisions>
        <name>categoriaIVAInformada</name>
        <label>categoriaIVAInformada</label>
        <locationX>41</locationX>
        <locationY>177</locationY>
        <defaultConnectorLabel>[Resultado predeterminado]</defaultConnectorLabel>
        <rules>
            <name>SI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sobj_Cuenta.ERPvs__Categoria_IVA__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>buscaCondicionImpositiva</targetReference>
            </connector>
            <label>SI</label>
        </rules>
        <rules>
            <name>NO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sobj_Cuenta.ERPvs__Categoria_IVA__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>condicionImpositivaNULL</targetReference>
            </connector>
            <label>NO</label>
        </rules>
    </decisions>
    <decisions>
        <name>estaActivo</name>
        <label>estaActivo</label>
        <locationX>1080</locationX>
        <locationY>56</locationY>
        <defaultConnectorLabel>[Resultado predeterminado]</defaultConnectorLabel>
        <rules>
            <name>SI_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sobj_Cuenta.Estado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CONST_Activo</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sobj_Cuenta.ERPvs__Identificacion_Tributaria__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>cuentaActiva</targetReference>
            </connector>
            <label>SI</label>
        </rules>
        <rules>
            <name>NO_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sobj_Cuenta.Estado__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>CONST_Activo</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sobj_Cuenta.ERPvs__Identificacion_Tributaria__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asignacionCuentaInactiva</targetReference>
            </connector>
            <label>NO</label>
        </rules>
        <rules>
            <name>From_AppCC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sobj_Cuenta.ERPvs__Identificacion_Tributaria__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sobj_Cuenta.CreatedDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>sobj_Cuenta.LastModifiedDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>cuentaActiva_0</targetReference>
            </connector>
            <label>From AppCC</label>
        </rules>
    </decisions>
    <decisions>
        <name>localidadEnvioInformada</name>
        <label>localidadEnvioInformada</label>
        <locationX>748</locationX>
        <locationY>56</locationY>
        <defaultConnectorLabel>[Resultado predeterminado]</defaultConnectorLabel>
        <rules>
            <name>SI_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sobj_Cuenta.Localidad_Envio__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>buscaLocalidadEnvio</targetReference>
            </connector>
            <label>SI</label>
        </rules>
        <rules>
            <name>NO_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sobj_Cuenta.Localidad_Envio__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>localidadEnvioNULL</targetReference>
            </connector>
            <label>NO</label>
        </rules>
    </decisions>
    <decisions>
        <name>localidadFacturacionInformada</name>
        <label>localidadFacturacionInformada</label>
        <locationX>405</locationX>
        <locationY>56</locationY>
        <defaultConnectorLabel>[Resultado predeterminado]</defaultConnectorLabel>
        <rules>
            <name>SI_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sobj_Cuenta.Localidad_de_Facturacion__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>buscaLocalidadFacturacion</targetReference>
            </connector>
            <label>SI</label>
        </rules>
        <rules>
            <name>NO_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sobj_Cuenta.Localidad_de_Facturacion__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>localidadNULL</targetReference>
            </connector>
            <label>NO</label>
        </rules>
    </decisions>
    <formulas>
        <description>Convierte la identificación Tributaria del ERP a N de CUIT del ERP</description>
        <name>IdentTrib_CUIT</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!sobj_Cuenta.ERPvs__Identificacion_Tributaria__c} , &apos;-&apos;, &apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>varDireccionEnvio</name>
        <dataType>String</dataType>
        <expression>{!sobj_Cuenta.Calle_Envio__c} &amp; &quot; &quot; &amp; {!sobj_Cuenta.Numero_Depto_Piso_Envio__c}</expression>
    </formulas>
    <formulas>
        <name>varDireccionFacturacion</name>
        <dataType>String</dataType>
        <expression>{!sobj_Cuenta.Calle_Facturacion__c} &amp; &quot; &quot; &amp; {!sobj_Cuenta.Numero_Depto_Piso_Facturacion__c}</expression>
    </formulas>
    <formulas>
        <description>Denominación y Razón Social limitada a 120 caracteres para compatibilizar con Virtualseller.</description>
        <name>varRazonSocial</name>
        <dataType>String</dataType>
        <expression>LEFT( {!sobj_Cuenta.Name}, 117 ) + &quot;...&quot;</expression>
    </formulas>
    <interviewLabel>Sincroniza Datos Cuenta {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sincroniza Datos Cuenta</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>buscaCondicionImpositiva</name>
        <label>buscaCondicionImpositiva</label>
        <locationX>42</locationX>
        <locationY>294</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>localidadFacturacionInformada</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sobj_Cuenta.ERPvs__Categoria_IVA__c</elementReference>
            </value>
        </filters>
        <object>ERPvs__Categoria_IVA__c</object>
        <outputAssignments>
            <assignToReference>varCondicionImpositiva</assignToReference>
            <field>Nombre_Integracion__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>buscaLocalidadEnvio</name>
        <label>buscaLocalidadEnvio</label>
        <locationX>748</locationX>
        <locationY>193</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>buscaProvinciaEnvio</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sobj_Cuenta.Localidad_Envio__c</elementReference>
            </value>
        </filters>
        <object>Localidad__c</object>
        <outputAssignments>
            <assignToReference>varCPEnvio</assignToReference>
            <field>CP__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varLocalidadEnvio</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varProvinciaCRMEnvio</assignToReference>
            <field>Provincia__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>buscaLocalidadFacturacion</name>
        <label>buscaLocalidadFacturacion</label>
        <locationX>404</locationX>
        <locationY>197</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>buscaProvincia</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sobj_Cuenta.Localidad_de_Facturacion__c</elementReference>
            </value>
        </filters>
        <object>Localidad__c</object>
        <outputAssignments>
            <assignToReference>varCPFacturacion</assignToReference>
            <field>CP__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varLocalidadFacturacion</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varProvinciaCRMFacturacion</assignToReference>
            <field>Provincia__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>buscaProvincia</name>
        <label>buscaProvincia</label>
        <locationX>583</locationX>
        <locationY>193</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>localidadEnvioInformada</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProvinciaCRMFacturacion</elementReference>
            </value>
        </filters>
        <object>Provincia__c</object>
        <outputAssignments>
            <assignToReference>varProvinciaFacturacion</assignToReference>
            <field>Provincia_ERP__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>buscaProvinciaEnvio</name>
        <label>buscaProvinciaEnvio</label>
        <locationX>913</locationX>
        <locationY>190</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>estaActivo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProvinciaCRMEnvio</elementReference>
            </value>
        </filters>
        <object>Provincia__c</object>
        <outputAssignments>
            <assignToReference>varProvinciaEnvio</assignToReference>
            <field>Provincia_ERP__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Buscar_Localidad_Envio</name>
        <label>Buscar Localidad Envio</label>
        <locationX>1397</locationX>
        <locationY>292</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>actualizaCuentaFromAppCC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CP__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sobj_Cuenta.ERPvs__Codigo_Postal_envio__c</elementReference>
            </value>
        </filters>
        <object>Localidad__c</object>
        <outputAssignments>
            <assignToReference>varLocalidadEnvio</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Buscar_Localidad_Facturacion</name>
        <label>Buscar Localidad Facturacion</label>
        <locationX>1244</locationX>
        <locationY>290</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Buscar_Localidad_Envio</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CP__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sobj_Cuenta.ERPvs__Codigo_Postal__c</elementReference>
            </value>
        </filters>
        <object>Localidad__c</object>
        <outputAssignments>
            <assignToReference>varLocalidadFacturacion</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Buscar_RecordType_Proveedor</name>
        <label>Buscar RecordType Proveedor</label>
        <locationX>1085</locationX>
        <locationY>291</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Buscar_Localidad_Facturacion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Proveedor</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varRecordType</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>buscaRecordType</name>
        <label>buscaRecordType</label>
        <locationX>41</locationX>
        <locationY>59</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>categoriaIVAInformada</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sobj_Cuenta.RecordTypeId</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varRecordType</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>actualizaCuenta</name>
        <label>actualizaCuenta</label>
        <locationX>1456</locationX>
        <locationY>123</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sobj_Cuenta.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Condicion_Impositiva__c</field>
            <value>
                <elementReference>varCondicionImpositiva</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ERPvs__Activa__c</field>
            <value>
                <elementReference>varEstadoERPBoolean</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ERPvs__Active__c</field>
            <value>
                <elementReference>varEstadoERPText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ERPvs__Codigo_Postal__c</field>
            <value>
                <elementReference>varCPFacturacion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ERPvs__Codigo_Postal_envio__c</field>
            <value>
                <elementReference>varCPEnvio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ERPvs__Denominacion_Y_Razon_Social__c</field>
            <value>
                <elementReference>varRazonSocial</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ERPvs__Direccion__c</field>
            <value>
                <elementReference>varDireccionFacturacion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ERPvs__Direccion_envio__c</field>
            <value>
                <elementReference>varDireccionEnvio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ERPvs__Identificacion_Tributaria__c</field>
            <value>
                <elementReference>sobj_Cuenta.N_CUIT__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ERPvs__Localidad__c</field>
            <value>
                <elementReference>varLocalidadFacturacion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ERPvs__Localidad_envio__c</field>
            <value>
                <elementReference>varLocalidadEnvio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ERPvs__Otra_Identificacion_Tributaria__c</field>
            <value>
                <elementReference>sobj_Cuenta.Nro_de_IIBB__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ERPvs__Prov_Dep_Est_del_envio__c</field>
            <value>
                <elementReference>varProvinciaEnvio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ERPvs__Provincia_Departamento__c</field>
            <value>
                <elementReference>varProvinciaFacturacion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>varRecordType</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>actualizaCuentaFromAppCC</name>
        <label>actualizaCuentaFromAppCC</label>
        <locationX>1544</locationX>
        <locationY>295</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sobj_Cuenta.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Calle_Envio__c</field>
            <value>
                <elementReference>sobj_Cuenta.ERPvs__Direccion_envio__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Calle_Facturacion__c</field>
            <value>
                <elementReference>sobj_Cuenta.ERPvs__Direccion__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ERPvs__Activa__c</field>
            <value>
                <elementReference>varEstadoERPBoolean</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ERPvs__Active__c</field>
            <value>
                <elementReference>varEstadoERPText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estado__c</field>
            <value>
                <stringValue>Activo</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Localidad_Envio__c</field>
            <value>
                <elementReference>varLocalidadEnvio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Localidad_de_Facturacion__c</field>
            <value>
                <elementReference>varLocalidadFacturacion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>N_CUIT__c</field>
            <value>
                <elementReference>IdentTrib_CUIT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varRecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Proveedor</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <startElementReference>buscaRecordType</startElementReference>
    <status>Active</status>
    <variables>
        <name>sobj_Cuenta</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varCondicionImpositiva</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCPEnvio</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCPFacturacion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEstadoERPBoolean</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varEstadoERPText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>YES</stringValue>
        </value>
    </variables>
    <variables>
        <name>varLocalidadEnvio</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLocalidadFacturacion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProvinciaCRMEnvio</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProvinciaCRMFacturacion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProvinciaEnvio</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProvinciaFacturacion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
