force-app/main/default/flows/tem_de_Dup_Actualizacion_Fecha_de_Respuesta_de_Transaccion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Cantidad_modificada</name>
        <label>Cantidad modificada</label>
        <locationX>523</locationX>
        <locationY>143</locationY>
        <defaultConnectorLabel>No se modifico la Cantidad declarada</defaultConnectorLabel>
        <rules>
            <name>Cantidad_declarada_modificada</name>
            <conditionLogic>3 AND (1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Cantidad_Declarada__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Cantidad_Declarada__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Densidad_de_Siembra__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Densidad_de_Siembra__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Cultivo_Producto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ALGODON</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fecha_de_respuesta_de_la_Transaccion</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Cantidad declarada modificada</label>
        </rules>
    </decisions>
    <description>Cuando se modifica la Cantidad actualiza la Fecha de Rpta de la Transaccion</description>
    <interviewLabel>Ítem de Dup - Actualización Fecha {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Ítem de Dup - Actualización Fecha de Respuesta de Transaccion</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Fecha_de_respuesta_de_la_Transaccion</name>
        <label>Fecha de respuesta de la Transaccion</label>
        <locationX>768</locationX>
        <locationY>145</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Transaccion__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Fecha_de_Respuesta__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gestor__c</field>
            <value>
                <elementReference>$User.Nombre_Completo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Informo__c</field>
            <value>
                <elementReference>$User.Nombre_Completo__c</elementReference>
            </value>
        </inputAssignments>
        <object>Transaccion__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>49</locationY>
        <connector>
            <targetReference>Cantidad_modificada</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cantidad_Declarada__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Proveniente_Deslintadora__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Item_de_DUP__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
