force-app/main/default/flows/Test_Vencimiento_de_Facturas.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Asignar_true_a_envio</name>
        <label>Asignar true a envio</label>
        <locationX>220</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>enviarRecordatorio</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BucleFacturas</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>diasAEsperar</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>7.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Es_en_esta_semana</name>
        <label>Es en esta semana?</label>
        <locationX>352</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>BucleFacturas</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, no es en esta semana</defaultConnectorLabel>
        <rules>
            <name>Si_es_en_esta_semana</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BucleFacturas.Fecha_Vencimiento_Comprobante__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>proximaSemanaDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BucleFacturas.Fecha_Vencimiento_Comprobante__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_true_a_envio</targetReference>
            </connector>
            <label>Si, es en esta semana</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ya_se_le_envio_uno_hace_X_dias</name>
        <label>Ya se le envio uno hace X dias?</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si_ya_puede_recibir_recordatorios</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>disponibleRecordatorio</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BucleFacturas</targetReference>
            </connector>
            <label>Si, ya puede recibir recordatorios</label>
        </rules>
    </decisions>
    <formulas>
        <name>disponibleRecordatorio</name>
        <dataType>Date</dataType>
        <expression>{!GetAccount.Fecha_ultimo_recordatorio__c} + {!diasAEsperar}</expression>
    </formulas>
    <formulas>
        <name>proximaSemanaDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 7</expression>
    </formulas>
    <interviewLabel>Test Vencimiento de Facturas {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Test Vencimiento de Facturas (CTech)</label>
    <loops>
        <name>BucleFacturas</name>
        <label>BucleFacturas</label>
        <locationX>132</locationX>
        <locationY>518</locationY>
        <collectionReference>GetFacturas</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Es_en_esta_semana</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetAccount</name>
        <label>GetAccount</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetFacturas</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetFacturas</name>
        <label>GetFacturas</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Ya_se_le_envio_uno_hace_X_dias</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetAccount.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Facturada</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetAccount</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>enviarRecordatorio</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
