force-app/main/default/flows/TN_Agregar_Expediente_de_Negativos_cuando_se_crea.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Asignar_expediente</name>
        <label>Asignar expediente</label>
        <locationX>242</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>varExpDeNeg</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_Expediente_Abierto.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_Expediente_en_TN</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Tiene_expediente_abierto</name>
        <label>Tiene expediente abierto?</label>
        <locationX>374</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>Actualizar_Expediente_en_TN</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_Expediente_Abierto.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_expediente</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <description>Cada vez que se crea una TN de origen Cesión o Ensayo y biotecnología Enlist o Conkesta, agregar el expediente de negativos abierto.</description>
    <environments>Default</environments>
    <interviewLabel>TN - Agregar Expediente de Negativos cada vez que se crea {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TN - Agregar Expediente de Negativos cuando se crea</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Buscar_Expediente_Abierto</name>
        <label>Buscar Expediente Abierto</label>
        <locationX>374</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Tiene_expediente_abierto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cuenta__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Productor__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Estado_de_la_Etapa__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Finalizado</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Expediente_de_Negativos__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_Expediente_en_TN</name>
        <label>Actualizar Expediente en TN</label>
        <locationX>374</locationX>
        <locationY>684</locationY>
        <inputAssignments>
            <field>Expediente_de_Negativos__c</field>
            <value>
                <elementReference>varExpDeNeg</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>(1 OR 2) AND (3 OR 4)</filterLogic>
        <filters>
            <field>Origen__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cesión HT</stringValue>
            </value>
        </filters>
        <filters>
            <field>Origen__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ensayo</stringValue>
            </value>
        </filters>
        <filters>
            <field>Biotecnologia__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Enlist E3</stringValue>
            </value>
        </filters>
        <filters>
            <field>Biotecnologia__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Conkesta E3</stringValue>
            </value>
        </filters>
        <object>Tonelada__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Buscar_Expediente_Abierto</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varExpDeNeg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
