force-app/main/default/flows/Transaccion_actualizaInformoPorPortal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Aviso_de_Respuesta_de_UP</name>
        <label>Aviso de Respuesta de UP</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Aviso de Respuesta de UP por Portal de Gestión</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>CuerpodelAvisodeRespuestadeUP</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Operador_de_la_Cuenta__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <interviewLabel>Transaccion.actualizaInformoPorPortal {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Transaccion.actualizaInformoPorPortal</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Usuario_que_Informa</name>
        <label>Usuario que Informa</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>Aviso_de_Respuesta_de_UP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Apellido_y_Nombre__c</field>
            <value>
                <elementReference>$User.Nombre_Completo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Correo_Electronico__c</field>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Informo__c</field>
            <value>
                <elementReference>$User.Nombre_Completo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Numero_de_Documento__c</field>
            <value>
                <elementReference>$User.Numero_de_Documento__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_Documento__c</field>
            <value>
                <stringValue>DNI</stringValue>
            </value>
        </inputAssignments>
        <object>Transaccion__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Usuario_que_Informa</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Respondida_via_Minisitio__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Transaccion__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>CuerpodelAvisodeRespuestadeUP</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hola,
Te avisamos que la cuenta {!$Record.Nombre_de_la_cuenta__r.Name} informó Uso Propio.

Transaccion: {!$Record.Name}
Variedad: {!$Record.Variedades__c}
Informada por: {!$Record.Apellido_y_Nombre__c}
{!$Record.Tipo_de_Documento__c}: {!$Record.Numero_de_Documento__c}

Saludos.</text>
    </textTemplates>
</Flow>
