force-app/main/default/flows/UpdateOppCreateMovFacturacionMixta.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>UpdateOppCreateMov</name>
        <label>UpdateOppCreateMov</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>InvocableUpdateOpportunity</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Respuesta</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>fechaEmision</name>
            <value>
                <elementReference>Fecha_de_emision</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>numComprobante</name>
            <value>
                <elementReference>Numero_de_comprobante</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>InvocableUpdateOpportunity</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>Resultado</assignToReference>
            <name>resultado</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Facturacion_mixta</name>
        <label>Facturacion mixta?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ScreenError</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>SI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_Oportunidad.Punto_de_Venta__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Buscar_Oportunidad.Obtentor__r.Factura_por_Cuenta_y_Orden_SE__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GenerarMovActualizarOpp</targetReference>
            </connector>
            <label>SI</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FechaFormateada</name>
        <dataType>String</dataType>
        <expression>TEXT({!Fecha_de_emision})</expression>
    </formulas>
    <formulas>
        <name>regexNroComprobanteFx</name>
        <dataType>Boolean</dataType>
        <expression>REGEX(UPPER(TRIM({!Numero_de_comprobante})), &quot;^(A|B|C)-\\d{4,5}-\\d{8}$&quot;)</expression>
    </formulas>
    <interviewLabel>UpdateOppCreateMovFacturacionMixta {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UpdateOppCreateMovFacturacionMixta</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Buscar_Oportunidad</name>
        <label>Buscar Oportunidad</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Facturacion_mixta</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>GenerarMovActualizarOpp</name>
        <label>GenerarMovActualizarOpp</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>UpdateOppCreateMov</targetReference>
        </connector>
        <fields>
            <name>GenerarMovActualizarOpp_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>GenerarMovActualizarOpp_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Fecha_de_emision</name>
                    <dataType>Date</dataType>
                    <fieldText>Fecha de emision</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>GenerarMovActualizarOpp_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Numero_de_comprobante</name>
                    <dataType>String</dataType>
                    <fieldText>Numero de comprobante</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Ingrese el número del comprobante. Se validará que el mismo contenga alguno de los siguientes formatos:&lt;/p&gt;&lt;p&gt;Letra (A, B o C)&lt;/p&gt;&lt;p&gt;Sucursal (4 o 5 dígitos)&lt;/p&gt;&lt;p&gt;Número (8 dígitos)&lt;/p&gt;&lt;p&gt;Ejemplos válidos:&lt;/p&gt;&lt;p&gt;A-0002-00000007&lt;/p&gt;&lt;p&gt;B-00005-00001234&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;El número de comprobante tiene que seguir el formato definido en la ayuda del campo&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!regexNroComprobanteFx}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Respuesta</name>
        <label>Respuesta</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Response</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!Resultado}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ScreenError</name>
        <label>Screen Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_mixta</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;&lt;img src=&quot;https://arpov.lightning.force.com/sfc/servlet.shepherd/version/download/068Qk00000Io5uz?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;image.png&quot;&gt;&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;{!$Label.Flow_Error_Message}La oportunidad no cumple las condiciones de ser Punto de Venta para un Obtentor de CYO de SE&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Buscar_Oportunidad</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Resultado</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
