force-app/main/default/flows/UpdateMBTCambioTitular.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Obtener_Campa_a</name>
        <label>Obtener Campaña</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>ObtenerCampana</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Tipo_de_Entrega</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>cultivoId</name>
            <value>
                <elementReference>Buscar_Cultivo.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fechaCreacion</name>
            <value>
                <elementReference>CreatedDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>nombreCultivo</name>
            <value>
                <elementReference>Buscar_Cultivo.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>origenCampana</name>
            <value>
                <stringValue>BolsaTech</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tipoCompra</name>
            <value>
                <stringValue>Ninguna</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ObtenerCampana</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Asignar_MBT</name>
        <label>Asignar MBT</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ListMBT</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cierre_de_expedientes_CLA_Y_SEC</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>Mensaje_error</name>
        <label>Mensaje error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>No es posible asignar un titular que no sea Licenciatario Enlist</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Actualizacion_del_Titular</name>
        <label>Actualizacion del Titular</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Se_actualizo_Titular</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.CUIT_Titular__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CUIT_Titular__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BuscarCuentaTitular</targetReference>
            </connector>
            <label>Se actualizo Titular</label>
        </rules>
    </decisions>
    <decisions>
        <name>EsUsuarioEnlist</name>
        <label>EsUsuarioEnlist</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Evaluar_Excepcion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BuscarCuentaTitular.Usuario_Enlist__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_MBT</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluar_Excepcion</name>
        <label>Evaluar Excepcion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Mensaje_error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Es_Excepcion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BuscarCuentaTitular.Excepcion_Titular_Enlist__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Buscar_Cultivo</targetReference>
            </connector>
            <label>Es Excepcion</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tiene_Expediente_CLA_Abierto</name>
        <label>Tiene Expediente CLA Abierto</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Buscar_Expediente_CLA_Abierto_Titular</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Tiene</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_Expediente_CLA_Abierto.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_Expediente_Abierto</targetReference>
            </connector>
            <label>Tiene</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tiene_Expediente_Cla_Abierto_el_Titular</name>
        <label>Tiene Expediente Cla Abierto el Titular</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Crear_Expediente_Titular</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_tiene</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_Expediente_CLA_Abierto_Titular.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_Expediente</targetReference>
            </connector>
            <label>Si tiene</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tiene_Expediente_SEC_Abierto</name>
        <label>Tiene Expediente SEC Abierto</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Buscar_Expediente_SEC_Abierto_Titular</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Tiene_Sec</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_Expediente_SEC_Abierto.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_Expediente_SEC_Abierto</targetReference>
            </connector>
            <label>Tiene Sec</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tiene_Expediente_SEC_Abierto_Titular</name>
        <label>Tiene Expediente SEC Abierto Titular</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Crear_Expediente_SEC_Titular</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_tiene_Sec_Abierto</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_Expediente_SEC_Abierto_Titular.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Actualizar_Expediente</targetReference>
            </connector>
            <label>Si tiene Sec Abierto</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tipo_de_Entrega</name>
        <label>Tipo de Entrega</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>Primera_Disposicion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tipo_de_entrega__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Primera Disposicón</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Buscar_Expediente_CLA_Abierto</targetReference>
            </connector>
            <label>Primera Disposicion</label>
        </rules>
        <rules>
            <name>Segunda_Disposicion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tipo_de_entrega__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Segunda Disposición</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Buscar_Expediente_SEC_Abierto</targetReference>
            </connector>
            <label>Segunda Disposicion</label>
        </rules>
    </decisions>
    <description>Flow que se ejecuta al completar el cuit del titular en un MBT</description>
    <environments>Default</environments>
    <formulas>
        <name>CreatedDate</name>
        <dataType>String</dataType>
        <expression>TEXT(DATEVALUE({!$Flow.CurrentDateTime}))</expression>
    </formulas>
    <formulas>
        <name>NameExpCLA</name>
        <dataType>String</dataType>
        <expression>&apos;PRI-&apos; &amp; {!BuscarCuentaTitular.N_CUIT__c} &amp; &apos;-&apos; &amp; {!$Record.Autonumeric__c}</expression>
    </formulas>
    <formulas>
        <name>NameExpSEC</name>
        <dataType>String</dataType>
        <expression>&apos;SEC-&apos; &amp; {!BuscarCuentaTitular.N_CUIT__c} &amp; &apos;-&apos; &amp; {!$Record.Autonumeric__c}</expression>
    </formulas>
    <formulas>
        <name>TN_CLA_Actualizadas</name>
        <dataType>Number</dataType>
        <expression>{!Buscar_Expediente_CLA_Abierto.Saldo_Expediente__c} - {!$Record.Tonelada_MBT__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>TN_SEC_Actualizadas</name>
        <dataType>Number</dataType>
        <expression>{!Buscar_Expediente_SEC_Abierto.Saldo_Expediente__c} - {!$Record.Tonelada_MBT__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>TotalSaldoClaTitular</name>
        <dataType>Number</dataType>
        <expression>{!Buscar_Expediente_CLA_Abierto_Titular.Saldo_Expediente__c} + {!$Record.Tonelada_MBT__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>TotalSaldoSECTitular</name>
        <dataType>Number</dataType>
        <expression>{!Buscar_Expediente_SEC_Abierto_Titular.Saldo_Expediente__c} + {!$Record.Tonelada_MBT__c}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>UpdateMBTCambioTitular {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UpdateMBTCambioTitular</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Crear_Expediente_SEC_Titular</name>
        <label>Crear Expediente SEC Titular</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Copy_1_of_Update_MBT</targetReference>
        </connector>
        <inputAssignments>
            <field>Campania__c</field>
            <value>
                <elementReference>Obtener_Campa_a.campanaId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cuenta__c</field>
            <value>
                <elementReference>BuscarCuentaTitular.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estado_de_la_Etapa__c</field>
            <value>
                <stringValue>No empezado</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Etapa__c</field>
            <value>
                <stringValue>Llamar</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_Cambio_Etapa__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gestionar__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>NameExpSEC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Obtentor__c</field>
            <value>
                <elementReference>$Setup.Sembra_Evolucion__c.Corteva_30_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Saldo_Expediente__c</field>
            <value>
                <elementReference>$Record.Tonelada_MBT__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_expendiente__c</field>
            <value>
                <stringValue>SEC</stringValue>
            </value>
        </inputAssignments>
        <object>Expediente_de_Negativos__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Crear_Expediente_Titular</name>
        <label>Crear Expediente Titular</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_MBT</targetReference>
        </connector>
        <inputAssignments>
            <field>Campania__c</field>
            <value>
                <elementReference>Obtener_Campa_a.campanaId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cuenta__c</field>
            <value>
                <elementReference>BuscarCuentaTitular.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estado_de_la_Etapa__c</field>
            <value>
                <stringValue>No empezado</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Etapa__c</field>
            <value>
                <stringValue>Llamar</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_Cambio_Etapa__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gestionar__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>NameExpCLA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Obtentor__c</field>
            <value>
                <elementReference>$Setup.Sembra_Evolucion__c.Corteva_30_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Saldo_Expediente__c</field>
            <value>
                <elementReference>$Record.Tonelada_MBT__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_expendiente__c</field>
            <value>
                <stringValue>PRI</stringValue>
            </value>
        </inputAssignments>
        <object>Expediente_de_Negativos__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Buscar_Cultivo</name>
        <label>Buscar Cultivo</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_Campa_a</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SOJA</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cultivo__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Buscar_Expediente_CLA_Abierto</name>
        <label>Buscar Expediente CLA Abierto</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Tiene_Expediente_CLA_Abierto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cuenta__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BuscarRemitenteComercial.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tipo_expendiente__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PRI</stringValue>
            </value>
        </filters>
        <filters>
            <field>Estado_de_la_Etapa__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Finalizado</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Expediente_de_Negativos__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Buscar_Expediente_CLA_Abierto_Titular</name>
        <label>Buscar Expediente CLA Abierto Titular</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Tiene_Expediente_Cla_Abierto_el_Titular</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Tipo_expendiente__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PRI</stringValue>
            </value>
        </filters>
        <filters>
            <field>Cuenta__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BuscarCuentaTitular.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Estado_de_la_Etapa__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Finalizado</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Expediente_de_Negativos__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Buscar_Expediente_SEC_Abierto</name>
        <label>Buscar Expediente SEC Abierto</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Tiene_Expediente_SEC_Abierto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cuenta__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BuscarRemitenteComercial.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tipo_expendiente__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SEC</stringValue>
            </value>
        </filters>
        <filters>
            <field>Estado_de_la_Etapa__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Finalizado</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Expediente_de_Negativos__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Buscar_Expediente_SEC_Abierto_Titular</name>
        <label>Buscar Expediente SEC Abierto Titular</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Tiene_Expediente_SEC_Abierto_Titular</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Tipo_expendiente__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SEC</stringValue>
            </value>
        </filters>
        <filters>
            <field>Cuenta__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BuscarCuentaTitular.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Estado_de_la_Etapa__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Finalizado</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Expediente_de_Negativos__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>BuscarCuentaTitular</name>
        <label>BuscarCuentaTitular</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>BuscarRemitenteComercial</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>N_CUIT__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CUIT_Titular__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>BuscarRemitenteComercial</name>
        <label>BuscarRemitenteComercial</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EsUsuarioEnlist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>N_CUIT__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Cuit_Remitente_Comercial__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_Expediente</name>
        <label>Actualizar Expediente</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Buscar_Expediente_CLA_Abierto_Titular.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Saldo_Expediente__c</field>
            <value>
                <elementReference>TotalSaldoClaTitular</elementReference>
            </value>
        </inputAssignments>
        <object>Expediente_de_Negativos__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Expediente_Abierto</name>
        <label>Actualizar Expediente Abierto</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Buscar_Expediente_CLA_Abierto_Titular</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Buscar_Expediente_CLA_Abierto.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Saldo_Expediente__c</field>
            <value>
                <elementReference>TN_CLA_Actualizadas</elementReference>
            </value>
        </inputAssignments>
        <object>Expediente_de_Negativos__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Expediente_SEC_Abierto</name>
        <label>Actualizar Expediente SEC Abierto</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Buscar_Expediente_SEC_Abierto_Titular</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Buscar_Expediente_SEC_Abierto.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Saldo_Expediente__c</field>
            <value>
                <elementReference>TN_SEC_Actualizadas</elementReference>
            </value>
        </inputAssignments>
        <object>Expediente_de_Negativos__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Completar_Titular_Asignado</name>
        <label>Completar Titular Asignado</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Titular_asignado__c</field>
            <value>
                <elementReference>BuscarCuentaTitular.N_CUIT__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Actualizar_Expediente</name>
        <label>Actualizar Expediente</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Buscar_Expediente_SEC_Abierto_Titular.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Saldo_Expediente__c</field>
            <value>
                <elementReference>TotalSaldoSECTitular</elementReference>
            </value>
        </inputAssignments>
        <object>Expediente_de_Negativos__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_MBT</name>
        <label>Update MBT</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Expediente_de_Negativos__c</field>
            <value>
                <elementReference>Crear_Expediente_SEC_Titular.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Titular_asignado__c</field>
            <value>
                <elementReference>BuscarCuentaTitular.N_CUIT__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_MBT</name>
        <label>Update MBT</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Expediente_de_Negativos__c</field>
            <value>
                <elementReference>Crear_Expediente_Titular.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Titular_asignado__c</field>
            <value>
                <elementReference>BuscarCuentaTitular.N_CUIT__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Actualizacion_del_Titular</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CUIT_Titular__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Cuit_Remitente_Comercial__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Tipo_de_entrega__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Expediente_de_Negativos__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Movimiento_BolsaTech__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Cierre_de_expedientes_CLA_Y_SEC</name>
        <label>Cierre de expedientes CLA Y SEC</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Completar_Titular_Asignado</targetReference>
        </connector>
        <flowName>Cierre_de_Expedientes_CLA_Y_SEC</flowName>
        <inputAssignments>
            <name>AccountRemitenteComercial</name>
            <value>
                <elementReference>BuscarRemitenteComercial</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AccountTitular</name>
            <value>
                <elementReference>BuscarCuentaTitular</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MovimientoBT</name>
            <value>
                <elementReference>ListMBT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OrigenBolsaTech</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>ListMBT</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Movimiento_BolsaTech__c</objectType>
    </variables>
</Flow>
