force-app/main/default/flows/Usuario_Actualizar_Cuit.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Asignar_Id_externo</name>
        <label>Asignar Id_externo</label>
        <locationX>517</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>varIdExterno</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>_</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varIdExterno</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_Cuit</targetReference>
        </connector>
    </assignments>
    <description>Cuando se crea un usuario de Portal, se actualiza el campo Cuit_Cuil con el Cuit de la cuenta asociada al usuario. También se actualiza el campo Id_Externo con el Cuit + _ + mail del usuario.</description>
    <interviewLabel>Usuario - Actualizar Cuit {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Usuario - Actualizar Cuit</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Actualizar_Cuit</name>
        <label>Actualizar Cuit</label>
        <locationX>684</locationX>
        <locationY>134</locationY>
        <inputAssignments>
            <field>CUIT_CUIL__c</field>
            <value>
                <elementReference>$Record.Account.N_CUIT__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Id_Externo__c</field>
            <value>
                <elementReference>varIdExterno</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Asignar_Id_externo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserType</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Standard</stringValue>
            </value>
        </filters>
        <object>User</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>varIdExterno</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Account.N_CUIT__c</elementReference>
        </value>
    </variables>
</Flow>
