force-app/main/default/flows/Validar_Ventas_CRM.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Asignar_Productor_Sin_licencias</name>
        <label>Asignar Productor Sin licencias</label>
        <locationX>182</locationX>
        <locationY>3410</locationY>
        <assignmentItems>
            <assignToReference>productores</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>productoresIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>productores</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>varT_productoresConLicencias</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_productoresSinLicencias</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>productores</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Licencias_Cuenta_Principal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_productores_con_licencias_Enlist</name>
        <label>Asignar productores con licencias Enlist</label>
        <locationX>138</locationX>
        <locationY>1934</locationY>
        <assignmentItems>
            <assignToReference>varT_productoresConLicencias</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Lopp_Licencias_Enlist.Cuenta_Productor__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lopp_Licencias_Enlist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_productores_con_licencias_Otra</name>
        <label>Asignar productores con licencias Otra</label>
        <locationX>138</locationX>
        <locationY>3134</locationY>
        <assignmentItems>
            <assignToReference>varT_productoresConLicencias</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_Licencias_Otras.Cuenta_Productor__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_Licencias_Otras</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_productores_con_licencias_RR</name>
        <label>Asignar productores con licencias RR</label>
        <locationX>138</locationX>
        <locationY>2534</locationY>
        <assignmentItems>
            <assignToReference>varT_productoresConLicencias</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Licencias_RR.Cuenta_Productor__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Licencias_RR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_productores_Cuenta_principal</name>
        <label>Asignar productores Cuenta principal</label>
        <locationX>270</locationX>
        <locationY>3734</locationY>
        <assignmentItems>
            <assignToReference>varT_productoresConLicencias</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Licencias_Cuenta_principal.Cuenta_Productor__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Licencias_Cuenta_principal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Productores_Ok</name>
        <label>Asignar Productores Ok</label>
        <locationX>182</locationX>
        <locationY>3926</locationY>
        <assignmentItems>
            <assignToReference>varT_productoresOk</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varT_productoresConLicencias</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Asignar_Ventas_Enlist</name>
        <label>Asignar Ventas Enlist</label>
        <locationX>270</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>varT_productoresComoDestinatariosEnlist</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Ventas_CRM_loop.Destinatario__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_clavesEnlist</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>forT_claveVentasDest</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Tiene_cuenta_principal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Ventas_Otras</name>
        <label>Asignar Ventas Otras</label>
        <locationX>798</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>varT_productoresComoDestinatariosOtra</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Ventas_CRM_loop.Destinatario__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_clavesOtras</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>forT_claveVentasDest</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Tiene_cuenta_principal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Ventas_RR</name>
        <label>Asignar Ventas RR</label>
        <locationX>534</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>varT_productoresComoDestinatariosRR</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Ventas_CRM_loop.Destinatario__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_clavesRR</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>forT_claveVentasDest</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Tiene_cuenta_principal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Ventas_TDS_o_DPO</name>
        <label>Asignar Ventas TDS o DPO</label>
        <locationX>1062</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>varProductoresComoOriginanteEnlist</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Ventas_CRM_loop.Originante__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_claveVentasOtras</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>forT_claveVentasOrig</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Tiene_cuenta_principal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Almacena los Ids de las cuentas principales</description>
        <name>Asingar_Cuenta_principal_ID</name>
        <label>Asingar Cuenta principal ID</label>
        <locationX>402</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>varT_cuentasObtentoresPadres</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Ventas_CRM_loop.Producto__r.Variedad2__r.Obtentor_Comercializa__r.ParentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_claveCuentasPadres</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>forT_claveCuentaPrincipalDest</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ventas_CRM_loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Almacena los Ids de las cuentas principales</description>
        <name>Asingar_Cuenta_principal_ID_Originante</name>
        <label>Asingar Cuenta principal ID Originante</label>
        <locationX>1194</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>varT_cuentasObtentoresPadres</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Ventas_CRM_loop.Producto__r.Variedad2__r.Obtentor_Comercializa__r.ParentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_claveCuentasPadres</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>forT_claveCuentaPrincipalOrig</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ventas_CRM_loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Asignar_Ventas_RR</name>
        <label>Asignar Ventas RR</label>
        <locationX>1326</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>varT_clavesRR</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>forT_claveVentasOrig</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varProductoresComoOriginanteRR</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Ventas_CRM_loop.Originante__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Tiene_cuenta_principal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Asignar_Ventas_Otras</name>
        <label>Asignar Ventas Otras</label>
        <locationX>1590</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>varT_clavesOtras</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>forT_claveVentasOrig</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varProductoresComoOriginanteOtras</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Ventas_CRM_loop.Originante__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Tiene_cuenta_principal</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>{!ventas_crm_loop.Producto__r.Producto__r.Categoria__c}</description>
        <name>Categor_a_del_Producto_Original_o_Pre_Basica</name>
        <label>Categoría del Producto es Original o Pre Básica?</label>
        <locationX>1744</locationX>
        <locationY>542</locationY>
        <defaultConnector>
            <targetReference>Venta_o_devolucion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Otra categoría</defaultConnectorLabel>
        <rules>
            <name>Original_o_Pre_B_sica_y_2022</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>forYear</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>2022.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Ventas_CRM_loop.Producto__r.Categoria__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pre Básica</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Ventas_CRM_loop.Producto__r.Categoria__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Original o Fundadora</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Que_tipo_de_venta_es</targetReference>
            </connector>
            <label>Original o Pre Básica y &gt;= 2022</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Tecnolog_a</name>
        <label>Tecnología</label>
        <locationX>1326</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Asignar_Ventas_Otras</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Enlist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Ventas_CRM_loop.Producto__r.Variedad2__r.Biotecnologia__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Enlist E3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Ventas_CRM_loop.Producto__r.Variedad2__r.Biotecnologia__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Conkesta E3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Ventas_TDS_o_DPO</targetReference>
            </connector>
            <label>Copy 1 of Enlist</label>
        </rules>
        <rules>
            <name>Copy_1_of_RR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Ventas_CRM_loop.Producto__r.Variedad2__r.Biotecnologia__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>RR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Ventas_CRM_loop.Producto__r.Variedad2__r.Biotecnologia__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Convencional</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Asignar_Ventas_RR</targetReference>
            </connector>
            <label>Copy 1 of RR</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Tiene_cuenta_principal</name>
        <label>Tiene cuenta principal?</label>
        <locationX>1326</locationX>
        <locationY>1058</locationY>
        <defaultConnector>
            <targetReference>Ventas_CRM_loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Ventas_CRM_loop.Producto__r.Variedad2__r.Obtentor_Comercializa__r.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asingar_Cuenta_principal_ID_Originante</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Hay_productores_Enlist_a_buscar</name>
        <label>Hay productores Enlist a buscar?</label>
        <locationX>182</locationX>
        <locationY>1610</locationY>
        <defaultConnector>
            <targetReference>Hay_productores_RR_a_buscar</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>si_hay</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varT_productoresComoDestinatariosEnlist</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Licencias_Enlist_de_Destinatario</targetReference>
            </connector>
            <label>si hay</label>
        </rules>
    </decisions>
    <decisions>
        <name>Hay_productores_Otra_a_buscar</name>
        <label>Hay productores Otra a buscar?</label>
        <locationX>182</locationX>
        <locationY>2810</locationY>
        <defaultConnector>
            <targetReference>Asignar_Productor_Sin_licencias</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Hay_productores_Otraa</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varT_productoresComoDestinatariosOtra</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Licencias_Otras_de_Destinatario</targetReference>
            </connector>
            <label>Hay productores Otraa</label>
        </rules>
    </decisions>
    <decisions>
        <name>Hay_productores_RR_a_buscar</name>
        <label>Hay productores RR a buscar?</label>
        <locationX>182</locationX>
        <locationY>2210</locationY>
        <defaultConnector>
            <targetReference>Hay_productores_Otra_a_buscar</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_hay_RR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varT_productoresComoDestinatariosRR</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Licencias_RR_de_Destinatario</targetReference>
            </connector>
            <label>Si hay RR</label>
        </rules>
    </decisions>
    <decisions>
        <name>Que_tipo_de_venta_es</name>
        <label>Qué tipo de venta es?</label>
        <locationX>1194</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>Ventas_CRM_loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Otro tipo</defaultConnectorLabel>
        <rules>
            <name>C_o_Venta</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>Ventas_CRM_loop.Tipo_de_Venta__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Venta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Ventas_CRM_loop.Tipo_de_Venta__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>C</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Ventas_CRM_loop.Rol_Originante__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Obtentor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tecnologia</targetReference>
            </connector>
            <label>C o Venta</label>
        </rules>
        <rules>
            <name>TDS_o_DPO</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>Ventas_CRM_loop.Tipo_de_Venta__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TDS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Ventas_CRM_loop.Tipo_de_Venta__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DPO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Ventas_CRM_loop.Rol_Destinatario__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Obtentor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Tecnolog_a</targetReference>
            </connector>
            <label>TDS o DPO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rol_destinatario</name>
        <label>Rol destinatario?</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Buscar_Venta_CRM_como_Originante</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varB_rolDestinatario</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Buscar_Venta_CRM_como_Destinatario</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tecnologia</name>
        <label>Tecnología</label>
        <locationX>534</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Asignar_Ventas_Otras</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Enlist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Ventas_CRM_loop.Producto__r.Variedad2__r.Biotecnologia__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Enlist E3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Ventas_CRM_loop.Producto__r.Variedad2__r.Biotecnologia__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Conkesta E3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Ventas_Enlist</targetReference>
            </connector>
            <label>Enlist</label>
        </rules>
        <rules>
            <name>RR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Ventas_CRM_loop.Producto__r.Variedad2__r.Biotecnologia__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>RR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Ventas_CRM_loop.Producto__r.Variedad2__r.Biotecnologia__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Convencional</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Ventas_RR</targetReference>
            </connector>
            <label>RR</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tiene_cuenta_principal</name>
        <label>Tiene cuenta principal?</label>
        <locationX>534</locationX>
        <locationY>1058</locationY>
        <defaultConnector>
            <targetReference>Ventas_CRM_loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_tiene</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Ventas_CRM_loop.Producto__r.Variedad2__r.Obtentor_Comercializa__r.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asingar_Cuenta_principal_ID</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Venta_o_devolucion</name>
        <label>Venta o devolución?</label>
        <locationX>2294</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>Ventas_CRM_loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Otra</defaultConnectorLabel>
        <rules>
            <name>Por_Venta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Ventas_CRM_loop.Tipo_de_Venta__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Venta</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Tecnologia</targetReference>
            </connector>
            <label>Por Venta</label>
        </rules>
        <rules>
            <name>Por_DPD_o_DPO</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Ventas_CRM_loop.Tipo_de_Venta__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DPD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Ventas_CRM_loop.Tipo_de_Venta__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DPO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Copy_1_of_Tecnolog_a</targetReference>
            </connector>
            <label>Por DPD o DPO</label>
        </rules>
    </decisions>
    <description>Valida las ventas de los productores solicitados y si tienen licencias aprobadas.</description>
    <environments>Default</environments>
    <formulas>
        <name>forT_claveCuentaPrincipalDest</name>
        <dataType>String</dataType>
        <expression>{!Ventas_CRM_loop.Destinatario__r.Id}+{!Ventas_CRM_loop.Producto__r.Variedad2__r.Obtentor_Comercializa__r.ParentId}</expression>
    </formulas>
    <formulas>
        <name>forT_claveCuentaPrincipalOrig</name>
        <dataType>String</dataType>
        <expression>{!Ventas_CRM_loop.Originante__r.Id}+{!Ventas_CRM_loop.Producto__r.Variedad2__r.Obtentor_Comercializa__r.ParentId}</expression>
    </formulas>
    <formulas>
        <name>forT_claveVentasDest</name>
        <dataType>String</dataType>
        <expression>{!Ventas_CRM_loop.Destinatario__r.Id}+{!Ventas_CRM_loop.Producto__r.Variedad2__r.Obtentor_Comercializa__c}</expression>
    </formulas>
    <formulas>
        <name>forT_claveVentasOrig</name>
        <dataType>String</dataType>
        <expression>{!Ventas_CRM_loop.Originante__r.Id}+{!Ventas_CRM_loop.Producto__r.Variedad2__r.Obtentor_Comercializa__c}</expression>
    </formulas>
    <formulas>
        <description>Año de la campaña agrícola de la venta.</description>
        <name>forYear</name>
        <dataType>Number</dataType>
        <expression>IF({!varCultivoName} = &apos;TRIGO&apos;, VALUE({!Ventas_CRM_loop.Campana_Agricola__r.Ano__c}) - 1, VALUE({!Ventas_CRM_loop.Campana_Agricola__r.Ano__c}))</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Validar Ventas CRM {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Validar Ventas CRM</label>
    <loops>
        <name>Loop_Licencias_Cuenta_principal</name>
        <label>Loop Licencias Cuenta principal</label>
        <locationX>182</locationX>
        <locationY>3626</locationY>
        <collectionReference>Get_Licencias_Cuenta_Principal</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Asignar_productores_Cuenta_principal</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Asignar_Productores_Ok</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_Licencias_Otras</name>
        <label>loop Licencias Otras</label>
        <locationX>50</locationX>
        <locationY>3026</locationY>
        <collectionReference>Get_Licencias_Otras_de_Destinatario</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Asignar_productores_con_licencias_Otra</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Asignar_Productor_Sin_licencias</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Licencias_RR</name>
        <label>Loop Licencias RR</label>
        <locationX>50</locationX>
        <locationY>2426</locationY>
        <collectionReference>Get_Licencias_RR_de_Destinatario</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Asignar_productores_con_licencias_RR</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Hay_productores_Otra_a_buscar</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Lopp_Licencias_Enlist</name>
        <label>Lopp Licencias Enlist</label>
        <locationX>50</locationX>
        <locationY>1826</locationY>
        <collectionReference>Get_Licencias_Enlist_de_Destinatario</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Asignar_productores_con_licencias_Enlist</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Hay_productores_RR_a_buscar</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Ventas_CRM_loop</name>
        <label>Ventas CRM loop</label>
        <locationX>182</locationX>
        <locationY>434</locationY>
        <collectionReference>varR_ventasRecordsList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Categor_a_del_Producto_Original_o_Pre_Basica</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Hay_productores_Enlist_a_buscar</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Buscar_Venta_CRM_como_Destinatario</name>
        <label>Buscar Venta CRM como Destinatario</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Ventas_CRM_loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Destinatario__c</field>
            <operator>In</operator>
            <value>
                <elementReference>productoresIds</elementReference>
            </value>
        </filters>
        <object>Venta__c</object>
        <outputReference>varR_ventasRecordsList</outputReference>
        <queriedFields>Tipo_de_Venta__c</queriedFields>
        <queriedFields>Producto__c</queriedFields>
        <queriedFields>Campana_Agricola__c</queriedFields>
        <queriedFields>Destinatario__c</queriedFields>
        <queriedFields>Originante__c</queriedFields>
        <queriedFields>Cultivo__c</queriedFields>
        <queriedFields>Rol_Originante__c</queriedFields>
        <queriedFields>Rol_Destinatario__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Buscar_Venta_CRM_como_Originante</name>
        <label>Buscar Venta CRM como Originante</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Ventas_CRM_loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Originante__c</field>
            <operator>In</operator>
            <value>
                <elementReference>productoresIds</elementReference>
            </value>
        </filters>
        <object>Venta__c</object>
        <outputReference>varR_ventasRecordsList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Tipo_de_Venta__c</queriedFields>
        <queriedFields>Producto__c</queriedFields>
        <queriedFields>Campana_Agricola__c</queriedFields>
        <queriedFields>Destinatario__c</queriedFields>
        <queriedFields>Originante__c</queriedFields>
        <queriedFields>Cultivo__c</queriedFields>
        <queriedFields>Rol_Destinatario__c</queriedFields>
        <queriedFields>Rol_Originante__c</queriedFields>
        <sortField>Variedad__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Licencias_Cuenta_Principal</name>
        <label>Get Licencias Cuenta Principal</label>
        <locationX>182</locationX>
        <locationY>3518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Licencias_Cuenta_principal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cuenta_Obtentor__c</field>
            <operator>In</operator>
            <value>
                <elementReference>varT_cuentasObtentoresPadres</elementReference>
            </value>
        </filters>
        <filters>
            <field>Cuenta_Productor__c</field>
            <operator>In</operator>
            <value>
                <elementReference>varT_productoresSinLicencias</elementReference>
            </value>
        </filters>
        <filters>
            <field>Clave_Licencia_Productor_Obtentor__c</field>
            <operator>In</operator>
            <value>
                <elementReference>varT_claveCuentasPadres</elementReference>
            </value>
        </filters>
        <filters>
            <field>Fecha_de_Vencimiento__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Estado__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Aprobada</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Licencia__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Licencias_Enlist_de_Destinatario</name>
        <label>Get Licencias Enlist de Destinatario</label>
        <locationX>50</locationX>
        <locationY>1718</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lopp_Licencias_Enlist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Tipo_de_Licencia__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Productor</stringValue>
            </value>
        </filters>
        <filters>
            <field>Cuenta_Productor__c</field>
            <operator>In</operator>
            <value>
                <elementReference>varT_productoresComoDestinatariosEnlist</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tecnologia__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Enlist</stringValue>
            </value>
        </filters>
        <filters>
            <field>Estado__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Aprobada</stringValue>
            </value>
        </filters>
        <filters>
            <field>Clave_Licencia_Productor_Obtentor__c</field>
            <operator>In</operator>
            <value>
                <elementReference>varT_clavesEnlist</elementReference>
            </value>
        </filters>
        <filters>
            <field>Fecha_de_Vencimiento__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Licencia__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Licencias_Otras_de_Destinatario</name>
        <label>Get Licencias Otras de Destinatario</label>
        <locationX>50</locationX>
        <locationY>2918</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_Licencias_Otras</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Tipo_de_Licencia__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Productor</stringValue>
            </value>
        </filters>
        <filters>
            <field>Cuenta_Productor__c</field>
            <operator>In</operator>
            <value>
                <elementReference>varT_clavesOtras</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tecnologia__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Enlist</stringValue>
            </value>
        </filters>
        <filters>
            <field>Estado__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Aprobada</stringValue>
            </value>
        </filters>
        <filters>
            <field>Clave_Licencia_Productor_Obtentor__c</field>
            <operator>In</operator>
            <value>
                <elementReference>varT_clavesOtras</elementReference>
            </value>
        </filters>
        <filters>
            <field>Fecha_de_Vencimiento__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tecnologia__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>RR</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Licencia__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Licencias_RR_de_Destinatario</name>
        <label>Get Licencias RR de Destinatario</label>
        <locationX>50</locationX>
        <locationY>2318</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Licencias_RR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Tipo_de_Licencia__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Productor</stringValue>
            </value>
        </filters>
        <filters>
            <field>Cuenta_Productor__c</field>
            <operator>In</operator>
            <value>
                <elementReference>varT_productoresComoDestinatariosRR</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tecnologia__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RR</stringValue>
            </value>
        </filters>
        <filters>
            <field>Estado__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Aprobada</stringValue>
            </value>
        </filters>
        <filters>
            <field>Clave_Licencia_Productor_Obtentor__c</field>
            <operator>In</operator>
            <value>
                <elementReference>varT_clavesRR</elementReference>
            </value>
        </filters>
        <filters>
            <field>Fecha_de_Vencimiento__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Licencia__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Rol_destinatario</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Collection_Filter_1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Licencia__c</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>productores</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>productoresIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varB_rolDestinatario</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varBiotecnologia</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varCampanaAgricolaAno</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCategoriaProducto</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCuentaPrincipal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCultivo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varCultivoName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEstadoLicencia</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varFechaVto</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLicenciaId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varMarcaObtentorComercializa</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varNombreObtentorComercializa</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varNombrePrincipal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varObtentorComercializa</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varProductor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varProductoresComoOriginanteEnlist</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProductoresComoOriginanteOtras</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProductoresComoOriginanteRR</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varR_ventasRecordsList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Venta__c</objectType>
    </variables>
    <variables>
        <name>varSE</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varT_claveCuentasPadres</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_clavesEnlist</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_clavesOtras</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_clavesRR</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_claveVentasOtras</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_cuentasObtentoresPadres</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_productorActualId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Almacena los productores desde las ventas</description>
        <name>varT_productoresComoDestinatariosEnlist</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_productoresComoDestinatariosOtra</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_productoresComoDestinatariosRR</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_productoresConLicencias</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_productoresOk</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varT_productoresSinLicencias</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varVariedad</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
