force-app/main/default/flows/Variedad_SubFlow_Creacion_Producto_Futura_y_Disponible.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <formulas>
        <name>forNombreDisponible</name>
        <dataType>String</dataType>
        <expression>{!varRegistroVariedad.Name} &amp; &quot; - Disponible&quot;</expression>
    </formulas>
    <formulas>
        <name>forNombreFutura</name>
        <dataType>String</dataType>
        <expression>{!varRegistroVariedad.Name} &amp; &quot; - Futura&quot;</expression>
    </formulas>
    <formulas>
        <name>forObtentor</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!varRegistroVariedad.Obtentor_Comercializa__r.ParentId}), {!varRegistroVariedad.Obtentor_Comercializa__c}, {!varRegistroVariedad.Obtentor_Comercializa__r.ParentId})</expression>
    </formulas>
    <interviewLabel>Variedad - SubFlow Creacion Producto Futura y Disponible {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Variedad - SubFlow Creacion Producto Futura y Disponible</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Crear_Producto_Disponible</name>
        <label>Crear Producto Disponible</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Crear_Producto_Obtentor_Futura</targetReference>
        </connector>
        <inputAssignments>
            <field>Categoria__c</field>
            <value>
                <stringValue>Disponible</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Family</field>
            <value>
                <stringValue>Sembra Evolucion</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>forNombreDisponible</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Obtentor_Comercializa__c</field>
            <value>
                <elementReference>varRegistroVariedad.Obtentor_Comercializa__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varRecordTypeIdProductoSE</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sembra_Evolucion__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_Compra__c</field>
            <value>
                <stringValue>Disponible</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unidad_de_Medida__c</field>
            <value>
                <stringValue>Hectáreas</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Variedad2__c</field>
            <value>
                <elementReference>varRegistroVariedad.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Variedad__c</field>
            <value>
                <elementReference>varRegistroVariedad.Name</elementReference>
            </value>
        </inputAssignments>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Crear_Producto_Futura</name>
        <label>Crear Producto Futura</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Crear_Producto_Disponible</targetReference>
        </connector>
        <inputAssignments>
            <field>Categoria__c</field>
            <value>
                <stringValue>Futura</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Family</field>
            <value>
                <stringValue>Sembra Evolucion</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>forNombreFutura</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Obtentor_Comercializa__c</field>
            <value>
                <elementReference>varRegistroVariedad.Obtentor_Comercializa__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varRecordTypeIdProductoSE</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sembra_Evolucion__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_Compra__c</field>
            <value>
                <stringValue>Futura</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unidad_de_Medida__c</field>
            <value>
                <stringValue>Hectáreas</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Variedad2__c</field>
            <value>
                <elementReference>varRegistroVariedad.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Variedad__c</field>
            <value>
                <elementReference>varRegistroVariedad.Name</elementReference>
            </value>
        </inputAssignments>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Crear_Producto_Obtentor_Disponible</name>
        <label>Crear Producto Obtentor Disponible</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>forNombreDisponible</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Obtentor__c</field>
            <value>
                <elementReference>forObtentor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductoId__c</field>
            <value>
                <elementReference>Crear_Producto_Disponible</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_Compra__c</field>
            <value>
                <stringValue>Disponible</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Variedad__c</field>
            <value>
                <elementReference>varRegistroVariedad.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Producto_Obtentor__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Crear_Producto_Obtentor_Futura</name>
        <label>Crear Producto Obtentor Futura</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Crear_Producto_Obtentor_Disponible</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>forNombreFutura</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Obtentor__c</field>
            <value>
                <elementReference>forObtentor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductoId__c</field>
            <value>
                <elementReference>Crear_Producto_Futura</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_Compra__c</field>
            <value>
                <stringValue>Futura</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Variedad__c</field>
            <value>
                <elementReference>varRegistroVariedad.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Producto_Obtentor__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Buscar_Record_Type_Id_para_Product2_de_SE</name>
        <label>Buscar Record Type Id para Product2 de SE</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Crear_Producto_Futura</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Product2</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Germotec</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varRecordTypeIdProductoSE</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Buscar_Record_Type_Id_para_Product2_de_SE</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varRecordTypeIdProductoSE</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRecordTypeIdProductoSRE</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRegistroVariedad</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Variedad__c</objectType>
    </variables>
</Flow>
