force-app/main/default/flows/VENC_Crea_Saldo_en_CC_y_CV_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>CC_o_CV</name>
        <label>CC o CV</label>
        <locationX>154</locationX>
        <locationY>387</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>CC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ERPvs__Origen__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>COMPROBANTE COMPRA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualiza_Saldo_MO_y_MN_en_CC</targetReference>
            </connector>
            <label>CC</label>
        </rules>
        <rules>
            <name>CV</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ERPvs__Origen__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>COMPROBANTE VENTA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualiza_Saldo_MO_y_MN_en_CV</targetReference>
            </connector>
            <label>CV</label>
        </rules>
    </decisions>
    <description>Actualiza Saldo MO y MN en CC y CV cuando se crea un registro</description>
    <interviewLabel>VENC.Crea Saldo en CC y CV (Flow) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>VENC.Crea Saldo en CC y CV (Flow)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Actualiza_No_controlar_en_CC</name>
        <label>Actualiza No controlar en CC</label>
        <locationX>556</locationX>
        <locationY>588</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ERPvs__Comprobante_Compra__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ERPvs__No_controlar__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>ERPvs__Comprobante_Compra__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualiza_No_controlar_en_CV</name>
        <label>Actualiza No controlar en CV</label>
        <locationX>548</locationX>
        <locationY>389</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ERPvs__Comprobante_Venta__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ERPvs__No_controlar__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>ERPvs__Comprobante_Venta__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualiza_Saldo_MO_y_MN_en_CC</name>
        <label>Actualiza Saldo MO y MN en CC</label>
        <locationX>160</locationX>
        <locationY>589</locationY>
        <connector>
            <targetReference>Actualiza_No_controlar_en_CC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ERPvs__Comprobante_Compra__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ERPvs__No_controlar__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Saldo_MN__c</field>
            <value>
                <elementReference>$Record.ERPvs__Importe_MN__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Saldo_MO__c</field>
            <value>
                <elementReference>$Record.ERPvs__Importe_MO__c</elementReference>
            </value>
        </inputAssignments>
        <object>ERPvs__Comprobante_Compra__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualiza_Saldo_MO_y_MN_en_CV</name>
        <label>Actualiza Saldo MO y MN en CV</label>
        <locationX>356</locationX>
        <locationY>389</locationY>
        <connector>
            <targetReference>Actualiza_No_controlar_en_CV</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ERPvs__Comprobante_Venta__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ERPvs__No_controlar__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Saldo_MN__c</field>
            <value>
                <elementReference>$Record.ERPvs__Importe_MN__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Saldo_MO__c</field>
            <value>
                <elementReference>$Record.ERPvs__Importe_MO__c</elementReference>
            </value>
        </inputAssignments>
        <object>ERPvs__Comprobante_Venta__c</object>
    </recordUpdates>
    <start>
        <locationX>36</locationX>
        <locationY>26</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>ERPvs__Origen__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>COMPROBANTE COMPRA</stringValue>
            </value>
        </filters>
        <filters>
            <field>ERPvs__Origen__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>COMPROBANTE VENTA</stringValue>
            </value>
        </filters>
        <object>ERPvs__Vencimientos__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>fechaModificacion_1min</name>
            <connector>
                <targetReference>CC_o_CV</targetReference>
            </connector>
            <label>fechaModificacion+1min</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>Ultima_Modificacion_mas_1_min__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>idVENC</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
