force-app/main/default/flows/Venta_CRM_Crear_HT_no_generada.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Anio_es_2021_o_mayor</name>
        <label>Año es 2021 o mayor?</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Actualizar_Tilde_en_Venta_CRM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>forYear</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>2021.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crear_la_HT_asociada_a_la_venta_CRM</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Es_Venta_C</name>
        <label>Es Venta C?</label>
        <locationX>534</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>Crear_la_HT_asociada_a_la_venta_CRM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Venta_C</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tipo_de_Venta__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>C</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_tipo_de_venta</targetReference>
            </connector>
            <label>Venta C</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tiene_HT</name>
        <label>Tiene HT</label>
        <locationX>534</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Es_Venta_C</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Tiene</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.HT_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_previous_HT</targetReference>
            </connector>
            <label>Tiene</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tipo_de_actualizacion</name>
        <label>Tipo de actualizacion</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Crear_HT_pasa_a_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Crear_HT__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Crear_HT__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Anio_es_2021_o_mayor</targetReference>
            </connector>
            <label>Crear HT pasa a true</label>
        </rules>
        <rules>
            <name>Procesar_como_PRIMU_cambia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Procesar_como_PRIMU__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tiene_HT</targetReference>
            </connector>
            <label>Procesar como PRIMU cambia</label>
        </rules>
    </decisions>
    <description>Cada vez que se tilda el campo Crear HT, se dispara este flow para crear la HT no generada.</description>
    <environments>Default</environments>
    <formulas>
        <description>Fecha Vencimiento de Tonelada con año de la campaña agrícola de la venta + 1. Ej. 01/03/2023 para soja.</description>
        <name>forFechaFin</name>
        <dataType>Date</dataType>
        <expression>Date({!forYear} + 1, MONTH({!forFechaVtoTN}), DAY({!forFechaVtoTN}))</expression>
    </formulas>
    <formulas>
        <description>Fecha Vencimiento de Tonelada con año de la campaña agrícola de la venta. Ej. 01/03/2022 para soja.</description>
        <name>forFechaInicio</name>
        <dataType>Date</dataType>
        <expression>Date({!forYear}, MONTH({!forFechaVtoTN}), DAY({!forFechaVtoTN}))</expression>
    </formulas>
    <formulas>
        <name>forFechaVtoTN</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Cultivo__r.Fecha_Vencimiento_de_Tonelada__c}</expression>
    </formulas>
    <formulas>
        <description>Año de la campaña agrícola de la venta</description>
        <name>forYear</name>
        <dataType>Number</dataType>
        <expression>VALUE({!$Record.Campana_Agricola__r.Ano__c})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Venta CRM - Crear HT no generada {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Venta CRM - Crear HT no generada</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_previous_HT</name>
        <label>Delete previous HT</label>
        <locationX>402</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Es_Venta_C</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.HT_Id__c</elementReference>
            </value>
        </filters>
        <object>Hectareas_Tecnologicas__c</object>
    </recordDeletes>
    <recordUpdates>
        <name>Actualizar_Tilde_en_Venta_CRM</name>
        <label>Actualizar Tilde en Venta CRM</label>
        <locationX>138</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Crear_HT__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_tipo_de_venta</name>
        <label>Actualizar tipo de venta</label>
        <locationX>402</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>Crear_la_HT_asociada_a_la_venta_CRM</targetReference>
        </connector>
        <inputAssignments>
            <field>Rol_Destinatario__c</field>
            <value>
                <stringValue>Productor</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_Venta__c</field>
            <value>
                <stringValue>Venta</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Venta_CRM</name>
        <label>Actualizar Venta CRM</label>
        <locationX>446</locationX>
        <locationY>1223</locationY>
        <inputAssignments>
            <field>Crear_HT__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estado_Licencia__c</field>
            <value>
                <elementReference>Crear_la_HT_asociada_a_la_venta_CRM.varEstadoLicencia</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HT_Id__c</field>
            <value>
                <elementReference>Crear_la_HT_asociada_a_la_venta_CRM.varHTid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Licencia__c</field>
            <value>
                <elementReference>Crear_la_HT_asociada_a_la_venta_CRM.varLicenciaId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Tipo_de_actualizacion</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Crear_HT__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Procesar_como_PRIMU__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Venta__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Crear_la_HT_asociada_a_la_venta_CRM</name>
        <label>Crear la HT asociada a la venta CRM</label>
        <locationX>446</locationX>
        <locationY>1115</locationY>
        <connector>
            <targetReference>Actualizar_Venta_CRM</targetReference>
        </connector>
        <flowName>Venta_CRM_Crear_HT</flowName>
        <inputAssignments>
            <name>varRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>varBiotecnologia</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varCanalDeVenta</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varCuentaPrincipal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCultivo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varEstadoLicencia</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varEtapa</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varFechaFacturacion</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFechaVto</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLicenciaId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varMarcaObtentorComercializa</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varNCuit</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varNombreObtentorComercializa</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varNombrePrincipal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varObtentorComercializa</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varOrigen</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varProductor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varSE</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varSigno</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varTipoMovimiento</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varValorConversion</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varVariedad</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
