force-app/main/default/flows/Venta_CRM_Crear_HT.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Asignar_HT_creada</name>
        <label>Asignar HT creada</label>
        <locationX>594</locationX>
        <locationY>2282</locationY>
        <assignmentItems>
            <assignToReference>varHTid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Crear_Hectarea_Tecnologica</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Asignar_Nombre_Principal</name>
        <label>Asignar Nombre Principal</label>
        <locationX>792</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>varNombrePrincipal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNombreObtentorComercializa</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Categoria_del_Producto_es_Original_o_Pre_Basica</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_valores_para_HT_negativa</name>
        <label>Asignar valores para HT negativa</label>
        <locationX>1634</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>varEtapa</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Aplicada</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFechaFacturacion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSigno</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>-1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTipoMovimiento</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>D</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCanalDeVenta</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_Venta_CRM.Destinatario__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNCuit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_Venta_CRM.Originante__r.N_CUIT__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varProductor</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_Venta_CRM.Originante__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEstadoLicencia</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Validar_licencia_de_productor_Originante.varEstadoLicencia</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFechaVto</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Validar_licencia_de_productor_Originante.varFechaVto</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLicenciaId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Validar_licencia_de_productor_Originante.varLicenciaId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrigen</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Compra SF</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varValorConversion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_Venta_CRM.Cultivo__r.HT2Kilos__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Existe_Licencia</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_valores_para_HT_positiva</name>
        <label>Asignar valores para HT positiva</label>
        <locationX>1370</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>varEtapa</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cobrada</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFechaFacturacion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_Venta_CRM.Fecha_Facturacion__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSigno</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTipoMovimiento</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>C</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCanalDeVenta</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_Venta_CRM.Originante__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNCuit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_Venta_CRM.Destinatario__r.N_CUIT__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varProductor</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_Venta_CRM.Destinatario__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLicenciaId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Validar_licencia_de_productor_Destinatario.varLicenciaId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEstadoLicencia</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Validar_licencia_de_productor_Destinatario.varEstadoLicencia</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFechaVto</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Validar_licencia_de_productor_Destinatario.varFechaVto</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrigen</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Compra SF</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varValorConversion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_Venta_CRM.Cultivo__r.HT2Kilos__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Existe_Licencia</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>HT_negativa_Original</name>
        <label>HT negativa Original</label>
        <locationX>578</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>varEtapa</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Aplicada</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFechaFacturacion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSigno</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>-1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTipoMovimiento</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>D</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCanalDeVenta</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_Venta_CRM.Destinatario__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNCuit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_Venta_CRM.Originante__r.N_CUIT__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varProductor</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_Venta_CRM.Originante__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEstadoLicencia</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Validar_licencia_de_Originante.varEstadoLicencia</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFechaVto</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Validar_licencia_de_Originante.varFechaVto</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLicenciaId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Validar_licencia_de_Originante.varLicenciaId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrigen</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Semilla Original</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varValorConversion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_Venta_CRM.Cultivo__r.HT2Kilos_Original__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Existe_Licencia</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>HT_negativa_Pre_Basica</name>
        <label>HT negativa Pre Básica</label>
        <locationX>842</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>varEtapa</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Aplicada</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFechaFacturacion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSigno</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>-1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTipoMovimiento</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>D</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCanalDeVenta</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_Venta_CRM.Destinatario__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNCuit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_Venta_CRM.Originante__r.N_CUIT__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varProductor</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_Venta_CRM.Originante__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEstadoLicencia</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Validar_licencia_de_Originante.varEstadoLicencia</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFechaVto</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Validar_licencia_de_Originante.varFechaVto</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLicenciaId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Validar_licencia_de_Originante.varLicenciaId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrigen</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Semilla Pre Básica</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varValorConversion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_Venta_CRM.Cultivo__r.HT2Kilos_Pre_Basica__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Existe_Licencia</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>HT_positiva_Original</name>
        <label>HT positiva Original</label>
        <locationX>50</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>varEtapa</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cobrada</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFechaFacturacion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_Venta_CRM.Fecha_Facturacion__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSigno</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTipoMovimiento</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>C</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCanalDeVenta</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_Venta_CRM.Originante__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNCuit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_Venta_CRM.Destinatario__r.N_CUIT__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varProductor</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_Venta_CRM.Destinatario__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLicenciaId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Validar_licencia_de_Destinatario.varLicenciaId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEstadoLicencia</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Validar_licencia_de_Destinatario.varEstadoLicencia</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFechaVto</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Validar_licencia_de_Destinatario.varFechaVto</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrigen</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Semilla Original</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varValorConversion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_Venta_CRM.Cultivo__r.HT2Kilos_Original__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Existe_Licencia</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>HT_positiva_Pre_Basica</name>
        <label>HT positiva Pre Básica</label>
        <locationX>314</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>varEtapa</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cobrada</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFechaFacturacion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_Venta_CRM.Fecha_Facturacion__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSigno</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTipoMovimiento</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>C</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCanalDeVenta</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_Venta_CRM.Originante__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNCuit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_Venta_CRM.Destinatario__r.N_CUIT__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varProductor</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_Venta_CRM.Destinatario__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLicenciaId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Validar_licencia_de_Destinatario.varLicenciaId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEstadoLicencia</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Validar_licencia_de_Destinatario.varEstadoLicencia</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFechaVto</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Validar_licencia_de_Destinatario.varFechaVto</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrigen</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Semilla Pre Básica</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varValorConversion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_Venta_CRM.Cultivo__r.HT2Kilos_Pre_Basica__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Existe_Licencia</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Categoria_del_Producto_es_Original_o_Pre_Basica</name>
        <label>Categoría del Producto es Original o Pre Básica?</label>
        <locationX>924</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Hectarea_Por_Venta_o_por_Devolucion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Otra Categoría</defaultConnectorLabel>
        <rules>
            <name>Original_o_Pre_Basica_y_2022</name>
            <conditionLogic>(1 OR 3 OR 4) AND 2</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_Venta_CRM.Producto__r.Categoria__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Original o Fundadora</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>forYear</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>2022.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Buscar_Venta_CRM.Producto__r.Categoria__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pre Básica</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Buscar_Venta_CRM.Producto__r.Categoria__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Original</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tiene_check_primu</targetReference>
            </connector>
            <label>Original o Pre Básica y &gt;= 2022</label>
        </rules>
    </decisions>
    <decisions>
        <name>Categoria_Original</name>
        <label>Categoría Original?</label>
        <locationX>182</locationX>
        <locationY>1406</locationY>
        <defaultConnector>
            <targetReference>HT_positiva_Pre_Basica</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Pre Básica</defaultConnectorLabel>
        <rules>
            <name>Original</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_Venta_CRM.Producto__r.Categoria__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Original o Fundadora</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Buscar_Venta_CRM.Producto__r.Categoria__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Original</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HT_positiva_Original</targetReference>
            </connector>
            <label>Original</label>
        </rules>
    </decisions>
    <decisions>
        <name>Categoria_Original_o_Fund</name>
        <label>Categoría Original o Fund?</label>
        <locationX>710</locationX>
        <locationY>1406</locationY>
        <defaultConnector>
            <targetReference>HT_negativa_Pre_Basica</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Pre Básica</defaultConnectorLabel>
        <rules>
            <name>Original_o_Fund</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_Venta_CRM.Producto__r.Categoria__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Original o Fundadora</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Buscar_Venta_CRM.Producto__r.Categoria__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Original</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HT_negativa_Original</targetReference>
            </connector>
            <label>Original o Fund</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cuenta_Principal_es_Null</name>
        <label>Cuenta Principal es Null?</label>
        <locationX>924</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Buscar_Cuenta_Principal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Cuenta Principal No Null</defaultConnectorLabel>
        <rules>
            <name>Cuenta_Principal_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCuentaPrincipal</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Nombre_Principal</targetReference>
            </connector>
            <label>Cuenta Principal Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Esta_aprobada_y_no_vencida</name>
        <label>Está aprobada y no vencida?</label>
        <locationX>726</locationX>
        <locationY>2066</locationY>
        <defaultConnectorLabel>Licencia No Aprobada o Vencida</defaultConnectorLabel>
        <rules>
            <name>Licencia_Aprobada_y_no_Vencida</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEstadoLicencia</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aprobada</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varFechaVto</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crear_Hectarea_Tecnologica</targetReference>
            </connector>
            <label>Licencia Aprobada y no Vencida</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_Licencia</name>
        <label>Existe Licencia?</label>
        <locationX>924</locationX>
        <locationY>1958</locationY>
        <defaultConnectorLabel>Sin Licencia</defaultConnectorLabel>
        <rules>
            <name>Hay_licencia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varLicenciaId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Esta_aprobada_y_no_vencida</targetReference>
            </connector>
            <label>Hay licencia</label>
        </rules>
    </decisions>
    <decisions>
        <name>Hectarea_Por_Venta_o_por_Devolucion</name>
        <label>Hectárea Por Venta o por Devolución?</label>
        <locationX>1634</locationX>
        <locationY>1082</locationY>
        <defaultConnectorLabel>Otra</defaultConnectorLabel>
        <rules>
            <name>Por_Venta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_Venta_CRM.Tipo_de_Venta__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Venta</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validar_licencia_de_productor_Destinatario</targetReference>
            </connector>
            <label>Por Venta</label>
        </rules>
        <rules>
            <name>Por_DPD_o_DPO</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_Venta_CRM.Tipo_de_Venta__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DPD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Buscar_Venta_CRM.Tipo_de_Venta__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DPO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validar_licencia_de_productor_Originante</targetReference>
            </connector>
            <label>Por DPD o DPO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Que_tipo_de_venta_es</name>
        <label>Qué tipo de venta es?</label>
        <locationX>644</locationX>
        <locationY>1190</locationY>
        <defaultConnectorLabel>Otro tipo</defaultConnectorLabel>
        <rules>
            <name>C_o_Venta</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_Venta_CRM.Tipo_de_Venta__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>C</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Buscar_Venta_CRM.Tipo_de_Venta__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Venta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Buscar_Venta_CRM.Rol_Originante__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Obtentor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validar_licencia_de_Destinatario</targetReference>
            </connector>
            <label>C o Venta</label>
        </rules>
        <rules>
            <name>TDS_o_DPO</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_Venta_CRM.Tipo_de_Venta__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TDS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Buscar_Venta_CRM.Tipo_de_Venta__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DPO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Buscar_Venta_CRM.Rol_Destinatario__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Obtentor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validar_licencia_de_Originante</targetReference>
            </connector>
            <label>TDS o DPO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tiene_check_primu</name>
        <label>Tiene check primu</label>
        <locationX>215</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>Que_tipo_de_venta_es</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Procesar_como_PRIMU</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_Venta_CRM.Producto__r.Categoria__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Original o Fundadora</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Buscar_Venta_CRM.Procesar_como_PRIMU__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Hectarea_Por_Venta_o_por_Devolucion</targetReference>
            </connector>
            <label>Procesar como PRIMU</label>
        </rules>
    </decisions>
    <decisions>
        <name>Variedad_es_Sembra_Evolucion</name>
        <label>Variedad es Sembrá Evolución?</label>
        <locationX>1543</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Otra Variedad</defaultConnectorLabel>
        <rules>
            <name>Variedad_SE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSE</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Buscar_Cuenta_Principal_del_Obtentor_Comercializa</targetReference>
            </connector>
            <label>Variedad SE</label>
        </rules>
    </decisions>
    <description>Cada vez que se crea una venta CRM con tipo de venta = Venta / C y Variedad Sembrá Evolución, se creará un registro de Hectárea Tecnológica positiva. Si el tipo de Venta = DPD / DPO / TDS, la HT será negativa. 
Se chequea la licencia: que el productor tenga la licencia aprobada para crear las HTs.
Para productos de categoría Original o Fundadora:
Si la venta CRM es:
* de tipo = C y el originante es Obtentor --&gt; se crea HT positiva para el Destinatario.
* de tipo = TDS y el destinatario es Obentor --&gt; se crea HT negativa para el Originante.
* de tipo = Venta y el originante es Obtentor --&gt; se crea HT positiva para el Destinatario.
* de tipo = DPO y el destinatario es Obtentor --&gt; se crea HT negativa para el Originante.
* de tipo = Venta y el originante es Distribuidor --&gt; no se crea HT.
* de tipo = DPD y el destinatario es Distribuidor --&gt; no se crea HT.
Si el cultivo es TRIGO: se toma el año de la campaña -1, sino se toma el año de la campaña.</description>
    <environments>Default</environments>
    <formulas>
        <description>Fecha Vencimiento de Tonelada con año de la campaña agrícola de la venta + 1. Ej. 01/03/2023 para soja.</description>
        <name>forFechaFin</name>
        <dataType>Date</dataType>
        <expression>Date({!forYear} + 1, MONTH({!forFechaVtoTN}), DAY({!forFechaVtoTN}))</expression>
    </formulas>
    <formulas>
        <description>Fecha Vencimiento de Tonelada con año de la campaña agrícola de la venta. Ej. 01/03/2022 para soja.</description>
        <name>forFechaInicio</name>
        <dataType>Date</dataType>
        <expression>Date({!forYear}, MONTH({!forFechaVtoTN}), DAY({!forFechaVtoTN}))</expression>
    </formulas>
    <formulas>
        <name>forFechaVtoTN</name>
        <dataType>Date</dataType>
        <expression>{!Buscar_Venta_CRM.Cultivo__r.Fecha_Vencimiento_de_Tonelada__c}</expression>
    </formulas>
    <formulas>
        <description>Año de la campaña agrícola de la venta.</description>
        <name>forYear</name>
        <dataType>Number</dataType>
        <expression>IF(
   OR(
      {!Buscar_Venta_CRM.Cultivo__r.Name} = &apos;TRIGO&apos;,
      {!Buscar_Venta_CRM.Cultivo__r.Name} = &apos;CEBADA&apos;
   ),
   VALUE({!Buscar_Venta_CRM.Campana_Agricola__r.Ano__c}) - 1,
   VALUE({!Buscar_Venta_CRM.Campana_Agricola__r.Ano__c})
)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Venta CRM - Crear HT {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Venta CRM - Crear HT</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Crear_Hectarea_Tecnologica</name>
        <label>Crear Hectárea Tecnológica</label>
        <locationX>594</locationX>
        <locationY>2174</locationY>
        <connector>
            <targetReference>Asignar_HT_creada</targetReference>
        </connector>
        <inputAssignments>
            <field>Biotecnologia__c</field>
            <value>
                <elementReference>varBiotecnologia</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campania__c</field>
            <value>
                <elementReference>Buscar_Campania_agricola.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Canal_de_Venta__c</field>
            <value>
                <elementReference>varCanalDeVenta</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cantidad__c</field>
            <value>
                <elementReference>Buscar_Venta_CRM.Hectareas_Tecnologicas__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cultivo__c</field>
            <value>
                <elementReference>varCultivo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Etapa__c</field>
            <value>
                <elementReference>varEtapa</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_Fin__c</field>
            <value>
                <elementReference>forFechaFin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_Inicio__c</field>
            <value>
                <elementReference>forFechaInicio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_de_Aprobacion__c</field>
            <value>
                <elementReference>Buscar_Venta_CRM.Fecha__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_de_Facturacion__c</field>
            <value>
                <elementReference>varFechaFacturacion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Licencia__c</field>
            <value>
                <elementReference>varLicenciaId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>N_CUIT__c</field>
            <value>
                <elementReference>varNCuit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Numero_de_Comprobante__c</field>
            <value>
                <elementReference>Buscar_Venta_CRM.Nro_de_Comprobante__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origen__c</field>
            <value>
                <elementReference>varOrigen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Productor__c</field>
            <value>
                <elementReference>varProductor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Signo__c</field>
            <value>
                <elementReference>varSigno</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_Movimiento__c</field>
            <value>
                <elementReference>varTipoMovimiento</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Valor_Conversion__c</field>
            <value>
                <elementReference>varValorConversion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Variedad__c</field>
            <value>
                <elementReference>varVariedad</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Venta__c</field>
            <value>
                <elementReference>Buscar_Venta_CRM.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Hectareas_Tecnologicas__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Buscar_Campania_agricola</name>
        <label>Buscar Campaña agricola</label>
        <locationX>1543</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Variedad_es_Sembra_Evolucion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Buscar_Venta_CRM.Campana_Agricola__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campana_Agricola__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Buscar_Cuenta_Principal</name>
        <label>Buscar Cuenta Principal</label>
        <locationX>1056</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Categoria_del_Producto_es_Original_o_Pre_Basica</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCuentaPrincipal</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varNombrePrincipal</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Buscar_Cuenta_Principal_del_Obtentor_Comercializa</name>
        <label>Buscar Cuenta Principal del Obtentor Comercializa</label>
        <locationX>924</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cuenta_Principal_es_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varObtentorComercializa</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varNombreObtentorComercializa</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varMarcaObtentorComercializa</assignToReference>
            <field>Nombre_Obtentor__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCuentaPrincipal</assignToReference>
            <field>ParentId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Buscar_Variedad</name>
        <label>Buscar Variedad</label>
        <locationX>1543</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Buscar_Campania_agricola</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Buscar_Venta_CRM.Producto__r.Variedad2__r.Id</elementReference>
            </value>
        </filters>
        <object>Variedad__c</object>
        <outputAssignments>
            <assignToReference>varBiotecnologia</assignToReference>
            <field>Biotecnologia__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCultivo</assignToReference>
            <field>Cultivo__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varVariedad</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varObtentorComercializa</assignToReference>
            <field>Obtentor_Comercializa__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSE</assignToReference>
            <field>Sembra_Evolucion__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Buscar_Venta_CRM</name>
        <label>Buscar Venta CRM</label>
        <locationX>1543</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Buscar_Variedad</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Venta__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>1417</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Buscar_Venta_CRM</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Licencia de tipo productor</description>
        <name>Validar_licencia_de_Destinatario</name>
        <label>Validar licencia de Destinatario</label>
        <locationX>182</locationX>
        <locationY>1298</locationY>
        <connector>
            <targetReference>Categoria_Original</targetReference>
        </connector>
        <flowName>Licencia_Validar_que_esta_aprobada</flowName>
        <inputAssignments>
            <name>varCuentaPrincipal</name>
            <value>
                <elementReference>varCuentaPrincipal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varMarcaObtentorComercializa</name>
            <value>
                <elementReference>varMarcaObtentorComercializa</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varNombreObtentorPrincipal</name>
            <value>
                <elementReference>varNombrePrincipal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varObtentorComercializa</name>
            <value>
                <elementReference>varObtentorComercializa</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varProductor</name>
            <value>
                <elementReference>Buscar_Venta_CRM.Destinatario__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varTecnologia</name>
            <value>
                <elementReference>varBiotecnologia</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varTipoLicencia</name>
            <value>
                <stringValue>Productor</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <description>licencia de tipo productor</description>
        <name>Validar_licencia_de_Originante</name>
        <label>Validar licencia de Originante</label>
        <locationX>710</locationX>
        <locationY>1298</locationY>
        <connector>
            <targetReference>Categoria_Original_o_Fund</targetReference>
        </connector>
        <flowName>Licencia_Validar_que_esta_aprobada</flowName>
        <inputAssignments>
            <name>varCuentaPrincipal</name>
            <value>
                <elementReference>varCuentaPrincipal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varMarcaObtentorComercializa</name>
            <value>
                <elementReference>varMarcaObtentorComercializa</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varNombreObtentorPrincipal</name>
            <value>
                <elementReference>varNombrePrincipal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varObtentorComercializa</name>
            <value>
                <elementReference>varObtentorComercializa</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varProductor</name>
            <value>
                <elementReference>Buscar_Venta_CRM.Originante__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varTecnologia</name>
            <value>
                <elementReference>varBiotecnologia</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varTipoLicencia</name>
            <value>
                <stringValue>Productor</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Validar_licencia_de_productor_Destinatario</name>
        <label>Validar licencia de productor Destinatario</label>
        <locationX>1370</locationX>
        <locationY>1190</locationY>
        <connector>
            <targetReference>Asignar_valores_para_HT_positiva</targetReference>
        </connector>
        <flowName>Licencia_Validar_que_esta_aprobada</flowName>
        <inputAssignments>
            <name>varCapsula</name>
            <value>
                <elementReference>Buscar_Venta_CRM.Capsula__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCuentaPrincipal</name>
            <value>
                <elementReference>varCuentaPrincipal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varMarcaObtentorComercializa</name>
            <value>
                <elementReference>varMarcaObtentorComercializa</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varNombreObtentorPrincipal</name>
            <value>
                <elementReference>varNombrePrincipal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varObtentorComercializa</name>
            <value>
                <elementReference>varObtentorComercializa</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varProductor</name>
            <value>
                <elementReference>Buscar_Venta_CRM.Destinatario__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varTecnologia</name>
            <value>
                <elementReference>varBiotecnologia</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varTipoLicencia</name>
            <value>
                <stringValue>Productor</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Validar_licencia_de_productor_Originante</name>
        <label>Validar licencia de productor Originante</label>
        <locationX>1634</locationX>
        <locationY>1190</locationY>
        <connector>
            <targetReference>Asignar_valores_para_HT_negativa</targetReference>
        </connector>
        <flowName>Licencia_Validar_que_esta_aprobada</flowName>
        <inputAssignments>
            <name>varCuentaPrincipal</name>
            <value>
                <elementReference>varCuentaPrincipal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varMarcaObtentorComercializa</name>
            <value>
                <elementReference>varMarcaObtentorComercializa</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varNombreObtentorPrincipal</name>
            <value>
                <elementReference>varNombrePrincipal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varObtentorComercializa</name>
            <value>
                <elementReference>varObtentorComercializa</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varProductor</name>
            <value>
                <elementReference>Buscar_Venta_CRM.Originante__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varTecnologia</name>
            <value>
                <elementReference>varBiotecnologia</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varTipoLicencia</name>
            <value>
                <stringValue>Productor</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>varBiotecnologia</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varCanalDeVenta</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varCuentaPrincipal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCultivo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varEstadoLicencia</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varEtapa</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varFechaFacturacion</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFechaVto</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varHTid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varLicenciaId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varMarcaObtentorComercializa</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varNCuit</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varNombreObtentorComercializa</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varNombrePrincipal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varObtentorComercializa</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varOrigen</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varProductor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSE</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varSigno</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varTipoMovimiento</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varValorConversion</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varVariedad</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
