force-app/main/default/flows/Venta_Informada_Verificacion_de_duplicado.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>existe_una_venta</name>
        <label>existe una venta?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No existe</defaultConnectorLabel>
        <rules>
            <name>Existe</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_Venta_existente.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_resultado</targetReference>
            </connector>
            <label>Existe</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>[Venta Informada] Verificacion de duplicado {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Venta Informada] Verificacion de duplicado</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Buscar_Variedad</name>
        <label>Buscar Variedad</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Buscar_Venta_existente</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Variedad__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Cultivar_Inase__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Variedad__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Variedad__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Buscar_Venta_existente</name>
        <label>Buscar Venta existente</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>existe_una_venta</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CUIT_Originante__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CUIT_Originante__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CUIT_Destinatario__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CUIT_Destinatario__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Variedad__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Buscar_Variedad.Cultivar_Inase__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Categoria__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Categoria__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Cantidad_de_Bolsas__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Cantidad_de_Bolsas__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Campana_de_Ventas__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Campana_de_Ventas__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Cultivo__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Cultivo__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Ventas_Informadas__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_resultado</name>
        <label>Actualizar resultado</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Estado__c</field>
            <value>
                <stringValue>Preprocesado</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Resultado__c</field>
            <value>
                <stringValue>Ya existe una venta con mismo cuit/variedad/cantidad/campaña</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Buscar_Variedad</targetReference>
        </connector>
        <object>Ventas_Informadas__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
