force-app/main/default/flows/Venta_Informada_Cambia_Venta_Interna_a_True.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Cambio_Venta_Interna</name>
        <label>Cambió Venta Interna?</label>
        <locationX>336</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>No es Venta Interna</defaultConnectorLabel>
        <rules>
            <name>Es_Venta_Interna</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Venta_Interna__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Venta_Interna__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Buscar_Venta_CRM_de_tipo_TD_asociada</targetReference>
            </connector>
            <label>Es Venta Interna</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_venta_de_tipo_TD</name>
        <label>Existe venta de tipo TD?</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_Venta_CRM_de_tipo_TD_asociada.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cambiar_tipo_de_venta_y_rol_destinatario</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <description>Cada vez que se cambia Venta Interna a true de una venta informada, se busca la venta CRM de tipo TD asociada. Si existe, se cambia el tipo de venta a Venta y el Rol Destinatario a Productor.</description>
    <environments>Default</environments>
    <interviewLabel>Venta Informada - Cambia Venta Interna a True {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Venta Informada - Cambia Venta Interna a True</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Buscar_Venta_CRM_de_tipo_TD_asociada</name>
        <label>Buscar Venta CRM de tipo TD asociada</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_venta_de_tipo_TD</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Venta__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tipo_de_Venta__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TD</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Venta__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Tipo_de_Venta__c</queriedFields>
        <queriedFields>Rol_Destinatario__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Cambiar_tipo_de_venta_y_rol_destinatario</name>
        <label>Cambiar tipo de venta y rol destinatario</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Buscar_Venta_CRM_de_tipo_TD_asociada.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Rol_Destinatario__c</field>
            <value>
                <stringValue>Productor</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_Venta__c</field>
            <value>
                <stringValue>Venta</stringValue>
            </value>
        </inputAssignments>
        <object>Venta__c</object>
    </recordUpdates>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Cambio_Venta_Interna</targetReference>
        </connector>
        <object>Ventas_Informadas__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
