force-app/main/default/flows/VentaHT_Calcula_HT_Facturada_HT_Vendida_en_cada_comercio.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Agregar_a_comercios_a_actualizar</name>
        <label>Agregar a comercios a actualizar</label>
        <locationX>2024</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varComercioActualizar.HT_Facturadas__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varHTFacturadas</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComercioActualizar.HT_Vendidas__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varHTVendidas</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComercioActualizar.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varLineaVentaHTAnterior.Venta_HT__r.Comercio__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignar_comercio_a_coleccion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Agregar_ultimo_comercio_a_actualizar</name>
        <label>Agregar último comercio a actualizar</label>
        <locationX>176</locationX>
        <locationY>1466</locationY>
        <assignmentItems>
            <assignToReference>varComercioActualizar.HT_Facturadas__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varHTFacturadas</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComercioActualizar.HT_Vendidas__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varHTVendidas</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComercioActualizar.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varLineaVentaHTAnterior.Venta_HT__r.Comercio__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignar_ultimo_comercio_a_coleccion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_comercio_a_coleccion</name>
        <label>Asignar comercio a colección</label>
        <locationX>2024</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>varComerciosAActualizar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varComercioActualizar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Inicializar_Variables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_linea_venta_HT_Anterior</name>
        <label>Asignar linea venta HT Anterior</label>
        <locationX>1408</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>varLineaVentaHTAnterior</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_Lineas_de_ventas_HT</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorrer_Lineas_de_ventas_HT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_ultimo_comercio_a_coleccion</name>
        <label>Asignar último comercio a colección</label>
        <locationX>176</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>varComerciosAActualizar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varComercioActualizar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_HT_Facturadas_HT_Vendidas</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Inicializar_Variables</name>
        <label>Inicializar Variables</label>
        <locationX>2024</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>varHTFacturadas</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHTVendidas</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Estado1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Restar_HT_Vendidas</name>
        <label>Restar HT Vendidas</label>
        <locationX>1056</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>varHTVendidas</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>Recorrer_Lineas_de_ventas_HT.Cantidad__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignar_linea_venta_HT_Anterior</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Restar_HT_Vendidas1</name>
        <label>Restar HT Vendidas</label>
        <locationX>2288</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>varHTVendidas</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>Recorrer_Lineas_de_ventas_HT.Cantidad__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignar_linea_venta_HT_Anterior</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Restar_HT_Vendidas_HT_Facturadas</name>
        <label>Restar HT Vendidas / HT Facturadas</label>
        <locationX>792</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>varHTVendidas</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>Recorrer_Lineas_de_ventas_HT.Cantidad__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHTFacturadas</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>Recorrer_Lineas_de_ventas_HT.Cantidad__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignar_linea_venta_HT_Anterior</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Restar_HT_Vendidas_HT_Facturadas1</name>
        <label>Restar HT Vendidas / HT Facturadas</label>
        <locationX>2024</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>varHTVendidas</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>Recorrer_Lineas_de_ventas_HT.Cantidad__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHTFacturadas</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>Recorrer_Lineas_de_ventas_HT.Cantidad__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignar_linea_venta_HT_Anterior</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sumar_HT_Vendidas</name>
        <label>Sumar HT Vendidas</label>
        <locationX>264</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>varHTVendidas</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Recorrer_Lineas_de_ventas_HT.Cantidad__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignar_linea_venta_HT_Anterior</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sumar_HT_Vendidas1</name>
        <label>Sumar HT Vendidas</label>
        <locationX>1496</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>varHTVendidas</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Recorrer_Lineas_de_ventas_HT.Cantidad__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignar_linea_venta_HT_Anterior</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sumar_HT_Vendidas_HT_Facturadas</name>
        <label>Sumar HT Vendidas / HT Facturadas</label>
        <locationX>528</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>varHTVendidas</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Recorrer_Lineas_de_ventas_HT.Cantidad__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHTFacturadas</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Recorrer_Lineas_de_ventas_HT.Cantidad__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignar_linea_venta_HT_Anterior</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sumar_HT_Vendidas_HT_Facturadas1</name>
        <label>Sumar HT Vendidas / HT Facturadas</label>
        <locationX>1760</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>varHTVendidas</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Recorrer_Lineas_de_ventas_HT.Cantidad__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHTFacturadas</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Recorrer_Lineas_de_ventas_HT.Cantidad__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignar_linea_venta_HT_Anterior</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Ordenar_las_lineas_de_venta_HT</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Ordenar las líneas de venta HT</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Buscar_Lineas_Venta_HT</collectionReference>
        <connector>
            <targetReference>Recorrer_Lineas_de_ventas_HT</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Comercio_Nro_CUIT__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>Estado</name>
        <label>Estado?</label>
        <locationX>792</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Asignar_linea_venta_HT_Anterior</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Otra</defaultConnectorLabel>
        <rules>
            <name>Facturable_o_Ped_Facturacion</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Recorrer_Lineas_de_ventas_HT.Estado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Facturable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Recorrer_Lineas_de_ventas_HT.Estado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pedido de Facturacion</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sumar_HT_Vendidas</targetReference>
            </connector>
            <label>Facturable o Ped. Facturación</label>
        </rules>
        <rules>
            <name>Facturada_o_Pagada</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Recorrer_Lineas_de_ventas_HT.Estado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Facturada</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Recorrer_Lineas_de_ventas_HT.Estado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pagada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sumar_HT_Vendidas_HT_Facturadas</targetReference>
            </connector>
            <label>Facturada o Pagada</label>
        </rules>
        <rules>
            <name>Cancelada_x_NC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recorrer_Lineas_de_ventas_HT.Estado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelada por NC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Restar_HT_Vendidas_HT_Facturadas</targetReference>
            </connector>
            <label>Cancelada x NC</label>
        </rules>
        <rules>
            <name>Cancelada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recorrer_Lineas_de_ventas_HT.Estado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Restar_HT_Vendidas</targetReference>
            </connector>
            <label>Cancelada</label>
        </rules>
    </decisions>
    <decisions>
        <name>Estado1</name>
        <label>Estado?</label>
        <locationX>2024</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Asignar_linea_venta_HT_Anterior</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Otra</defaultConnectorLabel>
        <rules>
            <name>Facturable_o_Ped_Facturacion1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Recorrer_Lineas_de_ventas_HT.Estado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Facturable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Recorrer_Lineas_de_ventas_HT.Estado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pedido de Facturacion</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sumar_HT_Vendidas1</targetReference>
            </connector>
            <label>Facturable o Ped. Facturación</label>
        </rules>
        <rules>
            <name>Facturada_o_Pagada1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Recorrer_Lineas_de_ventas_HT.Estado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Facturada</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Recorrer_Lineas_de_ventas_HT.Estado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pagada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sumar_HT_Vendidas_HT_Facturadas1</targetReference>
            </connector>
            <label>Facturada o Pagada</label>
        </rules>
        <rules>
            <name>Cancelada_x_NC1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recorrer_Lineas_de_ventas_HT.Estado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelada por NC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Restar_HT_Vendidas_HT_Facturadas1</targetReference>
            </connector>
            <label>Cancelada x NC</label>
        </rules>
        <rules>
            <name>Cancelada1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recorrer_Lineas_de_ventas_HT.Estado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Restar_HT_Vendidas1</targetReference>
            </connector>
            <label>Cancelada</label>
        </rules>
    </decisions>
    <decisions>
        <name>Matchea_Comercio1</name>
        <label>Matchea Comercio?</label>
        <locationX>1408</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Agregar_a_comercios_a_actualizar</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Matchea</defaultConnectorLabel>
        <rules>
            <name>Primero_o_Matchea1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varLineaVentaHTAnterior</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>varLineaVentaHTAnterior.Comercio_Nro_CUIT__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Recorrer_Lineas_de_ventas_HT.Comercio_Nro_CUIT__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Estado</targetReference>
            </connector>
            <label>Primero o Matchea</label>
        </rules>
    </decisions>
    <description>Para todas las cuentas que tienen ventas HT como comercio, calcular los valores de HT Facturadas y HT Vendidas.</description>
    <environments>Default</environments>
    <interviewLabel>VentaHT - Calcula HT Facturada - HT Vendida en cada comercio {!$Flow.CurrentDateTime}</interviewLabel>
    <label>VentaHT - Calcula HT Facturada - HT Vendida en cada comercio</label>
    <loops>
        <name>Recorrer_Lineas_de_ventas_HT</name>
        <label>Recorrer Líneas de ventas HT</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <collectionReference>Buscar_Lineas_Venta_HT</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Matchea_Comercio1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Agregar_ultimo_comercio_a_actualizar</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Buscar_Lineas_Venta_HT</name>
        <label>Buscar Líneas Venta HT</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Ordenar_las_lineas_de_venta_HT</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Estado__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Facturable</stringValue>
            </value>
        </filters>
        <filters>
            <field>Estado__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Facturada</stringValue>
            </value>
        </filters>
        <filters>
            <field>Estado__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pagada</stringValue>
            </value>
        </filters>
        <filters>
            <field>Estado__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cancelada por NC</stringValue>
            </value>
        </filters>
        <filters>
            <field>Estado__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cancelada</stringValue>
            </value>
        </filters>
        <filters>
            <field>Estado__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pedido de Facturacion</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Linea_de_Venta_HT__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_HT_Facturadas_HT_Vendidas</name>
        <label>Actualizar HT Facturadas / HT Vendidas</label>
        <locationX>176</locationX>
        <locationY>1682</locationY>
        <inputReference>varComerciosAActualizar</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Buscar_Lineas_Venta_HT</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>currentItem_Solo_para_Siner</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Linea_de_Venta_HT__c</objectType>
    </variables>
    <variables>
        <name>varComercioActualizar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varComerciosAActualizar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varHTFacturadas</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varHTVendidas</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varLineaVentaHTAnterior</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Linea_de_Venta_HT__c</objectType>
    </variables>
    <variables>
        <name>varUltimo</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
