force-app/main/default/flows/VentaHT_Borrar_Compra_HT_Asociada.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Tiene_Compra_HT_Asociada</name>
        <label>Tiene Compra HT Asociada?</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Compra_HT__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Borrar_Compra_HT_asociada_a_la_Venta_HT</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <description>Cada vez que se borra una Venta de HT, se borra la Compra HT asociada si existe.</description>
    <environments>Default</environments>
    <interviewLabel>VentaHT - Borrar Compra HT Asociada {!$Flow.CurrentDateTime}</interviewLabel>
    <label>VentaHT - Borrar Compra HT Asociada</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Borrar_Compra_HT_asociada_a_la_Venta_HT</name>
        <label>Borrar Compra HT asociada a la Venta HT</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Compra_HT__r.Id</elementReference>
            </value>
        </filters>
        <object>Compra_HT__c</object>
    </recordDeletes>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Tiene_Compra_HT_Asociada</targetReference>
        </connector>
        <object>Venta_HT__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
</Flow>
